<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">
<head>


  <title>black.blog | In the cover of darkness</title>

  <meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />

  <link rel="stylesheet" type="text/css" href="style.css" media="all" />

</head>
<body>

<div id="header">
<h1>black.blog</h1><p>My Life. My Story.</p>
</div>

<div id="content">
<h2>Black.blog</h2>
<img src="image.jpg" alt="Random Image" class="right" />
<p>Dark, Black, Blog. Thats the 3 ideas I had when coming up with this design. I hope you guys like it. If you do or you dont :( you can email me at <a href="mailto:rossi_will@hotmail.com">rossi_will@hotmail.com</a>. As always this design is <acronym title="I checked it on W3Cs HTML and CSS Vaildtor - both passed with the CSS only getting 9 warnings">Vaild</acronym> <abbr title="Xtentable Hyper Text Markup Language">XHTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr>.</p>
<p>I have tested this template in <abbr title="Mozilla FireFox - otherwise known as the greatest windows browser ever">FF 1.5</abbr> and <abbr title="Microsofts Internet Explorer - otherwise Known as the greatest threat to webdesign -ever :P">IE6</abbr>. Both rendered somewhere as what I want them to.. Ohh just saw a error - FIXED!!:). If you have any problems Im sure I can help out. I also offer Unique custom template design. <a href="mailto:rossi_will@hotmail.com">Email Me</a> for more infomation.</p>
<p>Good Luck for your site. Watch Out for my next template - a nice online store design, till then See ya, From Willr.</p>
<p class="info">Posted On the 15th of December | <a href="#">Permalink</a> | <a href="#">Comments (12)</a></p>

<!--The box navigation-->
<div id="nav">
<!--Far left column-->
<div class="list1">
<h5>Main Navigation</h5>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Articles</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Portfolio</a></li>
<li><a href="#">Link</a></li>
</ul>
</div>
<!--Middle Column-->
<div class="list2">
<h5>Latest News</h5>
<ul>
<li><a href="#">Boy designs template</a></li>
<li><a href="#">New York goes Ape for King Kong</a></li>
<li><a href="#">Bird Flu strikes China</a></li>
<li><a href="#">MS Vista Will Require at least 1gb of RAM to run..</a></li>
<li><a href="#">..and at least 256mb Video RAM</a></li>
<li><a href="#">And You have to get rid of your TFT screens</a></li>
<li><a href="#">Bloody Windows.. Stick with Macs</a></li>
<li><a href="#">I Dont know what to write.</a></li>
<li><a href="#">Got any ideas...?</a></li>
<li><a href="#">Oh well Last one</a></li>
</ul>
</div> 
<!--Right Column-->
<div class="list3">
<h5>Site Info</h5>
<ul>
<li><a href="#">Grab a RSS</a></li>
<li><a href="#">USE FIREFOX</a></li>
<li><a href="#">Stuff IE</a></li>
<li><a href="#">Copyright info</a></li>
<li><a href="#">Legal Notices</a></li>
<li><a href="#">Design by Willr</a></li>
<li><a href="#">Black.blog avaible on OSWD and OWD</a></li>
</ul>
</div>
</div>
<!--END NAV. Start rest of content-->
<h2>New Design</h2>
<p><img src="image.jpg" alt="Random Image" class="right" /></p>
<p>Lorem ipsum dolor sit amet, <acronym>consectetuer</acronym> adipiscing elit. Morbi tortor neque, porta vel, sagittis eu, molestie a, velit. Etiam tempus tristique mi. Sed felis. Proin viverra ultrices tellus. Donec quis metus eu augue sodales consectetuer. <a href="#">Maecenas</a> ligula turpis, euismod et, molestie vel, aliquet sed, pede. Aenean a elit et libero aliquam ultrices. In ac dolor non ipsum malesuada viverra.</p>
<p>Etiam tempus tristique mi. Sed felis. Proin viverra ultrices tellus. Donec quis metus eu augue sodales <a href="#">consectetuer</a>. Maecenas ligula turpis, euismod et, molestie vel, aliquet sed, pede. Aenean a elit et libero aliquam ultrices. In ac dolor non ipsum malesuada viverra.</p>
<p class="info">Posted On the 13th of December | <a href="#">Permalink</a> | <a href="#">Comments (12)</a></p>

<!--Footer (please retain the Design by willr thanks :)-->
<div id="footer">
<p>Copyright &copy; 2005 | Design by willr | Powered by <a href="http://www.oswd.org" title="Open Source Web Design">OSWD.org</a></p>
&nbsp;
&nbsp;
</div>
</div>
</body>
</html>