body {
	font: small/1.8em "Trebuchet MS", Verdana, Helvetica, sans-serif;
	color: #222;
	margin: 0;
	padding: 0 1em;
	background: #5B99D7 url(bg.png);
}

h1 {
	font-size: x-large;
	font-weight: normal;
	line-height: 2em;
}

h2 {
	font-size: large;
	font-weight: normal;
}

h3 {
	font-size: medium;
	font-weight: normal;
}

a {
	color: #2a65ad;
	color: #2A65AC;
	font-weight: bold;
	text-decoration: none;	
}

a:visited {
	color: #3A7DCF;
}

a:hover {
	color: #000;
	border-bottom: 1px solid;
}

img {
	border: 0;
}

input {
	border: 1px solid #bbb;
}
input:focus {
	border: 1px solid #C6DDF1;
}

.hide {
	position: absolute;
	left: -9000px;
}

#header {
	margin: 1em 0;
	padding: 1.5em;
	float: right;
	width: 30%;
}
	#header p {
		font-size: large;
		font-weight: light;
	}

#nav-page {
	position: absolute;
	left: -5000px;
}

#content-main {
	float: left;
	width: 55%;
	padding: 1.5em 2em;
	margin: 1em 0;
}

#nav-main {
	float: right;
	width: 30%;
	padding: 1.5em;
	letter-spacing: 0.1em;
}
#home .home, #v2 .v2, #v3 .v3, #v4 .v4  {
	color: #000;
	background: #98BFE6 url(arrow.gif) 0.2em no-repeat;
}
	#nav-main ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	#nav-main li {
		margin: 2px 0;
	}
	#nav-main li a {
		display: block;
		height: 100%;
		border: none;
		padding: 0 0 0 20px;
		background: url(arrow.gif) 0.2em no-repeat;
	}
	#nav-main li a:hover {
		background-color: #C6DDF1;
	}
	
#nav-secondary {
	float: right;
	width: 30%;
	margin-top: 1em;
	padding: 1.5em;
}
	#nav-secondary ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	#nav-secondary li a {
		padding-left: 20px;
		border: none;
		background: url(document.gif) 0.2em no-repeat;
	}

#footer {
	float: right;
	width: 30%;
	margin: 1em 0 0 0;
	padding: 1.5em;
}

#header, #content-main, #nav-main, #nav-secondary, #footer{
	background: #fff;
	border: solid;
	border-width: 1px 2px 2px 1px;
	border-color: #ccc #777 #333 #ddd;
}