<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Ordered Boxes</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="style4.css" />
<link rel="stylesheet" type="text/css" media="print" href="print.css" />
</head>

<body id="v4">

<div id="header">
<h1>Ordered Boxes</h1>
<p>An open source template</p>
</div>

<div id="nav-page">
<h2>Quick access</h2>
<ul>
<li><a href="#nav-main">Site navigation</a></li>
<li><a href="#nav-secondary">Recent articles</a></li>
</ul>
</div>

<div id="content-main">
<h2>Lorem ipsum</h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in nibh luctus gravida. Praesent vehicula rhoncus tortor. <a href="#">Donec porta rutrum dui.</a> Donec dignissim congue mauris. Sed rhoncus laoreet sem. Nam dui pede, vestibulum convallis, posuere ut, dictum eu, diam. Phasellus nunc. Ut eget ante a ipsum porttitor scelerisque. Quisque auctor elit vitae massa. Vestibulum massa risus, gravida quis, hendrerit sit amet, bibendum sit amet, enim. Fusce nulla. Quisque vulputate metus vitae orci. Pellentesque at arcu. Ut sed neque.</p>

<h2>Duis nibh leo</h2>

<p>Duis nibh leo, pulvinar vitae, lacinia eu, viverra non, mauris. Nunc blandit viverra felis. Aliquam erat volutpat. Ut tempus nunc vel dolor. Proin ligula purus, mattis eget, gravida eu, facilisis nec, purus. Pellentesque aliquam, elit at euismod accumsan, lectus lacus vehicula justo, aliquam pharetra urna magna vel eros. Cras ultrices felis ut tortor cursus tristique. Cras sodales arcu eu nisl. Nam in metus. Aenean in purus non nunc nonummy fringilla. Vestibulum blandit accumsan tortor. Donec in ante. Ut a arcu. Donec faucibus, orci vel nonummy bibendum, erat neque fringilla quam, non fringilla lacus urna in orci. Quisque pede nisl, adipiscing iaculis, ultricies non, suscipit quis, nibh. Vivamus pellentesque. Nam porttitor, nulla nec hendrerit interdum, lorem augue blandit sapien, id lobortis diam quam ut mauris. Maecenas pede est, scelerisque vel, feugiat porta, tempor ac, pede. Fusce iaculis metus vitae est. Duis facilisis sagittis purus.</p>

<h2>Donec sollicitudin</h2>

<p>Donec sollicitudin, turpis vel lacinia ultrices, ante tellus adipiscing sem, quis pulvinar magna lectus at tellus. Sed vulputate. Nunc turpis turpis, mattis vel, placerat nec, congue quis, erat. Maecenas ac ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam interdum placerat metus. Praesent interdum feugiat quam. Suspendisse tincidunt ultrices nisi. In pede ante, condimentum eu, viverra a, ullamcorper sit amet, quam. Suspendisse lacus lectus, eleifend ut, iaculis ut, dictum quis, ante. Ut gravida pulvinar eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur vitae lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eget nisi quis orci auctor porttitor. Suspendisse dui. Praesent rhoncus mi vitae enim. Phasellus nibh.</p>

</div>

<div id="nav-main">
<h2>Choose a version</h2>
<ul>
<li><a class="home" href="index.html">Home</a></li>
<li><a class="v2" href="version2.html">Version 2</a></li>
<li><a class="v3" href="version3.html">Version 3</a></li>
<li><a class="v4" href="version4.html">Version 4</a></li>
</ul>
</div>

<div id="nav-secondary">
<h2>Recent articles</h2>
<form action="get">
<p><label for="search" class="hide">Search</label> <input type="text" id="search" /> <input type="button" value="search" />
</p>
</form>
<ul>
<li><a href="#">An article</a></li>
<li><a href="#">Another one</a></li>
<li><a href="#">One more article</a></li>
<li><a href="#">An article</a></li>
<li><a href="#">Another one</a></li>
<li><a href="#">One more article</a></li>
<li><a href="#">An article</a></li>
<li><a href="#">Another one</a></li>
<li><a href="#">One more article</a></li>
<li><a href="#">An article</a></li>
<li><a href="#">Another one</a></li>
<li><a href="#">One more article</a></li>
</ul>
</div>

<p id="footer">
&copy; Your site | Design by Dimiter Petrov
</p>

</body>
</html>