<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Template 3</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<style type="text/css">@import url(orig.css);</style>
</head>
<body>
<div id="container">
	<div id="nav-main">
		<ul>
			<li><a href="#" title="title1">menu 1</a></li>
			<li><a href="#" title="title2">menu 2</a></li>
			<li><a href="#" title="title3">menu 3</a></li>
			<li><a href="#" title="title4">menu 4</a></li>
			<li><a href="#" title="title5">menu 5</a></li>
			<li><a href="#" title="title6">menu 6</a></li>
			<li><a href="#" title="title7">menu 7</a></li>
		</ul>
		<br />
	</div>
	<div id="content">
		<div id="content-main">
			<h1>What we do.</h1>
			<p>
				We supply a variety of <a href="#" title="services">services</a> consisting of
				<a href="#" title="web site design">web site design</a>, <a href="#" title="search engine optimisation">
				search engine optimisation</a> and <a href="#" title="hosting">hosting</a> to name a few.
				
			</p>
			<h2>Some Lorem ipsum.</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla rutrum justo vitae nisl. 
				Sed tincidunt tempus enim. Vivamus eros. Integer quis sem. Nulla dictum nisl et erat. 
				Nam ut ante vel velit luctus laoreet. Etiam purus nibh, tempor et, gravida a, mattis vel, orci. 
				Ut sed quam. Curabitur at est euismod nibh fermentum ultricies. Aliquam volutpat aliquam elit. 
				Nulla ut tortor a ipsum aliquet tempor. Aliquam sollicitudin libero nec sapien. 
				In augue arcu, ultricies non, cursus vel, hendrerit id, mi. Quisque aliquam vehicula nulla. Aliquam erat volutpat.
			</p>						

			<h3>H3 Heading no line break</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla rutrum justo vitae nisl. 
				Sed tincidunt tempus enim. Vivamus eros. Integer quis sem. Nulla dictum nisl et erat. 
				Nam ut ante vel velit luctus laoreet. Etiam purus nibh, tempor et, gravida a, mattis vel, orci. 
				Ut sed quam. Curabitur at est euismod nibh fermentum ultricies. Aliquam volutpat aliquam elit. 
				Nulla ut tortor a ipsum aliquet tempor. Aliquam sollicitudin libero nec sapien. 
				In augue arcu, ultricies non, cursus vel, hendrerit id, mi. Quisque aliquam vehicula nulla. Aliquam erat volutpat.
			</p>
		</div>
		
		<div id="content-sub">
			<h2>Services.</h2>		
			<p>
				CWSD Provide the following services, if you have any enquiries concerning services listed
				below or even services not listed, for example supplying girls or drugs, please do not hesitate to contact us.
			</p>
			<ul>
				<li class="t1"><a href="#" title="title1">s.e.o.</a></li>
				<li class="t2"><a href="#" title="title2">hosting</a></li>
				<li class="t3"><a href="#" title="title3">design</a></li>
				<li class="t3"><a href="#" title="title3">accessibility</a></li>
				<li class="t3"><a href="#" title="title3">standards</a></li>	
			</ul>			
			<p>
				Some external links to show the slightly different stylesheet.
			</p>			
			<ul>
				<li><a href="#" title="title1" class="external">external link 1</a></li>
				<li><a href="#" title="title1" class="external">external link 2</a></li>
				<li><a href="#" title="title1" class="external">external link 3</a></li>
			</ul>
			<h2>H2 Heading gives a line break</h2>
			<ul>
				<li class="t1"><a href="#" title="title1">link 1</a></li>
				<li class="t2"><a href="#" title="title2">link 2</a></li>
				<li class="t3"><a href="#" title="title3">link 3</a></li>
			</ul>
			<h2>H2 Heading gives a line break</h2>
			<ul>
				<li class="t1"><a href="#" title="title1">link 1</a></li>
				<li class="t2"><a href="#" title="title2">link 2</a></li>
				<li class="t3"><a href="#" title="title3">link 3</a></li>
			</ul>
		</div>
	</div>
	
	<div id="nav-supp">
		<ul>
			<li><a href="#" title="title1">menu 1</a></li>
			<li><a href="#" title="title2">menu 2</a></li>
			<li><a href="#" title="title3">menu 3</a></li>
			<li><a href="#" title="title4">menu 4</a></li>
			<li><a href="#" title="title5">menu 5</a></li>
			<li><a href="#" title="title6">menu 6</a></li>
			<li><a href="#" title="title7">menu 7</a></li>
		</ul>
	</div>
</div>
</body>
</html>

