<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>Stripper</title>
		<link rel="stylesheet" href="css.css" type="text/css" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div id="main">

			<h2 class="header">Stripper</h2>
				<div id="header">
						<a href="#">Home</a> | 
						<a href="#">Blog</a> |
						<a href="#">Announcements</a> |
						<a href="#">Contact</a>

				</div>
		<div id="content">
		<div id="right">
			<h2>Navigation</h2>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>

					<li><a href="#">Blog</a></li>
					<li><a href="#">Portfolio</a></li>
				</ul>
		</div>
		<div class="post">
			<div class="postheadfirst">Lorem!</div>
	<div class="postbody">Welcome the first theme by Logan Sorese on owsd!! Well, the theme is based on my binder for school and I think It's made fairly well. I didn't spend to much time on it. Don't worry about linking. The one thing that when I was a struggling internet user making crappy little websites, the one thing that was annyoing when finding free layouts was linking. So, don't worry about it. If you want, Go ahead! Link to shehatesska.com. The posting format is this; <br />

			<ul>
				<li>First Post on page must have a header div of .postheadfirst </li>
				<li>Then .postbody has the content</li>
				<li>Any posts after that the header is .posthead</li>
				<li>Use &lt;blockquote&gt; for quoting</li>

			</ul>

	Have fun and Merry Christmas/Happy Holidays!<br /><br />
	Integer velit orci, posuere quis, posuere ut, vulputate a, nisi. Integer vestibulum ipsum sit amet elit. Fusce rhoncus nonummy justo. Suspendisse dapibus, leo lacinia varius scelerisque, dolor mi convallis enim, nec lobortis orci eros eu sapien. Donec metus. Fusce ac enim in sapien consequat auctor. Vestibulum adipiscing porttitor odio. Donec mattis bibendum lorem. Quisque tempus diam in sem. Suspendisse dolor mauris, mattis vitae, ullamcorper a, rutrum eget, ante. In eros mi, elementum at, porta sed, dapibus in, elit. Aliquam sed arcu. Vestibulum ante turpis, dignissim eget, dictum at, interdum vitae, tortor. Vivamus eget diam. Aenean eu odio. Integer sem risus, fermentum id, tristique id, aliquet a, leo. Etiam aliquet adipiscing ipsum. Vestibulum consequat metus non eros. Sed est metus, pretium vitae, gravida sed, tincidunt in, nisi.<br /><br />
</div>
			<div class="posthead">Lorem 2 yo</div>
				<div class="postbody">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sit amet metus. Proin ut velit. Aliquam mattis diam non mauris. In eros. Sed dapibus tempor neque. Sed ante tortor, mollis et, viverra quis, semper id, sem. Aenean eros nulla, iaculis vitae, sollicitudin non, pretium ac, mi. Donec lacinia ipsum vitae purus. Duis gravida massa eget turpis. Vivamus mattis. Donec vestibulum adipiscing erat. In hac habitasse platea dictumst.<br /></div>
</div>

<div id="footer"><a href="http://validator.w3.org/check/referer">XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | Theme by <a href="http://www.shehatesska.com">Logan Sorese</a> [A.k.a - skylinec]</div>

</div>
</div>
</body>
</html> 