<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			KEYBOARD and Lin Zhizhao
		</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<meta name="author" content="linzhizhao@gmail.com,Lin Zhizhao,http://quasimo.blogbus.com" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="header">
		<table>
			<tr>
				<td>Num<br />Lock</td>
				<td>/</td>
				<td>*</td>
				<td>-</td>
			</tr>
			<tr>
				<td><a href="#seven" title="seven" accesskey="7">7</a></td>
				<td><a href="#eight" title="eight" accesskey="8">8</a></td>
				<td><a href="#nine" title="nine" accesskey="9">9</a></td>
				<td rowspan="2">+</td>
			</tr>
			<tr>
				<td><a href="#four" title="I Love Take Photos" accesskey="4">4</a></td>
				<td><a href="#five" title="I Love My Photographic Tools And Attitude" accesskey="5">5</a></td>
				<td><a href="#six" title="" accesskey="6">6</a></td>
			</tr>
			<tr>
				<td><a href="#one" title="I Am Chinese" accesskey="1">1</a></td>
				<td><a href="#two" title="I Am What I Am" accesskey="2">2</a></td>
				<td><a href="#three" title="I Love Blogging" accesskey="3">3</a></td>
				<td rowspan="2"><a href="index.html" title="Back to home.">Enter</a></td>
			</tr>
			<tr>
				<td colspan="2"><a href="#zero" title="">0</a></td>
				<td>.</td>
			</tr>
		</table>
		
		
		<div id="right">
		
		 <div id="title">
		<a href="index.html" title="home">Keyboard</a>
		  </div>
			
			<div id="note">
                  <p>I designed this page for fun.</p>
				  <p>I will introduce myself in the page.</p>	
				  <p>I praticed creating tables and I just want to simulate keyboard.</p> 
				  <p>The "1~9" keys of the small keyboard will help you to navigate the page. You can also use "accesskey" in some browser. For example, FireFox, you can use "Alt+1" to go to part one "1、I Am Chinese" by your real keyboard.</p>  
			</div> 
		</div>
		</div>
		
		<div id="main">
		<div id="one">1、I Am Chinese</div>
		<div class="content">
		  <p>I am Chinese. I love China. When I test a new software which can enter words, I enter them.</p>
		  <p>The words in Chinese is &quot;我是中国人！我爱中国！&quot;.</p>
		  <p>And every Chinese know the truth:</p>
		  <p><span class="notice">Taiwan is an inalienable part of the Chinese territory! </span></p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a></div>
		</div>
		<div id="two">2、I Am What I Am </div>
		<div class="content">
		  <p>My name is Lin Zhizhao. Male. I am a 23 years old student of a junior college in Guangzhou, China. My college is <a href="http://www.gdqy.edu.cn" title="you will enter the offsite of my college.">Guangdong Light Industry   Vocational Technical College</a>. My specialty is Computer Utility. I will graduate soon and I am going to find a job. </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
		  </a></div></div>
		<div id="three">3、I Love Blogging </div>
		<div class="content">
		  <p>Blogging my life. I love blogging. Welcome visit <a href="http://quasimo.blogbus.com/index.html" title="Quasimo Never Sleep">my blog</a>. I love blogging because I like writing. Some times I need to say somethings and I don't know who can be tell, so I tell my keyboard by my finger. :) </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a></div></div>
		<div id="four">4、I Love Take Photos </div>
		<div class="content">
		  <p>I love photography. Welcome visit my photo album in <a href="http://www.flickr.com/photos/quasimo/" title="my photo album">my flickr</a>. You can see my I shot long time ago there. No new photos because I was so busy for the days and I have not scanner to scan my film. </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a></div></div>
		<div id="five">5、I Love My Photographic Tools And Attitude </div>
		<div class="content">
		  <p>They are my tools:</p>
		  <p>Camera:Nikon FM10.</p>
		  <p>Lens:FM10 incidental 35-70mm/3.5   MF;Nikkor AI 50mm/1.8 MF(my favorite);Vivitar 28mm/2.8 MF;Tamron 80-210mm   MF;</p>
		  <p>Films:I have tried too many kinds of films.I most like Agfa   APX100.</p>
		  <p><span class="notice">But I think the soul and the heart are more important than your   technique and equipments.</span></p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
		  </a></div></div>
		<div id="six">6、I Love Children </div>
		<div class="content">
		  <p>Children are lovely! Children are angels. </p>
		  <p>And I want to introduce <a href="http://1kg.blogbeta.com" title="1 kilogram more in your travel pack">1kg More</a>. </p>
		  <p>1kg More (short for “1 kilogram more in your travel pack”) is a non-official   cause of charity crossing over travel. </p>
		  <p>It runs behind the idea of travelers bringing 1kg of inexpensive educational   materials in addition to their package to give away to some one that needs it   along their journey, e.g. kids that cannot even afford a pencil rubber.</p>
		  <p>The simple process of passing-communicating-sharing will no doubt enrich   travelers’ travel experience and realize the positive cycle of charity work. </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a></div></div>
		<div id="seven">7、I Love GNU/Linux  </div>
		<div class="content">
		  <p>They changed many things. I learn many things in linux. And my OS is <a href="http://www.ubuntu.com/">ubuntu</a>. </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a></div></div>
		<div id="eight">8、I Love Open Source</div>
		<div class="content">
		  <p>I love Open Source. I love linux, I love Gimp, I love Vim, I love Apache, I love MySQL...</p>
		  <p>Open Source is not just a slogan!</p>
		  <p>Of course, I love <a href="http://www.oswd.org" title="Open Source Web Design">OSWD</a> and <a href="http://www.openwebdesign.org" title="Open Web Design">OpenWebDesign</a>.</p>
		  <p>This is my 2nd design for OSWD. My last design is <a href="http://www.oswd.org/design/preview/id/2742">MICHELLE</a>. </p>
		  <p>Welcome to <a href="http://www.oswd.org/designs/search/designer/id/9710/">my Page</a> in OSWD. </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a></div></div>
		<div id="nine">9、I Love Web Standards </div>
		<div class="content">
		  <p>The great book Designing With Web Standards by Jeffrey Zeldman effect it.</p>
		  <p>And I have a &quot;mannerism&quot;, I like writing a web page without by coding without WYSIWYG tools.</p>
		  <p>I enjoy writing by hand and I think it just for fun. </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
		  </a></div></div>
		<div id="zero">0、I Will Be Stronger </div>
		<div class="content">
		  <p>Every thing is turning to zero. But every is going to be better. I will be stronger. I will try my best. </p>
		  <div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a></div></div>
		</div>
		<div id="footer">
		  <p>This Page Is <a href="http://validator.w3.org/check?uri=referer">Valid</a> XHTML 1.1.</p>
		  <p>Design by <a href="http://quasimo.blogbus.com" title="Well come to my blog">Lin Zhizhao</a></p>
		</div>
	</body>
</html>
