<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Simplex 1.0</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Simplex 1.0</h1>
    <div id="navigationColumn">
      <div class="header">Navigation</div>
      <ul>
        <li><a href=".">Home</a></li>
        <li><a href=".">Blog</a></li>
        <li><a href=".">Pictures</a></li>
        <li><a href=".">Files</a></li>
        <li><a href=".">Contact Me</a></li>
      </ul>
      <div class="header">Links</div>
      <ul>
        <li><a href="http://www.oswd.org/">OSWD</a></li>
        <li><a href="http://www.google.com/">Google</a></li>
        <li><a href="http://www.apple.com/">Apple</a></li>
      </ul>
      <div class="header">Validation</div>
      <ul>
        <li><a href="http://validator.w3.org/check/referrer">XHTML 1.0</a></li>
        <li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS2</a></li>
      </ul>
    </div>
    <div id="box">
      <div class="article">
        <div class="title">First Posting</div>
        <div class="timeStamp">Posted by <a href="mailto:jeff@jeffreyvos.net">Jeffrey Vos</a> on Sunday, 5 February, 2006 @ 2:15PM EST.</div>
        <div class="content">Welcome to <a href="#">Simplex 1.0</a>! This design is completely coded from <a href="http://validator.w3.org/check/referrer">XHTML 1.0 Strict</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS2</a>, using no tables. You are free to alter this template as you wish, I only request that you leave the &quot;Designed by <a href="http://www.jeffreyvos.net/">Jeffrey Vos</a>&quot; credit at the bottom. And if you feel like it, you could always <a href="mailto:jeff@jeffreyvos.net">let me know</a> that you're using my template.</div>
      </div>
      <div id="footer">Copyright &copy; 2006 (you) &middot; Designed by <a href="http://www.jeffreyvos.net/">Jeffrey Vos</a></div>
    </div>
  </body>
</html>