<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="name of the author." />
		<meta name="keywords" content="key words that you are targeting for search engines." />
		<meta name="description" content="description of the main conents." />
		<link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
		<title>NoProbs</title>
	</head>
	<body>
		<div id="MainWrapper">
			<div id="Header"><a href="index.html">Whatever You Want</a></div>
			<div id="HeaderMenus">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html">Download</a></li>
					<li><a href="index.html">Purchase</a></li>
					<li><a href="index.html">Support</a></li>
					<li><a href="index.html">Contact</a></li>
					<li><a href="index.html">About</a></li>
				</ul>
			</div>
			<div id="SideContents">
				<h3>Articles</h3>
				<p>
					<b>Firefox:</b> The best all-around alternative to IE. Great for power users who
					want to add functionality to the browser, and appropriate for newbies just getting started
					<a href="http://www.pcworld.com/reviews/article/0,aid,120763,pg,12,00.asp">...</a>
				</p>
				<p>
					<b>Wikipedia:</b> The free web based encyclopedia that anyone can edit.
					Anyone can add and edit Wikipedia content via a Web browser. It
					receives about 50 million hits every day and its English-language
					version now has over half a million articles
					<a href="http://www.pcworld.com/reviews/article/0,aid,120763,pg,12,00.asp">...</a>
				</p>
				<h3>Regular Links</h3>
				<a href="http://oswd.org/">OWSD</a><br/>
				<a href="http://openwebdesign.org/">Open Webdesign</a><br/>
				<a href="http://www.4templates.com/">4templates</a><br/>
				<a href="http://www.creatingonline.com/webmaster/templates/">Creating Online</a><br/>
				<a href="http://en.crystalxp.net/">CrystalXP</a><br/>
				<a href="http://en.wikipedia.org/wiki/Main_Page">Wikipedia</a><br/>
			</div>
			<div id="MainContent">
				<h2>Intro to Design</h2>
				<p><img src="book.jpg" class="AlignLeft" alt="Book Image" />
				Hi, Thanks for your interest in this web template. This is my first
				design as open web template. I am from Bangalore [India] and by profession
				I am a developer and have great interest in web design. Since OSWD
				and Openwebdesing is a great place for web designers, so I have designed
				this open web template to get a first hand experience in web designing. All the
				things in this template is learned form OSWD and Openwebdesing and I am
				great full these two great sites. The tools that were used to do this one
				are HTML-Kit, GIMP and Color Schemer Studio.
				</p>

				<p>This is a simple template with two columns and one header, a menu
				and contents with two images. This template can be used where the content
				is more important than presentation and needs one decent layout with decent design.
				This is a valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and it is also
				very easy to customize.	It has only two images one image [GIF] for background,
				other for contents which can be removed from the contents if not needed with no
				affect to design. The side column can be used add favorite links, Google ads etc.
				I have tested this template in Firefox 1.5, Opera 8.5, Netscape 8.0.4 and IE 6.0 and it
				works fine in all these browsers. You can use this template with no restrictions,
				a simple notification email to either <a href="http://oswd.org/user/contact/id/7724">OSWD</a>
				or <a href="http://openwebdesign.org/email.phtml?user=kpgururaja">Openwebdesign</a>
				would be encouraging. Thank you very much for your support.
				</p>

				<h2>Just for Info</h2>
				<p><a href="http://www.imdb.com/title/tt0086879/">Amadeus</a>
				was named the 53rd greatest film of all time by The American Film Association. Since its
				release in 1984, it's gained both critical acclaim and many fans from all over the world.
				</p>

				<p><img src="book.jpg" class="AlignRight" alt="Book Image" />
				Amadeus takes place in 18th Century Austria and tells the story of one of the greatest
				musical prodigies ever known, <a href="http://www.amadeusimmortal.com/people/mozart.php">
				Wolfgang Amadeus Mozart</a>. The story begins with ageing composer
				<a href="http://www.amadeusimmortal.com/people/salieri.php">Antonio Salieri</a>
				confessing his involvement in the death of Mozart. For you see, ever since
				Antonio Salieri was a child he considered child prodigy Wolfgang Mozart to be his idol. As
				he said, "He was my idol! I can't remember a time when I didn't know his name!" Antonio wanted
				to be a great composer so desperately that he would pray to God to bring him the gift of
				immortality through his music.
				</p>

				<p>Then one day, Salieri had the shock of his life when he realized that his idol 'Mozart'
				was non-other than an obnoxious, immature, 'vulgar' man. "So that was he! That giggling,
				dirty-minded creature I'd just seen crawling on the floor. Mozart. The phenomenon whose
				legend had haunted my youth. Impossible."
				</p>

				<p>Salieri develops an overwhelming jealousy of Mozart's musical talent that eventually
				grows into obsessive hatred. Salieri, a man who spent his entire life devoted to God so
				that he could be a great composer has his talent overthrown by the childish Mozart. "Why?
				Would God choose an obscene child to be His instrument?" Salieri vows to destroy Mozart, in
				both name and body, in order to punish God for choosing Mozart as his instrument.
				</p>
			</div>
			<div id="Footer">
				Copyright &copy; 2005 Qwerty. Design by
				<a href="http://oswd.org/designs/search/designer/id/7724/">Gururaj</a>.
				<!--<a href="http://openwebdesign.org/userinfo.phtml?user=kpgururaja">Gururaj</a>.-->
			</div>
		</div>
	</body>
</html>