<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>LocaWapp Design 01 (26 December 2005)</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="LocaWapp Design" />
<meta name="keywords" content="LocaWapp,Localhost,Web,Applications,design" />
<meta name="author" content="http://LocaWapp.blogspot.com" />
<link rel="stylesheet" href="main.css" type="text/css" media="screen,projection" />
</head>
<body>
<div id="body2">
	<div id="body3">
		<div id="title">
			LocaWapp Design 01
		</div>
		<div id="header">
			LocaWapp (Localhost Web Applications) + Design (html,css)
		</div>
		<div id="menu">
			<a href="#">LocaWapp</a>
			<a href="#">Python</a>
			<a href="#">GIMP</a>
			<a href="#">Public Domain</a>
		</div>
		<div id="middle">
			<b>Hi people!</b><br/>
			This is my first design. I like this community because this site
			is full of creative people. The good creativity is the way for
			the peace.
		</div>
	</div>
	<div id="footer">
		--- Do you like this design? (send me your comments, please :-)
	</div>
</div>
</body>
</html>
