<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-Transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inter-business</title>
<style type="text/css">
@import "layout.css";
</style>
</head>
<body>
<div id="page">
<div id="header">
<h1>Inter-Business</h1>
<p><i>Shedding light on the subject!</i></p>
</div>
<div id="menu">
<a href="#">Home Page</a><a href="#">Products</a><a href="#">Services</a><a href="#">Online Store</a><a href="#">Support</a><a href="#">About IB</a>
</div>
<div id="lcolum">
<h5>Left Colum</h5>
<p>This panel can be used for sub-navigation.</p>
<ul>
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
</ul>
<b>Recommended Links</b>
<ul>
<li><a href="http://www.oswd.org">OSWD</a></li>
<li><a href="http://www.openwebdesign.org">Open Web Design</a></li>
<li><a href="http://www.kricit.co.uk/elgunvis">elgunvis</a></li>
</ul><hr />
<b>Maybe a search?</b>
<form method="post" action="#">
<input type="text" value="Example, Not Real" size="18" /><br /><br />
<input type="submit" value="GO" /> <input type="reset" value="X" />
</form>
</div>
<div id="content">
<h1>Inter-Business</h1>
<p align="justify">Welcome to inter-business! This is a template that features a header, menu, left colum, content, right colum and last of all, the footer!</p>
<h3>Compatability</h3>
<p align="justify">This site has a clean design and has been tested on various browsers. All browsers that displayed this site correctly are;</p>
<ul>
<li>Konqueror v3.4.2</li>
<li>FireFox v1.0.6</li>
<li>Modzilla v1.7.11</li>
<li>Internet Explorer v6.0 (Displays slightly diffrent but work able)</li>
</ul>
<p align="justify">To see this template as it would from all browsers listed except Internet Explorer which in my opinion is an unfriendly browser, <a href="http://www.mozilla.com/firefox/">Click here to get FireFox for your platform!</a></p>
<h3>Validation</h3>
<p align="justify">A CSS check found 0 errors and 0 warnings. And has been successfully validated as <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0 Transitional</a>!</p>
  <p align="right">
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" border="0" /></a>
  </p>
<h3>Image Positioning</h3>
<p align="justify">With any webpage comes images no matter how big or small they are! As you can see I have made a header image of which you are free to use! However, to position images within the main content area you do the following;</p>
<img src="images/img.gif" width="70" height="70" class="left" alt="" />
<h4>Image to the left</h4>
<p align="justify">This image is floating to the left of the page. To do this put in between the image tag 'class="left"'.</p>
<img src="images/img.gif" width="70" height="70" class="right" alt="" />
<h4>Image to the right</h4>
<p align="justify">This image is floating to the right of the page. To do this put in between the image tag 'class="right"'.</p>
<h4>Image Centred</h4>
<center><img src="images/img.gif" width="70" height="70" alt="" /></center>
<p align="justify">And finally this image is centred! this is done in two ways.</p>
<p align="justify">1) Put the image tag inside the &lt;center&gt;&lt;/center&gt; brakets.</p>
<p align="justify">2) .Put the image tag inside the &lt;p align="center"&gt;&lt;/p&gt; brakets.</p>
<p align="justify">Either way it should work!</p>
</div>
<div id="rcolum">
<h5>Right Colum</h5>
<b>News:</b>
<p align="justify">This right panel could be used for recent news</p>
<b>Information:</b>
<p align="justify">This panel could also be used for giving a description of your site to new users.</p>
<b>Images:</b>
<center><img src="images/img.gif" width="70" height="70" alt="" /></center>
<p align="justify">If your business is photography you may wish to put something like the pic of the week preview.</p>
</div>
<div id="footer">
<p>Copyright (C) 2006 - YOUR COMPANY<br />
Developed by <a href="http://www.kricit.co.uk/elgunvis">Ashley Johnson</a></p>
</div>
</div>
</body>
</html>