<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>your title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div id="container">

<div id="banner">

</div>

<ul class="menu">
   <li><a href="#">about us</a></li>
   <li><a href="#">contact us</a></li>
   <li><a href="#">reports</a></li>
   <li><a href="#">calendar</a></li>
   <li><a href="#">statement</a></li>
   <li><a href="#">charts</a></li>
   <li><a href="#">graphs</a></li>
   <li><a href="#">commitment
</a></li>
<li class="clear"></li>
</ul>
<h1>Professional service services</h1>
<div id="left">
<h2>Client Login</h2>
<hr />
<form action="#" method="post" id="loginForm">				
 <label>Username</label>
<br />
<input class="box" type="text" name="T1" size="20" />

<br />
<label>Password</label>
<br />
<input class="box" type="text" name="T1" size="20" />
<br /><br />              
<input class="button" type="submit" value="Login" />
<br />
<a href="#">Forgot your password?</a>
</form>
Questions to ask:
<ul>
<li>Who are your customers?</li> 
<li>What are their needs and resources?</li>  
<li>Is the service or product essential in their operations or activities?</li>  
<li>Can the customer afford the service or product?</li>  
<li>Where can you create a demand for the service or product?</li>  
<li>Can you compete effectively in price, quality and delivery?</li>  
<li>Can you price the product or service to assure a profit?</li>    
</ul>
<a href="#">More....</a>
</div>

<div id="content">
<h2>EVALUATING YOUR MARKET</h2>
<p>
If you are thinking of starting a new business or expanding into new markets, proper market evaluation is critical to success. While it may sound deceptively simple to figure out if a market exists for your product or service, it's probably one of the most challenging requirements of business. The process involves scrutinizing your competition and your customer base and interviewing potential suppliers.<br /><a href="#"> read more....</a></p>

<p>The information collected can help you, if necessary, adopt your product or service to better meet customer needs. In some rare cases, it might lead to a totally new, but financially rewarding venture. This Financial Guide covers some of the basic considerations of market evaluation. It is intended as only basic introduction to a complex determination to help focus the thinking for those businesspeople with limited experience in marketing. In many cases, a professional guidance can be extremely helpful.</p>
<p>Visit industry trade shows to find out what your competitors are selling and how they are marketing their products. Similarly, stay current on information in industry magazines and publications. Research data will help you develop the basic assumptions in your financial projections and tell you whether or not to go into business.</p>
<br />
</div>
<br />
</div>
<h4>By COOLLEW</h4>
</body>
</html>
