<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

    <head>
        <title>Blue Moon</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
    </head>

    <body>

        <table width="80%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td class="main_heading" colspan="6">
                    <font class="main_heading">
                        Blue Moon
                    </font>
                    <br />
                    <font class="sub_heading">
                        Your sub-heading goes here!
                    </font>
                </td>
            </tr>
            <tr>
                <td class="main_link">
                    <font class="link">
                        <a href="index.html">Links</a>
                    </font>
                </td>
                <td class="main_link">
                    <font class="link">
                        <a href="#">Links</a>
                    </font>
                </td>
                <td class="main_link">
                    <font class="link">
                        <a href="#">Links</a>
                    </font>
                </td>
                <td class="main_link">
                    <font class="link">
                        <a href="#">Links</a>
                    </font>
                </td>
                <td class="main_link">
                    <font class="link">
                        <a href="#">Links</a>
                    </font>
                </td>
                <td class="main_space">
                </td>
            </tr>
            <tr>
                <td class="content" colspan="6">
                    <font class="content">
                        This is a template created with valid XHTML 1.0 as well as valid CSS. It was created by Nicholas Sharp aka SyntaxLegend. It can be found at OSWD.org (Open-Source-Web-Design).<br /><br />
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In vitae diam. Donec auctor, mi eget fermentum interdum, erat ipsum cursus ipsum, ut consectetuer lacus eros non nisi. Integer at elit. Proin iaculis arcu a ante. Suspendisse lacus turpis, aliquet nec, tristique tempus, volutpat at, tellus. Vivamus interdum justo et lacus. Vestibulum ligula lacus, nonummy at, blandit sit amet, ullamcorper a, metus. Aenean ut dolor vel nisl blandit egestas. Praesent vehicula, mauris at iaculis tincidunt, velit dui varius neque, in dapibus nisi est a augue. Maecenas imperdiet tincidunt lacus. Quisque sed eros vitae pede bibendum pharetra. Pellentesque orci. Nullam feugiat.<br /><br />

Maecenas pellentesque nonummy arcu. Fusce gravida. Sed tempus volutpat lacus. Praesent ut nibh vitae felis rutrum congue. Curabitur volutpat ligula quis augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi consequat magna eget sem. Nunc pharetra tristique mauris. Nulla et velit quis erat interdum viverra. Nam interdum quam id sapien.
                    </font>
                </td>
            </tr>
            <tr>
                <td class="copyright" colspan="6">
                    <font class="copyright">
                        &copy; 2006 Adeon Technologies
                    </font>
                </td>
            </tr>
        </table>

    </body>
</html>
