<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
<head><title>ALL THE REDS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="default.css" type="text/css" />
</head
><body>

<div id="container">
<div id="banner"></div>

<div id="linkbar">
<a href="index.html">LINK1</a> 
<a href="index.html">LINK2</a> 
<a href="index.html">LINK3</a> 
<a href="index.html">LINK4</a> 
<a href="index.html">LINK5</a>
<a href="index.html">LINK6</a>
</div>

<div id="wrapper">

<div id="main">

  <h2>Heading 1 </h2>
  <p>The left hand side has been created to allow you to put text about whatever your website is about here, with space provided on the right for your images. The images will automiatically have black borders around them. I have used the standard 'img' tag for this, edit it it if you want to change the border colour or remove it altogether. </p>
  <h2>Heading 2 </h2>
  <p>
Duis autem vel ein<a href="index.html"> vulputate velit esse</a> molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  <h2>Heading 3 </h2>
  <p>
Duis iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio <a href="index.html">dignissim qui blandit</a> praesnt luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  <p>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum <a href="index.html">dolore</a> eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te <a href="index.html">feugait</a> nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>

<div id="outer">

<p></p>
<div class="imgcenter">
  <p><img src="images/img1.jpg" alt="img1" width="230" height="125" /></p>
  <p><img src="images/img2.jpg" alt="img2" width="230" height="125" /></p>
  <p><img src="images/img3.jpg" alt="img3" width="230" height="125" /></p>
  <p><img src="images/img4.jpg" alt="img4" width="230" height="125" /></p>
  <p>Address Line 1  <br />
    Address Line 2 <br />
    Address Line 3 <br />
    Address Line 4 <br />
    Address Line 5 <br />
    <br />
  Tel:&nbsp;xxxx xxxxxx <br />
  Fax:&nbsp;xxxx xxxxxx </p>
 
</div>
</div>
</div>
</div>
<div class="footer" id="footer">Design by <a href="mailto:info@simonmarlow.info">SDM</a> </div>
</body>
</html>
