<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
		<meta http-equiv="Content-Type" content="text/HTML; charset=iso-8859-1" />
<title>Ruffian, coming from samsara</title>
		
		<meta name=" robot" content="follow, index, all" />

        
<link rel="stylesheet" type="text/css" href="penrose.css" title="Penrose" />

</head>

<body>

<div id="enteteDePage">
    <!-- en-tete -->
<div id="titreSite"><span id="titreSiteMain">Ruffian</span><br /><span id="titreSiteSous">Coming from samsara</span></div>
        [<a class="menu" href="index.html" title="Revenir a la page d'accueil, avec la liste des dernieres modificiations" accesskey="1">Accueil</a>] -
    [<a class="menu" href="index.html" title="Parcourir tout le site" accesskey="3">Plan du site</a>] -
    [<a class="menu" href="index.html" title="Chercher dans ce site" accesskey="4">Rechercher</a>]


		<div class="cadre" id="resume">
		<h1>Raccourcis</h1>
		<span class="raccourcis" id="raccourcis1" title="Liste de mes publications : articles, livres, conféences, ..."><a href="index.html">Publications</a></span>
		<span class="raccourcis" id="raccourcis2" title="Tout sur moi"><a href="article.php3?id_article=4">CV</a></span>
		<span class="raccourcis" id="raccourcis3" title="Des productions personnelles : dessins, images, logos, ..."><a href="index.html">Graphisme</a></span>
		<span class="raccourcis" id="raccourcis4" title="Des logiciels fait maison, des astuces, ..."><a href="index.html">Informatique</a></span>
		</div>

</div>

<div id="page">

        <div id="colonneCentraleMiseEnPage2Colonnes">


<!-- Derniers articles -->
<div class="cadre" id="derniersArticles">

    <h1>Les Derniers Articles</h1>
    
        <div class="cadreBasGauche">
            <h2>
                <a href="index.html">Numbers are not absolute, but depend on the observer's movement in restaurants</a>
                
                    <span class="recent"> - 26 janvier</span>
                
            </h2>
            <p>Bien entendu, si l'un de vous n'est pas d'accord, on peut developper ce point, mais moi, j'affirme que vous etes d'accord avec moi. (luc2); Bistromathics is simply a revolutionary new way of understanding the behavior of numbers. Just as Einstein observed that space was not an absolute, but depended on the observer's movement in space, and that time was not an absolute, but depended on the observer's movement in time, so it is now realized that numbers are not absolute, but depend on the observer's movement in restaurants. (Douglas Adams) A quoi bon apprendre ce qui est dans les livres, puisque ça y est ? (Sacha Guitry); Mon père dépensait beaucoup d'argent, parce qu'il voulait que je fasse des études. Parce que ça coûte vachement cher, les études ! Et encore, je faisais gaffe, j'étais un de ceux qui étudiaient le moins ! (Coluche)<a href="index.html">[Lire la suite]</a></p>
        </div>
    
        <div class="cadreBasGauche">
            <h2>
                <a href="index.html">« C'est techniquement impossible »</a>
                
                    <span class="recent"> - 9 janvier</span>
                
            </h2>
            <p>Le vrai danger, ce n'est pas quand les ordinateurs penseront comme les hommes, c'est quand les hommes penseront comme les ordinateurs. (Sydney Harris); Les simulations, comme les bikinis, montrent pas mal de choses mais cachent le principal. (Hubert Kirrman); Faites attention aux bugs dans ce code ; je n'ai fait que le prouver sans l'essayer. (Donald Ervin Knuth) La dernière voix audible avant l'explosion du monde sera celle d'un expert qui dira : « C'est techniquement impossible ». (Peter Ustinov); L'avantage d'être intelligent, c'est qu'on peut faire semblant d'être con et pas le contraire. (Woody Allen); Si la cause est bonne, c'est de la persévérance. Si la cause est mauvaise, c'est de l'obstination. (Lawrence Sterne ) <a href="index.html">[Lire la suite]</a></p>
        </div>
    
        <div class="cadreBasGauche">
            <h2>
                <a href="index.html">Les gens qui se croient instruits éprouvent le besoin de faire chier le monde</a>
                
                    <span class="recent"> - 9 janvier</span>
                
            </h2>
            <p>(...) aussitôt que nous avons décidé de nous restreindre au sous-ensemble des programmes maîtrisables intellectuellement, nous avons accompli, une fois pour toutes, une réduction radicale du domaine des solutions à prendre en considération. (Edsger W. Dijkstra); Je n'ai pas échoué, au contraire j'ai trouvé un millier de possibilités qui ne marchaient pas. (Gustave); Si on sait exactement ce qu'on va faire, a quoi cela sert-il de le faire ? (Picasso) C'est drôle comme les gens qui se croient instruits éprouvent le besoin de faire chier le monde.(Boris Vian) ; Il y a trois sortes de mensonges : les mensonges, les sacrés mensonges et les statistiques. (Mark Twain); Il est noble de s'instruire, mais c'est encore plus noble d'instruire les autres, et moins compliqué. (Mark Twain); Le chou-fleur n'est pas autre chose qu'un chou qui est passé par l'université. (Mark Twain)<a href="index.html">[Lire la suite]</a></p>
        </div>
    
    
        <div class="cadreBasGauche">
            <h2>
                <a href="index.html">Sous-ensemble des programmes maîtrisables</a>
                
                    <span class="recent"> - Juillet 2005</span>
                
            </h2>
        </div>
    
        <div class="cadreBasGauche">
            <h2>
                <a href="index.html">J'affirme que vous etes d'accord avec moi</a>
                
                    <span class="recent"> - Juillet 2005</span>
                
            </h2>
        </div>
    
        <div class="cadreBasGauche">
            <h2>
                <a href="index.html">Les simulations, comme les bikinis, montrent pas mal de choses mais cachent le principal.</a>
                
                    <span class="recent"> - Mai 2005</span>
                
            </h2>
        </div>
    
    <h2><a href="index.html" title="Plan complet du site">[Tout les articles...]</a></h2>
</div>

        </div>

        <div id="colonneGaucheMiseEnPage2Colonnes">

            
<!-- Sommaire -->
<div class="cadre" id="sommaire">
    <h1><a href="index.html" title="Page d'accueil">Sommaire</a></h1>

    <!-- menu  -->
    <ul>
        <li><a href="index.html" title="Pages professionnelles">Professionnel</a>
            <ul>
                <li><a href="index.html" title="1">nouille</a></li>
                <li><a href="index.html4" title="11">tartouille</a></li>
                <li><a href="index.html" title="12">andouille</a></li>
            </ul>
        </li>

        <li><a href="index.html" title="2">cruche</a>
            <ul>
                <li><a href="index.html" title="21">nunuche</a></li>
                <li><a href="index.html" title="22">greluche</a></li>
            </ul>
        </li>

        <li><a href="index.html" title="3">pelure</a>
            <ul>
                <li><a href="index.html" title="31">raclure</a></li>
                <li><a href="index.html" title="32">roulure</a></li>
            </ul>
        </li>

        <li><a href="index.html" title="À propos">crapule</a></li>
        <li><a href="index.html" title="Toutes les pages du site d'un seul coup d'oeil">Plan du site</a></li>
    </ul>

</div> <!-- Sommaire -->


            <!-- Recherche-->
            <div class="cadre" id="rechercher">
                <h1>Rechercher :</h1>
            </div>


		<!-- Dernieres breves  -->
		<div class="cadre" id="breves">

			<h1>
			Breves</h1>
			<ul>
			
				<li><a href="index.html">Cuistre - Paltoquet - Marouf</a>
				
					<span class="recent"> - Août 2004</span>
				
				</li>
			
				<li><a href="index.html">Butor - Vaurien - Gredin</a>
				
					<span class="recent"> - Mai 2004</span>
				
				</li>
			
				<li><a href="index.html">Canaille - Cornenouille - Faquin</a>
				
					<span class="recent"> - Novembre 2003</span>
				
				</li>
			
				<li><a href="index.html">Rustre - Freluquet - Iconoclaste</a>
				
					<span class="recent"> - Juillet 2003</span>
				
				</li>
			
			
			</ul>
		</div>


		<div class="cadre" id="derniersMessages">

			<h1>
			Derniers messages</h1>
			<ul>
				
					<li>
						<a href="index.html">
						
						
						&gt; lâche, tache, ganache</a>
					</li>
				
					<li>
						<a href="index.html">
						
						
						&gt; Pipelette, tapette, femmelette</a>
					</li>
				
					<li>
						<a href="index.html">
						
						
						&gt; pisseuse, emmerdeuse, glandeuse</a>
					</li>
				
					<li>
						<a href="index.html">
						
						
						&gt; folle, tartignolle, branquignol</a>
					</li>
			</ul></div>

		</div>


        </div>

    <!--</div> #page -->

    
<div id="piedDePage">

[<a class="menu" href="index.html" title="Revenir a la page d'accueil, avec la liste des dernieres modificiations">Accueil</a>] - 
[<a class="menu" href="index.html" title="Parcourir tout le site">Plan du site</a>] - 
[<a class="menu" href="index.html" title="Chercher dans ce site">Rechercher</a>] - 
[<a class="menu" href="ecrire">Admin.</a>]

      <a href="index.html" title="Le logiciel utilisé pour faire ce site">SPIP</a>:<a title="Consulter librement le squelette" href="index.html">Squelette</a>

</div>
</body>
</html>
