<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>Gamer 01-dk</title>
<link rel="stylesheet" type="text/css" href="01dk_print.css" media="print" />
<link rel="stylesheet" type="text/css" href="01dk.css" media="screen" title="Gamer 01-dk Main Stylesheet" />
</head>
<body>

<div id="container">
<!-- Preloading the image, hopefully to speed up the a:hover on the menu items -->
<img class="noDisplay" src="images/list_item_on.gif" width="12" height="10" alt="" />
 <!-- Header; span tag hides text for visual browsers and displays for          nonvisual browsers -->
<div id="pageHeader">
<span class="noDisplay print" id="headerText">Gamer 01-dk</span>
</div>
 <!-- Header; span tag hides text for visual browsers and displays for                nonvisual browsers -->

<div id="bodyOfPage">
  <!-- Menu Items -->
<div id="subMenu">
    <!-- Sitewide Links -->
  <div id="mainLinks">
<span class="menuHead">The Site</span>
<ul class="menu"><li><a href="#">Menu Item 1</a></li>
<li><a href="#">Menu Item 2</a></li></ul>
  </div>
    <!-- Sitewide Links -->

    <!-- Anchored Links -->
  <div id="subLinks">
<span class="menuHead">On This Page</span>
<ul class="menu"><li><a href="#gamer01dk">Gamer 01-dk</a></li>
<li><a href="#butabout">But About the Page?...</a></li>
<li><a href="#lorem_ipsum">This Is Not Lorem Ipsum Latina Adda</a></li>
<li><a href="#nonsensical">My Own Nonsense Text</a></li>
<li><a href="#morenon">More Nonsense</a></li></ul>
  </div>
    <!-- Anchored Links -->
</div>
 <!-- End of Menu Items -->

 <!-- Content Goes Here -->
<div id="content">
<a name="gamer01dk"></a><span class="sectionHead">Gamer 01-dk</span>
<p>This template is "Gamer 01-dk", the first in a series of video game-themed templates for <a href="http://www.oswd.org/">Open Source Web Design</a>. I was inspired to do this by <a href="http://www.oswd.org/user/profile/id/1055">mikeystan's Nintendo template</a> (which also was supposed to be a part of a series, by the way). I fancy myself a gamer, as I have a <acronym title="Nintendo Entertainment System">NES</acronym>, <acronym title="Super Nintendo Entertainment System">Super NES</acronym>, and a Game Boy Advance SP, to name a few. Of my games I treasure my "classic" games for the <acronym title="Nintendo Entertainment System">NES</acronym> and <acronym title="Super Nintendo Entertainment System">Super NES</acronym>.</p>

<a name="butabout"></a><span class="sectionHead">But About the Page?...</span>
<p>The page <a href="http://validator.w3.org/check?uri=referer">validates as XHTML Strict 1.0</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">validates as CSS</a>. It has been tested in Firefox 1.0.7, Opera 8.51, and Internet Explorer 6.0. Guess which browser displays this the worst? (I'll give you a hint: I've put them in order from best to worst.) As noted in the CSS file, you should keep a doctype on the page for the best possible rendering. (Reasons for this are put forth in the CSS code.)</p>

<p>It was coded by no other than me, <a href="http://www.oswd.org/user/profile/id/6986/">Generalissmo</a>. This, I've got to say, trumps all my other designs (as of this writing) when it comes to having entertainment value. If you plan to use this page, <a href="mailto:altendo@yahoo.com">send me the link</a>, I really want to see it in action.</p>

<a name="lorem_ipsum"></a><span class="sectionHead">This Is Not Lorem Ipsum Latina Adda</span>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras non quam. Nulla gravida. Mauris pede mi, ullamcorper non, porttitor eu, tincidunt sit amet, leo. Curabitur volutpat varius est. Nam ac odio. In hac habitasse platea dictumst. Cras egestas diam. Integer laoreet, sem vulputate varius tristique, tellus purus faucibus est, non dignissim purus orci quis velit. Etiam ac nibh. Fusce pharetra nisl vel eros.</p>

<a name="nonsensical"></a><span class="sectionHead">My Own Nonsense Text</span>
<p>sfhnslfjslfjs.fjs;lfmsdfjs.,fms;lmfslajhupweokseoifjl vjo ejfs,mfc slkfchnslfnslkfjfslfnmsmfnsj fhsvcsxjcvslamdiujw lktrjeowtrlekfnhewklfhlsfnslfhslfnloehflsfnswf hlfthoerhfngth erhlenrtgoea ksmd;al,ds;adf kpweokwpeutgsncv,sfslffljsljflsjflskfslfsfnmslfscm lakdf.sfnsl lkfdlksfnlshf lkfndsfsljfhasdmas;odruapdmn iojfsnfoldja/,fd;asof.</p>

<a name="morenon"></a><span class="sectionHead">More Nonsense</span>
<p>The one paragraph of "Lorem ipsum..." text was generated <i>on the fly</i> by <a href="http://www.lipsum.com/">lipsum.com</a>. For all your Latin dummy text needs, lipsum is the place to go. The image sprites were taken from the classic arcade/<acronym title="Nintendo Entertainment System">NES</acronym> game <span class="gameName">Donkey Kong</span>. The text under "My Own Nonsense Text" is my own nonsense text. You probably shouldn't reuse it but, hey, you can reuse it if you want it that bad.</p>
</div>
 <!-- Content Goes Here -->

 <!-- Notice Goes Here -->
<div id="notice">
"Gamer 01-dk" <a href="http://www.oswd.org/user/profile/id/6986/">designed by Generalissmo</a>.<br />
This is just text to test the notice background.<br />
Don't you just hate filler text? At least it's not in Latin.
</div>
 <!-- Notice Goes Here -->
</div>
<!-- End of Document -->
</div></body></html>