<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sparse 'n Clean</title>
<link href="css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">
	
	<!--  START NAVIGATION AT THE TOP OF THE PAGE -->
	
		<div id="top-nav">
		
			<a href="#" class="small-navigation">LINK</a> // <a href="#" class="small-navigation">LINK</a> // <a href="#" class="small-navigation">LINK</a> // <a href="#" class="small-navigation">LINK</a> // <a href="#" class="small-navigation">LINK</a>
	
		</div>
		
	<!-- END NAVIGATION AT THE TOP OF THE PAGE -->
	
	
	<!-- START PAGE HEADER CONTAINER -->
	
		<div id="header">
		
			<img src="images/header.jpg" alt="" width="720" height="120" />
			
		</div>
		
	<!-- END PAGE HEADER CONTAINER -->
	
	
	<!-- START MAIN NAVIGATION CONTAINER -->
	
		<div id="navigation">
		
			PAGE NAVIGATION
			
			<hr />
			
			<a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a>
			
			<br />
			
			<br />
			
			<br />
			
			SITE NAVIGATION
			
			<hr />
			
			<a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a><a href="#" class="navigation">LINK</a>
			
		</div>
		
	<!-- END MAIN NAVIGATION CONTAINER -->
	
	<!-- START MAIN CONTENT BLOCK -->

		<div id="content">
		
			<h1>MAIN HEADING </h1>
			
			<p>
				
				This is where you can type pretty much any text you want to. If this is for your personal website (like it is for mine), you can maybe type a little welcome blurb to the person visiting your site. If this is for any other site, then you can put whatever it is that you want to put here.
		
			</p>
			
			<p>
			
				As you can probably notice by now, each paragraph is ended off with a dashed line. This line is easily removed if it doesn't suit your needs. Simply find the CSS style that changes the &lt;p&gt; tag, and remove the lines that have anything to do with the border.
		
			</p>
		
			<p>
		
				If you decide you would like to use this template for your website, please keep a link in the bottom (or footer) of the page.
			
				<br />
			
				This is entirely up to you though, and iIf you feel you don't want to do this, I really don't mind; but the decent thing to do would at least send me an email with a link to the site that makes use of the template.
		
			</p>

		</div>
	
	<!-- END MAIN CONTENT CONTAINER -->
	
	<!-- START FOOTER CONTAINER -->
	
		<div id="footer">

			<hr />

			<a href="#" class="small-navigation">    LINK</a> // <a href="#" class="small-navigation">LINK</a> // <a href="#" class="small-navigation">LINK</a> // <a href="#" class="small-navigation">LINK</a> // <a href="#" class="small-navigation">LINK</a>

			<br />

			All content &copy;2006 YourName, all rights reserved.

			<br />

			Designed by: <a href="http://www.oswd.org/user/profile/id/10470/" class="small-navigation">garbetjie</a>

		</div>

	<!-- END FOOTER CONTAINER -->
	
</div>

</body>

</html>
