<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="name of the author." />
		<meta name="keywords" content="key words that you are targeting for search engines." />
		<meta name="description" content="description of the main conents." />
		<link rel="stylesheet" type="text/css" href="GScape.css" media="screen"/>
		<title>GScape</title>
	</head>
	<body>
		<div id="MainWrapperBlack">
			<div id="WrapperGray">
				<div id="Header">
					<h1 id="Shadow">GScape</h1>
					<div id="Title"><a href="index.html">GScape</a></div>
					<h2>Type your site's main slogan here</h2>
					<div id="HeaderMenus">
						<ul>
							<li><a class="selected" href="index.html">Home</a></li>
							<li><a href="index.html">Download</a></li>
							<li><a href="index.html">Purchase</a></li>
							<li><a href="index.html">Support</a></li>
							<li><a href="index.html">Contact</a></li>
							<li><a href="index.html">About</a></li>
						</ul>
					</div>
				</div>
				<div id="RightColumn">
					<!-- For the rounded corners -->
					<div id="LoginTopRight" class="TopRight"></div>
					<div id="LoginTopLeft" class="TopLeft"></div>
					<div id="Login" class="RightContents">
						<h4>Login Name</h4>
						<input name="LoginId" id="LoginId" />
						<h4>Password</h4>
						<input name="Password" id="Password" type="password" />
						<input name="LoginSubmit" id="LoginSubmit" type="submit" value="Login" />
					</div>
					<!-- For the rounded corners -->
					<div id="LoginBottomRight" class="BottomRight"></div>
					<div id="LoginBottomLeft" class="BottomLeft"></div><br/>
					
					<div id="RightOneTopRight" class="TopRight"></div>
					<div id="RightOneTopLeft" class="TopLeft"></div>
					<div id="RightOne" class="RightContents">
						<h3>Articles</h3>
						<p><b>Leaving IE behind:</b> I use the Internet for chatting with my friends, e-mailing, 
						and locating information related to my studies. I run Internet Explorer on an XP Professional 
						machine, and I have Service Pack 2 installed. My friends suggested I switch to Mozilla Firefox 
						or Opera but I was so familiar with IE I didn't feel comfortable making the move. That was about to change.
						<a href="http://www.download.com/Spyware-Horror-Stories/1200-2023_4-5157479.html?tag=more">...</a></p>
						
						<p><b>How spyware can cost you your job:</b> Near the end of 2003, I was told to use a coworker's 
						computer when he was on vacation because it was faster. I had to log on to the Internet to access my 
						work e-mail from his computer. I mistyped the URL and got redirected to another site, where 
						<a href="http://www.download.com/Spyware-Horror-Stories/1200-2023_4-5157477.html?tag=more">...</a></p>
					</div>
					<div id="RightOneBottomRight" class="BottomRight"></div>
					<div id="RightOneBottomLeft" class="BottomLeft"></div><br/>
					
					<div id="RightTwoTopRight" class="TopRight"></div>
					<div id="RightTwoTopLeft" class="TopLeft"></div>
					<div id="RightTwo" class="RightContents">
						<h3>Regular Links</h3>
						<a href="http://oswd.org/">OWSD</a><br/>
						<a href="http://openwebdesign.org/">Open Webdesign</a><br/>
						<a href="http://www.4templates.com/">4templates</a><br/>
						<a href="http://en.crystalxp.net/">CrystalXP</a><br/>
						<a href="http://en.wikipedia.org/wiki/Main_Page">Wikipedia</a>
					</div>
					<div id="RightTwoBottomRight" class="BottomRight"></div>
					<div id="RightTwoBottomLeft" class="BottomLeft"></div>
				</div>
				<div id="LeftContainer">
					<div id="LeftContents">
						<div id="LeftOneTopRight" class="TopRight"></div>
						<div id="LeftOneTopLeft" class="TopLeft"></div>
						<h2>Intro to Design</h2>
						<div id="LeftOneBottomRight" class="BottomRight"></div>
						<div id="LeftOneBottomLeft" class="BottomLeft"></div>
						<p>Hi, Thanks for your interest in this web template. This is my second design 
						as open web template. I am from Bangalore [India] and by profession I am a developer 
						and have great interest in web design. I have learned a lot about web design 
						HTML and CSS form OSWD and OWD and I am great full these two great sites for doing such a noble job.
						The tools that were used to do the template are GIMP, HTML-Kit, Pixie and Color Schemer Studio.</p>
						
						<p>This is a simple template with two columns and one header, a menu and contents with two images, 
						it also has a text based shadow effect (which behaves undesirably for different text size) which 
						provides some extra attraction for the header. The header image, rounded corners were created using 
						GIMP, the best free image manipulation program. This template uses very limited images, a main header 
						image and other set (4) for rounded corners which can be removed with no affect to basic functionality 
						and appearance, in fact it transforms into a new template without the images. The side column can be 
						used add favorite links, Google ads etc. I have tested this template in Firefox 1.5, Opera 8.5, 
						Netscape 8.0.4 and IE 6.0 and it works fine in all these browsers. This is a valid 
						<a href="http://validator.w3.org/check?uri=referer">XHTML</a> and
						<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and it is also very easy to customize. 
						You can use this template with no restrictions, a simple notification email to either 
						<a href="http://oswd.org/user/contact/id/7724">OSWD</a>
						or <a href="http://openwebdesign.org/email.phtml?user=kpgururaja">OWD</a>
						would be encouraging. Thank you very much for your support.</p>
						<p class="Comments">Posted by Guru | General | 19 comments</p>
						
						<div id="LeftTwoTopRight" class="TopRight"></div>
						<div id="LeftTwoTopLeft" class="TopLeft"></div>
						<h2>Just for Info</h2>
						<div id="LeftTwoBottomRight" class="BottomRight"></div>
						<div id="LeftTwoBottomLeft" class="BottomLeft"></div>
						<p>	<a href="http://en.wikipedia.org/wiki/The_lion_king">The Lion King</a> is the 32nd animated feature 
						in the Disney animated feature canon, and the highest-grossing traditionally animated feature film ever 
						released in the United States. It was produced by Walt Disney Feature Animation, originally released to 
						selected cities by Walt Disney Pictures and Buena Vista Distribution on June 15, 1994, and put into 
						general release on June 24, 1994. The film bagged the "Best Music, Original Song" and "Best Music, 
						Original Score" in the 1994 academy awards.</p>
						
						<p>Plot: A young lion prince is born in Africa, thus making his uncle Scar the second in line to the 
						throne. Scar plots with the hyenas to kill King Mufasa and Prince Simba, thus making himself King. 
						The King is killed and Simba is led to believe by Scar that it was his fault, and so flees the kingdom 
						in shame. After years of exile he is persuaded to return home to overthrow the usurper and claim the 
						kingdom as his own thus completing the "Circle of Life".</p>
						<p class="Comments">Posted by Guru | HTML | 0 comments</p>
					</div>
				</div>
				<div id="LeftColumnFill" class="Fill"></div>
				<div id="Footer">
					Copyright &copy; 2005 Your Comany. Design by
					<a href="http://oswd.org/designs/search/designer/id/7724/">Gururaj</a>.
					<!--<a href="http://openwebdesign.org/userinfo.phtml?user=kpgururaja">Gururaj</a>.-->
				</div>
			</div>
		</div>
	</body>
</html>