<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Brown and White</title>
<link href="brown_and_white.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="container"><!--Start of Container -->
	<div id="header"> <!--Start of Header -->
		<img src="images/leaf.jpg" alt="leaf" width="300" height="200" />
		<h1>Brown &amp; White</h1>
		<p>Motivating Company Slogan Here</p> 
	</div><!--End of Header -->
	<div id="left"><!--Start of Left - Holds navigation and extra content -->
		<form name="form1" id="form1" method="post" action="">
	  		<input type="text" name="textfield" value="Search..." />
	  		<input class=" button" type="submit" name="Submit" value="GO" />
		</form>
		<div id="navigation"><!--Start of Navigation -->
			<ul id="navlist">
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Archives</a></li>
				<li><a href="#">Photography and downloads and stuff</a></li>
				<li><a href="#">Downloads</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div><!-- End of Navigation -->
		
		<div id="extra_content"><!--Start of Extra Content -->
			<h1>Bobbins</h1> 
			<p>Extra stuff and <a href="#">links</a> go here. <img src="images/circuit_thumb.jpg" width="75" height="75" alt="image thumb" />Pics and things can also be placed here. But of course it's up to you in the end, all I can do is try and make it easy for you!</p>
			<h1>Links</h1>
			<ul>
			  <li><a href="http://www.visual-aid.co.uk" target="_blank">Visual Aid </a></li>
		      <li><a href="http://www.oswd.org/" target="_blank">OSWD </a></li>
		      <li><a href="http://openwebdesign.org/" target="_blank">OWD</a></li>
		  </ul>
			<h1>Gallery</h1>
			<p>You could even use it as a gallery!</p>
			<div id="thumbnails"><!--Start of Thumbnails -->
				<a href="#"><img src="images/circuit_thumb.jpg" alt="circuit board" /></a>
				<a href="#"><img src="images/dog_thumb.jpg" alt="A Dog" /></a>
				<a href="#"><img src="images/eye_thumb.jpg" alt="Green Eye" /></a>
				<a href="#"><img src="images/opticians_thumb.jpg" alt="Opticians Machine" /></a> </div>
	  </div><!--End of Thumbnails -->
		</div><!--End of Extra Content -->
  <div id="right"><!--Start of Right -->
		<h1>Heading</h1> 
		<p>This is my second template design for the open source market and I think it works well. <img src="images/logs.jpg" alt="logs" />This is where the main content goes, it is happy to wrap around images that are 'floating' to the right. The page is <a href="http://validator.w3.org/check?uri=referer" target="_blank">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">CSS</a> valid. As usual it has been tested on the usual browsers and I am happy with the results.<br />
	    If you have any questions, comments, suggestions or need any help using this template please do not heistate to contact me and I will try and help you. </p>
		<h1>More Stuff</h1> <p>I have one restriction on using this template, please keep the design by brampamp in the footer and <a href="mailto:a.bramley@virgin.net">email me</a> if you use this template with a link to the site. Other than that please feel free to massacre it and make it yours!</p>
		<h1>Latin Stuff</h1>
		<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tatio</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo <a href="#">consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit a</p>
  </div>
  <!--End of Right -->
	<div id="footer"><!--Start of Footer -->
		<p><a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">Valid CSS</a> | Copyright &copy; your name here | Design by <a href="http://www.visual-aid.co.uk">brampamp</a></p>
	</div><!--End of Footer -->
</div>
</body>
</html>
