<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-nz">
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
  <title>::equanimity::</title>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" title="equanimity"/>
</head>
<body>

<div id="content">
<div id="topnav" class="clearfix">
<h1 id="header"><span class="top-left">logo goes here</span><span class="top-right">? goes here</span>::equanimity::</h1>
<ul>
<li><a id="current" href="index.html">Home</a></li>
<li><a href="index.html">Blog</a></li>
<li><a href="index.html">Art</a></li>
<li><a href="index.html">Design</a></li>
</ul>
<form id="search" method="post" action="">
<p><input size="10" name="search" type="text" />
<input class="button" value="Search" type="submit" /></p>
</form>
</div>

<div id="wrap" class="clearfix">

<div id="left">

<div id="navblock" class="block">
<h3>Navigate this page</h3>
<ul>
<li><a href="#intro">&raquo; Intro</a></li>
<li><a href="#idea">&raquo; The idea</a></li>
<li><a href="#about">&raquo; About this site</a></li>
<li><a href="#filler">&raquo; Some Filler Text</a></li>
</ul>
</div>

<div class="block">
<h3>Another Menu</h3>
<p><a href="#">Add a link</a>
<a href="#">Another here</a>
<a href="#">And here</a></p>
</div>

<div class="block">
<h3>..Hmm..</h3>
<p>...Who knows what else will go here...</p>
</div>
</div>


<div id="middle">

<h2 id="intro">Intro</h2>
<p>Welcome to
::equanimity::
<br />
This site has a 3 column layout with the main content in the middle. It could be used as a personal page, blog, or even a business site.</p>

<h2 id="idea">The idea</h2>
<p>The word "equanimity" means 'steadiness of mind under stress'. This gave me the idea for a peaceful, green design, with a pleasant balance between the
 colours.</p>
 
<h2 id="about">About this site</h2>
<p>This site is marked up in XHTML Strict and uses CSS for the formatting. It is meant to look calm and peaceful. The colour scheme is green &amp; light grey,
fits together well and is easy on the eyes.</p>
<p>The top navigation is 'tabbed', showing the visitor where they are and where they can go. The right and left-hand sides are columns, but if their content
exceeds the main content in the middle, then a new effect is created, with
the middle becoming an island on the grey.
<br />This site is compatible with multiple viewing resolutions, even when the font is resized.</p>

<h2 id="filler">Some Filler Text</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas vel libero nec erat iaculis mattis. Phasellus vel magna. Mauris consequat nisl sit amet
odio Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla lorem massa, congue sed, gravida eget, congue quis, velit.
</p><p>Mauris vehicula, pede eleifend euismod fermentum, mi erat mattis leo, a posuere justo diam et dui. Duis massa mauris, facilisis vel, placerat et, pretium sed,
arcu.</p>


</div>

<div id="right">

<div class="block">
<h3>Current News</h3>
<a href="#">World News</a>
<a href="#">National News</a>
<a href="#">Local News</a>
</div>

<div class="block">
<h3>Bookmarks</h3>
<a href="#">Graphic Design</a>
<a href="#">Web Design</a>
<a href="#">Programming</a>
</div>

<div class="block">
<h3>A useful block</h3>
<p>Maybe you can think of something to put here.</p>
<p>Anything you want others to know about.</p>
</div>
</div>

</div>

<div id="footer">
<p><a href="http://validator.w3.org/check?uri=referer">Validate XHTML</a>
DESIGN BY SOLIAC
<a href="http://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
</p>
</div>
</div>
</body>
</html>