<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>PSP-Compatable web design V1.0</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />      
        <meta http-equiv="imagetoolbar" content="no" />
        <meta content="TRUE" name="MSSmartTagsPreventParsing" />
       
	<style type="text/css" media="screen">
		@import url("psp.css");
	</style>
</head>


<body>

<div id="container">

	<div id="header">
	<a name="topofpage">PSP-Compatable Design v1.0</a>
	</div>

        <div id="topmenu">
	<a href="#">Home</a> | <a href="#mylinks">Links</a>
	</div>

	<div id="menu">
		<h2>Categories:</h2>
        	<ul>
          		<li>General News</li>
        	</ul>
	</div>
	  
	<div id="centre">
		<div class="post">
    			<h3 class="post-title"><a href="#">Thank you for downloading</a></h3>
   				<div class="post-body">
   					<div>
        					You have downloaded <a href="http://pspdesign.blogsome.com">Tane Piper's PSP-Compatable template</a> version 1.0
						This is the first in a series of templates that will made avalible on my website for you to download and use
						with your own website.
						<p />
						This templates assumes you have at least HTML and CSS knowledge.  The webpage is programmed in XHTML 1.0 so is
						compatable with modern broswers.  The design is created to fit around Wordpress though should be compatable with
						most blogging software, you will need to find out what meta tags or functions you can use.
						<p />
						If you do use this template, then please remember to provide a credit - do feel free to chop and change the code
						as you see fit.
					</div>
   				</div>
				<p class="post-footer">
				<em> POSTED BY Tane Piper ON <a href="#">03 January 2006</a> @ 12.00pm | 0 Comments</em></p>
		</div>

		<div id="break"></div>

		<div id="links">
			<h2><a name="mylinks">Links</a> </h2> (<a href="#topofpage">Back to top</a>)
			<p />
                	<h2>Design Links</h2><br />
			<ul>
				<li><a href="http://pspdesign.blogsome.com">PSP Design</a></li>
				<li><a href="http://tripcast.blogsome.com">Tripcast Radio</a></li>
			</ul>
  		</div>
	</div>
	
	<div id="footer">PSP Design (c) 2005 <a href="mailto:tane.piper@gmail.com">Tane Piper</a></div>
</div>	  

</body>
</html>