<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Tokyo Mod</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="dreamLogic" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>

<div id="title">&nbsp; Tokyo Mod</div>

<p><!-- you could put a subtitle in here if you wanted --></p>

<div id="header"><img src="logo.gif" alt="Tokyo Mod" /></div>

<div id="navcontainer">
<ul id="navlist">

<!-- put your navigation links and text here -->

<li><a href="#">Home</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Location</a></li>
<li><a href="#">Contact</a></li>
<li><a href="http://validator.w3.org/check?uri=referer">Xhtml</a></li>

<!-- end navigation -->

</ul>
</div>


<div id="container">

  <div id="center" class="column">
  <h2>Welcome</h2>
  <h3>About this Design</h3>
  <p>
 Tokyo, literally "eastern capital", is one of the 47 prefectures of Japan and includes the highly urbanized downtown area formerly known as the city of Tokyo which is the heart of the Greater Tokyo Area. Although not a single city, it is considered the capital of Japan since it is home to the Japanese government and emperor. About 12 million people, 10 percent of the country's population, live in Tokyo, while approximately 25 million people live in the entire Tokyo conurbation, making it effectively part of the most populated urban area on earth. 
  </p>
  
<h3>About the Designer</h3>
<p>
This template is released as an open source web design, which means that you are free to use it in any way you want, and edit it in any way you want to. We ask that you leave the "Web design by dreamLogic" link in the footer as a friendly gesture, we would appreciate it very much. But there are no obligations so go ahead if you really want to remove it.
</p>
<p>
dreamLogic has been creating custom web designs and applications for over 9 years. For more templates, web applications, and our portfolio, visit <a href="http://www.dream-logic.com">dreamLogic Web Design</a>. 
</p>
  </div>
  
  <div id="left" class="column">
<p>
Mod (or, to use its full name, Modernism or sometimes Modism) was a lifestyle based around fashion and music that developed in London, England in the late 1950s and reached its peak in the early to mid 1960s. People who followed this lifestyle were known as Mods, and were mainly to be found in Southern England.
</p>
<p>
Mods were obsessed with clothes and music, including Black American R&amp;B and Soul, Jamaican Ska, and Bluebeat and a select few British groups such as The Beatles, the Small Faces, the Kinks, The Spencer Davis Group and The Who.
</p>
<p>
Mods would gather at all-night clubs to show off their clothes and dance. They would typically choose motorscooters as their mode of transportation, either the Lambretta or the Vespa. These were sometimes adorned with many lights and mirrors and were intended to gain attention.
  </p>
  </div>
  <div id="right" class="column">
  <p>
  Fenqing are a special phenomenon after the "reform and opening up" of the Chinese government, during the period of fast economic development that occurred in China.
</p>
<p>
Some people may argue that fenqing are a natural reaction to recent neoconservatism in Japan and the United States. Fenqing and these foreign neo-conservative elements intensely dislike each other, but all of them share certain similarities: distrust of foreign powers, support for the military and boundary disputes, etc. However, fenqing are not quite the same as Chinese neoconservatives.
  </p>
  <p>See also: <a href="http://en.wikipedia.org/wiki/Fenqing">Wikipedia - Fenqing</a></p>
  </div>
</div>

<div id="footer"><a href="http://www.dream-logic.com">Web design by dreamLogic</a></div>

</body>
</html>