body {
  min-width: 630px;
  background:url(bg.gif) #CCFFCC;
  margin:0;
  font: 8pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif; 
}

A:link{ color:#64B143; text-decoration:none; }
A:hover{ color:#666666; text-decoration:underline; }
A:active{ color:#64B143; text-decoration:none; }
A:active:hover{ color:#666666; text-decoration:underline; }
A:visited{ color:#64B143; text-decoration:none; }
A:visited:hover{ color:#666666; text-decoration:underline; }

#title{
width:100%;
background:#FFFFFF;
border-bottom:#CCCCCC 1px solid;
padding:6px 0 0 0;
font-size:12px;
letter-spacing:1px;
text-transform:uppercase;
color:#000000;
}

#header{
background:#333333;
width:100%;
height:126px;
margin-left:0;
margin-right:0;
margin-bottom:0;
border-top:#CCCCCC 1px solid;
padding:0;
}

#navcontainer{
width:100%;
margin-top:-10px;
height:35px;
background:url(navbg.gif) repeat-x #FFFFFF top left;
padding-top:1px;
}

 #navcontainer ul
{
margin: 0px;
padding: 0px;
list-style-type: none;
text-align: center;
text-transform:uppercase;
}

#navcontainer ul li { float: left; }

#navcontainer ul li a
{
text-decoration: none;
background:transparent;
font-size: 10px;
float: left;
margin: 0px;
height: 26px;
width: 75px;
padding-top: 9px;
font-weight:bold;
padding-right: 15px;
padding-bottom: 0px;
padding-left: 10px;
}

#navcontainer li a:hover
{
background: url(navbg2.gif) repeat-x left top;
color: #666666;
}

h3{
font-size:16px;
font-weight:bold;
color:#64B143;
text-align:right;
text-transform:lowercase;
}

h2{
font-size:21px;
font-weight:bold;
color:#EE2083;
text-align:right;
text-transform:lowercase;
}

#container {
  padding-left: 200px; 
  padding-right: 190px;
  background:#FFFFFF;
}
#container .column {
  position: relative;
  float: left;
}
#center {
  padding: 10px 20px;    
  width: 100%;
  text-align:justify;
}
#left {
  width: 180px;       
  padding: 0 10px;      
  right: 240px;         
  margin-left: -100%;
  background:#FFFFFF;
  border-right:#CCCCCC 1px solid;
  text-align:justify;
  color:#777777;
}
#right {
  width: 130px;      
  padding: 0 10px;      
  margin-right: -190px;
  background:#FFFFFF;
  color:#777777;

}
#footer {
  clear: both;
  background:url(navbg2.gif) repeat-x #FFFFFF top left;
  height:26px;
text-align:center;
text-transform:lowercase;
font: 8pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
color:#333333;
padding:6px 0 0 0;
}

/*** IE Fix ***/
* html #left {
  left: 150px;           /* RC fullwidth */
}