<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
    <!--  <meta http-equiv="content-type" content="application/xhtml+xml; charset= iso-8859-9 " ></meta> -->
    <meta http-equiv="content-type" content="application/xhtml+xml; charset= UTF-8 " ></meta>      
    <!-- <meta http-equiv="content-type" content="application/xhtml+xml; charset= windows-1254 " ></meta> -->
    <meta name="author" content="volk!" ></meta>
    <meta name="design" content="volk! - uygundesign@gmail.com" ></meta>
    <!-- 2.Jan.2006 modified -->
    <meta name="description" content="studio photography gallery" ></meta>
    <meta name="keywords" content="photo photography studio gallery oswd volkan uygun" ></meta>
    <link rel="SHORTCUT ICON" href="favicon.ico"/> 
    <link rel="stylesheet" type="text/css" href="css/style.css" title="style" />
    <title>Studio Corner</title> 
  </head>

<body bcOrange1>
<div class="pageContainer"><!-- page container begin -->

	<div class="topMenu">
		<div class="leftToolLogo">
	 		<h1>STUDIO<span class="blueGrayD"> CORNER</span><br/>
	  	 	<a title="Homepage" href="index.html"><i>photography<span class="blueGrayL"> on your way</span></i></a></h1> 
			&nbsp;<br/>
			<!-- <a href="index.html"><img style="border:0px none;" alt="Logo" title="Goto Homepage" src="logo.gif" width="156" height="20" ></img></a><br/>
			<a><i><span class="blueGrayL">on your way</span></i></a> -->
		</div><!-- frmLogoLeft end -->

		<div class="topMenuImageFilm">
			<div class="topMenuImageThumb">
				<a href="index.html">
			        <img style="border:0px none;" alt="Gallery Image" title="Gallery" src="images/patara04.jpg" width="100" height="60" ></img></a>
       			</div><!-- topMenuImageThumb end -->
		</div><!-- topMenuImageFilm end -->

		<div class="topMenuImageFilm">
			<div class="topMenuImageThumb">
				<a href="index.html">
			        <img style="border:0px none;" alt="Products Image" title="Products" src="images/patara03.jpg" width="100" height="60" ></img></a>
       			</div><!-- topMenuImageThumb end -->
		</div><!-- topMenuImageFilm end -->

		<div class="topMenuImageFilm">
			<div class="topMenuImageThumb">
				<a href="index.html">
			        <img style="border:0px none;" alt="Services Image" title="Services" src="images/patara01.jpg" width="100" height="60" ></img></a>
			</div><!-- topMenuImageThumb end -->
		</div><!-- topMenuImageFilm end -->

		<div class="topMenuImageFilm">
			<div class="topMenuImageThumb">
				<a href="index.html">
			        <img style="border:0px none;" alt="Contact Image" title="Contact Us" src="images/patara02.jpg" width="100" height="60" ></img></a>
			</div><!-- topMenuImageThumb end -->
		</div><!-- topMenuImageFilm end -->

		<div class="rowTabs">
			<div class="rowTabsLeft">
				<span class="hide"> TAB BAR MENU </span>
				<a class="inactiveTab cMenuTextInactive imgRightTop" href="index.html"> Home </a><span class="hide"> | </span>			
				<a class="activeTab cMenuTextActive imgRightTop" href="index2.html"> Services </a><span class="hide"> | </span>
				<a class="inactiveTab cMenuTextInactive imgRightTop" href="index.html"> Products </a><span class="hide"> | </span>
				<a class="inactiveTab cMenuTextInactive imgRightTop" href="index.html"> Gallery  </a><span class="hide"> | </span>
			 	<a class="inactiveTab cMenuTextInactive imgRightTop" href="index.html"> About </a><span class="hide"> | </span>
				<a class="inactiveTab cMenuTextInactive imgRightTop" href="index.html"> Contact </a><span class="hide"> | </span>	
			</div><!-- rowTabsLeft end -->
			
			<div class="rowTabsRight">
				<a class="inactiveTab cMenuTextInactive imgLeftTop" href="index.html">
				<img style="border:0px none;padding-left:10px;" alt="" title="Türkçe" src="images/flag_tr2.gif" width="15" height="10" ></img> Türkçe </a><span class="hide"></span>			
				<a class="inactiveTab cMenuTextInactive imgLeftTop" href="index.html">
				<img style="border:0px none;padding-left:10px;" alt="" title="Deutsch" src="images/flag_de2.gif" width="15" height="10" ></img> Deutsch </a><span class="hide"></span> 
   			</div><!-- rowTabsRight end -->				
		</div><!-- rowTabs end -->									
    	</div><!-- topMenu end -->
	
	<div class="bodyContainer bcOrange1"><!-- body part begin -->
		<div class="bodyContainerBoxes"><!-- main body columns , here 2 main columns. -->
			<div class="verBox20 noBorderOnLeft">
				<div class="textBox bcGrey4 ">					
					<h2>We Open</h2>
					<h4>Mon-Tue-Wed-Fri<br/>
					<a>09:00am-17:00pm</a></h4>					
					<h4>Thursday<br/>
					<a>09:00am-19:00pm</a></h4>											
					<h4>Saturday<br/>
					<a>09:00am-13:00pm</a></h4>					
					<div class="more white">
						»<a href="index.html"><span class="white"> More</span></a><br/>
				        </div><!-- more end-->
				</div><!-- textBox end-->

				<div class="bodyContainerBoxes dividingBorderAbove">
				</div><!-- bodyContainerBoxes end -->

				<div class="textBox bcGrey3 ">					
					<h3>Gallery Menu</h3>									
					<ul>
						<li><a href="index.html" title="Click to Jump">Travel</a><span class="hide">1</span></li>		
						<li><a href="index.html" title="Click to Jump">Portrait</a><span class="hide">2</span></li>					
						<li><a href="index.html" title="Click to Jump">Nature</a><span class="hide">3</span></li>
					</ul>
				</div><!-- textBox end-->

				<div class="bodyContainerBoxes dividingBorderAbove">
				</div><!-- bodyContainerBoxes end -->
					
				<div class="textBox bcGrey2 ">					
					<h6>Links</h6>
					<h6>» <a href="#">W3C XHTML</a><br/>
					» <a href="#">W3C CSS</a></h6><br/>						
					<div class="more black">
						»<a href="index.html"><span class="black"> More</span></a><br/>
			        	</div><!-- more end-->
				</div><!-- textBox end-->							
			</div><!-- verBox20 left column of page end -->

			<div class="verBox80">
				<div class="verBox66 noBorderOnLeft">
					<div class="textBox bcOrange1">
						<b><span class="sunset">Wellcome</span></b><br/>
						<p>This page is third design after <a href="http://www.oswd.org/design/preview/id/1820">Calypso Gallery</a> and <a href="http://www.oswd.org/design/preview/id/2220">BlueNight</a> in <a href="http://www.oswd.org">OSWD</a>.
						It is again built by <acronym title="exTensible HyperText Markup Language">XHML</acronym> 1.0 Strict and <acronym title="Cascading Style Sheets">CSS</acronym> 2.0 rules. Page text code is <b>UTF-8</b>.<br/>
						&nbsp;<br/>
						The design has main two columns. Fixed left column (you can do more/less wide), resizable right column according to your browser's size.
						The interesting feature about this site is that it doesnt use any tables. Text boxes were made different size in css as a class.
		  				Organized and adequately formatted "DIV" tags are very useful! <br/>
						</p>					
						<div class="more sunset">
							»<a href="index.html"> More</a><br/>
			        			</div><!-- more end-->
					</div><!-- textBox end-->						
				</div><!-- verBox66 end -->

				<div class="verBox33">
					<b><span class="blueGrayL">Last Corner</span></b><br/>			
					<div class="textBox">
						<p>This design for corner shops...<br/> 
						Easy, simple, effective !<br/>
						&nbsp;<br/>
						Tested with <br/>
						» Firefox 1.0.7<br/>
						» IE 6.0</p>					
						<div class="more sunset">
							»<a href="#"> More</a><br/>
				        	</div><!-- more end-->
				        	&nbsp;<br/>
				        	&nbsp;<br/>
				        	&nbsp;<br/>			        						        			
					</div><!-- textBox end-->
				</div><!-- verBox33 end -->

				<div class="bodyContainerBoxes dividingBorderAbove">
				</div><!-- verBox33 end -->

				<div class="verBox50 noBorderOnLeft">
					<b><span class="blueGrayD">From Gallery</span></b><br/>			
					<div class="textBox">					
						<div class="imagePhoto">
							<a href="index.html">
				        		<img style="border:0px none;" alt="Patara" title="Patara, Antalya/Turkey" src="images/patara05.jpg"></img></a>			        							
						</div><!-- image end-->							
						<p><b>Patara</b><br/>
						Endless sand under your foots... thousand colours of red at sunset... meet with The Mediterranean.<br/>
						Feel it, see it, swim there.
						</p>
						<p><i>Photograph by Volkan Uygun</i></p>
						<div class="more sunset">
							»<a href="#"> More</a>
			        		</div><!-- more end-->
						</div><!-- textBox end-->
					</div><!-- verBox50 end -->
		
					<div class="verBox25">
						<b><span class="sunset">About Me</span></b><br/>
						<div class="textBox">
							<p>My name is Volkan, this is third design with 
							<acronym title="exTensible HyperText Markup Language">XHML 1.0</acronym> and <acronym title="Cascading Style Sheets">CSS</acronym>.		    				
							I hope you enjoy these designs, and use them in your projects.
							</p>					
							<div class="more sunset">
								»<a href="#"> More</a>
			        			</div><!-- more end-->
						</div><!-- textBox end-->
					</div><!-- verBox25 end -->	

					<div class="verBox25">
						<b><span class="sunset">Production</span></b><br/>
						<div class="textBox">
							<p>Visit my online pages;<br/>
							 <a href="http://www.uygunfotograf.com/">»Uygun Photography</a>,<br/>
		    				 	<a href="http://www.istanbulfotografkulubu.org/">»Istanbul Photography Club</a>,<br/>
		    				 	<a href="http://www.studyobeyaz.com/">»Studyo Beyaz</a>.
							</p>					
							<div class="more sunset">
								»<a href="#"> Contact</a>
			        			</div><!-- more end-->
							&nbsp;<br/>
		    				</div><!-- textBox end-->
					</div><!-- verBox25 end -->					

					<div class="bodyContainerBoxes dividingBorderAbove">
						&nbsp;<br/>
						<b><span class="sunset">&nbsp;&nbsp;&nbsp;Idea</span></b><br/>
					</div><!-- verBox33 end -->

					<div class="verBox25 noBorderOnLeft">
						<div class="textBox bcBlue1">
							<p><b>Andreas2</b><br/>
							  by Andreas<br/>
							  I used tab menu style from Andreas2. I add little background image at their corner on css. Thank you for sharing your designs.<br/>
							</p>					
							<div class="more sunset">
								»<a href="http://www.oswd.org/designs/search/designer/id/6205/"> More</a><br/>
								<!-- if do you want, you can add an image with followed codes --> 
								<!-- <a href="http://www.oswd.org/designs/search/designer/id/6205/">
				        		        <img style="border:0px none;" alt="Stüdyo Beyaz" title="Anasayfa" src="images/logo/SB_logo80x15.png" width="80" height="15" ></img></a> -->			        		
			        			</div><!-- more end-->
							&nbsp;<br/>
							&nbsp;<br/>
						</div><!-- textBox end-->
					</div><!-- verBox25 end -->

					<div class="verBox25">
						<div class="textBox bcYellow1">
							<p><b>Prosimii</b><br/>
							  by Haran<br/>
							  I used flexible column structure from Prosimii. You can choose different size like 25%, 50%, 33%, 66%. Thank you for sharing your designs.<br/>
							</p>					
							<div class="more sunset">
								»<a href="http://www.oswd.org/designs/search/designer/id/3013/"> More</a><br/>
			        			</div><!-- more end-->
							&nbsp;<br/>
						</div><!-- textBox end-->
					</div><!-- verBox25 end -->

					<div class="verBox25">
						<div class="textBox bcBlue1">
							<p><b>CalypsoGallery</b><br/>
							  by Volk!<br/>
							  My first design at OSWD. I used gallery structure of it on production.<br/>
							</p>					
							<div class="more sunset">
								»<a href="http://www.oswd.org/designs/search/designer/id/6290/"> More</a><br/>
			        			</div><!-- more end-->
							&nbsp;<br/>
  							&nbsp;<br/>
							&nbsp;<br/>
							&nbsp;<br/>					  
						</div><!-- textBox end-->
					</div><!-- verBox25 end -->


					<div class="verBox25">
						<div class="textBox bcYellow1">
							<p><b>Bluenight</b><br/>
							  by Volk!<br/>
							  My second design at OSWD. Fonts, colors etc. come from them.<br/>
							</p>					
							<div class="more sunset">
								»<a href="http://www.oswd.org/designs/search/designer/id/6290/"> More</a><br/>
			        			</div><!-- more end-->
							&nbsp;<br/>
  							&nbsp;<br/>
							&nbsp;<br/>
  							&nbsp;<br/>
							&nbsp;<br/>
						</div><!-- textBox end-->
					</div><!-- verBox25 end -->
			</div><!-- verBox80 end , main right column -->	
		</div><!-- bodyContainerBoxes end, main 2 columns -->

		<!-- subfooter of page begin -->
		<div class="bodyContainerBoxes dividingBorderAbove">
			&nbsp;<br/>
		  	&nbsp;<br/>
			<!-- banner code begin -->		
			<!-- <div class="banner">
					<a href="index.html">
                			<img style="border:0px none;" alt="Reserved For Your Banner" title="Banner Area" src="images/banner.gif" width="468" height="60" ></img></a>	
			     </div>--> 
			<!-- banner end -->

			<div class="pageCopyright">
				<a>.: No Copyright ©2006 Studio Corner :.</a>
			</div>	
		</div><!-- bodyContainerBoxes end -->
	</div><!-- bodyContainer end -->

	<div class="bottomMenu">
	   	<div class="subMenuLinks">
			<a href="index.html"> Homepage</a> |
			<a href="index.html"> Links</a> |
			<a href="index.html"> Site Map</a> | 
			<a href="index.html"> Copyright</a> |
			<a href="mailto:uygundesign@gmail.com"> Contact</a> 
		</div><!-- subMenuLinks end-->	
		<div class="subInfo">
			Design by:<a title="Designer: volk!" href="mailto:uygundesign@gmail.com"> UD</a> | 
			<a title="Other UD Designs" href="http://www.oswd.org/designs/search/designer/id/6290/">OSWD</a> |
			<a title="Check it!" href="http://validator.w3.org/check/referer"> Valid XHTML</a> |
			<a title="Check it!" href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a>
		</div><!-- subInfo end-->					
	</div><!-- bottomMenu end -->
	
</div><!-- page container end -->

</body>

</html>