<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<title>Blossoms</title>
<link href="main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div align="center" id="thebox">

<div id="logo">Cherry <em>Blossoms&nbsp;</em></div>


<div id="content">
	<div id="right">

	<h4>Links</h4>
	<a href="#">Sample Link</a><br/>
	<a href="http://www.oswd.org">OSWD</a><br/>
	
<br/>
		
<small>Design by <a href="http://www.kumi.co.nr">Kumiko</a></small>

</div>

<h2>Welcome to Blossoms</h2>
<h4>8 February 2006</h4>
<p>This is another template ^o^ coded in XHTML and CSS with no tables.</p>

<h2>Heading 2</h2>
<h4>8 February 2006</h4>
<p>If you want to use this template, send me a mail from <a href="http://www.kumi.co.nr">my website</a> because I will love to know that you liked it. 
<br/>
</p>

<a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0</a>

<br/><br/><br/><br/>
</div>


</div>

</body>
</html>
