
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>The Red King</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<div id="banner">
<p>The Red King</p>
</div>

<div id="headerbox">
   <div id="navcontainer">
<ul id="navlist">
<li><a href="#">HOME</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">DOWNLOADS</a></li>
<li><a href="#">PORTFOLIO</a></li>
<li><a href="#">OUR SERVICES</a></li>
<li><a href="#">CLIENTS</a></li>
<li><a href="#">HELP &amp; RESOURCES</a></li>
<li><a href="#">NEW PROJECTS</a></li>
<li><a href="#">CONTACT US</a></li>
</ul>

   </div>
</div>



<div id="container">
<div id="centerbox">
<b>About this Design</b>
<p>
Alice ponders what the world is like on the other side of a mirror, and to her surprise, is able to pass through to experience this world. She discovers a book with looking-glass poetry, "Jabberwocky", which she can only read by holding it up to a mirror. Upon leaving the house, she enters a garden, where the flowers speak to her and mistake her for a flower. There, Alice also meets the Red Queen, who offers a throne to Alice if she just moves to the eighth rank in a chess match. Alice is placed as the White Queen's pawn, and begins the game by taking a train to the fourth rank, since pawns in chess can move two spaces on the first move.
</p>
<p>
The following chapter details her meeting with Humpty Dumpty, who explains to her the meaning of "Jabberwocky", before his inevitable fall from the wall. This is followed by an encounter with the Lion and the Unicorn, who again proceed to act out a nursery rhyme. She is then rescued from the Red Knight by the White Knight, who many consider to be a representation of Lewis Carroll himself.
</p>
<p>
At this point, she reaches the eight rank and becomes a queen, and by capturing the Red Queen, puts the Red King (who has remained stationary throughout the book) into checkmate. She then awakes from her dream (if it was a dream), and blames her black kitten (the white kitten was wholly innocent) for the mischief caused by the story. The two kittens are the children of Dinah, Alice's cat in the first book.
</p>



<b>About the Designer</b>
<p>
This template is released as an open source web design, which means that you are free to use it in 
any way you want, and edit it in any way you want to. We ask that you leave the 
"Web design by dreamLogic" link in the footer as a friendly gesture, 
we would appreciate it very much. But there are no obligations so go ahead if you really want to remove it. 
</p>
<p>
dreamLogic has been creating custom web designs and applications for over 9 years. 
For more templates, web applications, and our portfolio, visit <a href="http://www.dream-logic.com">dreamLogic Web Design</a>.
</p>
</div>


<!-- RIGHT SIDEBAR -->
<div id="sidebox">
<br />

<div class="sideheader">&laquo; Jabberwocky</div>
<div class="sidebox2">
<p>
    'Twas brillig, and the slithy toves<br />
    Did gyre and gimble in the wabe;<br />
    All mimsy were the borogoves,<br />
    And the mome raths outgrabe.<br />
</p>
<p>
    'Beware the Jabberwock, my son!<br />
    The jaws that bite, the claws that catch!<br />
    Beware the Jubjub bird, and shun<br />
    The frumious Bandersnatch!'<br />
</p>
<p>
    He took his vorpal sword in hand:<br />
    Long time the manxome foe he sought-<br />
    So rested he by the Tumtum tree,<br />
    And stood awhile in thought.<br />
</p>
<p>
    And as in uffish thought he stood,<br />
    The Jabberwock, with eyes of flame,<br />
    Came whiffling through the tulgey wood,<br />
    And burbled as it came!<br />
</p>
<p>
    One, two! One, two! And through and through<br />
    The vorpal blade went snicker-snack!<br />
    He left it dead, and with its head<br />
    He went galumphing back.<br />
</p>
<p>
    'And hast thou slain the Jabberwock?<br />
    Come to my arms, my beamish boy!<br />
    O frabjous day! Callooh! Callay!'<br />
    He chortled in his joy.<br />
</p>
<p>
    'Twas brillig, and the slithy toves<br />
    Did gyre and gimble in the wabe;<br />
    All mimsy were the borogoves,<br />
    And the mome raths outgrabe. <br />
</p>
</div>

</div>

<!-- FOOTER BEGINS -->

<div id="footer">
<a href="#">HOME</a> &nbsp;&nbsp;&nbsp;
<a href="#">FAQ</a> &nbsp;&nbsp;&nbsp;
<a href="#">DOWNLOADS</a> &nbsp;&nbsp;&nbsp;
<a href="#">PORTFOLIO</a> &nbsp;&nbsp;&nbsp;
<a href="#">SERVICES</a> &nbsp;&nbsp;&nbsp;
<a href="#">CLIENTS</a> &nbsp;&nbsp;&nbsp;
<a href="#">RESOURCES</a> &nbsp;&nbsp;&nbsp;
<a href="#">PROJECTS</a> &nbsp;&nbsp;&nbsp;
<a href="#">CONTACT</a>
<br />
<a href="http://www.dream-logic.com">Web design by dreamLogic</a>.<br />
<a href="#">Privacy Policy</a>
</div>

</div>

</body>

</html>