<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>little home</title>
<style type="text/css" media="screen">@import url(style.css);</style>
</head>
<body>
<div id="thebox">  
<div id="headtag">  
<div id="logo">My<strong><em>little home</em></strong></div>
 <div id="nav">  <ul>        <li><a href="#">Home</a></li>   
 <li><a href="#">About Me</a></li>	   
 <li><a href="#">Contact</a></li>  
</ul>  </div></div> 
<div id="floatright">
<br/>
<form method="get" id="searchform" action="#">
<div><input type="text" value="" name="q" id="q" size="15" style="background-color:transparent"/>
<input type="submit" id="searchsubmit" value="Go" style="background-color:transparent;border:0px;cursor:pointer;cursor:hand;font-size:1.05em;font-style: normal;color:#819244" />
</div>
</form>			
<br/>	Archives<br/>
<a href="#">March 2006</a><br/>


<br/>	 
</div>  
<div id="content">
<h2><a href="#">Redesign of little home</a></h2>
<h4>3/15/2006 5:15:05 PM</h4>
<p>
I finished making the redesign of my first template little home because it was too narrow. ^^

<br/><br/></p>

<a href="#">6&nbsp;Comments</a><br/>


<h2><a href="#">Redesign of little home</a></h2>
<h4>3/15/2006 5:15:05 PM</h4>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
<br/>
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

<br/><br/></p>

<a href="#">0&nbsp;Comments</a><br/>


</div></div><br /><br />
<div id="foot">Design by <a href="http://www.kumi.co.nr">kumichan</a> | <a href="#">RSS</a></div>
<br/>
</body>
</html>
