/*
This is the redesign of kumiko's little home
*/


body {
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 11px;
	background-color: #F0EB6D;overflow-x:hidden;
}

#content a:link, a:visited, a:active {
	color: #66842E;
	text-decoration: none;
}
a:link, a:visited, a:active {
	color: #66842E;font-size:13px;
	text-decoration: none;
}
a:hover {
	color: #99A261;
	text-decoration: underline;
}

#content a:hover {
	text-decoration: underline;
	color: #D8D584;
}
#content a {
	text-decoration: none;
	color: #66842E;
}

#thebox {
	width: 65em;
	background-color: white;
	color: #666;
	border: 1px rgb(75,55,52) solid;
	margin: 10px auto 0px auto;
	padding: 0px 20px 0 20px
}

#logo { 
	text-align: center;
	width: 290px;
	margin: 0px 5px 20px -25px;
	padding: 50px 10px 5px 10px;
	color: #FFFEEC;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-weight: normal;
	font-size: 22px;
	letter-spacing: 4px;
	
}
#headtag{
	background: url('header.jpg') no-repeat;
	height:250px;
}
#logo strong{
	color:#FDFBC4;letter-spacing: 1px;margin-left:5px;font-size:22px;
}

#nav {	text-align:right;
	width: 455px;
	margin: -65px 0px 50px 100px;
	padding: 0px 0px 0px 0px;
	color: #999;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-weight: normal;
	font-size: 18px;letter-spacing: 2px;
}

#nav li {
	list-style: none;
	display: inline;
	margin-right: 10px;
}

#nav a {
	
	font-size: 18px;
	font-weight: normal;
	color: #FDFBC4;
	text-decoration: none;margin-left:10px;
}

#nav a:hover {
	color: #ADAE6A;
	text-decoration: none;
}

#content p{
margin-right:130px;
}

#floatright{font-size:16px;
float:right;
border-left:dashed 1px #99A261;
}

#content {
	color: #666;
	font-family:Trebuchet MS, Arial, Helvetica;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 10px 10px;font-size:15px;
}

#content h1,h2 {

font-size: 16px;
text-decoration: none;
	font-family:Trebuchet MS, Arial, Helvetica;
	color: #88994B;
}

#content h1,h2 a:link, a:visited, a:active {
	color: #C3C07A;
	font-family:Trebuchet MS, Arial, Helvetica;
	
	font-weight: normal;
font-size: 16px;

}

#content h1,h2 a:hover {
	text-decoration: underline;
	font-family:Trebuchet MS, Arial, Helvetica;
	color: #E8E484;
}

#content h3,h4 { 
font-size: 15px;
letter-spacing: 3px;
font-weight: normal;
}

#foot {

text-align: center;
color: #555;
}