<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<title>::Delzep Enterprise::</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="estilos.css" type="text/css" />
</head>

<body>

<div id="encabezado">DELZEP ENTERPRISE  </div>


<div id="menuprinc">
  <div id="tabs">
  <ul>
    <li><a href="#" title="Home"><span>Home</span></a></li>
    <li><a href="#" title="Obras"><span>Galery</span></a></li>
    <li><a href="#" title="Bio"><span>Another option</span></a></li>
    <li><a href="#" title="Curriculo"><span>One more</span></a></li>
    <li><a href="#" title="Contactos"><span>Last one</span></a></li>
  </ul>
</div>
</div>

<div id="leftside">
            <h2>NEWS</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ligula lorem, consequat eget, tristique nec, auctor quis, purus. Vivamus ut sem. Fusce aliquam nunc vitae purus. Aenean viverra malesuada libero <a href="#"> ...more</a></p>
            <p>&nbsp;</p>
            <h2>REVIEWS</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ligula lorem, consequat eget, tristique nec, auctor quis, purus. Vivamus ut sem. Fusce aliquam nunc vitae purus. Aenean viverra malesuada libero<a href="#"> ...more</a></p>
</div>

<div id="descrimg">

  <p><img src="img/statue.jpg" alt="Pereira City Statue" width="200" height="290"></img></p>
  <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
  <p>Lorem ipsum dolor sit</p>
</div>

<div id="content">
    <h1>Delzep Enterprise.</h1>
    <p>Welcome to Delzep enterprise, feel free to use this template as you want, just consider to include the &quot;design by Delzep &quot; text in your project . This is my first page in OSWD. I used the menu by <a href="http://www.exploding-boy.com/">exploding-boy</a>. </p>
    <p>This template was tested in IE6 and Firefox 1.5. and work very good. This Page Is  HTML 4.01 Transitional and  CSS valid according to the <a href="http://validator.w3.org/">w3c</a></p>
	<h2>Morbi consequat felis.</h2>
    <p>Suspendisse neque arcu, ultrices commodo, pellentesque sit amet, ultricies ut, ipsum. Mauris et eros eget erat dapibus mollis. Mauris <a href="#">laoreet posuere odoi</a>. Nam ipsum ligula, ullamcorper eu, fringilla at, lacinia ut, augue. Nullam nunc.</p>
    <p>Suspendisse neque arcu, ultrices commodo, pellentesque sit amet, ultricies ut, ipsum. Mauris et eros eget erat dapibus mollis. Mauris laoreet posuere odoi. Nam ipsum ligula, ullamcorper eu, fringilla at, lacinia ut, augue. Nullam nunc.</p>
</div>


<div id="footer">
Copyright &copy; 2005 (_your name_). Design by <a href="http://henryrios.unlugar.com">Delzep</a>. 
</div>
</body>
</html>
