<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<title>Hijau Adem Template..</title>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="images/style.css" />
</head>

<body>
			
	<div id="container">
					
		<div id="header">
			<h1><a href="#">Hijau Adem Template</a></h1>
			<h2>[ Hijau Adem Template Description... ]</h2>
			
		</div>
		
		<div id="navigasi">
			<a href="#">Home</a>
			<a href="#">First Level</a>
			<a href="#">Second Level</a>
			<a href="#">Third Level</a>
		</div>

		<!-- Left Coloumn -->
		<div id="left">
		<h3>Lates News</h3>
		<p>
		Here you can put your latest news, latest activity
		about your <a href="#">Company</a>.
		</p>
		
		<h3>Links</h3>
		<ul>
		<li><a href="http://www.oswd.org/user/profile/id/8382/">My Oswd Profile!</a></li>
		<li><a href="http://www.oswd.org">OSWD!</a></li>
		<li><a href="http://kodokhunt.blogsome.com">Unknown.ZOne!</a></li>
		<li><a href="#">Lorem Ipsum!</a></li>
		</ul>
		</div>

		<!-- Right Coloumn -->
		<div id="right">
		<div id="box">
			<form action="" />
			<input name="searchQuery" class="text" type="text" />
			<input type="submit" value="Search" name="B1" class="button" />
		</div>
		<h3>Lorem Ipsum</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
		nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</p>
		
		<h3>Lorem Ipsum</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
		nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</p>
		
		<h3>Links</h3>
		<ul>
		<li><a href="http://www.oswd.org/user/profile/id/8382/">My Oswd Profile!</a></li>
		<li><a href="http://www.oswd.org">OSWD!</a></li>
		<li><a href="http://kodokhunt.blogsome.com">Unknown.ZOne!</a></li>
		<li><a href="#">Lorem Ipsum!</a></li>
		</ul>
		</div>

		<!-- Content Start -->
		<div id="content">
			<h2><a href="#">Hijau Adem Template</a></h2>
			<p>This design is used for Personal Website, Community, Bussiness Website, or Wat Eper lah.
			You are free to use this template, <br />No link back to me 0r copyright notice is required.<br />
			Any Comment, or anything else just feel free to <a href="#">quote</a></p>
			
			<p>Best Regards<br /><a href="http://kodokhunt.blogsome.com">kodokhunt</a></p>
			
			<h2><a href="#">Lorem Ipsum</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut 
			wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
			lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure 
			dolor in hendrerit in vulputate velit esse molestie consequat.</p>
			
			<p><a href="#">more..</a><br />
			Posted by: <a href="http://kodokhunt.blogsome.com">kodokhunt</a> | Posted on: January 22th, 2006</p>

			<h2><a href="#">Lorem ipsum</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut 
			wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
			lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure 
			dolor in hendrerit in vulputate velit esse molestie consequat.</p>
			
			<p><a href="#">more..</a><br />
			Posted by: <a href="http://kodokhunt.blogsome.com">kodokhunt</a> | Posted on: January 22th, 2006</p>
		</div>

	<!-- footer start -->
	<div id="footer">
		Copyright &copy; 2006 <a href="#">YourCompanyName</a><br />Made by <a href="mailto:hendraw4n@gmail.com">Kodokhunt</a> | 
		<a href="http://kodokhunt.blogsome.com">UnknoWN.Zone</a> 
	</div>
	
</div>
</body>
</html>