<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Simplex 2</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Simplex webtemplate"/>
    <meta name="keywords" content="one,two,three"/>
    <meta name="author" content="Ganesh Gunasegaran(ganesh.guna@gmail.com)"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>

<body>
  <div id="main">

    <div id="topmenu">
      <a href="">home</a><a href="">products</a><a href="">services</a><a href="">support</a><a href="">about us</a>
    </div>

    <div id="header">
      <span class="title">sim<span class="darktitle">plex</span> 2</span><br/>
    </div>

  <div id="lefty">
    <div class="menu">
      <a href="#">News Archive</a>
      <a href="#">Press Release</a>
      <a href="#">Disclaimer</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
  
  <div id="righty">
    <div class="menu">
      <a href="#">Sub link one</a>
      <a href="#">Sub link two</a>
      <a href="#">Sub link three</a>
      <a href="#">Sub link four</a>
    </div>
    <p>
    	username<br/>
    	<input type="text"></input>
	password<br/>
	<input type="text"></input><br/>
	<input type="submit" class="but" value="login"></input><br/>
    </p>
  </div>
  
    <div id="content">
      <div id="breadcrumb">
       <a href="">home</a> &gt; <a href="">products</a> &gt; <a href="">one</a>
      </div>
      <div id="block">
		 This design is nothing but a dirty 3 column extension to my previous design "Simplex". For comments, be it a bouquet or a brickbat, shoot me a mail at <a href="mailto:gg@sprout.in">gg@sprout.in</a>,.
	  </div> 

      <h3>Heading area</h3>
	  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin eu est ut mi ornare placerat. Suspendisse felis odio, elementum non, blandit vel, auctor eget, nunc. Fusce convallis dignissim odio. Phasellus commodo egestas felis. Praesent eu sem at mi tempus egestas. Donec mollis. Morbi in lectus id magna dictum eleifend. Morbi vel diam quis sapien sollicitudin lacinia. 

      <h3>Heading area</h3>

	Vivamus tortor neque, ultricies vel, dignissim nec, porttitor pulvinar, wisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ipsum nibh, nonummy sit amet, gravida et, ultrices at, wisi. Pellentesque iaculis auctor risus. Vivamus tortor neque, ultricies vel, dignissim nec, porttitor pulvinar, wisi.
	

      <h3>Heading areal</h3>
	  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin eu est ut mi ornare placerat. Suspendisse felis odio, elementum non, blandit vel, auctor eget, nunc. Fusce convallis dignissim odio. Phasellus commodo egestas felis. Praesent eu sem at mi tempus egestas. Donec mollis. Morbi in lectus id magna dictum eleifend. Morbi vel diam quis sapien sollicitudin lacinia. <br/><br/>

	  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin eu est ut mi ornare placerat. Suspendisse felis odio, elementum non, blandit vel, auctor eget, nunc. Fusce convallis dignissim odio. Phasellus commodo egestas felis. Praesent eu sem at mi tempus egestas. Donec mollis. Morbi in lectus id magna dictum eleifend. Morbi vel diam quis sapien sollicitudin lacinia.
		 
     <h3>Heading area</h3>

      Vivamus tortor neque, ultricies vel, dignissim nec, porttitor pulvinar, wisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ipsum ni
      <div id="footer">
       &copy; 2005 Your Company. Design by <a href="http://www.sprout.in">Ganesh Gunasegaran</a>
      </div>
    </div>


</div>

</body>
</html>
