/* GENERAL STYLES */

body {
 background-color: #000;
 font-family: Verdana, Arial, sans-serif; 
 text-align: left; 
}

p {
 margin: 5px; padding: 5px;
 font-size: 0.6em;
 line-height: 1.4em;
 font-weight: normal;
 color: #bbb;
}

h1 {
 margin: 5px; padding: 5px;
 font-size: 0.7em;
 line-height: 1.4em;
 font-style: bold;
 color: #eee;
 text-transform: uppercase;
}


h2 {
 margin: 5px; padding: 5px;
 font-size: 0.7em; 
 font-weight: bold; 
 font-style: normal;
 line-height: 1.4em;
 color: rgb(210, 10, 30);
}

ul {
 margin-top:0;
 margin-bottom:1em;
 line-height:1.8;
}

ul li {
  margin: 0 0 0 10px; padding: 0;
  font-size: 0.7em;
  line-height: 1.6em;
  font-weight: normal;
  color: #666;
}

a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #ffcc00;
}

a:hover, a:active {
  font-weight: bold;
  text-decoration: none;
  color: #ccc;
}

acronym { 
  border-bottom: 1px dotted #777; 
}

/* DIV'S  USED ON THE LAYOUT */

/* CONTAINER */

#content {  
 margin: 0 auto 0 auto; 
 margin-top: 15px; 
 width: 770px; 
 background-color: #1f1f1f;  
 border: 1px solid #222222; 
}

/* HEADER */

#header {
 margin-left: auto;
 margin-right: auto;
 margin-top: 3.0em;
 margin-bottom: 3.0em;
 border-bottom: 1px dashed #888;
 z-index: 1;
}
           
#header ul {
 list-style-type: none;
 text-align: center;
 margin-top: -0.9em;
 padding: 0;
 position: relative;
}
      
#header li {
 display: inline;
 text-align: center;
}
    
#header li a {
 padding: 1px 7px;
 color: #ff0000;
 background-color: #fff;
 border: 2px solid #cc3300;
 text-decoration: none;
 font-weight: bold;
 text-transform: uppercase;
}
      
#header li a:hover {
 color: #ff0000;
 border: 3px solid #ff0000;
}

/* LEFTSIDE */

#left { 
 float: left; 
 margin: 0; 
 padding: 0; 
 width: 225px; 
}

#left p {
 color: #333;
}

div.leftbox {
 margin: 0 10px 10px 10px; 
 padding: 0;
 background-color: #ffcc00;
}

/* RIGHTSIDE */

#cright { 
 float: left; 
 margin: 0; 
 padding: 5px; 
 width: 500px; 
}

#cright p {
 margin: 5px; padding: 5px;
 font-size: 0.7em;
 line-height: 1.4em;
 font-weight: normal;
 color: #bbb;
}
 
/* FOOTER */

#footer { 
 clear:both;
 padding-top: 10px auto 0 auto; 
 padding-bottom: 5px; 
 width: 770px; 
 border-top: 1px dashed #888;
}

#footer p {
 text-align: center;
}