<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<link rel="stylesheet" type="text/css" href="css.css" />

    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <meta name="robots" content="noarchive" />

<title>TaxiDriver by noarch</title>    

</head>

<body>

    <!-- Top menu -->
    <div id="header">
      <ul>
        <li><a href="index.html" id="current">home</a></li>
        <li><a href="index.html">work</a></li>
        <li><a href="index.html">misc</a></li>
        <li><a href="index.html">links</a></li>
        <li><a href="index.html">contact</a></li>
      </ul>
    </div>

    <div id="content">

    <!-- Left boxes -->
     <div id="left">
	<div class="leftbox">  
	  <h2>A Box</h2>
	  <p>You can insert any text here</p>
	</div>
	<div class="leftbox">
	  <h2>Another box</h2>
	  <p>Maybe an image here?</p>
	</div>
	<div class="leftbox">
	  <h2>Box #3</h2>
	  <p>I hate Lorem Impsum!</p>
	</div>
    </div>

    <div id="cright">

<h1>Why did I build this template?</h1>
<p>
This is my <strong>first</strong> OSWD submission. I'm an HTML programmer from a long time ago. I've heard something about the advantages of the CSS and the design without tables. So, the only way to learn is building a template!
</p>

<h1>How I finished it:</h1>
<p>
I was looking for inspiration watching a few <acronym title="Open Source Web Design">OSWD</acronym> designs. After building my XHTML code, I mixed and modify two stylesheets. Then I rewrite the <acronym title="Cascade Style Sheet">CSS</acronym> file by myself, and you are watching the final result!. I also validated this design at the <a href="http://validator.w3.org/">W3C validator</a>.
</p>

<h1> Who am I?</h1>
<p>
My name is Cristobal Castillo, I'm from Rancagua, a small city in Chile. I'm studying Computer-Science Engineering at the <acronym title="Universidad Tecnica Federico Santa Maria">UTFSM</acronym>, one of the best technical Universities in Southamerica.
</p>

    </div>

    <div id="footer">
    <p>
  Designed by <a href="http://www.alumnos.utfsm.cl/~cristobal.castillo">Cristobal    Castillo</a> for <acronym title="Open Source Web Design">OSWD.org</acronym><br />
  Please<a href="mailto:noarch@gmail.com"><acronym title="Send me an email!"> tell me</acronym></a> if you wanna use this template!<br />
  © 2005<br />
    </p>
    </div>

    </div>
</body>
</html>