<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<title>Basic - Blue by BlogIreland.ie</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta content="blogireland.ie" name="Author" />
<meta content="2006blogireland.ie" name="Copyright" />
<meta content="blogireland.ie" name="Designer" />
<meta content="General" name="Rating" />
<meta content="index,follow" name="Robots" />
<meta content="30" name="revisit-after" />
<meta content=" Insert your site description here" name="description" />
<meta content="Insert your site keywords here" name="keywords" />

<link rel="stylesheet" href="css/home.css" type="text/css" />

</head>
<body id="body">

<!-- pagecell1 -->
<div id="pagecell1">

<div id="masthead">
<p style="text-align: center;"><img src="images/stock-insert.jpg" alt="" height="62" width="702" /></p>
</div>

    <div id="globalNav">
| <a href="index.html">Home</a> | <a href="#">About Us</a> | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a> |
  </div> 


 <br /><br /><hr />
<div id="content">
<div><br /></div><br />
<div>
<p>I originally developed this template from an adapted Dreamweaver 6.0 template. 
You'll need to change images for your own and css is easy enough to change height-width changes if required. 
Feel free to use but like I say in the readme file, I would like to know where it is :).
I variate the color in this for hosting basic sites. Mostly css work - image changes. 
I also have a variation I'm currently working on that has an imbedded side nav bar. That should be ready soon.
I'll upload it a copy of that when it is done.</p></div>
</div>
<hr />
<div id="siteInfo">
  <p><a href="#">Link</a>  | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a> |</p>
</div>
<img id="trb" alt="" src="images/trb.jpg" height="6" width="6" /><img id="tla" alt="" src="images/tla.jpg" height="6" width="6" />
</div>
<!-- end content -->
<div><br /></div> 
<div>
<h6> &copy; BlogIreland.ie 2006 All Rights Reserved. <a href="http://www.blogireland.ie/">Design by: Blogireland.ie</a></h6>
</div> 
<div><br /></div>

</body>
</html>