<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>your site .com</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
<body>
<div id="container">
	<div id="nav">
			<a href="#">Home</a>
			<a href="#">Portfolio</a>
			<a href="#">About Me</a>
			<a href="#">Contact</a>
	</div>
	<div id="main">
		<img src="images/main.jpg" alt="The Eye" />
	</div>
	<div id="news">
		<p>insert news here insert news here insert news here insert news here insert news here </p>
		<p>insert news here insert news here insert news here insert news here insert news here </p>
		<p>insert news here insert news here insert news here insert news here insert news here </p>
	</div>
	<div id="content">
		<h2>Welcome</h2>
		<p>Here's another one of my submissions to OSWD, i have also included an image for bulleted lists as shown below. </p>
			<ul>
				<li>bullet 1</li>
				<li>bullet 2</li>
				<li>bullet 3</li>
				<li>bullet 4</li>
			</ul>
		<blockquote><p>This is a blockquote, style has been defined in the CSS file. They can be easily added to your site by just using the &lt;blockquote&gt; &lt;/blockquote&gt;  tags. </p></blockquote>
		<h2>Other designs</h2>
		<p>Be sure to checkout my other designs on <a href="http://www.oswd.org">OSWD</a> by clicking <a href="http://www.oswd.org/designs/search/designer/id/8562/">here</a>.</p>
	</div>
	<div id="footer">
		<p>&copy; Copyright 2006 | By <a href="mailto:ray.gerrard@ntlworld.com">Ray Gerrard</a></p>
	</div>
</div>
</body>
</html>
