<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
		<title> mementum | foreveremember </title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Graveyard Online to remember people forever." />
		<meta name="keywords" content="graveyard, dead, remember, religion, spirituality, grave, 
		online grave, online graveyard" />
		<meta name="author" content="Tommaso Beccuti" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body id="body">
<div id="page">
<table><tr><td>
	<div id="header">
	  <div class="toplinks"><a href="#" title="link">link A</a> | <a href="#" title="link">link B</a> | <a href="#" title="link">link C</a></div>
	</div>
	<div id="logo"><a href="#" title="Logo Image">Your Title Here</a></div>
	<div id="hmenu">
		<div class="menuitem"><a href="#" title="Test Link Menu">Test Link Menu</a></div>
		<div class="menuitem"><a href="#" title="Test Link Menu2">Test Link Menu2</a></div>
		<div class="menuitem"><a href="#" title="Test Link Menu3">Test Link Menu3</a></div>
		<div class="menuitem"><a href="#" title="Test Link Menu4">Test Link Menu4</a></div>
		<div class="menuitem"><a href="#" title="Test Link Menu5">Test Link Menu5</a></div>

	</div>
	<div id="content">
		<div class="contenttitle"><a href="#" title="Permalink">Contextual Title</a></div>
		<br/>
		<div class="node">
			<div class="inline"><img src="css/img/noimage.gif" alt="noimage" title="Image" /></div>
			<a href="#"  title="Link">Lorem Ipsum</a> dolor sit amet. 
			Lorem ipsum dolor sit amet consectetuer Sed Morbi dui lacinia nunc. Lobortis et Lorem
			wisi Vestibulum suscipit a orci dolor neque sem. Semper consequat et pede pellentesque
			semper felis purus vel parturient risus. Wisi mauris leo vitae a est laoreet id quis
			tincidunt neque. Cursus congue tincidunt aliquam wisi condimentum elit interdum
			volutpat ipsum Aenean. Et pede ridiculus Sed Curabitur.<br/>Lorem ipsum dolor sit amet consectetuer Sed Morbi dui lacinia nunc. Lobortis et Lorem
			wisi Vestibulum suscipit a orci dolor neque sem. Semper consequat et pede pellentesque
			semper felis purus vel parturient risus. Wisi mauris leo vitae a est laoreet id quis
			tincidunt neque. Cursus congue tincidunt aliquam wisi condimentum elit interdum
			volutpat ipsum Aenean. Et pede ridiculus Sed Curabitur.
		</div>
		<br />
				<div class="contenttitle"><a href="#" title="Permalink">Contextual Title</a></div>
		<br/>
		<div class="node"><a href="#" title="Link">Lorem Ipsum</a> dolor sit amet. 
				Lorem ipsum dolor sit amet consectetuer Sed Morbi dui lacinia nunc. Lobortis et Lorem
				wisi Vestibulum suscipit a orci dolor neque sem. Semper consequat et pede pellentesque
				semper felis purus vel parturient risus. Wisi mauris leo vitae a est laoreet id quis
				tincidunt neque. Cursus congue tincidunt aliquam wisi condimentum elit interdum
				volutpat ipsum Aenean. Et pede ridiculus Sed Curabitur.
		</div>
<!--Creative Commons License-->
<br/>
<div class="footer">
This work is sponsored by <a href="http://www.vdu.it">Vdu &trade;</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/2.5/">&nbsp;&nbsp;&nbsp;<img alt="Creative Commons License" style="vertical-align: middle;" src="css/img/cc.png" title="Creative Commons Attribution-NoDerivs 2.5 License"/>&nbsp;&nbsp;&nbsp;</a> |&nbsp;&nbsp;&nbsp; <a>&copy;&copy; Tommaso Beccuti</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://validator.w3.org/check?uri=referer">Valid Xhtml 1.0 Strict</a> </div><!--/Creative Commons License--><!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
		<Work rdf:about="">
			<license rdf:resource="http://creativecommons.org/licenses/by-nd/2.5/" />
	<dc:title>Purple Cow Template</dc:title>
	<dc:date>2006</dc:date>
	<dc:description>Web Template Open Source
</dc:description>
	<dc:creator><Agent><dc:title>Tommaso Beccuti</dc:title></Agent></dc:creator>
	<dc:rights><Agent><dc:title>Vdu Snc</dc:title></Agent></dc:rights>
	<dc:type rdf:resource="http://purl.org/dc/dcmitype/InteractiveResource" />
		</Work>
		<License rdf:about="http://creativecommons.org/licenses/by-nd/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/></License></rdf:RDF> -->
	</div>

</td></tr></table>
</div>

</body>
</html>
