<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>
Sylvester D'souza
</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body >
	
		<div class="main">
			<div class="header">
				<div class="headsmall">Last Update: 22nd March 2006</div>
			<br/>-- &gt; Sylvester D'souza &lt; --<br/>
			<div class="headsmall">Progress is impossible without change,<br/> and those who cannot change their
minds cannot change anything.
		-- G.B. Shaw</div>
			</div>
			<div class="navbar">
			<ul>
		        <li><a href="#">Menu &gt;&gt;&gt;</a></li>
        		<li><a href="index.html">Home</a></li>
			<li><a href="#">About Me</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Resume</a></li>
		        </ul>
			</div>
			<div class="centerblock">
				<div class="content"><br/>
					<div class="contenthead">Greetings Weblings!!!</div>
					<div class="contentblock"><p>This is a jus lil website intended to provide me with an online platform to reach out to d zillions of people out there...</p><p> The best part about this whole experience of making this website is that for the first time i built everything from scratch, using only a text editor (Gedit) and no grahical tools....</p><p>I am seriously begining to like css...</p><p>The theme is inspired by a free template from <a href="http://www.oswd.org">open source webdesign</a> by MontrezVosSeins. Its comletely rebuilt from scratch using css instead of HTML Tables...</p>
					</div>
				</div>
				<div class="sidebar">
					<div class="sideblockhead">::Vital Stats::</div>
					<div class="sideblock">Name: Sylvester</div>
					<div class="sideblock">Location: Goa,India</div>
					<div class="sideblock">Born: 21 March 1979</div>
					<div class="sideblock">Mood: Freaked!!</div><br/>
					<div class="sideblockhead">::System::</div>
					<div class="sideblock">MB:Mercury 810E2</div>
					<div class="sideblock">CPU:Celeron 1.2Gig</div>
					<div class="sideblock">RAM:SD 256Mb </div>
					<div class="sideblock">OS: Mandriva 2006</div><br/>
					<div class="sideblockhead">::Quick Links::</div>
					<div class="sideblock"><a href="http://sylvesterdsouza.deviantart.com">Deviant Art</a></div>
					<div class="sideblock"><a href="#">Hi-5</a></div>
					<div class="sideblock"><a href="#">zzz</a></div>
					<div class="sideblock"><a href="mailto:sylvesterdsouza@rediffmail.com">E-mail Me</a></div>
				</div>
			</div>
			<div class="footer">
			&copy; Copyright 2006
			 <a href="mailto:sylvesterdsouza@rediffmail.com">
			--&gt;Sylvester&lt;--
			</a>
			</div>
		</div>
	
</body>
</html>
