<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Syncostyle</title>
</head>

<body>
<div id="all">

<div id="head">
	<div id="hlinks"><a href="#">home</a><a href="#">articles</a><a href="#">links</a><a href="#">contact</a><a href="#">message<span class="grn">board</span></a><a href="#">get<span class="grn">Synced</span>!</a></div>
</div>

<div id="right">
	<h3>About<span class="grn">Me</span></h3>
	<div id="about">
		<div style="float: right; width: 70px; height: 100px; border: 1px solid #000; background-color: #F0F0F0; margin: 0 0 3px 3px;">Image Placeholder</div>
		My name is <strong>John Doe</strong>, and I live in Ireland. I'm 95 years old, and this blog is about my fascinating social life - from club to club, night to night, you'll read it all here.<br /><br />
		There's never a dull moment in my life, and though I may need 14 hours sleep a day, it doesn't stop me from having fun!
	</div>
	<h3>Read<span class="grn">This</span></h3>
	<div class="rbox">
		<h5>Man Loses Toe</h5>
		A man lost his toe this morning after waking up and realising that his left foot was short a toe. "I remember it bein' there liek before I went to sleep y'know bud?" Tony Toze, aged 19, commented. The search continues. (Google)
	</div>
	<div class="rbox">
		<h5>Toe Loses Man</h5>
		A toe lost its owner this morning after waking up and realising that he was detached from Tony Toze's (19) left foot. "I remember being there before I went to sleep," the toe commented. The search continues. (G News)
	</div>
	<h3>Cool<span class="grn">Sites</span></h3>
	<div class="rbox">
		<a href="http://my.opera.com/tetzcatlipoca/">Syncostyle Designer's Blog</a> <br />
		<a href="http://www.oswd.org">Open Source Web Design</a> <br />
		<a href="http://www.opera.com">Opera - The Best Browser Ever</a> <br />
	</div>

</div>

<div id="main">
	<a class="read" href="#">This is Syncostyle</a>
	<div class="posted">Posted 31st December 2005 at 5:14PM - 0 Comments - 2 Reads</div>
	<div class="cont">
		<p>It's synchronised. It's stylish. It's Syncostyle.</p>
		<p>Well, at least that's the idea. I tried to keep it plain. Plain is good. Pure white (almost). The layout is pretty clean, maybe for a simple blog site. The only image is the header, which is just there for added style ... ;-)</p>
		<p>Now the code side... it works in <a href="http://www.opera.com">Opera</a>, <a href="http://www.firefox.com">Firefox</a>, and IE. It's valid XHTML 1.0 Transitional, and almost valid CSS. There is one error because of "overflow-x", but that's needed for IE, so not much can be done about it. It is totally CSS and div based, with tables banished to the nether regions.</p>
		<p>If you use it on your site, please <strong><a href="mailto:g.moroney@gmail.com">email me</a></strong>, and tell me the site it's being used on ... I like to know who's using my designs. And don't remove the "Designed By" part in the footer. Feel free to use the design as you wish, just don't remove the footer line, or take credit for my work... that's all. I don't want to sound too mean... ^_^</p>
	</div>
	
	<a class="read" href="#">Lorem Ipsum</a>
	<div class="posted">Posted 31st December 2005 at 5:10PM - 0 Comments - 0 Reads</div>
	<div class="cont">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis fermentum. Vestibulum quam massa, viverra consectetuer, imperdiet nec, lacinia ut, enim. Ut non pede ac ipsum sollicitudin accumsan. Duis quam metus, sollicitudin eget, scelerisque feugiat, hendrerit ut, orci. Phasellus imperdiet convallis odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Cras accumsan, ante nec vehicula pretium, pede sem dapibus ipsum, quis iaculis nibh lectus sed dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse convallis massa et felis. Donec nonummy volutpat urna. </p>
		<p>Fusce tristique dignissim mauris. Suspendisse rutrum imperdiet turpis. Duis viverra. Aliquam erat volutpat. Vivamus a nisl ut dui rutrum faucibus. Sed nec justo. Proin lacus turpis, volutpat sit amet, imperdiet ut, placerat vel, orci. Praesent mauris. Vivamus et diam. Donec convallis metus vitae diam. Proin tristique tellus non ligula. Integer nisl. Suspendisse scelerisque velit sagittis enim. </p>
	</div>
</div>
</div>
<div id="foot">
Syncostyle Design by <a href="http://my.opera.com/tetzcatlipoca">Gearóid Moroney</a> | <a href="mailto:g.moroney@gmail.com">Email</a> | <a href="http://validator.w3.org/check?uri=referer">XHTML</a> <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | Content &copy; 2006 Site
</div>

</body>
</html>
