<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
    <title>blue circles</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />

<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div id="wrap"><div id="sidebar">
 <div id="navcontainer">
<ul id="navlist">
<li id="active"><a href="#" id="current">home</a></li>
<li><a href="#">news</a></li>
<li><a href="#">gallery</a></li>
<li><a href="#">blog</a></li>
<li><a href="#">links</a></li>
</ul>
</div><!-- End of "navcontainer" div -->
</div><!-- End of "sidebar" div -->
<div id="container">
<div id="top"><h1>orange and green</h1>
</div> <!-- End of "top" div -->
<div id="content_one">
<p>This is a simple template, suitable for a variety of uses. It is created using validated xhtml and css 
with no tables. The code is clear and both the xhtml and css is notated for easy adaptation.</p>
<p>The template was designed by me, <a class="midtext" href="http://www.robdrummond.co.uk">Rob Drummond</a>. I'm a freelance web-designer working in the 
North West of England. If you are interested in a bespoke design, or if you just need some help adapting 
this one, just let me know. If you intend to use this template as it is, I'd ask you to leave the small link to 
me at the bottom if possible. Obviously you don't have to, but it'd be nice :¬)</p>
<p>I'm always interested in finding out where my templates are used, so keep in touch...</p>
<img alt="flowers (17K)" src="images/flowers.jpg" height="140" width="400" />
</div><!-- End of "content_one" div -->
<div id="content_two">
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur neque. Phasellus scelerisque lobortis 
diam. Sed ultrices sapien et eros. Praesent ullamcorper, lorem a feugiat consectetuer, est erat aliquam nunc, 
quis vulputate orci nibh eget quam. Nullam mauris tortor, iaculis facilisis, dictum porta, venenatis eu, leo.</p> 
<p>Nunc eu leo eget ligula venenatis accumsan. Suspendisse a nunc. Maecenas at massa eu est congue vulputate. 
Donec mauris tellus, lobortis in, ultricies sed, accumsan sed, orci. Pellentesque vitae nulla sed augue mollis 
molestie. Nulla facilisi. Vestibulum blandit laoreet libero. Morbi vulputate erat id eros. Phasellus congue </p>
<p>pretium augue. Cras eleifend ultricies nisi.</p>
</div><!-- End of "content_two" div -->
<div id="footer"><p>Content &copy; 2006 Your Organisation<br /><span class="design">Site design by <a class="design" href="http://www.robdrummond.co.uk">Rob Drummond</a></span></p></div>
</div><!-- End of "container" div -->
</div><!-- End of "wrap" div -->

</body>
</html>
