<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Red Impulse</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<div id="box">

<div id="navcontainer">
<ul id="navlist">
 <li><a href="#">Home</a></li>
 <li><a href="#">News</a></li>
 <li><a href="#">About</a></li>
 <li><a href="#">Contact</a></li>
 <li><a href="#">Links</a></li>
</ul>
</div><!-- close navcontainer -->

<div id="main">
<h1>Hello...</h1><br />

<p>all, another one template for the OSWD Community<br />
and the rest of the world.<br /> Made by
<a href="http://validator.w3.org/check?uri=referer">XHTML</a> and 
<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.<br />

Very simple...<br />
No images...<br />
Designed for small private websites.</p>

<h1>Lorem...</h1><br />
<p>ipsum dolor sit amet, consectetuer adipiscing elit. 
Donec vitae mi. Cras sit amet risus sed massa sagittis feugiat. 
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas justo. 
Vestibulum dolor lorem, sodales vitae, consequat quis, cursus a, sem.......<br /><br /><br /></p>

<h1>Aliquam...</h1><br />
<p>erat volutpat. 
Etiam tellus magna, ultrices quis, porttitor non, bibendum quis, lacus. 
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.....</p>

</div><!-- close main -->
<div id="footer" class="footer"> 
<a href="mailto:M75@sgies.com">Contact</a>  <a href="http://m75.dyndns.org">Design By M75</a>  <a href="http://www.oswd.org">OSWD</a>
</div><!-- close footer -->

</div><!-- close box -->



</body>
</html>