<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>DimP_01 Template</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="style.css" />

<!-- NOTE: I have included a basic stylesheet for print. You can edit it ot remove it -->

<link rel="stylesheet" type="text/css" media="print" href="print_style.css" />
</head>

<body>

<div id="page">

<div id="header">
&nbsp;
</div>

<div id="menu">
<ul>
<li>Home</li>
<li><a href="index.html">About</a></li>
<li><a href="index.html">Contact</a></li>
<li><a href="index.html">Forum</a></li>
</ul>
</div>

<div id="content">

<h1>Welcome to DimP_01</h1>

<h2>About this template</h2>
<p>This is my first submission to <a href="http://openwebdesign.org">OpenWebDesign.org</a> and <a href="http://www.oswd.org">OpenSourceWebDesign.org</a>. I felt the need to contribute to these communities so I used my website's layout and changed the colors and the logo. However, sytles for block quotes, forms, etc. ate not implemented (I don't use them on my site). Sorry for the inconvenience. You can awlays send me an e-mail if you need some help.</p>
<p>The header image was taken from <a href="http://www.designsbydarren.com/">DesignsByDarren.com</a>. I reduced it a little in dimensions and file size.</p>
<p>You can use DimP_01 for any purpose but please send me an e-mail. I just want to see my work <q>in action</q>. Feel free to adjust this template to your taste but please don't resubmit it with minor chages.</p>

<h2>Lorem ipsum</h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in nibh luctus gravida. Praesent vehicula rhoncus tortor. Donec porta rutrum dui. Donec dignissim congue mauris. Sed rhoncus laoreet sem. Nam dui pede, vestibulum convallis, posuere ut, dictum eu, diam. Phasellus nunc. Ut eget ante a ipsum porttitor scelerisque. Quisque auctor elit vitae massa. Vestibulum massa risus, gravida quis, hendrerit sit amet, bibendum sit amet, enim. Fusce nulla. Quisque vulputate metus vitae orci. Pellentesque at arcu. Ut sed neque.</p>

<h2>Duis nibh leo</h2>

<p>Duis nibh leo, pulvinar vitae, lacinia eu, viverra non, mauris. Nunc blandit viverra felis. Aliquam erat volutpat. Ut tempus nunc vel dolor. Proin ligula purus, mattis eget, gravida eu, facilisis nec, purus. Pellentesque aliquam, elit at euismod accumsan, lectus lacus vehicula justo, aliquam pharetra urna magna vel eros. Cras ultrices felis ut tortor cursus tristique. Cras sodales arcu eu nisl. Nam in metus. Aenean in purus non nunc nonummy fringilla. Vestibulum blandit accumsan tortor. Donec in ante. Ut a arcu. Donec faucibus, orci vel nonummy bibendum, erat neque fringilla quam, non fringilla lacus urna in orci. Quisque pede nisl, adipiscing iaculis, ultricies non, suscipit quis, nibh. Vivamus pellentesque. Nam porttitor, nulla nec hendrerit interdum, lorem augue blandit sapien, id lobortis diam quam ut mauris. Maecenas pede est, scelerisque vel, feugiat porta, tempor ac, pede. Fusce iaculis metus vitae est. Duis facilisis sagittis purus.</p>

</div>

<div id="sidebar">
<h2>Links</h2>
<ul>
<li><a href="http://openwebdesign.org">OWD.org</a></li>
<li><a href="http://www.oswd.org">OSWD.org</a></li>
</ul>

<h2>More latin</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in nibh luctus gravida. Praesent vehicula rhoncus tortor.</p>
</div>

<div id="footer">
<p>&copy; Your site | Design by Dimiter Petrov</p>
</div>

</div>

</body>
</html>