 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
 <meta name="description" content="TheCureForBoredom - Have you cured your boredom?"/>
  <meta name="keywords" content="bored, tcfb, games, media, entertainment, fun, cure, the cure for boredom, cure for boredom, enter, all, your, keywords, here"/>
   <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
    <title>Your title here</title>
     <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>

<body>

<div id="banner">
</div>

<div id="nav">
<a href="/">Home</a><a href="#/news.php">News</a><a href="#/about.php">About</a><a href="#/games/index.php">Games</a><a href="#/images/index.php">Images</a><a href="#/videos/index.php">Videos</a><a href="http://www.forums.thecureforboredom.com">Forums</a><a href="http://www.myhost.thecureforboredom.com">MyHost</a><a href="#/mylink">MyLink</a><a href="#/submit.php">Submit</a><a href="#/chat/index.php">Chat</a><a href="#/contact.php">Contact</a>
</div>

<div id="updates">
<h1>New Games</h1>
<p>Add all kinds of new games</p>
<h1>New Images</h1>
<p>Add all kinds of news images</p>
<h1>Affiliates</h1>
<ul><li><a href="http://darkcenter.net">DarkCenter</a></li><li><a href="http://officialfun.com">Official Fun</a></li><li><a 
href="http://www.game-force.us">Game-Force</a></li><li><a href="http://www.game-planet.us">Game-Planet</a></li><li><a 
href="http://www.poker-place.us">Free Poker Game</a></li><li><a href="http://officialfun.com">Official Fun</a></li><li><a 
href="http://www.thecureforboredom.com">The Cure for Boredom</a></li></ul>
</div>

<div id="nav2">
<h1>New Videos</h1>
<p>Add the current new videos here!</p>
<h1>Affiliates 2</h1>
<ul>
<li><a href="http://www.myebookstore.us">My eBook Store</a></li>
<li><a href="http://www.bahb.net/topsites/in.php?id=342">Bahb</a></li>
<li><a href="http://www.dailyhaha.com/in.asp?link_ID=2209">DailyHAHA</a></li>
<li><a href="http://flisp.com/">Flisp</a></li>
<li><a href="http://www.santoalt.com">Funny videos</a></li>
<li><a href="http://www.goyk.com">Goyk</a></li>
<li><a href="http://www.netstupidity.com/affiliates.php?af_id=177">Netstupidity</a></li>
</ul>
</div>

<div id="content">
<h1>Introducing - boredom version 1.0</h1>
<p>This is a layout designed for <a href="http://www.thecureforboredom.com">TheCureforBoredom.Com</a>, an entertainment website. I decided to place this layout for other people to be able to download... but remember, don't remove the copyright!</p>
<p>It has been tested and works great on the following:</p>
<ul>
<li>Internet Explorer 6.0+</li>
<li>FireFox 1.5</li>
<li>Opera 8.0+</li>
<li>800x600 and 1024x768 resolution</li>
</ul>

<div id="copyright">
Design and layout is &copy; 2006 <strong>TCFB</strong>, and <a href="http://www.oswd.org">OSWD</a>.
</div>
</div>

</body>
</html>
