<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>A24 LaBlue</title>
<style type="text/css">
<!--
@import url("css/mainstyles24h.css");
-->
</style>
</head>
<body>
<div class="wrap">
  <div class="head_wrap">
    <div class="headrow_one">
      <div class="rowone_left">
        <h1>LaBlue<br />
          Corporate<br />
          Series</h1>
      </div>
      <div class="rowone_mid">
        <h2>TEMPLATE A24: LaBlue Corporate Series </h2>
        <h3>Liquid, Absolute, <span class="bluespan">Valid Xhtml &amp; CSS</span></h3>
      </div>
      <div class="rowone_right"> </div>
    </div>
    <div class="headrow_two">
      <div class="rowtwo_left">&nbsp;</div>
      <div class="rowtwo_mid">&nbsp;</div>
      <div class="rowtwo_right">
        <div class="searchbox_wrap">
          <form method="get" action="http://www.google.com/search"
 target="_blank">
            <input name="ie" value="UTF-8" type="hidden" />
            <input
 name="oe" value="UTF-8" type="hidden" />
            <table class="searchtable" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="searchtable_leftcell"><select class="searchbox1" name="sitesearch" size="1"
 style="text-align: left;">
                      <option selected="selected" value="wholives.com">Here&nbsp;</option>
                      <option value="">Web~ </option>
                    </select>
                  </td>
                  <td style="vertical-align: middle; width: 100%; text-align: center;" class="searchtable_midcell"><input class="searchbox2" name="q" size="1" maxlength="255" value="" style="width:100%;" type="text" />
                  </td>
                  <td class="searchtable_rightcell"><input class="searchbutton" name="btnG" value="Search"
 type="submit" /></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end head_wrap  -->
  <div class="body_wrap">
    <div class="left_column">
      <div class="submain_container">
        <div class="submain_nav">
          <h4>Navigation</h4>
          <ul>
            <li><a href="#">Topic1</a>
              <ul>
                <li><a class="current_subtopic" href="#">Submenu Item A</a> </li>
                <li><a href="#">Submenu Item B</a> </li>
                <li><a href="#">Submenu Item C</a> </li>
              </ul>
            </li>
            <li><a href="#">Topic2</a>
              <ul>
                <li><a href="#">Submenu Item A</a> </li>
                <li><a href="#">Submenu Item B</a> </li>
                <li><a href="#">Submenu Item C</a> </li>
              </ul>
            </li>
            <li><a href="#">Topic3</a>
              <ul>
                <li><a href="#">Submenu Item A</a> </li>
                <li><a href="#">Submenu Item B</a> </li>
                <li><a href="#">Submenu Item C</a> </li>
              </ul>
            </li>
            <li><a href="#">Topic4</a>
              <ul>
                <li><a href="#">Submenu Item A</a> </li>
                <li><a href="#">Submenu Item B</a> </li>
                <li><a href="#">Submenu Item C</a> </li>
              </ul>
            </li>
            <li><a href="#">Link5</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end left column -->
    <div class="center_column">
      <div class="center_content">
       <h4>A24: LaBlue Corporate Series</h4>
       <br />
      <p>&nbsp; &nbsp; Comes in  8 different color schemes, one for each department or office; or create your own custom color scheme. <br />
         <br />
         8 Individual Color  Schemes:<br />
                  A. <a href="index.html">Corporate Travel Office or Travel Agency</a> <br />
         B. <a href="indexb.html">Human Resources</a><br />
         C. <a href="indexc.html">Division of Administration</a><br />
        D. <a href="indexd.html">Purchasing</a><br />
         E.  <a href="indexe.html">Information Services</a><br />
         F. <a href="indexf.html">Public Relations Department</a> <br />
         G.<a href="indexg.html">Chief Executive Officer and Staff</a><br />
         H.<a href="indexh.html">Legal Department</a>         <br />
        </p>
      <p>&nbsp; &nbsp; &nbsp; This is Mikey (www), Southern USA, and this is my 24th submission, Template A24.   Originally designed for a  gov travel office,  hereby submitted for open source. Has special effects,  dropshadow header text,  when viewed in IE.   Unique colors and imaging, liquid width, absolute wrap,  valid Xhtml &amp; CSS,  &lt;h1&gt; text positioned over the left logo seal.   Durable, tested in IE, Mozilla, Nvu (best freeware editor), and Dreamweaver;  uniform look; feel; and navigation. Not required, but please leave the link back to this  site in the footer.  Also take take a peek at: <a href="http://www.oswd.org/user/profile/id/6372" target="_blank">my other premium designs</a>. </p>
      <p><br />
        <strong>*PHP RANDOM</strong> CSS STYLESHEET SELECTOR SCRIPT, from <a href="http://www.ibentmywookie.org/wordpress/?cat=2" target="_blank">Brett7481</a>. Yes,   rotating stylesheets. Just visit Brett's site.<br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </p>
      </div>
      <!--  end center content  -->
    </div>
    <!--  end center column  -->
    <div class="right_column">
      <div class="headlines_container_24">
        <h4>Headlines</h4>
        <ul class="headlines_nav">
          <li><a href="#">Florida Averages 30 Shark Attacks Per Year </a></li>
          <li><a href="#">Pumping Oil Causing Earthquakes; Meteors Causing Tsunamis </a> </li>
          <li><a href="#">Identity Theft Links </a> </li>
          <li><a href="#">1918 Bird Flu Killed 5 Million People </a></li>
          <li><a href="#">Global Warning: Extended High Winds</a></li>
          <li><a href="#">Mad Cow Disease Traced to Texas </a></li>
          <li><a href="#">Free Web Page Templates, Software, Forms, and More... </a></li>
        </ul>
      </div>
    </div>
    <!-- end right column -->
    <div class="footer24">
      <div class="baseabout">&copy;
        Copyright  &reg; YourAce&#8482; 2005 | Open Source  Design By <a href="http://wholives.com/tools/freestuff.html">ME</a> for <a href="http://OSWD.ORG" target="_blank">OSWD.ORG</a> </div>
      <!--  end baseabout  -->
      <div class="basenav">
        <ul class="nav">
          <li><a href="http://validator.w3.org/check?uri=referer" target="_blank"> Xhtml
            Valid</a> | </li>
          <li><a href="http://jigsaw.w3.org/css-validator/validator-uri.html" target="_blank">CSS
            Valid</a> | </li>
          <li> <a href="http://validator.w3.org/checklink" target="_blank">Link
            Checker</a> | </li>
          <li> <a href="http://www.contentquality.com" target="_blank">Accessible</a> </li>
        </ul>
      </div>
      <!--  end basenav 24  -->
    </div>
    <!-- end footer24 -->
  </div>
  <!--  end body column  -->
  <!-- Begin (example) Image Preload (hiddenpics) -->
  <img src="media/goldbird.jpg" alt="hiddenpic" height="100" width="100" class="hiddenpic" />
  <!-- End Image Preload (hiddenpics) -->
</div>
<!--end wrap  -->
</body>
</html>
