<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Purple Flower</title>

<link rel="stylesheet" type="text/css" media="all" href="stylesheets/style_new.css" />
<style type="text/css" media="all">
@import url(stylesheets/style.css);
</style>

</head>

<body>

<div id="wrap">
<!-- begin wrap -->

<div id="header">

<img src="images/purple_flower.jpg" alt="Purple Flower" />

<h1> Purple Flower </h1>
<h2> Your slogan goes here </h2>
</div>

<div id="content">

<div id="nav">
<ul>
<li> <a href="#"> Link 1 </a> </li>
<li> <a href="#"> Link 2 </a> </li>
<li> <a href="#"> Link 3 </a> </li>
<li> <a href="#"> Link 4 </a> </li>
<li> <a href="#"> Link 5 </a> </li>
</ul>
</div>

<h3>Index</h3>
<p> Here we are, my second template. This is valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a>. It's also valid CSS and it works perfectly in Opera and Firefox. I can't seem to figure out why the images don't load in IE. They work in the other two major ones perfectly fine... This layout uses the font "Eurostile". If your computer does not have it installed. It will revert to a generic sans-serif font type. </p>
<p id="second"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed pellentesque tincidunt ante. Fusce fringilla dolor at nunc. Nullam sem erat, convallis et, lacinia eget, accumsan eu, sapien. Vivamus a nibh. Mauris id nunc nec nulla dignissim dictum. Nulla dignissim. Ut quam. Nulla nonummy augue eu justo. In tincidunt mollis enim. Cras cursus facilisis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultricies lorem non augue. Nullam hendrerit tempor lorem. Pellentesque pede urna, ornare in, varius eget, pretium non, orci. Donec mollis erat volutpat eros. </p>
</div>

<div id="footer"> &copy; 2006 Your Site :: Site Design - <a href="http://adeontech.net/">Adeon Technologies</a> </div>

<!-- / end wrap -->
</div>
</body>
</html>
