<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>It feels Wonderful!</title>
	<style type="text/css" media="all">
		@import "style.css"; 
	</style>

</head>

<body>

<div id="logo">
<a href="#">It feels<br/>
Wonderful!</a>
</div>

<div id="content">

<div id="side">
<a href="#">Home</a><br/>
<a href="#">About Me</a><br/>
<a href="#">The Idea!</a><br/>
<a href="#">Contact Me</a><br/>
</div>

<h2>It feels Wonderful!</h2>

This is another theme coded in XHTML strict!
<br/>

<div id="imgs">
<a href="#">
<img src="stock.jpg" alt="" />
</a>
</div>

It is good for personal websites. The background art is done in photoshop ^^
<br/>
<br/>
The image on the right is from stock collection http://www.sxc.hu
You can make this theme more wonderful by changing the graphics, style sheet and by becoming more creative!
<br/>

<h2>Sample text</h2>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br/><br/>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

<div id="foot">
&copy; Copyright you | Design by <a href="http://www.kumi.co.nr">Kumiko</a>
</div>

</div>

</body>
</html>