<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bookends</title>
<meta name="description" content="Description Here" />
<meta name="keywords" content="keywords here" />
<link href="images/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body id="Title">
<div id="header">
  <h1>Bookends</h1>
</div>
<div id="content">
	<div id="nav">
      <ul id="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Quotations</a></li>
        <li><a href="#">Thesaurus</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
</div>
<div id="journal"> 

<h2>Welcome</h2>
<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ligula lorem, consequat eget, tristique nec, auctor quis, purus. Vivamus ut sem. Fusce aliquam nunc vitae purus. Aenean viverra malesuada libero. Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis. Curabitur posuere, pede vitae lacinia accumsan, enim nibh elementum orci, ut volutpat eros sapien nec sapien. Suspendisse neque arcu, ultrices commodo, pellentesque sit amet, ultricies ut, ipsum. Mauris et eros eget erat dapibus mollis. Mauris laoreet posuere odio. Nam ipsum ligula, ullamcorper eu, fringilla at, lacinia ut, augue. Nullam nunc.</p>
<h3>Sub Heading Here</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ligula lorem, consequat eget, tristique nec, auctor quis, purus. Vivamus ut sem. Fusce aliquam nunc vitae purus. Aenean viverra malesuada libero. Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis. Curabitur posuere, pede vitae lacinia accumsan, enim nibh elementum orci, ut volutpat eros sapien nec sapien. Suspendisse neque arcu, ultrices commodo, pellentesque sit amet, ultricies ut, ipsum. Mauris et eros eget erat dapibus mollis. Mauris laoreet posuere odio. Nam ipsum ligula, ullamcorper eu, fringilla at, lacinia ut, augue. Nullam nunc.</p>
<h4>Sub Sub Heading Here</h4>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ligula lorem, consequat eget, tristique nec, auctor quis, purus. Vivamus ut sem. Fusce aliquam nunc vitae purus. Aenean viverra malesuada libero. Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis. Curabitur posuere, pede vitae lacinia accumsan, enim nibh elementum orci, ut volutpat eros sapien nec sapien. Suspendisse neque arcu, ultrices commodo, pellentesque sit amet, ultricies ut, ipsum. Mauris et eros eget erat dapibus mollis. Mauris laoreet posuere odio. Nam ipsum ligula, ullamcorper eu, fringilla at, lacinia ut, augue. Nullam nunc.</p>

</div>
<div id="sidebar">
<dl>
<dt>Links</dt>  
<dd><a href="http://validator.w3.org/check/referer" title="Validate the XHTML">Valid XHTML 1.0</a></dd>
<dd><a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate the CSS">Valid CSS</a></dd>
<dd><a href="#" title="Enter Title">Interesting Link 3</a></dd>
<dd><a href="#" title="Enter Title">Interesting Link 4</a></dd>
<dd><a href="#" title="Enter Title">Interesting Link 5</a></dd>
<dd><a href="#" title="Enter Title">Interesting Link 6</a></dd>
<dd><a href="#" title="Enter Title">Interesting Link 7</a></dd>
</dl>
</div>
<div id="footer">
    <p>Copyright &copy; 2005 <strong>Your Name</strong></p>
</div>
</div>
</body></html>