<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Sunshine :: Home Page</title>
<style type="text/css">
@import "layout.css";
</style>
</head>
<body>
<div id="page">
<div id="links"><p>Links: <a href="http://www.kricit.co.uk/elgunvis">elgunvis</a> | <a href="http://www.oswd.org">OSWD</a> | <a href="http://www.kricit.co.uk/elgunvis/web">More Templates</a></p></div>
<div id="header">
<h1>Sunshine</h1>
<p>To brighten up your day!</p>
</div>
<div id="menu">
<b>Navigation</b>
<ul>
<li><a href="#">Home Page</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Archives</a></li>
<li><a href="#">About Us</a></li>
</ul>
<b>News:</b>
<p align="justify">You could put a shortend version of your last blog here to attract attention to it!</p>
<b>About:</b>
<p align="justify">Or you could write a short description of the website for first-time visitors</p>
</div>
<div id="content">
<h3>Sunshine!</h3>
<p align="justify">Welcome to template SUNSHINE. This design is based on my favourite website of all time, <a href="http://www.norfolkblurb.co.uk">Norfolk Blurb</a> for which I contribute information for my area of norfolk. This is a rather compact design as it is 150px smaller in width than my usual designs.</p>
<h3>Validation</h3>
<p align="justify">This template is valid XHTML 1.0 Transitional. CSS with no errors or warnings..</p>
<h3>Images</h3>
<p align="justify">Any website without images somewhere tend to be a bit boring so as always I have added the three image rules;</p>
<ol>
<li>To align an image to the left add 'class="left"' In the image tag</li>
<li>To align an image to the right add 'class="right"' In the image tag</li>
<li>To align an image centre put the image tag inside either the &lt;center&gt;&lt;/center&gt; tags or &lt;p align="center"&gt;&lt;/p&gt;</li>
</ol>
<h3>Examples</h3>
<p align="justify">As always ill show you the images with the attributes</p>
<img src="images/ex.gif" class="left" alt="" />
<h3>Left Aligned</h3>
<img src="images/ex.gif" class="right" alt="" />
<h3 align="right">Right Aligned</h3>
<h3 align="center">Centred Image</h3>
<center><img src="images/ex.gif" alt="" /></center>
</div>
<div id="footer"><p>Copyright (C) YOUR COMPANY 2006<br />Developed by <a href="http://www.kricit.co.uk/elgunvis">Ashley Johnson</a></p></div>
</div>
</body>
</html>