
body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #040902;
}

.header {
	margin: 0;
	padding: 0;
	/*background: url('stoned.jpg') repeat #2b2d42;*/
	background-color: #2b2d42;
	height: 55px;
}

.header h1 {
	font-size: 24px;
	text-decoration: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	color: #676362;
	/*text-align: middle;*/
}

.horiz_divider {
	margin: 0;
	background-color: #ff0000;
	height: 5px;
}

/*
.vert_divider {
	margin: 0;
	background-color: #ff0000;
	width: 10px;
	height: 500px;
}
*/

.top_nav {
	border-top: 2px solid #676362;
	border-bottom: 2px solid #676362;
	margin: 0;
	padding: 5px 35px 5px 35px;
	background-color: #464d5f;
	word-spacing: 100px;
	text-align: center;
}

.top_nav a {
	font: bold 14pt Arial;
	/*font-family: Arial;
	font-style: bold;
	font-size: 14px;*/
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffc3;
	padding: 5px;
}

.top_nav a:hover {
	background-color: #a8895d;
}

.middle_container {
	margin: 0;
	height: 500px;
/*	border: 2px solid #00ff00;*/
}

.left_menu {
	float:left;
	margin: 0;
	background-color: #2b2d42;
	/*padding-left: 10px;*/
	padding-right: 10px;
	padding-top: 10px;
	width: 190px;
	height: 490px;
	border-right: 2px solid #676362;
	/*border-right: 2px solid #ff0000;*/
}

.category_link {
	color: green;
	background-color: #676362;
	border: 1px solid #9d9a8b;
	padding: 2px 2px 2px 2px;
}

.category_link a {
	color: green;
}

.category_link:hover {
	background-color: #9d9a8b;
}

.subcategory_link a {
	color: green;
	/*font: 14pt bold arial;*/
}

.subcategory_link {
	margin-left: 25px;
	background-color: #676362;
	border: 1px solid #9d9a8b;
	padding: 2px 2px 2px 2px;
}

.subcategory_link:hover {
	background-color: #9d9a8b;
}

.content {
	overflow: auto;
	margin: 0;
	background-color: #ffffc3;
	padding: 5px 5px 5px 10px;
	/*margin-left: 215px;*/
	height: 488px;
	border-bottom: 2px solid #676362;
}

.footer {
	margin: 0;
	background-color: #2b2d42;
	height: 25px;
	text-align: right;
	padding-right: 15px;
	color: #b8a793;
/*	border-top: 2px solid #676362;*/
}

.footer a {
	color: #b8a793;
}

h1 {
	margin: 0 0 15px 0;
	font-size: 24px;
	/*text-transform: uppercase;*/
}

h2 {
	margin: 0 0 10px 0;
	background-color: #464d5f;
	font-size: 16px;
	text-transform: uppercase;
}

h3 {
	margin: 0 0 5px 0;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: underline;
}

/* nav menu from OSWD design "Kiwicolors" */

/*
div.left_menu div {
margin:20px 10px 0 10px;
padding:5px;
background-color:#ffffc3;
border:dashed 3px #8D9719;
color:#1B0C0D;
}
*/

div.left_menu ul {
margin:0;
padding:0;
list-style:none;
}

div.left_menu ul li {
border-bottom:solid 1px #676362;
}

div.left_menu ul.sub {
	border-bottom:solid 7px #3a2b30;
}

div.left_menu ul.sub li {
text-indent:10px;
border:0;
width:100%;
}

div.left_menu ul li a {
display:block;
background-color:#3a2b30;
padding:5px 12px;
font-weight:bold;
border-left:solid 7px #3a2b30;
text-decoration:none;
color:#ffffc3;
}

div.left_menu ul.sub li a {
border-left:solid 7px #371a0a;
background-color:#564335;
padding-left:10px;
}

div.left_menu ul a:hover,div.menu ul a:active {
background-color:#a8895d;
border-left-color:#6c5536;
}

div.left_menu ul.sub a:hover,ul.sub a:active {
background-color:#a8895d;
border-left-color:#6c5536;
}

div.left_menu span.youarehere {
position:absolute;
left:3px;
}


div.left_menu h2 {
border: solid 1px #676362;
border-left:0;
margin: 10px 30px 15px 0;
padding:3px;
font-size:110%;
background-color:#3a2b30;
color: #ffffc3;
}

/* END nav menu from Kiwicolors */