<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <head>
        <title>Blue Mist</title>
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    </head>

    <body>

    <!-- start wrap -->
    <div id="wrap">

        <!-- start header -->
        <div id="header">
            <h1>Blue Mist</h1>
            <h2>your slogan</h2>
        </div>
        <!-- end header -->

        <!-- start nav -->
        <div id="nav">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
        </div>
        <!-- end nav -->

        <br />

        <!-- main content -->
        <div id="content">
            <h1>About This Template</h1>
            This layout is valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a>! A font named "Eurostile" is used in this layout. If the users computer doesn't have it, it will revert to a generic sans-serif font.
            <h1>About Me</h1>
            My name is Nicholas Sharp. I'm 16 years old and I come from the land down under, aka Australia. I've been designing since I was 12 but only getting used to XHTML 1.1 and converting from tables to div tags. I still can't do any major huge complicated layouts. Let's hope that changes. =)
            <h1>Browsers</h1>
            This layout has been tested extensivly in all major browsers (and by extensive, I mean a 10 second look to see if it was the same). Opera 8.5, Firefox 1.5 and IE6 all render the page the same, they render the fonts differently but that's how the browsers were built. IE makes sans-serif smaller in width i've noticed. Don't know why though.
        </div>
        <!-- end content -->
        
        <!-- start copyright -->
        <div id="copyright">
            &copy; 2006 You :: Site Design - <a href="http://adeontech.net">Adeon Technologies</a>
        </div>
        <!-- end copyright -->

    <!-- end wrap -->
    </div>
    
    </body>
</html>
