<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Enter your description here." />
<meta name="keywords" content="enter, keywords" />
<meta name="author" content="Original design by pogy366 - http://www.raykdesign.net" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen,print" />
<title>culture shock: slight amnesia</title>
</head>
<body>

<div id="left_container">
<img id="logo" alt="Leaves" src="img/leaves_brown.jpg" />
<div id="left_quote">"A nice spot to put an inspirational quote or poem to help set the mood."</div>
<div id="left_text">
<h3>Left Column</h3>
<p>Quaeque vos bubus veneratur albis clarus Anchisae Venerisque sanguis inpetret, bellante prior, iacentem lenis in hostem.</p>
<p>Iam mari terraque manus potentis Medus Albanasque timet securis, iam Scythae responsa petunt, superbi nuper, et Indi. Iam Fides et Pax et Honor Pudorque priscus et neglecta redire Virtus audet adparetque beata pleno Copia cornu.</p>
</div>
</div>

<div id="right_container_outer">
<div class="navbar" id="nav">
<ul>
<li id="current"><a href="#" title="Return Home">Home</a></li>
<li><a href="#" title="Learn About What This Means">About</a></li>
<li><a href="#" title="Speak Your Mind on the Forum">Forum</a></li>
<li><a href="#" title="Designs and Other Art">Design</a></li>
<li><a href="#" title="Site Information">Info</a></li>
<li><a href="#" title="Contact Information">Contact</a></li>
</ul>
</div>
<div id="navbar_fade"></div>
<div id="right_container_inner" class="clearfix">
<div id="rci_right_column">
<h3>Right Column</h3>
<p>Cui per ardentem sine fraude Troiam castus Aeneas patriae superstes liberum munivit iter, daturus plura relictis: di, probos mores docili iuventae, di, senectuti placidae quietem, Romulae genti date remque prolemque et decus omne.</p>

<p>Quaeque vos bubus veneratur albis <a href="#">clarus</a> Anchisae Venerisque sanguis inpetret, bellante prior, iacentem lenis in hostem. iam mari terraque manus potentis Medus Albanasque timet securis, iam Scythae responsa petunt, superbi nuper, et Indi. Iam Fides et Pax et Honor Pudorque priscus et neglecta redire <a href="#">Virtus audet</a> adparetque beata pleno Copia cornu.</p>

<h3>Links</h3>
<ul>
<li><a href="http://www.openwebdesign.org/" title="http://www.openwebdesign.org/">OWD</a></li>
<li><a href="http://www.oswd.org/" title="http://www.oswd.org/">OSWD</a></li>
<li><a href="http://www.alistapart.com/" title="http://www.alistapart.com/">A List Apart</a></li>
<li><a href="http://www.csszengarden.com/" title="http://www.csszengarden.com/">CSS Zen Garden</a></li>
</ul>
</div>

<div id="rci_left_column">	
<h2>Slight Amnesia (v1.0)</h2>
<p>This is what I come up with when I start flinging code around with no real objective or vision. My main goal was to focus on overall accessibility and broswer text-resizing being as painless as possible.</p>

<p>There's a <a href="index2.html" title="Alternate Look">flipside to this design</a> with an alternate style sheet.</p>

<h3>What's Under the Hood?</h3>
<p><em>Slight Amnesia (v1.0)</em> was tested in Windows with Firefox1.0.7, IE6.0, Netscape7.2 and Opera7.54 and was built with valid <a href="http://jigsaw.w3.org/css-validator/" title="CSS Validator">css</a> and <a href="http://validator.w3.org/check?uri=referer" title="XHTML Validator">xhtml 1.0-strict</a> and conforms to section 508 and a <a href="http://www.w3.org/TR/WCAG10/" title="WCAG Information">WCAG 1.0 A</a> rating.</p>

<blockquote><p>As is, download time for 56k is 3.57 seconds; ISDN 128K at 1.23 seconds; T1 at .29 seconds and weighs in at 16.9KB.</p></blockquote>

<h3>Better Living Through Open Source Design</h3>
<p>This is an open source design originally developed for the OSWD community
and is free to be used and adpated as such.</p>
<p>You're not obligated in any way to credit me if you use this design, but a link back to either <a href="http://www.openwebdesign.org/userinfo.phtml?user=pogy366" title="Profile on OWD">OWD</a> or my <a href="http://www.raykdesign.net" title="http://www.raykdesign.net">website</a> would be more than enough.</p>
<p>If you want to send me feedback about this design or let me know what you've done with it, please contact me through the OWD with the above link. Thanks and good luck.</p>


<h3>Dead Text</h3>
<p>Quaeque vos bubus veneratur albis clarus Anchisae Venerisque sanguis inpetret, bellante prior, iacentem lenis in hostem. iam mari terraque manus potentis Medus Albanasque timet securis, iam Scythae responsa petunt, superbi nuper, et Indi. Iam Fides et Pax et Honor Pudorque priscus et neglecta redire Virtus audet adparetque beata pleno Copia cornu.</p>

</div>

</div>
<div id="footer">Copyright &#169; 2005 - Site Name</div>
</div>


</body>
</html>
