body {
	margin: 0;
	padding: 0;
	background: url(images/bkg.jpg) repeat;
	background-color: #ffffff; }

dl {
	position: absolute;
	left: 50px;
	top: 20px;
	width: 320px; }

dl, dt, dd {
	margin: 0;
	padding: 0; }

dl {
	background: url(images/c_bottom.gif) bottom left no-repeat;
	padding-bottom: 14px; }

dt {
	height: 14px;
	background: url(images/c_top.gif) top left no-repeat;
	font-size: 10px;
	font-weight: bold;
	text-align: center; }

dd {
	padding: 0 10px 0 10px;
	text-align: justify;
	background: url(images/c_middle.gif) top left repeat-y; }

h1 { 
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold; }
p { 
	padding: 0px;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small; }

#box {
	position: relative;
	left: 50%;
	width: 320px;
	height: auto;
	margin-top: 20px;
	margin-left: -160px;
	color: #ffffff;
	background-color: #ffffff; }

#header {
	position: relative;
	width: 300px;
	height: 200px;
	margin-top: 0px;
	margin-left: 0px;
	color: #ffffff;
	background: url(images/header.jpg) no-repeat; }

#navcontainer {
	font-family: Verdana, Arial,Sans-Serif;
	font-size: 0.8em;
	margin-top: 10px;
	margin-left: 0px;
	width: 300px;
	height: 30px;
	background: url(images/navbar.jpg) no-repeat; }

#navlist {
	width: 300px;
	height: 30px;
	text-align: left;
	margin: 0 auto;
	padding-left: 6px;
	padding-top: 6px;
	text-indent: 0;
	list-style-type: none; }

#navlist li {
	padding: 0;
	margin: 0;
	text-indent: 0;
	display: inline; }

#navlist li a {
	letter-spacing: -1px;
	text-decoration: none;
	color: #ffffff;
	font-size: 0.8em;
	padding: 0 2px; }

#navlist li a:hover {
	color: #ff0000;
	font-size: 1.0em;
	border-bottom: 1px solid #ff0000; }

#content {
	position: relative;
	width: 280px;
	min-height: 320px;
	padding: 10px;
	margin: 0px; }
/* for IE */
* html div #content { height:320px; }
/* ----- */

#content a {
	background-color: #000000;
	color: #ff0000;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	}
#content a:active, a:link, a:visited {
	background-color: #000000;
	color: #ff0000;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	}
#content a:hover {
	text-decoration: underline;
	}

#footer {
	position: relative;
	width: 300px;
	height: 12px;
	padding-top: 1px;
	text-align: right;
	font-size: 10px;
	border-top: 1px solid #666666; }

.footer a {
	background-color: #000000;
	color: #666666;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8px; }
.footer a:active, a:link, a:visited {
	background-color: #000000;
	color: #666666;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8px;
	text-decoration: none; }
.footer a:hover {
	background-color: #000000;
	color: #ffffff;
	font-size: 10px; }