<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

	<title>Lovely</title>
	<style type="text/css" media="all">
		@import url(lovely.css);
	</style>

</head>
<body>

<div id="container">
<div id="header"><a name="top"></a><h1><a href="#">Lovely</a></h1>
<div class="description">this looks lovely!</div></div>

	


<div id="sidebar">
<h2>About Me</h2>

<p>Welcome to Lovely!</p>

<h2>Search:</h2>
<form method="get" id="searchform" action="#">
<div><input type="text" value="" name="q" id="q" size="15"/>
<input type="submit" id="searchsubmit" value="Go" />
</div>
</form>

<!--archives-->
<a href="#">March 2006</a>
<br/>
<a href="#">February 2006</a>
<br/>

<br/>
<h2>Links</h2>

<a href="http://validator.w3.org/check/referer">Valid XHTML</a><br/>
<a href="http://www.oswd.org">OSWD</a>

</div>

<div id="content">

<div class="post">
<h2>Lovely !!!</h2>
<p>
Lovely is coded in XHTML/CSS with no tables.
<br/>
It looks good in Mozilla Firefox and IE 6.
<br/><br/>
I am now using this design in <a href="http://www.kumi.co.nr">my diary</a>.
<br/>
If you like this design, send me a mail.

</p>

<h2>Lorem Ipsum</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br/>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br/><br/>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</p>


</div>
</div>


<div id="footer">
&copy; Copyright you | Design by <a href="http://www.kumi.co.nr">Kumiko</a> | <a href="#">RSS</a>
</div>


</div>

</body>
</html>