<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="Davide Rognoni" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
	<title>ITPrgrA - Italian Tele Programmers Alliance</title>
	<style type="text/css" media="all">
		@import "main.css";
	</style>
</head>
<body>
<div id="page">
	<div id="squares">
		<div id="s1" class="square">1</div>
		<div id="s2" class="square">2</div>
		<div id="s3" class="square">3</div>
		<div id="s4" class="square">4</div>
		<div id="s5" class="square">5</div>
		<div id="s6" class="square">6</div>
		<div id="s7" class="square">7</div>
		<div id="s8" class="square">
			<a href="http://url.demo">Demo</a>
		</div>
		<div id="s9" class="square">9</div>
		<div id="s10" class="square">10</div>
		<div id="s11" class="square">11</div>
		<div id="s12" class="square">12</div>
		<div id="s13" class="square">13</div>
		<div id="s14" class="square">14</div>
		<div id="s15" class="square">15</div>
		<div id="s16" class="square">16</div>
		<div id="s17" class="square">17</div>
		<div id="s18" class="square">18</div>
		<div id="s19" class="square">19</div>
		<div id="s20" class="square">20</div>
		<div class="squareEnd"></div>
	</div>
	<div id="intro">
		<h1>ITPrgrA - Italian Tele Programmers Alliance</h1>
	</div>
	<div id="content">
		Get your free 140x90 web square, writing this email:
		<table>
		<tr>
			<td class="tdTitle">TO</td>
			<td>scienpow@...org</td>
		</tr>
		<tr>
			<td class="tdTitle">OBJECT</td>
			<td class="tdBk">ITPrgrA - I get my free 140x90 square</td>
		</tr>
		<tr>
			<td class="tdTitle">TEXT</td>
			<td>Square number 8 (for example)</td>
		</tr>
		<tr>
			<td class="tdTitle">ATTACHED</td>
			<td class="tdBk">
				Archive file (.zip or .tgz) with HTML, CSS and image for your web square.
				You can store CSS and image in your web space, sending me only
				HTML.
			</td>
		</tr>
		</table>
	</div>
</div>
</body>
</html>
