<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>


  
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />


  
  <meta name="author" content="" />


  
  <meta name="Keywords" content="" />


  
  <meta name="Description" content="" />

  


  
  <title>Orange Sun</title>
  <link href="style.css" rel="stylesheet" type="text/css" />

</head>


<body>


<div id="contain">
<div id="header">
<h1 class="style1 style7 style5 style5 style7">Orange Sun</h1>


</div>


<div id="leftcol">
  <h3>News</h3>
<p>Donec sollicitudin. Nunc lobortis nisi eu enim. Morbi et mi. Nulla at lorem vel justo adipiscing auctor. Sed justo. Etiam commodo felis eget ligula. Class aptent taciti sociosquad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas semper scelerisque leo. Ut euismod, velit id imperdiet ullamcorper, sem nibh ullamcorper sapien, eu vestibulum odio arcu ut leo. Integer semper sapien sit. </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div>

</div>
</div>

<div id="navcontainer">
<ul id="navlist">
<li id="active"><a href="#" id="current">Item one</a></li>
<li><a href="#">Item two</a></li>
<li><a href="#">Item three</a></li>
<li><a href="#">Item four</a></li>
<li><a href="#">Item five</a></li>
</ul>
</div>
<div id="content">
<h2> Orange Sun </h2>


<p>Orange Sun is my
fifth submission to this site. It is open source, so use it as you
please. Photo credit to stock.xchng. No restrictions were put on this
image for usage. Hope you enjoy the template.
&nbsp;Auctor molestie. Donec rhoncus. Cum sociis
natoque penatibus et magnis dis parturient montes, nascetur ridiculus
mus. Duis odio mi, commodo ac, posuere vel, sagittis id, urna. Donec
sollicitudin. Nunc lobortis nisi eu enim. Morbi et mi. Nulla at lorem
vel justo adipiscing auctor. Sed justo. Etiam commodo felis eget
ligula. Class aptent taciti sociosqu ad litora torquent per conubia
nostra, per inceptos hymenaeos. Maecenas semper scelerisque leo. Ut
euismod, velit id imperdiet ullamcorper, sem nibh ullamcorper sapien,
eu vestibulum odio arcu ut leo. Integer semper sapien sit amet nunc.
Integer risus ipsum, dignissim vitae, ullamcorper sed, semper eget,
justo. Sed non enim. Integer venenatis erat sed velit. Etiam egestas
eros quis risus. Curabitur sed tellus. Maecenas semper scelerisque leo. Ut
euismod, velit id imperdiet ullamcorper, sem nibh ullamcorper sapien,
eu vestibulum odio arcu ut leo. Integer semper sapien sit amet nunc.
Integer risus ipsum, dignissim vitae, ullamcorper sed, semper eget,
justo. Sed non enim. Integer venenatis erat sed velit. Etiam egestas
eros quis risus. Curabitur sed tellus. </p>


<p>&nbsp;</p>
<p>This Page Is Valid XHTML 1.0 Strict&nbsp;</p>


<p>&nbsp;</p>


<p>&nbsp;</p>


</div>


<div id="footer">
<p>Copyright 2006</p>


</div>


</div>


</body>
</html>
