<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<meta content="all" name="robots" />
		<meta name="author" content="linuximo@gmail.com,Lin Zhizhao(Quasimo)" />
		<meta name="description" content="Write For Michelle." />
		<meta content="Michelle" name="keywords" />
		<link rel="stylesheet" type="text/css" href="./michelle.css" />
		<title>M.I.C.H.E.L.L.E</title>
	</head>

	<body>
		<div id="header">
			<h1>
				<a href="index.html" title="Back To Home">
					M.I.C.H.E.L.L.E
				</a>
			</h1>
			<p>
				MICHELLE is a recursive acronym for "Michelle Is Charming Happily Exalted Luminous Lovable Eye-catcher".
			</p>
		</div>
		<div id="nav">
			<ul>
				<li id="M">
					<a href="#Michelle" title="Michelle">
						M
					</a>
				</li>
				<li id="I">
					<a href="#Is" title="Is">
						I
					</a>
				</li>
				<li id="C">
					<a href="#Charming" title="Charming">
						C
					</a>
				</li>
				<li id="H">
					<a href="#Happily" title="Happily">
						H
					</a>
				</li>
				<li id="E1">
					<a href="#Exalted" title="Exalted">
						E
					</a>
				</li>
				<li id="L1">
					<a href="#Luminous" title="Luminous">
						L
					</a>
				</li>
				<li id="L2">
					<a href="#Lovable" title="Lovable">
						L
					</a>
				</li>
				<li id="E2">
					<a href="#Eye-catcher" title="Eye-catcher">
						E
					</a>
				</li>
		</ul>
	</div>
	<div id="main">
		<div class="title">
			<h2 id="Michelle">
				M for Michelle
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>Here is a song:</p>
			<blockquote>
				<h4>Michelle <span class="quoteaut">by The Beatles</span></h4>
				<p>
					Michelle, ma belle.<br />
					These are words that go together well,<br />
					My Michelle.
				</p>
				<p>
					Michelle, ma belle.<br />
					Sont des mots qui vont tres bien ensemble,<br />
					Tres bien ensemble.</p>
				<p>
					I love you, I love you, I love you.<br />
					That's all I want to say.<br />
					Until I find a way<br />
					I will say the only words I know that<br />
					You'll understand.
				</p>
				<p>
					Michelle, ma belle.<br />
					Sont des mots qui vont tres bien ensemble,<br />
					Tres bien ensemble.</p>
				<p>
					I need you, I need you, I need you.<br />
					I need to make you see,<br />
					Oh, what you mean to me.<br />
					Until I do I'm hoping you will<br />
					Know what I mean.
				</p>
				<p>
					<b>
						I love you.
					</b>
				</p>
				<p>
					I want you, I want you, I want you.<br />
					I think you know by now<br />
					I'll get to you somehow.<br />
					Until I do I'm telling you so<br />
					You'll understand.
				</p>
				<p>
					Michelle, ma belle.<br />
					Sont des mots qui vont tres bien ensemble,<br />
					Tres bien ensemble.</p>
				<p>
					I will say the only words I know that<br />
					You'll understand, my Michelle. 
				</p>
			</blockquote>
		<p>I love the song!</p>
	</div>
		<div class="title">
			<h2 id="Is">
				I for Is
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>
				Is that crazy?
			</p>
			<p>
				I wrote this simple page for a whole afternoon.
			</p>
			<p>
				At the beginnin I just what to unscramble the name "MICHELLE" like the meaning of "<a href="http://www.gnu.org">GNU</a>".
			</p>
			<p>
				And I wrote it by only hand, no "<del><acronym title="What You See Is What You Get">WYSIWYG</acronym></del>". Just for fun? Maybe. And maybe because I am not good at using the tools like DreamWeaver or FrontPage. I know how to use them but I am not skilled. And I really love the pages I write. Every tag type out by my thinking, but no tools.
			</p>
			<p>
				And write a page for my someone, I must do it all by my creative.
			</p>
			<p>
				Give a hand make present, not buy.
			</p>
			<p>
				I don't know what color should I use in the page. So, I cannot but use the colours of her dressing that I had seen.
			</p>
			<p>
				And ...<br />
				Is can also use for many things.<br />
				MIchelle is...
			</p>
		</div>

		<div class="title">
			<h2 id="Charming">
				C for Charming
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>
				Michelle is charming.
			</p>
			<p>
				Her smile, Her fragrance, Every thing of her is charming.
			</p>
			<p>
				Like a flower.
			</p>
			<p>
				Sea Aster?
			</p>
			<p>
				I am bee, hurt bee, flying in the storm.
			</p>
		</div>
		<div class="title">
			<h2 id="Happily">
				H for Happily
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>
				She was laughing happily.
			</p>
			<p>
				I love her laughing voice.
			</p>
			<p>
				When I heard her "Ha Ha Ha Ha...",<br />
				I felt so happy.
			</p>
		</div>
		<div class="title">
			<h2 id="Exalted">
				E for Exalted
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>
				Michelle is Exalted, And I am true-hearted.
			</p>
			<p>
				I know I can't ask her love me, I know she have a boy friend and love him.
			</p>
			<p>
				I won't say anything, I won't tell the truth, I love her and care her quietly.
			</p>
			<p>
				I care her, we are friends.
			</p>
		</div>
		<div class="title">
			<h2 id="Luminous">
				L for Luminous
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>
				Yes, I live in dark,<br />
   				And Michelle is luminous. 
			</p>
		</div>

		<div class="title">
			<h2 id="Lovable">
				L for Lovable
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>
				Michelle is lovely.
			</p>
			<p>
				As I can't help falling the rain,<br />
				I can't help somethings also.
			</p>
		</div>

		<div class="title">
			<h2 id="Eye-catcher">
				E for Eye-catcher
			</h2>
		</div>
		<div class="content">
			<div class="totop">
				<a href="#header" title="Back To Top">
					Back To Top
				</a>
			</div>
			<p>
				Michelle is beautiful.
			</p>
			<p>
				She is a Eye-catcher.
			</p>
			<p>
				She catched my eye.
			</p>
			<p>
				And my heart...
			</p>
		</div>
	</div>
	<div id="footer">
		<h3>
			Design by <a href="mailto:linuximo@gmail.com" title="Send Mail To Me.">Lin Zhizhao</a>
		</h3>
		<p>
			Here is <a href="http://quasimo.blogbus.com" title="Quasimo Never Sleep">my Blog</a> and <a href="http://www.flickr.com/photos/quasimo/" title="Lin Zhizhao's photography">my flickr</a>.
		</p>
	</div>
</body>

</html>