<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Modern Day</title>
<style type="text/css">
@import "layout.css";
</style>
</head>

<body>
<div id="page">

<div id="top">

<div class="splitright">

<div class="greenbox">
<b>Jargon</b>
<p><em>To be your template or not to be, that is indeed the question? </em></p>
</div>

</div>

<h1>Modern Day</h1>
<h3>Your Slogan Here...</h3>

</div>

<div id="header">
<!--nothing here!-->
</div>

<div id="cbody">

<div id="navigation">

<div class="menu">

<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Information</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">About</a></li>
</ul>

</div>

<div class="news">
<b>News 00.00.0000</b>
<p>Modern day released!</p>
</div>

<div class="news">
<b>News 00.00.0000</b>
<p>Built a header which is free to use.</p>
</div>

<div class="menu">

<ul>
<li><a href="http://www.elgunvis.co.uk">elgunvis</a></li>
<li><a href="http://www.oswd.org">OSWD</a></li>
<li><a href="http://www.openwebdesign.org">OWD</a></li>
</ul>

</div>

</div>

<div id="content">

<h2>Welcome to Modern Day</h2>

<p>Hi, I have been hard at work to create a wonderful template and I think I now have it. I'll try and show you as many as possible;</p>

<h2>About the Design</h2>

<p>This design is clean and uses minimal pictures to create a modern feel. Although this template is free i would ask that you leave the link to me in the footer. If you do use it and want to take the link off please e-mail me to tell me you are using the design. This helps me find out which designs are doing best and I can improve on those that are, thanks.</p>

<div class="splitleft">

<h2>Left Splitter</h2>
<p>This is so that you can split the content of your page to one side if you want to.</p>
<h2>Colour Boxes</h2>
<p>At the top of the page you'll see a green box. This box has 4 diffrent color choices. Blue, Green, Yellow and Red. below are examples;</p>

<div class="redbox">

<p>The red box will look like this</p>

</div>

<div class="bluebox">

<p>The blue box will appear like this</p>

</div>

<div class="yellowbox">

<p>The yellow box will appear like this</p>

</div>

</div>

<div class="splitright">

<h2>Right Splitter</h2>
<p>Like the left splitter but this time to the right below are a few more features;</p>
<img src="images/image.jpg" alt=" " width="100" height="100" class="left addbox" />
<p>This is an example of two features the positioning divs and the addbox div. The addbox div creates the border around the image and the 'left' div aligns the picture to the left of the text.</p>
<p>&nbsp;</p>
<img src="images/image.jpg" alt=" " width="100" height="100" class="right addbox" />
<p>&nbsp;</p>
<p>This is an example of 'right' div which will make the image align to the right of the text. </p>
</div>

</div>

</div>

<div id="footer">
&copy; 2006 - Your Company ltd. | Developed by <a href="http://www.elgunvis.co.uk">Ashley Johnson</a>
</div>

</div>
</body>
</html>
