<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
  <title>doghouse.com</title>


  <link rel="stylesheet" type="text/css" href="doghouse.css" />
</head>

<body>

<div class="header">
<img alt="doghouse" src="doghouse.png" align="left" />doghouse.com
</div>

<hr noshade="noshade" size="5" width="500" />
<div class="subtitle">the best in dog housing<br />

</div>

<div class="nav">
<ul>

  <li><a href="#">Home</a></li>

  <li><a href="#">About</a></li>

  <li><a href="#">Contact</a></li>

  <li><a href="#">Links</a></li>

  <li><a href="#">Blog</a></li>

</ul>

</div>

<div class="leftcolumn">
<h4>Lorem Ipsum</h4>

<blockquote>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br />

Etiam mollis augue at risus.<br />

Curabitur ac neque consequat elit condimentum placerat.<br />

Fusce tristique porttitor lorem.<br />

  <br />

Nunc faucibus pede nec ipsum.<br />

Sed fringilla dolor et tortor.<br />

Vestibulum volutpat velit sed ipsum.<br />

Nam elementum pharetra ipsum.<br />

Pellentesque dignissim elit quis lorem.<br />

Nam varius felis sed tellus.<br />

  <br />

Donec aliquam porttitor enim.<br />

Maecenas rhoncus quam non turpis.<br />

Sed eu nulla vitae massa ultrices semper.<br />

  <br />

Vivamus accumsan enim et sem.<br />

Sed scelerisque orci id sapien.<br />

Suspendisse gravida purus non justo.<br />

Ut non enim ut orci dictum semper.<br />

In sit amet dolor ac leo gravida tristique.<br />

Donec adipiscing tortor sed nulla.<br />

Morbi ornare ligula et neque.<br />

  <br />

Mauris ultrices dictum felis.<br />

Suspendisse volutpat neque vitae pede.<br />

Curabitur ac mauris ut ligula condimentum porttitor.<br />

Aenean eleifend ipsum ac eros.<br />

Ut pharetra elit et est.
</blockquote>

</div>

<div class="rightcolumn">
<h4>Events</h4>

<img src="silhouette.png" alt="winner" /><br />

He is the champion! Recent studies show that silhouetted dogs are more
likely to win contests and the like.
<hr noshade="noshade" size="3" width="98%" />
<h4>Links</h4>

<ul>

  <li><a href="http://www.petco.com/">PetCo - where
the pets go.</a></li>

  <li><a href="http://www.petsmart.com/">PetSmart -
the pet's mart.</a></li>

  <li><a href="http://www.chien.com">Le Monde
Francophone du Chien</a></li>

</ul>

<hr noshade="noshade" size="3" width="98%" />
<h4>About</h4>

This page was created by Ben Lanier of bowlofnoodles design.
</div>

</body>

</html>
