<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Your site.com</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	</head>
<body>
<div id="container">
	<div id="left">
		<img src="images/navigation.gif" alt="navigation" />
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Downloads</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="mailto:ray.gerrard@ntlworld.com">Contact</a></li>
			</ul>
		<img src="images/members.gif" alt="members" />
			<form action="form.pl"><p>
				<input type="text" value="username" /><br />
				<input type="password" value="******" /><br />
				<input class="button" type="submit" value="Login" /></p>
			</form>
			<p>not got a username? <a href="#">register here</a></p>
		<img src="images/links.gif" alt="links" />
			<ul>
				<li><a href="http://www.oswd.org">OSWD</a></li>
				<li><a href="http://www.google.com">Google</a></li>
				<li><a href="http://www.w3schools.com">W3schools</a></li>
				<li><a href="http://www.raygerrard.com">Ray Gerrard</a></li>
			</ul>
	</div>
	<div id="content">
		<h2>Welcome</h2>
		<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
		<h2>Welcome</h2>
		<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
		<h2>Welcome</h2>
		<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
		<h2>Welcome</h2>
		<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
		
	</div>
	<div id="header">
		<h3>Your Site.com</h3>
	</div>
	<div id="news">
		<p>Insert latest news, or some images here.</p>
		<p>Insert latest news, or some images here.</p>
		<p>Insert latest news, or some images here.</p>
		<p>Insert latest news, or some images here.</p>
		<p>Insert latest news, or some images here.</p>
		<p>Insert latest news, or some images here.</p>
	</div>
	<div id="footer">
		<p>copyright 2006 | By <a href="mailto:ray.gerrard@ntlworld.com">Ray Gerrard</a></p>
	</div>
</div>
</body>
</html>
