/* ---------------------------- */
/* ------ By Ray Gerrard ------ */
/* ---------------------------- */

body{
	font: normal 12px/24px Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: url("images/background.gif");
	text-align: center;
}
a{
	color: #6699FF;
}
a:hover{
	color: #cccccc;
}
#container{
	width: 875px;
	margin: 0 auto;
	padding: 5px;
	text-align: left;
	border-right: 1px solid #d1d1d1;
	border-left: 1px solid #d1d1d1;
	background-color: #fcfcfc;
}
#left{
	float: left;
	width: 180px;
	padding: 0;
	margin: 0;
	border-right: 1px solid #cccccc;
}
#left ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#left li{
	text-indent: 1em;
}
#left li a{
	color: #6699ff;
	text-decoration: none;
}
#left li a:hover{
	text-decoration: underline;
}
#left p{
	margin: 0;
	padding-left: 1em; 
}
#left form{
	padding: 1em 0 0 0;
	margin: 0;
}
#left form input{
	margin: 0.2em 0;
	background-color: #f3f3f3;
	border: 1px solid #333333;
	width: 125px;
	font: 11px/22px Arial, Helvetica, sans-serif;
	padding: 0.2em;
}
#left form .button{
	width: 75px;
	background-color: #6699FF;
	padding: 0;
	margin: 0;
}
#content{
	margin-left: -1px;
	padding-left: 1em;
	width: 490px;
	float: left;
	border-left: 1px solid #cccccc;
}
#content h2{
	background-color: #B2EA6A;
	text-indent: 1em;
	font-size: 12px;
	font-variant: small-caps;
	color: #ffffff;
	margin: 0;
}
#content p{
	margin: 0;
	padding: 1em;
}
#news{
	width: 175px;
	border: 1px solid #cccccc;
	float: right;
	background-color: #f9f9f9;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}
#news p{
	margin: 1em;
	font-size: 10px;
}
#header{
	width: 175px;
	height: 50px;
	background-image: url("images/header.gif");
	float: right;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}
#header h3{
	font: 16px verdana, arial;
	color: #ffffff;
	padding: 25px 10px 5px 0;
	margin: 0;
	font-weight: bold;
	text-align: right;
}
#footer{
	clear: both;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
}