<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Extreme Heat</title>

        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css" />

    </head>

    <body>

        <!-- header -->
        <div id="header">
            <h1>Extreme Heat</h1>
        </div>

            <!-- content -->
            <div id="wrap">

                <!-- navigation -->
                <div id="navigation">

                    <ul>
                        <li><a href="#">Link 1</a>
                            <ul>
                                <li><a href="#">Sublink 1</a></li>
                                <li><a href="#">Sublink 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>

                </div>

                <!-- right column -->
                <div id="right">
                    <h1>About</h1>
                    This template was made becuase of the extreme heat that I am experiencing at this time. It is currently 42C. Yes that's hot, in F. It's 108. Indeed hot, so stop complaining about 0F weather, I'd love to be there.
                </div>

                <div id="content">
                    <h1>About This Template</h1>
                    The template you are currently staring at is something inspired by the extreme heat I am experiencing. The template is <a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.1</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a>!
                    <h1>About Me</h1>
                    My name is Nicholas Sharp. I'm 16 years old and I come from the land down under, aka Australia. I've been designing since I was 12 but only getting used to XHTML 1.1 and converting from tables to div tags. I still can't do any major huge complicated layouts. Let's hope that changes. =) I suppose this is rather complicated, I think this is a good way to do it. But, I may be wrong.
                    <h1>Browsers</h1>
            This layout has been tested extensivly in all major browsers (and by extensive, I mean a 10 second look to see if it was the same). Opera 8.5, Firefox 1.5 and IE6 all render the page the same, they render the fonts differently but that's how the browsers were built. IE makes sans-serif smaller in width i've noticed. Don't know why though.
                </div>

            </div>

        <!-- footer -->
        <div id="footer">

            &copy; 2006 You<br />
            Site Design :: <a href="http://adeontech.net">Adeon Technologies</a>

        </div>

    </body>
    
</html>
