<?xml version="1.0" encoding="utf-8" xml:lang="en-US"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>I.M.Sleazy, Inc.</title>
<link rel="stylesheet" type="text/css" href="print.css" media="print" />
<link rel="stylesheet" type="text/css" href="sleazy.css" title="Main Style" media="screen" />
</head><body>
<div id="pageContainer">

<!-- Top Menu -->
<div id="subHead">
<ul id="menuAbove">
<li><a class="menuAbove" href="#">Main Page</a></li>
<li><a class="menuAbove" href="#">Services</a></li>
<li><a class="menuAbove" href="#">Customer Miscare</a></li>
<li><a class="menuAbove" href="#">Give Us Money</a></li>
<li><a class="menuAbove" href="#">Contact</a></li>
<li>Search (If You Can): <input type="text" /></li>
</ul>
</div>
<!-- Top Menu -->

<!-- Header -->
<div id="header">
 <span id="logo">
 <span id="logoText">I.M. Sleazy, Inc.</span>
 <span id="logoTextTagline">Milking You of Your Money Like a Farmer Milks a Cow</span>
 </span>
</div>

<div id="centerOfPage">
<!-- Actual Content -->
<div id="menuLeft">
<span class="menuHead">Services</span>
<p><a class="menuLeft" href="#">Stealing</a><br />
<a class="menuLeft" href="#">Rip-Offs</a><br />
<a class="menuLeft" href="#">Lack of Substance</a></p>

<span class="menuHead">Malpractices</span>
<p><a class="menuLeft" href="#">Book-Cooking</a><br />
<a class="menuLeft" href="#">Shredding</a><br />
<a class="menuLeft" href="#">Lying to Everyone</a></p>

<span class="menuHead">Our Friends</span>
<p><a class="menuLeft" href="#">Enron</a><br />
<a class="menuLeft" href="#">Worldcom</a><br />
<a class="menuLeft" href="#">Lucifer, Ltd.</a></p>
</div>
 <!-- Main Page -->
<div id="contentBlock">
<span class="contentHead">We Want Your Money</span>
<p>This is "I.M. Sleazy". As the name suggests, this design is meant for a professional company that intends to use a decent layout. I understand that green is not the most desirable color; however, it is easy to change. The green just kind of goes with the theme of avarice. Now, if your company <i>is</i> greedy, then, hey, green will work well for you.</p>

<span class="contentHead">About the Template</span>
<p>This template was <a href="http://www.oswd.org/designs/search/designer/id/6986/">created by Generalissmo</a> and, according to his records, this his 4th template that has been accepted. It has been tested in Firefox 1.5, Opera 8.51, and (of course) Internet 6.0, service pack 2. You are free to download, modify, or do whatever with the template.</p>

<p>While Generalissmo created the template, he would like to list the two designers who had a large influence on him:</p>
<ul><li><span class="highlight">haran</span>: <a href="http://www.oswd.org/design/preview/id/1165">his template Sinorca 2.0</a> provided as a study guide when it came to getting the menu and content blocks to actually work. He is a god among mortals. Praise him.</li>
<li><span class="highlight">JJenZz</span>: her template Keeping It Clean was in mind when Generalissmo worked on the top menu. She is 100000000000000000 times better than Generalissmo will ever be. <a href="http://www.oswd.org/designs/search/designer/id/7634/">Stare in awe at her work</a>.</li></ul>

<p>The above photograph was obtained from <a href="http://www.freefoto.com/">FreeFoto.com</a>. Need stock photos and don't want to register with a website to get them? FreeFoto is the place to get them. The image of Nietzsche (see below) was <a href="http://commons.wikimedia.org/wiki/Main_Page">obtained from Wikipedia Commons</a>.</p>

<span class="contentHead">Obligatory Quote From Nietzsche</span>
<p>In every template (except for one), I've added a quote from Nietzsche, someone that may not be well known by most people. Friedrich Nietzsche was a German philosopher who died in 1900. He is famous for many concepts; he was quite the thinker, and often is hard to understand in his writings. Still, he is informative (and often makes a funny remark in the process).</p>

<span class="quote">On the rare occasions when our dreams succeed and achieve perfection&mdash;most dreams are bungled&mdash;they are symbolic chains of scenes and images in place of a narrative poetic language; they circumscribe our experiences or expectations or situations with such poetic boldness and decisiveness that in the morning we are always amazed at ourselves when we remember our dreams. We use up too much artistry in our dreams&mdash;and therefore often are impoverished during the day.<br />
- Nietzsche, <i>The Wanderer and His Shadow</i></span>

<p>Find any truth in his words?</p>
</div>
 <!-- Main Page -->
</div>
<!-- Notice -->
<div id="notice">
<span class="floatRight">forever &copy; I.M. Sleazy, Inc.<br />
<a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://validator.w3.org/check?referer">Valid XHTML Strict</a></span>
URI: <a href="#">http://www.giveusmoney.com/</a><br />
<a href="#">Contact Webmaster</a> | <a href="#">Contact I.M. Sleazy, Inc.</a>
</div>
<!-- Notice -->
</div></body></html>