<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <!-- inspired by "Winter's Curse" by mike roush -->
        <title>The City</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta name="author" content="Nick Boyes" />
        <link rel="stylesheet" type="text/css" href="./style.css" />        
    </head>

    <body>
        <div id="banner">
            <a href="#">The City</a>
        </div>
        
        <div id="nav">
            <ul>
		        <li><a href="#"> Home </a>|</li> 
		        <li><a href="#downtown"> Downtown </a>|</li>
		        <li><a href="#industrial"> Industrial </a>|</li>
		        <li><a href="#residental"> Residental </a>|</li>
	        </ul>
        </div>
        
        <div id="content">
            <div class="title">
                Home: Dabble's first design looks like a newspaper
            </div>
            
            <div class="article">
                <p>The design is pretty simple.  This isn't even a newspaper.  It's more like a newsletter.  It was inspired by <a href="http://oswd.org/design/preview/id/2516">Winter's Curse</a> by <a href="http://oswd.org/user/profile/id/7584">Mike Roush</a> and by <a href="http://www.netalive.org/tinkering/serious-perl/">this</a> Perl tutorial.  I took the photograph, so please <a href="mailto:nboyes@gmail.com">email me</a> if you use the design and/or the photograph.  </p>
                
                <p>This page is <a href="http://validator.w3.org/">valid XHTML</a> and <a href="http://jigsaw.w3.org/css-validator">valid CSS</a>.  It has been tested in Firefox 1.0.7, Opera 8.5 and Internet Explorer 6.</p>
                          
            </div>
            
            <div id="downtown" class="title">
               Downtown: The internet is for everyone
            </div>
    
            <div class="article">
                <p>I think one of the largest problems on the Internet today is pages with lots of tight and heavy text.  And as you see, even copious amounts of text are easy to read on this page.  But of course, there is always room for improvement.</p>      
                
                <p> The internet is for everyone.  Not just the rich people with enough money for high end computers and broadband.  I think that's why XHTML and CSS are worth learning.  Not everything can be flash.  And most sites don't even need to be that complicated.</p>
                
                <p>XHTML/CSS makes a consistent and efficent experience for all internet users great and small.</p>
            </div>
            
            <div id="industrial" class="title">
                Industrial
            </div>
            
            <div class="article">
Morbi elementum varius ipsum. Mauris non risus. Donec augue leo, euismod a, cursus id, vulputate a, nisi. Proin in elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla metus. Aenean leo. Cras sem lectus, cursus a, nonummy id, elementum eu, leo. Pellentesque risus eros, vulputate nec, condimentum sit amet, sollicitudin tristique, purus. Etiam dolor libero, eleifend fringilla, fringilla ut, accumsan pharetra, quam. Vestibulum in velit. Etiam sagittis mi quis pede. Aliquam semper. Integer egestas. Praesent cursus.

Ut placerat metus in augue. Phasellus in urna. Aliquam molestie, mi ut dictum elementum, turpis tellus facilisis massa, a pharetra diam dolor sed odio. Maecenas purus justo, sagittis non, interdum vitae, porta sed, est. Maecenas turpis. Integer lacinia magna vitae tellus. Cras venenatis. Phasellus a purus. Nulla egestas est non justo. Integer vitae sapien sed arcu pulvinar ullamcorper. Nullam turpis ipsum, volutpat ut, pharetra pharetra, ultricies id, quam. Nunc diam purus, condimentum eu, ornare vitae, tempus nec, metus. Quisque et erat in nibh vehicula interdum. Donec quis justo id dolor scelerisque tempor. Duis vestibulum elementum enim. Suspendisse et sapien ac nunc facilisis eleifend. Proin mollis. Curabitur turpis. Cras tempor iaculis sem.
            </div>

            <div id="residental" class="title">
                Residental
            </div>

            <div class="article">
Praesent at neque eget urna facilisis condimentum. Nullam feugiat fringilla nulla. Nulla facilisi. Integer rhoncus velit vel felis. Donec non risus. Vestibulum eu lorem. Proin urna lorem, sodales non, cursus sit amet, sodales eu, enim. Suspendisse convallis dui id nunc. Maecenas ullamcorper, quam sit amet consectetuer bibendum, purus ipsum viverra felis, id scelerisque tellus leo ac felis. Nunc velit neque, fermentum vel, lobortis et, porttitor vel, urna. Donec id neque. Cras purus risus, egestas vitae, luctus at, sollicitudin in, nulla.
            </div>           
            
        </div>

        <div id="foot">
            Copyright &copy; 2005<br /><a href="mailto:nboyes@gmail.com">email me</a>
        </div>
        <div>&nbsp;</div>
        
    </body>
</html>
