<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

	<title>homepage: an open source design by Christian Montoya - About Me</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="author" content="C Montoya" />

	<meta name="description" content="This is an open source design by Christian Montoya. All content is free to the public." />

	<meta name="keywords" content="web, design, css, free" />

	<link rel="stylesheet" type="text/css" href="default.css" title="default" media="screen" />

</head>

<body>
	<div id="top">
		<h1>Homepage</h1>
	</div>
	
	<div id="content">
		<div id="sidebar">
			<ul id="nav" title="Navigation">
				<li class="first"><span class="navspan">Navigation</span></li>
				<li><a href="index.html">Main</a></li>
				<li><a href="site.html">About This Site</a></li>
				<li><a href="about.html">About Me</a></li>
			</ul>
		</div>
		
		<h2>About me</h2>
		
		<p>I am an electrical engineering student who really, really likes web design. I work as a freelance designer under the name <a href="http://www.rdpdesign.com">RDP Design</a>. I blog at <a href="http://www.christianmontoya.com">christianmontoya.com</a> and I also run <a href="http://www.cssliquid.com">Liquid Designs</a>, the best resource for fluid width CSS design on the web.</p>
		<p>This is my first open source design and it probably won't be my last.</p>

		<div id="foot1">
			<p>This is the footer. You can validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.</p>
			<p>Homepage: An original design by <a href="http://www.christianmontoya.com">Christian Montoya</a>.</p>
			<p><a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons by-sa</a></p>
		</div>
	</div>
	<div id="foot2"> </div>

</body>
</html>