<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

	<title>homepage: an open source design by Christian Montoya</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="author" content="C Montoya" />

	<meta name="description" content="This is an open source design by Christian Montoya. All content is free to the public." />

	<meta name="keywords" content="web, design, css, free" />

	<link rel="stylesheet" type="text/css" href="default.css" title="default" media="screen" />

</head>

<body>
	<div id="top">
		<h1>Homepage</h1>
	</div>
	
	<div id="content">
		<div id="sidebar">
			<ul id="nav" title="Navigation">
				<li class="first"><span class="navspan">Navigation</span></li>
				<li><a href="index.html">Main</a></li>
				<li><a href="site.html">About This Site</a></li>
				<li><a href="about.html">About Me</a></li>
			</ul>
		</div>
		
		<p>Hi there! This is "Homepage."</p>
		<p>I originally made this design for a web design course. The project required us to make a 3 to 5 page "homepage" that was, well, completely original. This was the first <acronym title="Cascading StyleSheets">CSS</acronym> based design that I was actually happy with and that other people liked. It was selected as one of the top designs in the class and ended up being the first entry in my web design portfolio. It was even featured on <a href="http://www.nv30.com/mt/blogomania/2005_09.php?page=12">CSS-MANIA</a>. Not bad, right?</p>
		<p>A month ago I decided to give this design away and yes, it was a month before I actually got the time to package it up and submit it. In the months since I made this design I've matured a lot as a designer; for example, almost all the designs I do now are fluid or elastic width. But this is 600 pixels wide and it's a nice little design that you can modify however you like. Feel free to edit the images, play with the CSS, and do anything else to make this design your own.</p>
		<p>This design is licensed as <a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. The only thing you have to do to use this design is credit me with a line like the second one in the footer on this page. You can use this design for commercial purposes if you wish. Thanks, and enjoy!</p>

		<div id="foot1">
			<p>This is the footer. You can validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.</p>
			<p>Homepage: An original design by <a href="http://www.christianmontoya.com">Christian Montoya</a>.</p>
			<p><a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons by-sa</a></p>
		</div>
	</div>
	<div id="foot2"> </div>

</body>
</html>