<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

	<title>homepage: an open source design by Christian Montoya - About This Site</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="author" content="C Montoya" />

	<meta name="description" content="This is an open source design by Christian Montoya. All content is free to the public." />

	<meta name="keywords" content="web, design, css, free" />

	<link rel="stylesheet" type="text/css" href="default.css" title="default" media="screen" />

</head>

<body>
	<div id="top">
		<h1>Homepage</h1>
	</div>
	
	<div id="content">
		<div id="sidebar">
			<ul id="nav" title="Navigation">
				<li class="first"><span class="navspan">Navigation</span></li>
				<li><a href="index.html">Main</a></li>
				<li><a href="site.html">About This Site</a></li>
				<li><a href="about.html">About Me</a></li>
			</ul>
		</div>
		
		<h2>About this site</h2>

		<p>By now you probably noticed that the navigation links jump when you hover over them. You can turn this effect off in the CSS if it annoys you.</p>
		<p>Here are some examples of markup so you can see how they appear:</p>
		
		<ul>
		<li>An unordered list, item 1</li>
		<li>An unordered list, item 2</li>
		</ul>
		
		<dl>
		<dt>Term one of the definition list</dt>
		<dd>Definition one</dd>
		<dt>Term two</dt>
		<dd>Definition two</dd>
		</dl>

		<p><a href="#">An example link that goes nowhere.</a></p>

		<h3>A fake header, h3.</h3>

		<div id="foot1">
			<p>This is the footer. You can validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.</p>
			<p>Homepage: An original design by <a href="http://www.christianmontoya.com">Christian Montoya</a>.</p>
			<p><a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons by-sa</a></p>
		</div>
	</div>
	<div id="foot2"> </div>

</body>
</html>