<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="Davide Rognoni" />
	<meta name="keywords" content="" />
	<meta name="description" content="LocaWapp Design 03" />
	<meta name="robots" content="all" />
	<title>ScienPow - Science of Power</title>
	<style type="text/css" media="all">
		@import "main.css";
	</style>
</head>
<body>
<div id="page">
	<div id="intro">
		<h1>ScienPow - Science of Power</h1>
	</div>
	<div id="menu">
		<a href="#">home</a>
		<a href="#">author</a>
		<a href="#">blog</a>
		<a href="#">forum</a>
		<a href="#">group</a>
		<a href="#">contact</a>
		<div class="end"></div>
	</div>
	<div id="content">
		<div id="right">
			<h1>What's your Power?</h1>
			Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla ...
			<h1>Who dominate your life?</h1>
			Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla ...
		</div>
		<div id="left">
			<h1>Can you live 100 years?</h1>
			Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla ...
			<h1>What's Universe Power?</h1>
			Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla ...
		</div>
		<div class="end"></div>
	</div>
	<div id="footer">
		by Davide Rognoni
		<a href="http://DavideRognoni.blogspot.com">http://DavideRognoni.blogspot.com</a>
	</div>
</div>
</body>
</html>
