<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>ray_07</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
<body>
<div id="container">
	<div id="nav">
		<ul>
			<li><a href="mailto:ray.gerrard@ntlworld.com">Contact Me</a></li>
			<li><a href="#">About Me</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Home</a></li>
		</ul>
		<img src="images/img.jpg" alt="image alt" />
	</div>
	<div id="content">
		<h2>Welcome</h2>
		<p>This is another one of my submissions to OSWD, normally I just include some dummy text to fill my designs but this time im going to include some information about myself.</p>
		<p>My name is Ray Gerrard, I am 18 years old and I live in the United Kingdom. I have been interested in Web Design for some time, but have only taken it up more seriously recently.</p>
		<h2>My Designs</h2>
		<p>Thank you for looking at my design, be sure to check out my OSWD portfolio by clicking <a href="http://www.oswd.org/designs/search/designer/id/8562/">here</a>.</p>
	</div>
	<div id="footer">
		<p>Copyright 2006 | By <a href="mailto:ray.gerrard@ntlworld.com">Ray Gerrard</a></p>
	</div>
</div>
</body>
</html>

