<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

	<head>
		<title>frozen</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="style.css" type="text/css" />
	</head>

	<body>

		<div id="container">

			<div id="header">
				<h1><a href="#">frozen</a></h1>
			</div>

			<div id="sidebar">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Photos</a></li>
					<li><a href="#">Links</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>

			<div id="content">

				<p>
				This is my first design for OSWD, so any comments/feedback would be greatly appreciated!  I tried to
				keep it fairly simple - hopefully people will like it and will be able to use it.  I took the photo
				at Mendenhall Glacier in Juneau, Alaska.  You are free to use it with this template, or you can replace
				it with a photo of your own.
				</p>
				<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ligula lectus, dapibus eu, commodo ac,
				tincidunt eget, nibh. Aliquam auctor magna vel elit. Integer sed est. Mauris ligula mi, porta aliquet,
				egestas sed, nonummy a, nisi. Sed a erat sed ipsum ornare rutrum. Nam semper tristique nulla. Donec
				eros nisl, pulvinar vitae, tincidunt et, vulputate a, mauris. Etiam eu ligula. Aliquam aliquet convallis
				enim. Vestibulum tempus, enim non elementum condimentum, lectus orci sagittis turpis, vitae sagittis
				dolor augue eu ligula. Curabitur lorem odio, interdum in, posuere luctus, luctus at, quam.
				</p>
				<p>
				Morbi at nisl. Ut mattis, enim quis tincidunt tempus, erat augue sodales ante, a aliquam est elit a
				diam. Integer dictum odio in lectus. Ut non leo. Fusce iaculis consectetuer ligula. Nam blandit congue
				urna. Suspendisse potenti. Nulla porttitor neque in augue. Maecenas libero urna, fermentum sit amet,
				venenatis id, viverra mollis, urna. Nam volutpat fringilla tellus. Nullam quam. Integer tortor lorem,
				dictum eget, sollicitudin non, dictum vel, quam. Vestibulum ante ipsum primis in faucibus orci luctus
				et ultrices posuere cubilia Curae;
				</p>
				<p>
				Fusce metus. Morbi suscipit. Etiam ultrices. Mauris feugiat placerat leo. Nulla nec nunc ut nisi
				auctor tincidunt. Maecenas ornare accumsan magna. Proin eleifend, arcu id volutpat tempor, nisi
				ante venenatis pede, quis luctus diam augue egestas elit. Aenean sit amet leo non ipsum auctor
				ornare. Nullam blandit. Aenean dictum faucibus mauris. Nulla quam odio, sollicitudin in, varius
				non, tincidunt sit amet, massa. Nunc mi sapien, scelerisque sit amet, fermentum sed, consequat id,
				nunc. Nulla facilisi. Aliquam ac velit. Sed interdum lectus pretium magna. In hac habitasse platea
				dictumst. Aliquam dictum tempus tortor. Pellentesque habitant morbi tristique senectus et netus et
				malesuada fames ac turpis egestas. Quisque tincidunt fringilla magna. Integer accumsan nisi a metus.
				</p>

			</div>

			<div id="footer">
				design by <a href="mailto:bcwood@gmail.com" title="email the designer">brandon wood</a> |
				valid <a href="http://validator.w3.org/check?uri=referer" title="valid xhtml">xhtml</a> |
				valid <a href="http://jigsaw.w3.org/css-validator/" title="valid css">css</a>
			</div>

		</div>

	</body>

</html>