<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<!-- change this to the title you want to appear in browser title bar -->

<title>Lounge Act</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="dreamLogic" />
<meta name="description" content=" " />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>


<div id="wrap">

<div id="header">
<span class="title"><br />Lounge Act</span>
</div>

<div id="navcontainer">
<ul id="navlist">

<!-- put your navigation links and text here -->

<li><a href="#">Home &#9794; </a></li>
<li><a href="#">Events &#9792; </a></li>
<li><a href="#">Performers &#9794; </a></li>
<li><a href="#">Contact &#9792; </a></li>
<li><a href="http://validator.w3.org/check?uri=referer">Xhtml &#9794; </a></li>

<!-- end navigation -->

</ul>
</div>

<!-- here is your page content -->

<div id="content">

<h3>About this Design &#9794;</h3>
<p>
"Lounge Act" is a song by the 1990s grunge band, Nirvana. It is the ninth song on their 1991 album, Nevermind. The lyrics were written by Kurt Cobain, and the music by Cobain, Krist Novoselic and Dave Grohl. The title "Lounge Act" comes from the fact that the band felt that the song sounded like a lounge song that a bar band would play.
</p>
<p>
Kurt Cobain said of the song: "That song is mostly about having a certain vision and being smothered by a relationship and not being able to finish what you wanted to do artistically because the other person gets in your way."
</p>
<p>
It was later revealed in Charles Cross's book, Heavier Than Heaven that the song was about Kurt's ex-girlfriend, Tobi Vail. Krist Novoselic is quoted as saying that "Lounge Act" is about Tobi and Kurt wrote in an angry (unsent) letter to Vail that "Lounge Act" was the only song written about her and wrote that he never played it unless Courtney Love was not around.
</p>
<p>
See also: <a href="http://en.wikipedia.org/wiki/Lounge_Act">Wikipedia - Lounge Act</a>
</p>

<h3>About the Designer &#9792;</h3>
<p>
This template is released as an open source web design, which means that you are free to use it in 
any way you want, and edit it in any way you want to. We ask that you leave the 
"Web design by dreamLogic" link in the footer as a friendly gesture, 
we would appreciate it very much. But there are no obligations so go ahead if you really want to remove it. 
</p>
<p>
dreamLogic has been creating custom web designs and applications for over 9 years. 
For more templates, web applications, and our portfolio, visit <a href="http://www.dream-logic.com">dreamLogic Web Design</a>.
</p>

<!-- end page content -->

</div>

<div id="footer">
    
<!-- it'd be super if you left this link intact -->    
    
    <a href="http://www.dream-logic.com">Web Design by dreamLogic</a>
</div>


<!-- end wrap -->
</div>

</body>
</html>