<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Simplex 4</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="description" content="Description goes here" />
    <meta name="keywords" content="Keywords go here" />
    <meta name="author" content="Ganesh Gunasegaran" />
    <link rel="stylesheet" type="text/css" href="css/default.css" media="screen, tv, projection" title="Default" />
    <link rel="alternative stylesheet" type="text/css" href="css/large.css" media="screen, projection, tv" title="Larger Fonts" />
    <link rel="alternative stylesheet" type="text/css" href="css/print.css" media="screen" title="Print Preview" />
    <link rel="stylesheet" type="text/css" href="css/handheld.css" media="handheld" title="Small Layout" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
</head>

<body>
    <div id="header">
        <div id="header_bar">
            <span class="title"><a href="">Simplex 4</a></span>
            <span class="top_menu">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Support</a>
                <a href="#">About Us</a>
            </span>
        </div>
    </div>

    <div id="page">    
        <div id="wrapper"> 
            <div id="content">
                <div id="path">
                    <a href="index.html">Home</a> > <a href="index.html">Introduction</a>
                </div>    
            <div id="main">
                <div id="left">
                    <p class="block">
                        <span class="center">"Simplicity is the ultimate sophestication" - Albert Eienstein.</span>
                    </p>
          
                    <p>
                        This design is heavily based on <a href="http://www.oswd.org/design/preview/id/2758">'Blue Design'</a> by jonasj. 
						 As usual this design is free for any use. For comments and feedback please shoot a mail to <a href="mailto:gg@sprout.in">gg@sprout.in</a>. 
                    </p>
                
                    <h1>Site News</h1>

                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
                        quis nostrud exerci tation ullamcorper suscipit lobortis 
                        nisl ut aliquip ex ea commodo consequat. 
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
                        quis nostrud exerci tation ullamcorper suscipit lobortis 
                        nisl ut aliquip ex ea commodo consequat. 
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
                        quis nostrud exerci tation ullamcorper suscipit lobortis 
                        nisl ut aliquip ex ea commodo consequat. 
                    </p>
                </div>
                <div id="right">
                    <div id="right_menu">
                        <ul>
                            <li>- <a href="#">sub page one</a></li>
                            <li>- <a href="#">sub page one</a></li>
                            <li>- <a href="#">sub page one</a></li>
                        </ul>
                    </div>
                </div>
        </div>   
      </div>
    
    <div id="footer">
        Copyright &copy; 2006 Your Company Inc. Website optimized for 1028 x 768 resolution. Crafted by <a href="mailto:gg@sprout.in">Ganesh Gunasegaran.</a>
    </div>
	</div>
</div>

</body>
</html>