<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

    <head>
    
        <title>Purple Rain</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />

    </head>

    <body>

        <table border="0" width="80%" cellspacing="0" cellpadding="0">
            <tr>
                <td class="header_image">

                </td>
                <td class="header_text">
                    <h1>Purple Rain</h1>
                    <h2>Your slogan goes here</h2>
                </td>
            </tr>
            <tr>
                <td class="content" colspan="2">
                    <h3>Index</h3>

                    <table cellspacing="0" class="nav">
                        <tr><td class="link"><a href="#">Link 1</a></td></tr>
                        <tr><td class="link"><a href="#">Link 2</a></td></tr>
                        <tr><td class="link"><a href="#">Link 3</a></td></tr>
                        <tr><td class="link"><a href="#">Link 4</a></td></tr>
                        <tr><td class="link"><a href="#">Link 5</a></td></tr>
                    </table>
                    <font class="content">
                        Here we are, my second template. This is valid XHTML 1.0 Transitional. I could never get the hang of DIV tags to do a full layout with it. It's also valid CSS and it works perfectly in Opera and Firefox. I can't seem to figure out why the images don't load in IE. They work in the other two major ones perfectly fine... This layout uses the font "Eurostile". If your computer does not have it installed. It will revert to a generic sans-serif font type.
                        <br /><br />
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed pellentesque tincidunt ante. Fusce fringilla dolor at nunc. Nullam sem erat, convallis et, lacinia eget, accumsan eu, sapien. Vivamus a nibh. Mauris id nunc nec nulla dignissim dictum. Nulla dignissim. Ut quam. Nulla nonummy augue eu justo. In tincidunt mollis enim. Cras cursus facilisis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultricies lorem non augue. Nullam hendrerit tempor lorem. Pellentesque pede urna, ornare in, varius eget, pretium non, orci. Donec mollis erat volutpat eros.
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="footer_text">
                    <font class="footer_text">
                        &copy; 2006 Your Site :: Site Design - <a href="http://adeontech.net">Adeon Technologies</a>
                    </font>
                </td>
            </tr>
        </table>

    </body>
</html>
