<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
<meta name="description" content="description" />
<meta name="keywords" content="keywords" />
<meta name="author" content="your-name  / Original design - Martin Villiam Jensen - http://blackcave.dk/" />
<title></title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div id="main">

 <div id="head">
<h1>When The Roses Sing</h1>
 </div>

<br />

<!--  Read this:

     this is the menu. put in the links you want on your on site.

-->
 <div id="menu">
  <a href="index.html" title="">Home</a> :::
  <a href="index.html" title="">About Us</a> :::
  <a href="index.html" title="">Blog</a> :::
  <a href="index.html" title="">Forum</a> :::
  <a href="index.html" title="">Links</a> :::
  <a href="index.html" title="">Contact</a>
 </div>

<!--  Read this:

     this is the content box. here you can write what you want on your site

-->

 <div id="content">
   <p>
Thank you for downloading one of my web templates... <br />
The templates is open source, but as long as you use the design please keep my name and link at the end of this site.<br />
This template is free for you, as long you dont use it for commercial use. if you want it for commercial use, please contact me at <a href="mailto:info@blackcave.dk">info@blackcave.dk</a>, then i'll make a price for you.<br />
The picture in the "header" is from <a href="http://www.sxc.hu" title="Stock Echange">Stock Exchange</a> - The pictures is free, as long it's for non-commercial use.<br /><br />
<i>- Made by <a href="http://www.blackcave.dk" title="Martin Villiam Jensen">Martin Villiam Jensen</a></i>
   </p>
 </div>

</div>

<!--  Read this:

     this is the foot. please don't remove my name and link.

-->

  <p class="foot">This site is designed and programmed by <a href="http://www.blackcave.dk" title="Martin Villiam Jensen">Martin Villiam Jensen</a> </p>

</body>
</html>