<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<!--
	Design by programmer
	programmerdm[at]o2.pl
-->

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="print.css" media="print" />
	<title>Nightmare of City</title>
	
</head>

<body>

<div id="site">

	<div id="header">
	
		<h1>Nightmare of City</h1>
		<h2>When you wake up and look through the window...</h2>
	
	</div>
	
	<div id="menu">
	
		<a href="#">Home</a>
		<a href="#">Simple link</a>
		<a href="#">Nothing more</a>
		<a href="http://www.oswd.org/">OSWD</a>
			
	</div>
	
	<div id="content">
	
		<h1>Home</h1>
		
		<p>
			Hi! It's my first template what I submitted to <acronym title="Open Source Web Design">
			OSWD</acronym>. It is 100% valid XHTML 1.0 Transitional and CSS and it uses UTF-8 encoding.
			You may use this template for free, but please, send <a href="mailto:programmerdm@o2.pl">me</a>
			an e-mail if you use it	on your site...
		</p>
		
		<p>
			The header photo is taken by me few days ago. I'm the only author of this photo, and you may
			modify it with the design.
		</p>
		
		<p>
			So... you may modify anything you want in this design.
		</p>
		
		<p>
			This design have been tested with Mozilla Firefox and Microsoft Internet Explorer 6. In both
			browsers it was working propertly.
		</p>
	
	</div>
	
	<div id="copyright">
	
		<em>Site name</em> &copy; Copyright 2006 <a href="mailto:your@email.xyz">You</a>
	
	</div>

</div>

</body>
</html>
