body {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#site {
	width: 788px;
	margin: 0 auto;
}
#header {
	border-left: 1px #000000 solid;
	border-right: 1px #000000 solid;
	background-image: url(background.jpg);
	height: 196px;
	margin: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: inherit;
	border-bottom: 1px #000000 solid;
}
#header h1 {
	padding: 55px 0px 50px 0px;
	font-size: 28px;
	margin: 0px 0px 0px 0px;
}
#header h2 {
	font-size: 19px;
	margin: 0px 0px 0px 0px;
}
#menu {
	border-left: 1px #000000 solid;
	border-right: 1px #000000 solid;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 5px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 16px;
	background-image: url(menu.jpg);
}
#menu a {
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	padding: 4px 5px 5px 5px;
	height: 10px;
	background-color: inherit;
	background-image: url(menu.jpg);
	color: #FFFFFF;
}
#menu a:hover {
	background-image: url(menu2.jpg);
}
#content {
	border-left: 1px #666666 dashed;
	border-right: 1px #666666 dashed;
	margin: 0px 0px 40px 0px;
	padding: 15px 15px 20px 15px;
}
#content h1 {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: left;
	margin: 20px 0px 30px 0px;
}
#content p {
	display: block;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0px 0px 15px;
}
#content a {
	background-color: inherit;
	color: #000000;
}
#content a:hover {
	background-color: inherit;
	color: #999999;
}
#copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#copyright a {
	background-color: inherit;
	color: #000000;
}
#copyright a:hover {
	background-color: inherit;
	color: #999999;
}