<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Your description goes here" />
  <meta name="keywords" content="your,keywords,goes,here" />
  <meta name="author" content="Your Name / Design Template: Gerhard Erbes / Email: gw@actamail.com/" />
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <title>GoFlexible2 - Yellow Options</title>
</head>

<body>
  <div id="wrap">

    <!-- HEADER -->
    <!-- Header banner background -->
    <div id="header-banner">	

    <!-- Header top navigation -->
      <div id="header-nav-top">
			  <ul>
    	    <li><a href="#">About us</a></li>
    			<li><a href="#">Contact</a></li>
    			<li><a href="#">Impressum</a></li>																		
          <li><a href="#"><img class="img-flag" src="./img/img_flag_unitedkingdom.gif" title="English" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/img_flag_austria.gif" title="Deutsch" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/img_flag_sweden.gif" title ="Svenska" alt=""/></a></li>
        </ul>
		  </div>								
    </div>
		
    <!-- Header bottom navigation -->					
    <div id="header-nav-bottom">
			<ul>
        <li><a href="index.html">Entry Page</a></li>
        <li><a href="other.html">Other Pages</a></li>
        <li><a href="grey.html">Grey options</a></li>
        <li><a href="#" class="selected">Yellow options</a></li>
        <li><a href="blue.html">Blue options</a></li>
        <li><a href="green.html">Green options</a></li>																		
        <li><a href="red.html">Red options</a></li>
		  </ul>
		</div>
		
  	<!-- Buffer to content area -->		
		<div id="buffer"></div>			

  	<!-- LEFT COLUMN -->
		<div id="left-column">
      <ul>
        <li class="left-nav-title">Menu title</li>
        <li class="left-nav-group"><a href="#">Menu Link 5-1</a></li>		
        <li class="left-nav-group"><a href="#" class="selected">Menu Link 5-2</a></li>
        <li><a href="#">Menu Link 5-2-1</a></li>
        <li><a href="#">Menu Link 5-2-2</a></li>
		    <li><a href="#">Menu Link 5-2-3</a></li>
        <li><a href="#">Menu Link 5-2-4</a></li>
		    <li><a href="#">Menu Link 5-2-5</a></li>				
        <li class="left-nav-group"><a href="#">Menu Link 5-3</a></li>
        <li class="left-nav-group"><a href="#">Menu Link 5-4</a></li>
        <li class="left-nav-group"><a href="#">Menu Link 5-5</a></li>
        <li class="left-nav-group"><a href="#">Menu Link 5-6</a></li>				
      </ul>
    </div>
						
  	<!-- 	MIDDLE COLUMN -->
		<div id="middle-column">

  	  <!-- Page title -->		
		  <div id="pagetitle"><p>PAGETITLE 5-2</p></div>

      <!-- Standard boxes -->
	    <div class="middle-column-box-full-standard">
        <div class="middle-column-title-yellow">Yellow title + standard box</div>			
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aliquam at libero</a>. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <p class="heading">Heading</p>
        <p class="subheading">Subheading</p>
        <p>Normal paragraph text.</p> 
		  </div>
			
      <div class="middle-column-box-left-standard">
        <div class="middle-column-title-yellow">Yellow title + standard box</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aliquam at libero</a>. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>				 
      </div>

		  <div class="middle-column-box-right-standard">
        <div class="middle-column-title-yellow">Yellow title + standard box</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aliquam at libero</a>. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing.</p> 
      </div>

	    <div class="middle-column-box-full-yellow">
        <div class="middle-column-title-yellow">Yellow title + yellow box</div>			
        <p><img src="./img/img_sample_image.jpg" class="middle-column-img-left-fullsize-border" alt=""/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aliquam at libero</a>. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse non risus a diam convallis lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse non risus a diam convallis lobortis.</p>
		  </div>
							
      <div class="middle-column-box-left-yellow">
        <div class="middle-column-title-yellow">Yellow title + yellow box</div>
        <p><img src="./img/img_sample_image.jpg" class="middle-column-img-left-halfsize-border" alt=""/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aliquam at libero</a>. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>				 
      </div>

		  <div class="middle-column-box-right-yellow">
        <div class="middle-column-title-yellow">Yellow title + yellow box</div>
        <p><img src="./img/img_sample_image.jpg" class="middle-column-img-right-halfsize-border" alt=""/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aliquam at libero</a>. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
      </div>			
    </div>

    <!-- RIGHT COLUMN -->
	  <div id="right-column">

  		<!-- Standard boxes -->
			<div class="right-column-box-standard">
        <div class="right-column-title-yellow">Yellow title + standard box</div>
	  		<p>Use this column for news, events, button links, further links, or whatever you want.</p>
      	<p>Additional links:</p>								
	  		<p><a href="#">Link A</a></p>
			  <p><a href="#">Link B</a></p>
			  <p><a href="#">Link C</a></p>			
      </div>												
		
      <div class="right-column-box-yellow">
        <div class="right-column-title-yellow">Yellow title + box</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aliquam at libero</a>. Suspendisse non risus a diam convallis lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>								 
      </div>
    </div>		
		
    <!-- FOOTER -->
    <div id="footer">
       Copyright &copy;2006 Your Company | All rights reserved<br />Design by <a href="mailto:gw@actamail.com">Gerhard Studios</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate code as W3C XHTML 1.1 Strict Compliant">W3C XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate Style Sheet as W3C CSS 2.0 Compliant">W3C CSS 2.0</a>
    </div>
  </div>
</body>
</html>
