<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>PinkMad</title>
<link href="main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!--/*PinkMad HTML Document */ 
/* Developed by Nendoke , nendoke @ yahoo dot com , http://mzkid.deviantart.com 
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
*/
-->

<div align="center">
<div class="header_spacer"></div>
<div class="header">
<div class="header_nav_title">Title</div>

<div class="header_nav_bar">

<a href="#">Link 1</a> 

<a href="#">Link 2</a>

<a href="#">Link 3</a>

<a href="#">Link 4</a>

</div>
</div>

<div class="main_body">

<div class="main_body_left">

  <h2>introduction</h2>  	 	
		
			
	
Hello, and welcome my second design for <label title="Nice !!!">OSWD</label> ,
<br />
<br />
<br />
This is very simple blog template that can help in design and develop your own template  .
<br />
<br />
<br />
I have written it in <label title="View main.css">CSS</label> and based on <label title="View Source">DIV</label> design , I tested it on <label title="It is lovely">FireFox</label> , IE and Opera without any problem .
<br />
<br />
(:



</div>

<div class="main_body_menu">

<h3>Menu</h3>

<a href="#">Link 1</a> 

<a href="#">Link 2</a>

<a href="#">Link 3</a>

<a href="#">Link 4</a>

<hr />

<h3>Search</h3>

<form action="" method="get" style="display:inline">
  <input name="textfield" type="text" size="14" style="display:inline"/>
  <input name="Submit" type="submit" class="form_button" style="display:inline" value="Search"/>
</form>
</div>


</div>

</div>
<div class="footer">
<p style="background-color: #000000 ; padding:6px">
Your blog name Since Y
</p>
</div>
</body>
</html>
