<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>VonJonah 01</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Your description goes here." />
<meta name="keywords" content="your,keywords,goes,here" />
<meta name="author" content="Brett Hillesheim" />
<link rel="stylesheet" href="css.css" type="text/css" media="screen" />
</head>

<body>
<div id="container">

<div id="sitename">
<h1>Von Jonah 01</h1>

<h2>Your Slogan here!</h2>
</div>

<div id="tabsF">
  <ul>
    <li><a href="#" title="Link 1"><span>Link 1</span></a></li>
    <li><a href="#" title="Link 2"><span>Link 2</span></a></li>
    <li><a href="#" title="Link 3"><span>Link 3</span></a></li>
    <li><a href="#" title="Longer Link Text"><span>Longer Link Text</span></a></li>

    <li><a href="#" title="Link 5"><span>Link 5</span></a></li>
    <li><a href="#" title="Link 6"><span>Link 6</span></a></li>
	<li><a href="#" title="Link 7"><span>Link 7</span></a></li>
  </ul>
</div>
 
<div id="wrap">
<br/><br/>
<div id="rightside">
<h1>Links</h1>
<ul class="linklist">
<li><a href="http://www.ibentmywookie.org">Von Jonah</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Affiliates</a></li>

<li><a href="http://oswd.org">OSWD.org</a></li>
</ul>


<h1>Search</h1>

<p class="searchform">
<input type="text" alt="Search" class="searchbox" />
<input type="submit" value="Go!" class="searchbutton" />
</p>

<h1>Latest Announcements</h1>
<p><strong>Dec 11: </strong>
I was inspired for this design by the background image of the interstate and also by Andreas 09.</p>
<p><strong>Dec 10: </strong>
Place for news or important messages, maybe?</p>
</div>
<div id="contentalt" >
<div id="scroll">

<h1>Lorem ipsum dolor</h1>
<img src="images/sample.jpg" height="130" width="130" alt="Thumbnail example" />
<p class="intro"> This is my 4th submission to OSWD, and while it's not my personal favorite, I do like it. The design is valid XHTML 1.1, but unfortunatly due to the opacity hacks for Internet Explorer, the CSS does not validate. That being said, the page does display properly in both Firefox and IE, and everything but the hacks do validate. The background patterns are from <a href="http://squidfingers.com">Squidfingers</a> and are free to use. The background image is from <a href="http://sxc.hu">Stock.Xchng</a> and is also free to use. As always, this template is completely open source, and you may use it as you wish, just please keep a link back to me on it. If you need anyhelp modifying the template you can email me at <a href="mailto:brett7481@msn.com">brett7481@msn.com</a>.</p>

<h2>Lorem ipsum dolor</h2>
<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla rutrum justo vitae nisl. Sed tincidunt tempus enim. Vivamus eros. Integer quis sem. Nulla dictum nisl et erat. Nam ut ante vel velit luctus laoreet. Etiam purus nibh, tempor et, gravida a, mattis vel, orci. Ut sed quam. Curabitur at est euismod nibh fermentum ultricies. Aliquam volutpat aliquam elit. Nulla ut tortor a ipsum aliquet tempor. Aliquam sollicitudin libero nec sapien. In augue arcu, ultricies non, cursus vel, hendrerit id, mi. Quisque aliquam vehicula nulla. Aliquam erat volutpat.</p>

<p>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla rutrum justo vitae nisl. Sed tincidunt tempus enim. Vivamus eros. Integer quis sem. Nulla dictum nisl et erat. Nam ut ante vel velit luctus laoreet. Etiam purus nibh, tempor et, gravida a, mattis vel, orci. Ut sed quam. Curabitur at est euismod nibh fermentum ultricies. Aliquam volutpat aliquam elit. Nulla ut tortor a ipsum aliquet tempor. Aliquam sollicitudin libero nec sapien. In augue arcu, ultricies non, cursus vel, hendrerit id, mi. Quisque aliquam vehicula nulla. Aliquam erat volutpat.
</p>
<p>
 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla rutrum justo vitae nisl. Sed tincidunt tempus enim. Vivamus eros. Integer quis sem. Nulla dictum nisl et erat. Nam ut ante vel velit luctus laoreet. Etiam purus nibh, tempor et, gravida a, mattis vel, orci. Ut sed quam. Curabitur at est euismod nibh fermentum ultricies. Aliquam volutpat aliquam elit. Nulla ut tortor a ipsum aliquet tempor. Aliquam sollicitudin libero nec sapien. In augue arcu, ultricies non, cursus vel, hendrerit id, mi. Quisque aliquam vehicula nulla. Aliquam erat volutpat.
</p>


</div>
</div>

<div class="clearingdiv">&nbsp;</div>
</div>

<div id="footer">&copy; 2005 Your Company | Design by <a href="http://www.ibentmywookie.org">Brett7481</a></div>
</div>
</body>
</html>