<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ar">
<head>
<title>أول قالب عربي بلغة XHTML !</title>
<meta http-equiv="Content-Type" content="text/html;charset=windows-1256" />
<link rel="stylesheet" type="text/css" media="screen" href="screen.css" />
</head>
<body>

	<div id="main">
			<div id="top"><h1>أمين سعيد</h1></div>
			<div id="left">
			<ul>
				<li><a href="#">الرابط الأول</a></li>
				<li><a href="#">الرابط الثاني</a></li>
				<li><a href="#">الرابط الثالث</a></li>
				<li><a href="#">الرابط الرابع</a></li>
			</ul>

			</div>
			<div id="content">
			<p>بسم الله الرحمن الرحيم<br/>
الحمد لله الذي وفقني في صنع هذه الصفحة و التي أعتبرها تحدي لي و انطلاقة إلى مشاريع أكبر ان شاء الله لتحويل جميع الصفحات إلى XHTML طبعا التصميم يعتمد على DIV و التعديل كان عن طريق الـ CSS و الذي أخذ مني وقت طويل لأتم التعديل عليه و الآن الحمد لله انتهيت من تصميمه و عمله بالشكل المطلوب .<br />
و إن شاء الله انه أول قالب مجاني مصمم بلغة XHTML و اتمنى أن ينال على إعجابكم و استحسانكم .<br />
أخوكم المحب : <a href="..">أمين سعيد</a>
			</p></div>
			<div id="right">
			<ul>
				<li><a href="#">الرابط الأول</a></li>
				<li><a href="#">الرابط الثاني</a></li>
				<li><a href="#">الرابط الثالث</a></li>
				<li><a href="#">الرابط الرابع</a></li>
			</ul>
			</div>
			<div id="footer"><p>
			جميع الحقوق محفوظة لأمين سعيد 
			© 2006-2007<br />
			</p></div>
	</div>
</body>
</html>