<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>the sky is the limit</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="container">
<div id="banner">
<div id="text">
<h1>The Sky is the limit</h1>
</div>
</div>

<div id="content">
<div id="box">
<br />
<a href="#"><big>About Us</big></a><br /><br /><br />
<a href="#"><big>Our mission</big></a><br /><br /><br />
<a href="#"><big>Our promise</big></a><br /><br /><br />
<a href="#"><big>Commitment</big></a><br /><br /><br />
<a href="#"><big>Meet the Team</big></a><br /><br /><br />
<a href="#"><big>Contact Us</big></a><br /><br /><br />
<a href="#"><big>Fax</big></a><br /><br /><br />
<br /><br />
</div>
<p>
<big>EVALUATING YOUR MARKET</big><br /> If you are thinking of starting a new business or expanding into new markets, proper market evaluation is critical to success. While it may sound deceptively simple to figure out if a market exists for your product or service, it's probably one of the most challenging requirements of business. The process involves scrutinizing your competition and your customer base and interviewing potential suppliers.<br /><br />
The information collected can help you, if necessary, adopt your product or service to better meet customer needs. In some rare cases, it might lead to a totally new, but financially rewarding venture. This Financial Guide covers some of the basic considerations of market evaluation. It is intended as only basic introduction to a complex determination to help focus the thinking for those businesspeople with limited experience in marketing. In many cases, a professional guidance can be extremely helpful
<br />
</p>
<img class="right" src="picks/3.jpg" alt="#"></img>
<p>
<big>MARKET RESEARCH</big><br />
Finally, research on competitors is extremely important. Visit industry trade shows to find out what your competitors are selling and how they are marketing their products. Similarly, stay current on information in industry magazines and publications.

Research data will help you develop the basic assumptions in your financial projections and tell you whether or not to go into business. Once you have obtained and analyzed this information, it becomes the foundation of your business plan. You should not view market research, however, as a one-time activity. Once you establish your business, you should continually be in touch with your customers. You may also have to adapt your product/service and/or marketing strategy to keep up with your customers' changing needs.
</p>


There are any number of benefits to conducting market research. It can help you 
<ul>
<li>Create primary and alternative sales approaches to a given market</li>
<li>Make profit projections from a more accurate base</li> 
<li>Organize marketing activities</li> 
<li>Develop critical short-mid-term sales goals, and</li> 
<li>Establish the market's profit boundaries.</li> 
</ul>
<img class="left" src="picks/2.jpg" alt="#"></img>
<p>
So, how should you go about conducting your research? Two of the most important first steps are defining your goals and organizing the collection/analysis process. Maintain a set of well-documented and easily accessible files so you can store and retrieve data as needed.
In general, you should be well-established in the U.S. market before committing resources and taking on additional risk to explore export markets. Some products, such as used equipment that is obsolete in the United States but new to other countries, may be particularly well-suited for exporting right from the start. Whatever your product or service, it is never too early to explore its export potential.
 <br /><br /></p>
QUESTIONS TO ASK<br />
Your research should ask these basic questions: 
<br /><br />
<ul>
<li>Who are your customers?</li> 
<li>What are their needs and resources?</li>  
<li>Is the service or product essential in their operations or activities?</li>  
<li>Can the customer afford the service or product?</li>  
<li>Where can you create a demand for the service or product?</li>  
<li>Can you compete effectively in price, quality and delivery?</li>  
<li>Can you price the product or service to assure a profit?</li>  
<li>How many competitors provide the same service or product?</li>  
<li>What is the general economy of your service or product area?</li>  
<li>What areas within your market are declining or growing?</li>
</ul>
<img class="left" src="picks/4.jpg" alt="#"></img>
<p><big>SUMMARY:</big><br />
A small business owner must know and understand the market. Market research is simply an orderly, objective way of learning about people the people who will buy from you and sustain your business venture.
With this information, you can pick one or two export markets to explore initially. You can add more markets later, as your export skills develop. Now you are ready to conduct more in-depth market research on this target market(s), just as you did before establishing your business.
</p>
</div>
<div id="footer">
<div align="center">
<big>copyright you 2006</big>
</div>
</div>
</div>
</body>
</html>
