/* Snow Peak CSS*/

body { 
	font:8pt verdana; 
	background: #660000;
	margin:0;
	padding:0;
	}
.style5 {color: #003366}
.style6 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.style7 {color: #FFFFFF}


#navcontainer { width: 200px; }

#navcontainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}

#navcontainer a
{
display: block;
padding: 3px;
width: 160px;
background-color: #036;
border-bottom: 1px solid #eee;
}

#navcontainer a:link, #navlist a:visited
{
color: #EEE;
text-decoration: none;
}

#navcontainer a:hover
{
background-color: #369;
color: #fff;
}

h1 {

	font:28pt verdana, arial, sans-serif;
	color:#666;
	margin:0;
	padding:20px;
}

h2 {

	font:14pt verdana, arial, sans-serif;
	color:#666;
	padding:10px;
	margin:0;
        text-align: center;
}

h3 {

	font:14pt verdana, arial, sans-serif;
	color:#666;
	padding:10px;
	margin:0;
        text-align: left;
}

p { 
	font: 8pt verdana; 
	margin: 0px; 
	text-align: justify;
	}
	
#contain {

	width:750px;
	border-right:2px solid #369;
	border-left:2px solid #369;
	margin-left:auto;
	margin-right:auto;
	background: #FFF url('snowflake.gif') bottom right no-repeat;
        }
	
#header {
        background: #FFF url('peak.gif') right no-repeat;
	width:750px;
        height:165px;
	border-bottom:1px solid #CCC;
	
}

#leftcol {

	width:240px;
	float:left;
	padding:5px 0 5px 0;
	background-color: #fff;

}

#leftcol p {

	padding:3px 18px 3px 18px;
	margin:0;

}

#content {

	margin-left:240px;
	width:500px

}

#content p {

	padding:3px 18px 3px 18px;
	margin:0;

}

#footer {

	width:750px;
	clear:left;
	border-top:1px solid #369;
	border-bottom:1px solid #369;
	background: #036;
	padding: 3px 0 3px 0;

}

#footer p {
	text-align:center;
	padding-right:8px;
	font:8pt verdana, arial, sans-serif;
        
}

#leftImg
{
float:left;
padding: 0 0px 0px 0;
}