<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>The Underground</title>

<link href="styles/screen.css" rel="stylesheet" type="text/css" />
<!-- 	The below conditional statement is used here so that Internet Explorer also loads the ie_screen.css style sheet
		that is used to fix the lack of support for the min-height CSS rule -->
<!--[if IE]>
<link href="ie_screen.css" rel="stylesheet" type="text/css" />
<![endif]-->

</head>


<body>


<!--	Header is the start of the headings, it contains the text and image for the top of the page. -->
<div id="header">
	<p id="heading">under.ground <span class="sub_heading">slogan goes here</span></p>
	<div id="header_image"><!-- Empty div to hold the underground map image --></div>
</div>


<!-- 	Start of the main content (content_wrapper), holds navigation, content and footer -->
<div id="content_wrapper">
	
	<!-- 	Satrt of Navigation container, holds menu options and extra_content divs -->
	<div id="navigation">
	
		<!-- 	Menu items are added in an unordered list -->
		<ul>
			<li><a href="#" class="active">HOME</a> </li>
			<li><a href="#">ABOUT</a> </li>
			<li><a href="#">CONTACT</a> </li>
			<li><a href="#">SERVICES</a> </li>
		</ul>
		
		<!-- 	Example of using extra_content divs for adding news, information, links etc.. -->
		<div class="extra_content">
			<h1>Extra</h1>
		  	<p>This is some extra content, it can be used for news, <a href="#">links</a>, updates, or anything else.</p>
		</div>
		
		<!-- 	More menu items -->
		<ul>
			<li><a href="http://openwebdesign.org/">Open Web Design</a> </li>
			<li><a href="http://visual-aid.co.uk">Visual Aid</a> </li>
			<li><a href="http://www.tfl.gov.uk/tube/">London Underground</a> </li>
		</ul>
		
	</div>
	<!-- 	End - Navigation -->

	
	<!-- 	Start of the content -->
	<div id="content">
		
		<!-- H1 example -->
		<h1>The City </h1>
		<p>
			This template was designed for the competition run by <a href="http://openwebdesign.org/">Open Web Design</a>, the brief of 
			the competition was &quot;The City&quot;. I decided to stay away from the obvious cityscape at night / skyscraper from an 
			angle themes and instead went for one of the most iconic symbols of any city; the London Underground Map.
		</p>
		
		<!--	Example of the blockquote style -->
		<blockquote>
			<p> The striking symbol that is recognized across the globe was the brainchild of   Underground electrical draughtsman, Harry
			 Beck, who produced this imaginative   yet stunningly simple design back in 1933.
		  	 <a href="http://www.tfl.gov.uk/tube/company/history/tube-map.asp?expandOnly=menu7&amp;sideMenu=menu7option5"
			 	class="readmore">read more</a>
				<!--	The readmore class is used to style the link at the bottom right of the blockqoute -->
			</p>
		</blockquote>
		
		<!-- H2 example -->
		<h2>Navigation</h2>
		<p>
			The navigation or victoria line is down the left of the page and as you add more pages to link to it will add more stations! 
			You can also add extra content using the extra content class.
		</p>
		
		
		<!--	The content can be split into 2 columns very easily using the column, right and left classes
				each column (right or left) can be indivdually styles in the style sheet. Remember more than
				one class can be specified in a tag but only use spaces to seperate them. See below	 -->
				
		<!--	Start left column -->
		<div class="column left">
			<!--	H3 example -->
			<h3>Columns</h3>
			<p>
				The page can easily be split into 2 columns, the properties eg:
			</p>
			
				<!--	Example of an Unordered List -->
				<ul>
					<li>background colour</li>
					<li>font colour</li>
					<li>font size</li>
				</ul>
				
			<p>
			 	can be independently changed for the right and left columns, so it is easy to have differently styled columns.
			</p>
	  	</div>
		<!--	End left column -->
		
		<!--	Start right column -->
		<div class="column right">
			<h3>About Designer</h3>
			<p>
				This template is made by Visual Aid and is free to use. I would however like you to keep the design by Visual Aid in the 
				footer and email me a link to your web site.
			</p>
			
			<!--	Example of Ordered List -->
			<ol>
			  <li>some stuff</li>
		      <li>more things  </li>
		  	</ol>
			
	  	</div>
	  	<!--	End right column -->
	  
	
		<!--	Start Footer -->
		<div id="footer">
			<p>
				&copy; Your Name | Design by <a href="http://www.visual-aid.co.uk" title="Open Source Template Designed by Visual Aid">				Visual-Aid</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate this page's XHTML">XHTML 1.0 Strict</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate this page's CSS">CSS</a> valid
			</p>
		</div>
		<!--	End Footer -->
		
		
	</div>
	<!--	End Contetnt -->
	
	
</div>
<!--	End Content Wrapper -->

</body>
</html>
