<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>mag</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link href="1.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div id="container">
<div id="sidebar-a">
<h3>NEWS</h3>
<p><big>S</big>orem ipsum dolor sit amet, consectetuer adipiscing elit. 
Integer ornare,egestas posuere, nibh lorem porta augue, eu imperdiet nulla.
<br />
<a href="#">more....</a></p>
<h4>Photos</h4>
<p><img src="picks/3.jpg" border="0" alt="#" />
search
<input class="box" type="text" name="T1" size="15" /></p>

<h4>contest Winners</h4>
<p>
1 rst.Onsectetuer adipiscing. <br />
2 nd. Ornare, massa.<br />
3 rd. Met egesta.
</p>

</div>

<div id="sidebar-b">
<div id="tb">
n<br />a<br />t<br />u<br />r<br />e
</div>
<div id="tb2">
<pre>
S
h
o
t
s
</pre>
</div>
</div>

<div id="content">
<ul class="menu">
<li><a href="#">Articals</a></li>
<li><a href="#">Archives</a></li>
<li><a href="#">schedule</a></li>
<li><a href="#">events</a></li>
<li class="clear"></li>
</ul>
<h5>More Stuff</h5>
<p><big>S</big>orem ipsum dolor sit amet, consectetuer adipiscing elit. 
Integer ornare,egestas posuere. 

<br />
<a href="#">more....</a></p>
<h5>Coded in Notepad</h5>
<p>
Notepad is compatible with every single standard of Internet presentation medium yet devised. And all future developments in HTML and any other Web based presentation medium. </p>
</div>

<div id="footer"><a href="#" >Earth Day 2006</a>
&nbsp;|&nbsp;
<a href="#"> Contact Us</a>
&nbsp;|&nbsp;
<a href="#" >Help/FAQs</a>
&nbsp;|&nbsp;
<a href="#" >Careers</a>
&nbsp;|&nbsp;
<a href="#">Privacy Statement</a>
&nbsp;|&nbsp;				
<a href="#">Legal Disclosure</a>
&nbsp;|&nbsp;
<a href="#">Site Map</a></div>
</div>
<br />
By Coollew
</body>
</html>
