<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Contented1</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Website description" />
<meta name="keywords" content="keyword1,keyword2,keyword2,keyword4" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">

<div id="title">Contented1</div>

<div id="contact"><a href="#">CONTACT US</a></div>

<div id="slogan">Contented: How a content-filled design feels</div>

</div>

<div id="nav">
<a class="selected" href="#">Home</a>
<a href="#">About</a>
<a href="#">Products</a>
<a href="#">Services</a>
<a href="#">Resources</a>
</div>

<div id="content">

<div id="maincontent">

<h1>Introduction to Contented1</h1>

<p>
Contented1 is the first open source template from <a
href="http://www.contenteddesigns.com">Contented Designs</a>. Our goal
was to keep the design clean and simple so website visitors could
focus on the content.
</p>

<p>
Contented1 is valid 
<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> 
and valid 
<a href="http://validator.w3.org/check?uri=referer">XHTML 1.0
strict</a>.
It's been tested for consistent appearance on:
</p>

<ul>
<li>Internet Explorer 6.0.2900.2180</li>
<li>Firefox 1.5.0.1</li>
<li>Opera 8.53</li>
</ul>

<p>
Current version: Contented1 Version 1.0 (April 2, 2006)
</p>
		  
<h1>Using this Design</h1>

<p>
Contented1 is an open source template. You're free to modify it and
use it for any purpose without cost or obligation. We
prefer that you leave the link to our website  in the
footer but it's not required.
</p>

<p>
If you have comments or questions, please contact us at <a
href="http://www.contenteddesigns.com">Contented Designs</a>.  Thanks!
</p>

</div>

<div id="sidecontent">

<h1>News</h1> Use this sidebar for recent news, press releases,
upcoming events, notes.

<p>
<a href="#">This is a link to a page describing a news item.</a> (2006-04-02)
</p>

<p>
<a href="#">This is a link to a page describing a news item.</a> (2006-04-01)
</p>

<p>
<a href="#">This is a link to a page describing a news item.</a> (2006-03-22)
</p>

<p>
<a href="#">This is a link to a page describing a news item.</a> (2006-03-17)
</p>

</div>
</div>

<div id="footer">

<div id="copyrightdesign">
Copyright &copy; 2006 Your Name |
Design by <a href="http://ContentedDesigns.com">Contented Designs</a>
</div>

<div id="footercontact">
<a href="#">Contact Us</a>
</div>

</div>


</body>
</html>
