<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Oh! Calcutta</title>
	<link rel="stylesheet" type="text/css" href="cal.css" />
</head>

<body>
	<div id="content"><!-- Main div begins -->
		
		<div id="header"><!-- Header div begins -->
		<h1>Oh! Calcutta</h1>
		</div><!--Header div ends -->
	
		<div id="topnav"><!--Primary nav div begins -->
		<ul>
		<li><a href="#" title="Title" class="selected">Home</a></li>
		<li><a href="#" title="Title">Contact</a></li>
		<li><a href="#" title="Title">About me</a></li>
		</ul>
		</div><!--Primary nav div ends -->
		
		
		<div id="navbox"><!-- Secondary nav/text snippets box begins -->
			
			<h1>Some links</h1>
			<ul>
			<li><a href="http://writeside.net" title="My Web site">Writeside.net</a></li>
			<li><a href="http://openwebdesign.org" title="OWD">OWD</a></li>
			<li><a href="http://validator.w3.org/check?uri=referer" title="Valid XHTML">Valid XHTML</a></li>
			<li><a href="http://jigsaw.w3.org/css-validator/check/referer" title="Valid CSS">Valid CSS</a></li>
			</ul>
				
			<h1>Note</h1>
			<p>This design has been tested in Opera, Firefox and Internet Explorer. It validates as XHTML 1.0 Transitional and CSS.</p>
			
		</div><!-- Secondary nav/text snippets box ends -->
		
		<div id="text"><!--Text div begins -->
		<h1>Welcome!</h1>
		
		<p>This is my entry for the <a href="http://openwebdesign.org" title="OWD">OWD</a> March 2006 design contest. The theme is The City, and this design is based on the Indian city of Calcutta, with which I have a love&ndash;hate relationship. The photograph at the top is of Howrah Bridge (taken from a moving car, hence the blurred look), and the little one below is of the Victorial Memorial, both famous Calcutta landmarks. Both were taken by me and if you wish to use them along with the design, I'd be very flattered!</p>
		
		<h2>Oh! Calcutta</h2>
		<p><img src="images/cal.jpg" alt="Victorial Memorial" />How is this design inspired by Calcutta? Well, it's a city of contradictions&mdash;with its starkness often clashing with its vibrancy. Which is what the colour scheme shows: boring black on white, but with a dash of red when you least expect it! This design template has been submitted as open source and you are free to use it as you wish. It will be nice if you retained the "Design by Payal Dhar" credit line, though that's totally up to you.</p>
			
		<h1>About me</h1>
		<p>I am a freelance writer and editor, still recovering from the euphoria of having <a href="http://writeside.net/about/shadow.html" title="My first book">my first book</a> published in January 2006, and also an amateur Web designer. Being relatively new to the field, I am aware my designs are woefully simplistic, but I find the best way to learn is by practice. If needed, you can contact me <a href="http://www.openwebdesign.org/userinfo.phtml?user=janpd24" title="Contact me">here</a>.</p>
		
		<div id="footer">
		<p>&copy; Name | Design by <a href="http://writeside.net/" title="Payal Dhar">Payal Dhar</a></p>
		</div>	
		
		</div><!--Text div ends-->
		
		
	
	</div><!-- Main div ends-->
</body>

</html>