<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>your title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div id="container">
<div id="banner">
<div id="text">
<h1>X Y Z  Radio ROCKS!</h1>
</div>
<div id="text2">
THE WORLD!
</div>
<div id="text3">
R<br />
O<br />
C<br />
K<br />
</div>
</div>
<ul class="menu">
   <li><a href="#">News!</a></li>
   <li><a href="#">DJs</a></li>
   <li><a href="#">schedule</a></li>
   <li><a href="#">events</a></li>
   <li><a href="#">swag</a></li>
   <li><a href="#">chart</a></li>
   <li><a href="#">artists</a></li>
   <li><a href="#">albums</a></li>

<li class="clear"></li>
</ul>
<br /><br />
<div id="right">
<h4>ROCK NEWS!</h4>

<ul>
<li>Whitesnake leader, proud of new DVD</li>
<li>Bon Jovi headed to the Daytona 500</li>
<li>Metallica add European tour dates</li>
<li>Black Sabbath to release new hits album</li>
<li>U2 sweep 5 Grammy awards</li>
<li>Official: Cream to play more shows</li>
<li>Aerosmith guitarist up for a Grammy</li>
<li>New Foo Fighters album?</li>
<li>U2 guitarist still on a high for new album</li>
<li>Rolling Stones resume tour in Atlanta</li>
<li><a href="#">read more...</a></li>
</ul>
</div>

<div id="left">
<h2>WE Like To ROCK!</h2>
<p>
X Y Z Radio Network 00.0 FM Is a collection of Rock Radio Stations that specialise in promoting new rock talent, We also have stations that play British underground rock music plus stations playing Classic rock music from the seventies with Led Zeppelin and Black Sabbath to the Punk rock of the Clash, Pistols and The Jam, although we primarily play and promote US rock bands we also have room and time for exceptional talents from around the world,</p>
<p> if you are solo artists or musicians in a rock band and believe that you have an exceptional sound that deserves to be heard, contact us, ( although our editors have the final say on who gets played on our stations ) we have popular radio stations that cater for most styles of rock music. Also feel free to promote your band and rock music on our community pages by adding links and gig news in the appropiate sections, you can even encourage your fans to post gig reviews on your shows</p>
</div>
<br /><br /><br /><br />
<div id="footer"><ul class="menu">
   <li><a href="#">listen</a></li>
   <li><a href="#">playlist</a></li>
   <li><a href="#">music</a></li>
   <li><a href="#">journals</a></li>
   <li><a href="#">members</a></li>
   <li><a href="#">shirts</a></li>
   <li><a href="#">support</a></li>
   <li><a href="#">faq</a></li>
<li class="clear"></li>
</ul></div>

<h4>By COOLLEW</h4>

</div>
</body>
</html>
