<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta name="Description" content="A free open source web design by David Plutado Fugate.  Free for anyone to use." />
<meta name="Keywords" content="www.oswd.org, open source web design, plutado, plutado.com, www.socialcivic.com" />
<meta name="Copyleft" content="David Plutado Fugate" />
<meta name="Designed By" content="Plutado.com" />
<meta name="Language" content="English" />
<title>Plutado's Notepad</title>
<style type="text/css" title="layout" media="screen"> @import url(style.css); </style>
</head>
<body>
<div id="body"></div>
<div id="menu6"> 
  <ul>
    <li><a href="#1" title="Home">Home</a></li>
    <li><a href="#2" title="About">About</a></li>
    <li><a href="#3" title="About">News</a></li>
    <li><a href="#4" title="Services">Services</a></li>
    <li><a href="#5" title="Portfolio">Portfolio</a></li>
    <li><a href="#6" title="Store">Store</a></li>
    <li><a href="#7" title="Contact">Contact</a></li>
  </ul>
</div>
<div id="header"></div>
<!-- the title that appear in the page header -->
<div id="title">youth empowerment america</div>
<div id="container">   
  <div class="content"> 
    <!-- here is your page content -->
    <h3>Plutado's Notepad</h3>
    <p>This is my third opensource web design submission. Your comments, suggestions, 
      questions, and ideas are encouraged and welcomed.</p>
    <h3>About Us</h3>
    <p>This template was designed by David Plutado Fugate, the executive director 
      of a nonprofit organization called <a href="http://www.y-e-a.org">Youth 
      Empowerment America </a> (YEA), a nonprofit organization that develops, 
      teaches, and supports organizations principles and strategies of grassroots 
      and netroots organizing. While YEA is not a web design company, we do however 
      implement and host many of the top opensource software applications such 
      as drupal/civicspace, vtiger, e107, phplist, squirrelmail, wordpress, and 
      dozens of others. In the course of our work we often create custom design 
      templates. Since discovering http://www.oswd.org, and in the spirit of opensource 
      technology (of which I am so heavily involved), we have decided to provide 
      all of our designs for others to use freely.</p>
    <h3>YEA's Values</h3>
    <p>1. We organize for broad diversity and all inclusiveness, bringing as many 
      relevant perspectives into the thinking as possible. </p>
    <p>2. We organize on the basis of vision, caring and responsibility and not 
      on the basis of anger or fear. </p>
    <p>3. We organize to recruit ever more allies and not to identify enemies 
      or attack or embarrass any so called opposition. </p>
    <p>4. We organize to propose solutions and not to protest wrongs. </p>
    <p>5. We organize for the common good and not for self interest. </p>
    <p>6. We organize for completion and to win, not just be ethically or morally 
      correct. </p>
    <p>7. We organize with a shared commitment to struggle together for positive 
      change. This struggle is threefold: personal, interpersonal and global.</p>
	<p>Join our free networking site, <a href="http://www.socialcivic.org"><strong>Social Civic Communities</strong></a></p>
    <!-- end page content -->
  </div>
  <div id="sidebar"> 
    <!-- sidebar content -->
    <h3>Recent Photos</h3>
    <img class="imageright" src="http://www.socialcivic.com/files/images/dpf02_0.jpg" alt="get a better browser" height="113" width="150"></img>
    <img class="imageright" src="http://www.socialcivic.com/files/images/DSCN0768_0.jpg" alt="get a better browser" height="113" width="150"></img>
    <p style="margin-top: 20px;"></p>
    <h3>Healthy Links</h3>
    <ol>
      <li><a href="http://www.socialcivic.org">Social Civic Communities</a></li>
      <li><a href="http://www.oswd.org">OSWD</a></li>
      <li><a href="http://www.plutado.com">plutado.com</a></li>
      <li><a href="http://www.yeamerica.org">Youth Empowerment America</a></li>
      <li><a href="http://www.netrootsorganizing.org">Netroots Organizing</a></li>
      <li><a href="http://validator.w3.org/check/referer">Valid XHTML</a></li>
    </ol>
    
    <h3>Plutado's Notepad</h3>
    <p style="margin-top: 20px;"><strong>Feeling Good?</strong> If you find that 
      you love my design(s) and you're feeling particularly generous, then I encourage 
      you to make a <a href="http://www.y-e-a.org/donate.htm"><strong>donation</strong></a> 
      to our nonprofit organization. </p>
    <p>I wish you the best of luck designing your next website!</p>
    <p></p>
    <p></p>
  <!-- sidebar content ends-->
  <div id="footer"><br />
    <!-- it'd be super if you left this link intact -->
    <a href="http://www.plutado.com">Web Design by David Plutado Fugate</a> and 
    <a href="http://www.yeamerica.org">YEA, Inc</a></div>
</div>
</div>
</body>    
</html>
