<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Circles</title>
<link href="circles.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="maincontainer">
				<div id="header">
						<div id="sitename">Circles</div>
						
						<div id="tagline">Every Web Site Needs A Good Tagline</div>
				</div>
				<div id="navline">
					<a href="#">Menu1</a><a href="#">Menu2</a><a href="#">							Menu3</a><a href="#">Menu4</a><a href="#">Menu5</a><a href="#">Menu6</a></div>
					
				<div id="content">
						<h1>My first submission</h1>
						<p>My inspiration for this design was simply finding an appealing graphic after a Google Image Search.</p>
						<p>It would be ideal for using it for a Blog. It was also sized for adding Google Adwords. The Google Box I normally use is 729 pixels wide and 90 pixels high. The width of this site is 729 pixels. Simply add another &quot;div tag&quot; for Google Adwords. </p>
						<p>I hope you enjoy it as much as I do. I consider myself a total newbie as far as Xhtml and Css is concerned and enjoy visiting <a href="http://www.oswd.org" target="_blank">OSWD</a>. </p>
						<p>Feel free to use this template as you wish. I would appreciate it if you leave the link at the bottom to my site, as is! You may also distribute the template for non-commercial purposes. You may also offer it to your visitors as a free downlaod. </p>
						<p>If you use the template I would love to be informed where it is used and I will add a quality link to my web site for all the users of the template. Feel free to check my site's Alexa Rank and Google Rank. Both the rankings are displayed on my <a href="http://www.fastphphost.com" target="_blank">Home Page</a> </p>
						<p>For any assistance or help email me at: <a href="mailto:info@fastphphost.com">info@fastphphost.com</a></p>
				</div>
				
				<div id="footer">&copy; Yoursite.com. All rights reserved. <a href="http://www.fastphphost.com" target="_blank">Fastphphost</a> </div>
</div>

</body>
</html>
