<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Grimple</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
	<div id="header">
	<h1>Grimple</h1>
		<div id="intro">
		
      <p>A brief site description in here?</p>
		</div>
	</div>

	<div id="content">
	<h2>Information</h2>
    <p>This is the first template I've designed for anything other than my own websites, 
      so if it sucks, then that's why.</p>
    <p>This template uses only one image (to get the curved effect at the bottom 
      of the sidebar), and valid XHTML and CSS.</p>
    <p>Obviously, you're free to remove the link to my <a href="http://www.bungo.co.uk">personal 
      site</a> from the footer text, but I'd really appreciate <span class="note">(appreciate, 
      not demand!)</span> a link back to my site somewhere on your site.</p>
    <p>Any problems, let me know <span class="note">(admin@bungo.co.uk)</span>.</p>
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
      voluptua.</p>
	<p class="note">This style text could be used for adding notes to a page, 
      dates an article has been submitted, that kind of thing.</p>
    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
	</div>
	
	<div id="sidebar">
	<h4>Navigation</h4>
		<p class="nav-list"><a href="#">Link One</a></p>
		<p class="nav-list"><a href="#">Link Two</a></p>
		<p class="nav-list"><a href="#">Link Three</a></p>
		<p class="nav-list"><a href="#">Link Four</a></p>
			
      <div id="box">
		
      <h4 class="boxheader">More Links?</h4>
	  <p class="boxtext">You could put more links in here, or whatever else takes 
        your fancy.</p>
	</div>
	</div>
	
	
  <div id="footer"> 
    <p class="footer-text">Your Copyright Info | Design by <a href="http://www.bungo.co.uk">Sam 
      Bisset</a></p>
	</div>

</div>
</body>
</html>
