<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
  <title>Borrowed Goods</title>
</head>
<body>
  <div id="wrapper">

    <div id="top">
      <h1 class="left"><a href="#">Site Name</a></h1>
        <span class="left">&nbsp;|&nbsp;</span>
      
      <h2 class="left"><a href="#">Directory</a></h2>
        <span class="left">&nbsp;|&nbsp;</span>
      
      <h3 class="left"><a href="#">Page</a></h3>
      
      <span class="right">
        <a href="#">Link</a>
      </span>
    
    </div>

    <div id="navigation">
      <ul>
        <li><a href="#">This</a></li>
        <li><a href="#" class="selected">Could</a></li>
        <li><a href="#">Be</a></li>
        <li><a href="#">A</a></li>
        <li><a href="#">Menu</a></li>
      </ul>
    </div>

      <div id="content">
	<h3>Header Three:</h3>
	<h4>Header Four</h4>

	<p>This is an update of my first (and currently my only) submission to OSWD.org.  It resizes pretty nicely, and requires no images or tables.  The &quot;Site Name | Directory | Page&quot; in the top left corner of the page now corresponds with h# tags (h1 | h2 | h3), and the unnecessary divs from the original version have been removed.  I've also included a print style sheet, which hides everything but your content.</p>

   	<p>I'd love for you to keep &quot;Designed by <a href="http://www.oswd.org/user/profile/id/8671">quixotic</a>&quot; on the page, but you most certainly don't have to. As long as you freely share any changes you make to this template, you're free to use it without any accreditation.</p>
 
	<h3>Excerpts From:</h3>
	<p><a href="http://www.oswd.org/design/preview/id/1165">Sincora</a> (Side Nav) <br />
	<a href="http://www.oswd.org/files/designs/2427/andreas08/">Andreas08</a> (Top Nav &amp; Some Layout) <br />
	<a href="http://www.returnofdesign.com/colors/">Return of Design</a> (Colors)</p>
	
	<h3>Lorem Ipsum:</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus eget nunc. Sed consectetuer. Quisque consectetuer tellus et eros. Morbi adipiscing eleifend enim. Nullam a diam. Aenean eget eros. Sed a sem at ante hendrerit varius. Nulla facilisi. Praesent rutrum viverra lectus. Mauris tempus pretium orci. Fusce viverra nibh ac tellus. Aliquam erat volutpat. Donec lacus. In cursus est scelerisque nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent a libero quis augue hendrerit vehicula.</p>

<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ac orci. Phasellus nisi erat, scelerisque sed, facilisis eget, consectetuer gravida, orci. Fusce velit. Vestibulum odio elit, pharetra eu, malesuada vel, faucibus vitae, justo. Vestibulum non lorem. Fusce rhoncus, est eu mattis fermentum, nunc eros rutrum ante, nec vulputate nisl tellus eget leo. Sed id urna nec orci bibendum pellentesque. Etiam dictum, purus ut ornare euismod, nulla felis bibendum ipsum, nec vehicula augue tortor quis dolor. Aenean non massa sit amet turpis condimentum egestas. Integer ultrices justo id purus. In condimentum. Donec in nulla. Maecenas ut elit non nisl laoreet blandit. Praesent id arcu. Aliquam erat volutpat. In hac habitasse platea dictumst. Curabitur eu mauris.</p>

</div>

      <div id="sidecontent">
       
          <h4>H4 Text</h4>
	<ul>
	<li><a href="#">List Item</a></li>
	<li><a href="#">List Item</a></li>
	</ul>

          <h4>H4 Text</h4>
	<ul>
	<li><a href="#">List Item</a></li>
	<li><a href="#">List Item</a></li>
	<li><a href="#">List Item</a></li>
	<li><a href="#">List Item</a></li>
	</ul> 
       
    </div>      
 
   <div id="footer">
     <span class="left">&copy; 2006 Your Site</span>

     <span class="right">	
     Designed by <a href="http://www.oswd.org/user/profile/id/8671">quixotic</a>
     </span>
   </div>

</div>    



</body>
</html>