<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Crescent</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="index.css" />
</head>
<body>
<div id="container">
	<div id="header">
		<a href="#">Home</a>  |  <a href="#">About me</a>  |  <a href="#">My Works</a>  |  <a href="#">Contact me</a>
	</div>
	<div id="leftCol"><img src="images/left.jpg" alt="LeftImage"/></div>
	
	<div id="mainCol">
		<div id="mainHeader"><p>What is Crescent Moon?</p></div>
		<div id="mainMiddle">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec scelerisque turpis in est. Donec tincidunt. Vivamus lectus orci, facilisis sed, tincidunt a, auctor vitae, risus. Praesent at eros. Aenean pulvinar, turpis nec tempus interdum, urna mi convallis felis, non tincidunt enim dui in velit. In hac habitasse platea dictumst. Ut rutrum, orci sit amet sodales commodo, leo lorem pharetra neque, et condimentum lectus lorem a justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ullamcorper pede ac lectus consequat dapibus. Nunc adipiscing. Phasellus nec mauris. Nulla a magna. Cras mauris nibh, auctor in, facilisis vitae, iaculis in, nulla. Morbi ligula nibh, condimentum sed, rutrum a, aliquet sed, urna.
				<br />
				This is a fixed sized layout. <strong>Non-expandable</strong> but Professional and Unique Looking.
			</p>
		</div>
		<div id="mainEnd">
			<div id="footer"><p>Copyright &copy; Your Name. | Designed by Identity Designs.</p></div>
		</div>
	</div>
</div>
</body>
</html>
