<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta name="Description" content="A free open source web design by David Plutado Fugate.  Free for anyone to use." />
<meta name="Keywords" content="www.oswd.org, open source web design, plutado, plutado.com, www.socialcivic.com" />
<meta name="Copyleft" content="David Plutado Fugate" />
<meta name="Designed By" content="Plutado.com" />
<meta name="Language" content="English" />
<title>YEA, Inc.</title>

<style type="text/css" title="layout" media="screen"> @import url(style.css); </style>

</head>

<body>
<div id="container">
	<div class="headerimage"></div>
<ul class="menu centered">
<li><a href="#nogo">home</a></li>
<li><a href="#nogo">about</a></li>
<li><a href="#nogo">programs</a></li>
<li><a href="#nogo">services</a></li>
<li><a href="#nogo">photos</a></li>
<li><a href="#nogo">members</a></li>
<li><a href="#nogo">donate</a></li>
<li><a href="#nogo">contact</a></li>

</ul>
<br></br>			
<div id="bodytext">
This is my first design submission to Open Source Web Design.  I welcome your comments and suggestions!  Just so you know, this design has been created using CSS and XHTML 
using no tables.  This design has been largely inspired by Christina Chun's "Black and White" template, with primary differences between this design and Christina's being 
that I've reworked the menu navigation, created a custom background design, and generally made a more colorful template.
<br /><br />
<img class="imageright" src="images/photos/boy_01.jpg" width="150" height="113" alt="get a better browser" />
<img class="imageleft" src="images/photos/girl_01.jpg" width="150" height="113" alt="get a better browser" />
This site was originally intented to be used as the website template for <a href="http://yeamerica.org">Youth Empowerment America</a>.  That might still end up being the 
case.  However, I'll more than likely create several more drafts for templates and decide which one looks the best at that point.  I will post all of these templates here as 
they are created so that you can use them for your purposes.

<br /><br />
I welcome your thoughts and suggestions.  Please feel free to contact me @ plutado [at] yeamerica [dot] org if you would like to ask a question, or if you just have a good 
joke you'd like to share.  As for this template, please feel free to use and distort if as you wish.  It is not necessary to to notify me or to maintain links back to me.  
If you find that you love my design(s) and you're feeling particularly generous, then I encourage you to make a donation to the nonprofit organization that I run.  You can 
donate to us by going to <a href="http://www.y-e-a.org/donate.htm">http://www.y-e-a.org/donate.htm</a>.  Take care.  I wish you the best of luck designing you next website!

</div>	
</div>	
	<div class="footer">
		<div class="right">Designed By <a href="http://www.plutado.com" title="Plutado - executive director, YEA, Inc.">David Plutado Fugate</a></div>
	</div>
</body>
</html>


