<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Author" content="Kelli Shaver - http://www.kellishaver.com" />
	<meta name="copyright" content="" />

	<title>Your Site</title>
	<style type="text/css">
		@import "style.css";
	</style>
</head>
<body>
	<div id="header">
		<h1>Your Gallery Site</h1>
		<div id="nav">
			<a href="#" title="">Home</a>
			<a href="#" title="">xylophones</a>
			<a href="#" title="">oranges</a>
			<a href="#" title="">dishwashers</a>
		</div>			
	</div>
	<div id="container">
		<div id="left">
			<img src="images/full.jpg" width="450" height="338" alt="Full View" />
		</div>
		<div id="right">
			<h1>Xylophone Gallery <span class="info">Welcome to my gallery.</span></h1>
			
			<div class="thumb"><a href="#" title=""><img src="images/thumb.jpg" width="100" height="75" alt="thumb" /></a></div>
			<div class="thumb"><a href="#" title=""><img src="images/thumb.jpg" width="100" height="75" alt="thumb" /></a></div>
			<div class="thumb"><a href="#" title=""><img src="images/thumb.jpg" width="100" height="75" alt="thumb" /></a></div>

			<div class="thumb"><a href="#" title=""><img src="images/thumb.jpg" width="100" height="75" alt="thumb" /></a></div>
			<div class="thumb"><a href="#" title=""><img src="images/thumb.jpg" width="100" height="75" alt="thumb" /></a></div>
			<div class="thumb"><a href="#" title=""><img src="images/thumb.jpg" width="100" height="75" alt="thumb" /></a></div>

			</div>	
		<div id="copyright">&copy; 2006 Your Name</div>
	</div>
</body>
</html>	