<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Color7Boxes  - www.19jump.com</title>
<link rel="stylesheet" href="default2.css" type="text/css"  />
</head><body>
<div id="top"><div id="header">

<h1>Color 7 Boxes</h1>

</div></div><div id="right">
<div id="rblock1" class="pad">

<!-- right side -->
<h3>Navigation</h3><ul>
<li><a href="index.html">Link</a></li>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li></ul>
<h3>Other Sites</h3>
<a href="#">Link</a> 
<a href="#">Link</a>
<a href="#">Link</a>
<a href="#">Link</a>
<a href="#">Link</a>
<a href="#">Link</a>
<a href="#">Link</a>
<a href="#">Link</a>
<a href="#">Link</a>
<p>Put whatever else you like over here 
Put whatever else you like over here 
Put whatever else you like over here
Put whatever else you like over here 
Put whatever else you like over here 
<span style="font-style:italic">I would appreciate it if you would keep the link back to my site </span>:) 
</p>
<!-- end right side -->

</div><div id="rblock2" class="pad">
<a href="http://www.19jump.com">Animated Templates: 19jump</a><br /> 
</div></div><div id="main"><div style="padding:20px 30px">

<!-- BEGIN text -->
<h2>Hello</h2>
<p>This is the static version of the Javascript animated color boxes template offered
as a free download on my 19jump.com site.</p>
<p>All the color settings are grouped together at the end of the style section for an easy
color change. Dont you find it frustrating
after laboring to get just the right color combination and then see it look awful
on someone else's computer?</p>
<h2>sub heading</h2>
This template is verified XHTML transitional.
<h2>sub heading</h2>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut velit felis, suscipit a, placerat non, hendrerit vitae, justo. 
<blockquote>Curabitur urna pede, mollis vitae, molestie et, facilisis in, eros. Suspendisse porta neque ac purus. Vivamus in enim. Nunc ante risus, ornare et, porta id, viverra a, leo. Etiam blandit mattis risus. Sed augue nunc, congue vitae, viverra sit amet, commodo at, mauris. Mauris aliquam. Sed commodo tristique quam. 
</blockquote> Fusce interdum dui et enim. Duis ornare sapien non leo. Mauris mauris leo, viverra in, tempus a, fringilla ut, sem.
<!-- END text -->

</div></div>
<div id="box1" class="box1"></div>
<div id="box2" class="box2"></div>
<div id="box3" class="box3"></div>
<div id="box4" class="box4"></div>
<div id="box5" class="box5"></div>
<div id="box6" class="box6"></div>
<div id="box7" class="box7"></div>
</body></html>
