<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>A23 (Hilfiger Gallery)</title>
<style type="text/css">
<!--
@import url("css/cartnpagenav23a.css");
@import url("css/deliver23a.css");
@import url("css/designs23a.css");
@import url("css/featuredservices23a.css");
@import url("css/footer23a.css");
@import url("css/headlines23a.css");
@import url("css/login23a.css");
@import url("css/mainstyles23a.css");
@import url("css/ntflymenubuttonnoimg23a.css");
@import url("css/searchtransbars23a.css");
@import url("css/toptabmenu23a.css");
-->
</style>
<!-- Upgrade to flymenu, 3 scripts, one before </HEAD> & two near identical after <BODY>  -->
<!-- Upgrade to flymenu, 3 scripts, one before </HEAD> & two near identical after <BODY>  -->
</head>
<body>
<!-- Upgrade to flymenu, 3 scripts, one before </HEAD> & two near identical after <BODY>  -->
<!-- Upgrade to flymenu, 3 scripts, one before </HEAD> & two near identical after <BODY>  -->

<div class="wrap">
<div class="head_wrap">
  <div class="headrow_one">
    <div class="rowone_left"></div>
    <div class="rowone_right">
      <h1>TEMPLATE A23 (HILFIGER GALLERY)</h1>
      <h2>Liquid  XHTML-CSS Valid: Dec. 2005</h2>
     
    </div>
  </div>
  <div class="headrow_two">
    <div class="rowtwo_left">
      <form action="" name="form1" id="form1">
        <select class="pullmenus" name="menu01" size="1"
 onchange="window.open(document.form1.menu01.options[document.form1.menu01.selectedIndex].value);">
          <option value="">Google Language Translation</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Cde&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">German &uuml;bersetzen
          Sie</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Ces&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">Spanish
          traduzca</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Cfr&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">French
          traduisez</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Cit&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">Italian
          traduca</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Cpt&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">Portuguese
          traduza</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Cja&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">Japan
          翻訳しなさい</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Cko&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">Korea
          번 역하십시요</option>
          <option
 value="http://translate.google.com/translate?u=http%3A%2F%2Fwholives.com&amp;langpair=en%7Czh-CN&amp;hl=en&amp;ie=UTF-8&amp;oe=UTF-8&amp;prev=%2Flanguage_tools">Chinese
          翻译</option>
          <option value="http://www.google.com/translate_t">Translation Tool</option>
        </select>
      </form>
    </div>
    <div class="rowtwo_mid">Template A23 (Hilfiger Gallery)</div>
    <div class="rowtwo_right">
      <div class="searchbox_wrap">
        <form method="get" action="http://www.google.com/search"
 target="_blank">
          <input name="ie" value="UTF-8" type="hidden" />
          <input
 name="oe" value="UTF-8" type="hidden" />
          <table class="searchtable" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="searchtable_leftcell"><select class="searchbox1" name="sitesearch" size="1"
 style="text-align: left;">
                    <option selected="selected" value="wholives.com">Here&nbsp;</option>
                    <option value="">Web~ </option>
                  </select>
                </td>
                <td style="vertical-align: middle; width: 100%; text-align: center;" class="searchtable_midcell"><input class="searchbox2" name="q" size="1" maxlength="255" value="" style="width:100%;" type="text" />
                </td>
                <td class="searchtable_rightcell"><input class="searchbutton" name="btnG" value="Search"
 type="submit" /></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  <div class="headrow_three">
    <div class="toptabmenu_container_23a">
      <ul class="toptabmenu">
        <li><a class="current_tab" href="#" target="_blank">CSS Templates</a></li>
        <li><a href="#" target="_blank">Tabled Templates</a></li>
        <li><a href="#" target="_blank">Misc. Templates</a ></li>
        <li><a href="#" target="_blank">Tools &amp; Software</a></li>
        <li><a href="#" target="_blank">Site Map</a ></li>
        <li><a href="#" target="_blank">Feedback</a ></li>
      </ul>
    </div>
  </div>
</div><!-- end head wrap  -->
<div class="body_column"><div class="left_column">
  <div class="ntflymenu">
    <h3>Navigation</h3>
    <ul id="ntnav">
      <li><a href="#" class="toplevel">About Us</a>
        <ul>
          <li><a class="level2" 
          title="" 
          href="#">2005 Dates</a>
            <ul>
              <li><a class="level3" 
            title="" 
            href="">August</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">September</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">October</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">November</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">December</a> </li>
            </ul>
          </li>
          <li><a href="#" class="level2">Office Location</a></li>
          <li><a href="#" class="level2">Overview</a></li>
          <li><a href="#" class="level2">Vision, Mission, Philosophy</a></li>
          <li><a href="#" class="level2">Guidelines</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">Agency Center</a>
        <ul>
          <li><a class="level2" 
          title="" 
          href="#">2005 Dates</a>
            <ul>
              <li><a class="level3" 
            title="" 
            href="">August</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">September</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">October</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">November</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">December</a> </li>
            </ul>
          </li>
          <li><a href="#" class="level2">Procurement Handbook</a></li>
          <li><a href="#" class="level2">Request for Proposal (RFP)
            Manual with Exhibits</a></li>
          <li><a href="#" class="level2">Quick Reference Pocket Guide</a></li>
          <li><a href="#" class="level2">Procurement &amp; Contract Network</a></li>
          <li><a href="#" class="level2">Employee Purchase Program</a></li>
          <li><a href="#" class="level2">Equipment Financing Programs</a></li>
          <li><a href="#" class="level2">Frequently Asked Questions</a></li>
          <li><a href="#" class="level2">Glossary of Printing Terms</a></li>
          <li><a href="#" class="level2">Saturn Procurement Card Prog.</a></li>
          <li><a href="#" class="level2">Saturn Purchasing News</a></li>
          <li><a href="#" class="level2">Saturn Reciprocal Preferences</a></li>
          <li><a href="#" class="level2">SP - Chapter</a></li>
          <li><a href="#" class="level2">OSP Memos</a></li>
          <li><a href="#" class="level2">Vendor Search - Search for Vendor Payments from Central Acounting</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">Technology Center</a>
        <ul>
          <li><a class="level2" 
          title="" 
          href="#">2005 Dates</a>
            <ul>
              <li><a class="level3" 
            title="" 
            href="">August</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">September</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">October</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">November</a> </li>
              <li><a class="level3" 
            title="" 
            href="#">December</a> </li>
            </ul>
          </li>
          <li><a href="#" class="level2">Approved Catalog Microcomputer Contracts</a></li>
          <li><a href="#" class="level2">Microcomputers &amp; Peripherals</a></li>
          <li><a href="#" class="level2">Networking &amp; Storage</a></li>
          <li><a href="#" class="level2">Telecommunications</a></li>
          <li><a href="#" class="level2">Software Volume Pricing Agreements</a></li>
          <li><a href="#" class="level2">Procedures-BN Microcomputer Contracts</a></li>
          <li><a href="#" class="level2">Microcomputer Contract Additions</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">Vendor Center</a>
        <ul>
          <li><a href="#" class="level2">LaPAC - Louisiana Procurement &amp; Contract Network</a></li>
          <li><a href="#" class="level2">Procurement Handbook</a></li>
          <li><a href="#" class="level2">Contracting Opportunties</a></li>
          <li><a href="#" class="level2">How To Do Business with Saturn</a></li>
          <li><a href="#" class="level2">Frequently Asked Questions</a></li>
          <li><a href="#" class="level2">Vendor Registration</a></li>
          <li><a href="#" class="level2">Commodity Catalog</a></li>
          <li><a href="#" class="level2">Saturn Regional Map</a></li>
          <li><a href="#" class="level2">OSP Memos</a></li>
          <li><a href="#" class="level2">Louisiana Procurement Technical Assistance Center</a></li>
          <li><a href="#" class="level2">Procedures-BN Microcomputer Contracts</a></li>
          <li><a href="#" class="level2">Microcomputer Contr. Additions</a></li>
          <li><a href="#" class="level2">Vendor Search - Search for Vendor Payments from Central Accounting</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">Online Forms</a>
        <ul>
          <li><a href="#" class="level2">Download Instructions</a></li>
          <li><a href="#" class="level2">Agency Forms</a></li>
          <li><a href="#" class="level2">Vendor Forms</a></li>
          <li><a href="#" class="level2">Quasi Agency</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">Contracts</a>
        <ul>
          <li><a href="#" class="level2">Contract Search</a></li>
          <li><a href="#" class="level2">Contracts by Title &amp; T-Number</a></li>
          <li><a href="#" class="level2">Approved Catalog Contracts</a></li>
          <li><a href="#" class="level2">Brand Name or LaMAS Contracts</a></li>
          <li><a href="#" class="level2">Featured Contracts</a></li>
          <li><a href="#" class="level2">Printing Contracts</a></li>
          <li><a href="#" class="level2">Vehicle Contracts</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">Legal Info</a>
        <ul>
          <li><a href="#" class="level2">Small Purchases Executive Order</a></li>
          <li><a href="#" class="level2">Policy &amp; Procedures - Memo 51</a></li>
          <li><a href="#" class="level2">Purchasing Rules &amp; Regulations</a></li>
          <li><a href="#" class="level2">Saturn Law Search</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">Saturn Travel</a>
        <ul>
          <li><a href="#" class="level2">Travel Homepage</a></li>
          <li><a href="#" class="level2">New Visa Travel Card - FAQs</a></li>
          <li><a href="#" class="level2">2005-06 Travel Guide</a></li>
          <li><a href="#" class="level2">Travel Pocket Guide</a></li>
        </ul>
      </li>
      <li><a href="#" class="toplevel">DOA Home</a></li>
      <li><a href="#" class="toplevel">OSP Home</a> </li>
      <li><a href="#" class="toplevel">Saturn.Gov</a> </li>
    </ul>
  </div><!-- end ntmenu  -->
  <div class="featuredservices_container">
    <h3>Featured Services</h3>
    <ul class="featuredservices_nav">
      <li><a href="#">LEO</a></li>
      <li><a href="#">ISIS Security</a></li>
      <li><a href="#">Electronic Notifications</a></li>
      <li><a href="#">Calender</a></li>
      <li><a href="#">Agency Contacts</a> </li>
      <li><a href="#">DOA Mainframe</a></li>
      <li><a href="#">Reporting</a></li>
    </ul>
  </div>
</div><!-- end left column -->

  <div class="center_content">
    <!-- Begin pagenav -->
    <div class="pagenav_a">
      <div class="pagenav_aleft">
        <h5> <a href="#"> <img src="media/cart_fullb.gif" alt="Cart" width="19" height="16" border="0" align="bottom" /><img src="media/cart_emptyb.gif" alt="Cart" width="19" height="16" align="bottom" /> Your Cart <img src="media/cart_full.gif" alt="Cart" width="19" height="16" border="0" align="bottom" /><img src="media/cart_empty.gif" alt="Cart" width="19" height="16" align="bottom" /> </a></h5>
      </div>
      <div class="pagenav_aright">
        <div class="searchbox_wrap">
          <form method="get" action="http://www.google.com/search"
 target="_blank">
            <input name="ie" value="UTF-8" type="hidden" />
            <input
 name="oe" value="UTF-8" type="hidden" />
            <table class="searchtable" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="searchtable_leftcell"><select class="searchbox1" name="sitesearch" size="1"
 style="text-align: left;">
                      <option selected="selected" value="">By Date</option>
                      <option value="">By Rating</option>
                      <option value="">Downloads</option>
                    </select>
                  </td>
                  <td style="vertical-align: middle; width: 100%; text-align: center;" class="searchtable_midcell"><input class="searchbox2" name="q" size="1" maxlength="255" value="Keywords" style="width:100%;" type="text" />
                  </td>
                  <td class="searchtable_rightcell"><input class="searchbutton" name="btnG" value="Product"
 type="submit" /></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="pagenav_b">
      <div class="pagenav_bleft"></div>
      <div class="pagenav_bright">
        <div class="results"> Results:  Page 1 of 123</div>
        <div class="pager">
          <ul class="pi">
            <li class="previouspage"><a href="#"> Back</a></li>
            <li class="nextpage"><a href="#"> Fwd</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End pagenav -->
    <!-- Start Designs Container -->
    <div class="designs_container">
      <!-- Begin Design -->
      <div class="preview" id="id2481">
        <h6>By: Mikey</h6>
        <h5>Design  A22</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a22thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2454">
        <h6>By: Mikey</h6>
        <h5>Design A21</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a21thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2459">
        <h6>By: Mikey</h6>
        <h5>Design A20</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a20thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2451">
        <h6>By: Mikey</h6>
        <h5>Design A19</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a19thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2474">
        <h6>By: Mikey</h6>
        <h5>Design A18</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a18thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2443">
        <h6>By: Mikey</h6>
        <h5>Design A17</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a17thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2438">
        <h6>By: Mikey</h6>
        <h5>Design A16</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a16thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2389">
        <h6>By: Mikey</h6>
        <h5>Design A15</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a15thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2391">
        <h6>By: Mikey</h6>
        <h5>Design A14</h5>
        <ul class="design">
          <li class="levelone"> <a href="/"><img src="thumbnails/a14thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2309">
        <h6>By: Mikey</h6>
        <h5>Design A13</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a13thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2345">
        <h6>By: Mikey</h6>
        <h5>Design A12</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a12thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2344">
        <h6>By: Mikey</h6>
        <h5>Design A11</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a11thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2306">
        <h6>By: Mikey</h6>
        <h5>Design A10</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a10thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2298">
        <h6>By: Mikey</h6>
        <h5>Design A9</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a9thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2273">
        <h6>By: Mikey</h6>
        <h5>Design A8</h5>
        <ul class="design">
          <li class="levelone"> <a href="/"><img src="thumbnails/a8thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2264">
        <h6>By: Mikey</h6>
        <h5>Design A7</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a7thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2245">
        <h6>By: Mikey</h6>
        <h5>Design A6</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a6thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2229">
        <h6>By: Mikey</h6>
        <h5>Design A5</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a5thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2253">
        <h6>By: Mikey</h6>
        <h5>Design A4</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a4thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2178">
        <h6>By: Mikey</h6>
        <h5>Design A3</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a3thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2177">
        <h6>By: Mikey</h6>
        <h5>Design A2</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a2thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
      <!-- Begin Design -->
      <div class="preview" id="id2176">
        <h6>By: Mikey</h6>
        <h5>Design A1</h5>
        <ul class="design">
          <li class="levelone"><a href="/"><img src="thumbnails/a1thumbnail.gif" alt="Details" width="120" height="90" /></a>
            <ul class="detail">
              <li class="leveltwo_a"><a href="/">View</a></li>
              <li class="leveltwo_b"><a href="/">Download</a></li>
              <li class="leveltwo_c"><a href="/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Design -->
    </div>
    <!-- End Designs Container -->
    <!-- Begin pagenav -->
    <div class="pagenav_a">
      <div class="pagenav_aleft">
        <h5> <a href="#"> <img src="media/cart_fullb.gif" alt="Cart" width="19" height="16" border="0" align="bottom" /><img src="media/cart_emptyb.gif" alt="Cart" width="19" height="16" align="bottom" /> Your Cart <img src="media/cart_full.gif" alt="Cart" width="19" height="16" border="0" align="bottom" /><img src="media/cart_empty.gif" alt="Cart" width="19" height="16" align="bottom" /> </a></h5>
      </div>
      <div class="pagenav_aright">
        <div class="searchbox_wrap">
          <form method="get" action="http://www.google.com/search"
 target="_blank">
            <input name="ie" value="UTF-8" type="hidden" />
            <input
 name="oe" value="UTF-8" type="hidden" />
            <table class="searchtable" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="searchtable_leftcell"><select class="searchbox1" name="sitesearch" size="1"
 style="text-align: left;">
                      <option selected="selected" value="">By Date</option>
                      <option value="">By Rating</option>
                      <option value="">Downloads</option>
                    </select>
                  </td>
                  <td style="vertical-align: middle; width: 100%; text-align: center;" class="searchtable_midcell"><input class="searchbox2" name="q" size="1" maxlength="255" value="Keywords" style="width:100%;" type="text" />
                  </td>
                  <td class="searchtable_rightcell"><input class="searchbutton" name="btnG" value="Product"
 type="submit" /></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="pagenav_b">
      <div class="pagenav_bleft"></div>
      <div class="pagenav_bright">
        <div class="results"> Results:  Page 1 of 123</div>
        <div class="pager">
          <ul class="pi">
            <li class="previouspage"><a href="#"> Back</a></li>
            <li class="nextpage"><a href="#"> Fwd</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End pagenav -->






  </div> <!--  end center content  -->
  <div class="footer_23a">
    <ul class="foot_nav">
      <li><a href="http://validator.w3.org/check?uri=referer" target="_blank"> Xhtml
        Valid</a> | </li>
      <li><a href="http://jigsaw.w3.org/css-validator/validator-uri.html" target="_blank">CSS
        Valid</a> | </li>
      <li> <a href="http://validator.w3.org/checklink" target="_blank">Link
        Checker</a> | </li>
      <li> <a href="http://www.contentquality.com" target="_blank">Accessible</a> </li>
    </ul>
    <div class="foot_about">&copy;
      Copyright  &reg; YourAce&#8482; 2005 | Open Source Design By Mike East for <a href="http://oswd.org">OSWD.ORG</a> </div>
    <!--  end foot_about  -->
  </div> <!--  end footer_23a  -->

<div class="right_column">
  <div class="login_container_23a">
    <h3>Member Login</h3>
    <form action="index.php" method="post">
      <input type="hidden" value="login" 
            name="set" />
      Username:
      <input maxlength="31" size="1" 
            name="username" class="username_box" />
      Password:
      <input type="password" maxlength="31" 
            size="1" name="password" class="password_box" />
      <div align="center"> Remember me:
        <input type="checkbox" 
            name="reme" class="checkbox" />
        <input type="submit" value="Login" name="login" class="login_button" />
      </div>
    </form>
    <div align="center"> <a href="#">Forgot?</a> | <a href="#">Register</a></div>
  </div>
  <div class="headlines_container_23a">
    <h3>Headlines</h3>
    <ul class="headlines_nav">
      <li><a href="#">Florida Averages 30 Shark Attacks Per Year </a></li>
      <li><a href="#">Pumping Oil Causing Earthquakes; Meteors Causing Tsunamis </a> </li>
      <li><a href="#">Identity Theft Links </a> </li>
      <li><a href="#">1918 Bird Flu Killed 5 Million People </a></li>
      <li><a href="#">Global Warning: Extended High Winds</a></li>
      <li><a href="#">Mad Cow Desease Traced to Texas </a></li>
      <li><a href="#">Free Web Page Templates, Software, Forms, and More... </a></li>
    </ul>
  </div>
  <div class="deliver_container_23a">
    <h3>We Deliver</h3>
    <div class="deliver"> <img src="media/1.jpg" alt="image" align="left" class="img" />
      <h4>Market Research</h4>
      Template A23 (Hilfiger Gallery): Just a little PHP, some forms, and a few more scripts. Also, the left nav easily converted to flyout, but against this site's rules; see  enclosed. <br />
      <br />
      <img src="media/2.jpg" alt="image" align="left" class="img" />
      <h4> Systems Mgmt. </h4>
      Keywords: Merchant, Shop, Online, Media, Gallery, Image, Images, Pic, Pics, Picture, Pictures, Photo, Photos, Photography, Painting, Paintings, Art, Album, Albums, Movie, Movies,  Music, Song, Songs, Record, Records,  Recording, Recordings, MP3, Download, Downloads, Thumbnail, Thumbnails, Cart, Shopping Cart, Store, Commerical, Commerce, Portfolio,  Item, Items,  Inventory, Slide, Slides, Slideshow, Slideshows, Products, Item, Items. Template, Templates, Design, Designer, Designs, Graphics, Graphic, Artist, Artists.<br />
      <br />
      <img src="media/3.jpg" alt="image" align="left" class="img" />
      <h4>Target Marketing</h4>
      Just more text, at this point, just to fill some space the page will look good in french, yea, french, why not hit the translate button at the top and try the translate feature. </div>
  </div>
</div><!-- end right column -->

</div><!--  end body column  -->

</div><!-- end wrap -->
</body>
</html>
