<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> Here your title </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Description of your site." />
  <meta name="keywords" content="write,here,your,keywords" />
  <meta name="author" content="Your name may appear here" />
  <style type="text/css">
  @import url(style.css);
  </style>
 </head>
 <body id="container">

  <div id="upperside">
   <center>L I B R A R Y</center>
  </div>

  <div id="leftmenu">
	Articles <br />
	<ul>
	 <li><a href="#">Suspendisse molestie</a></li>
	 <li><a href="#">Natoque penatibus</a></li>
	 <li><a href="#">Donec vel</a></li>
	 <li><a href="#">Aliquam erat</a></li>
	</ul>
	Books <br />
	<ul>
	 <li><a href="#">Ridiculus mus</a></li>
	 <li><a href="#">Nascetur</a></li>
	 <li><a href="#">Penatibus et Magnis</a></li>
	 <li><a href="#">Sociis natoque</a></li>
	</ul>
	Magazines <br />
	<ul>
	 <li><a href="#">Ridiculus mus</a></li>
	 <li><a href="#">Nascetur</a></li>
	 <li><a href="#">Penatibus et Magnis</a></li>
	 <li><a href="#">Sociis natoque</a></li>
	</ul>
	Research <br />
	<ul>
	 <li><a href="#">Ridiculus mus</a></li>
	 <li><a href="#">Nascetur</a></li>
	 <li><a href="#">Penatibus et Magnis</a></li>
	 <li><a href="#">Sociis natoque</a></li>
	</ul>
	Study Books <br />
	<ul>
	 <li><a href="#">Ridiculus mus</a></li>
	 <li><a href="#">Nascetur</a></li>
	 <li><a href="#">Penatibus et Magnis</a></li>
	 <li><a href="#">Sociis natoque</a></li>
	</ul>
  </div>

  <div id="main">
	<h2>Lorem ipsum</h2>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec vel lacus eget urna nonummy egestas. Pellentesque metus. Aliquam erat volutpat. Quisque lacinia tincidunt sem. Phasellus risus nibh, auctor non, sagittis vitae, pretium semper, erat. Sed eget lorem. Integer gravida neque ac nibh. Aliquam lectus. Integer condimentum nulla vel odio. Ut nec libero. Quisque fermentum tortor et ante sollicitudin fermentum.</p>
	<p>Suspendisse molestie placerat enim. Nulla facilisi. Nulla nibh metus, imperdiet in, cursus eget, dignissim quis, lorem. Aliquam erat volutpat. Ut turpis massa, porttitor nec, porttitor nec, ultricies sed, massa. Sed rhoncus arcu id orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris elit sem, convallis non, elementum quis, ullamcorper a, erat. Curabitur justo. In nisi augue, pellentesque ut, pellentesque non, porttitor non, massa. Etiam egestas. Nullam ut eros id sapien pharetra imperdiet. Integer dapibus metus semper justo.</p>
	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse quis ligula. Duis suscipit, sapien id consequat malesuada, lacus neque tristique ipsum, sed sollicitudin ante turpis egestas orci. Pellentesque sed libero sed dui semper interdum. Vestibulum ut tellus fermentum turpis mollis aliquam. Ut porttitor urna sollicitudin metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas non ante eget purus ultrices ornare. Maecenas odio. Nam placerat ante quis erat porttitor congue. Duis hendrerit eros non dui. Nam lorem quam, dictum a, porta eget, imperdiet ac, ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>
  </div>

  <div id="rightmenu">
	Navigation<br />
	<ul>
	 <li><a href="#">Previous article</a></li>
	 <li><a href="#">Next article</a></li>
	 <li><a href="#">Back to homepage</a></li>
	</ul>

	Design by<br />
	<ul>
	 <li><a href="http://www.rickvandennoort.nl">RickVanDenNoort.nl</a></li>
	</ul>
  </div>

  <div id="footer">
	 Copyright 2005: YOUR NAME:  Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a>, <a href="http://jigsaw.w3.org/css-validator/validator-uri.html" target="_blank">CSS</a>
  </div>
 </body>
</html>