<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta name="Description" content="A free open source web design by Christina Chun.  Free for anyone to use as long as credits are intact. " />
<meta name="Keywords" content="www.oswd.org, open source web design, oswd.org, christina chun, christinachun.com, www.christinachun.com" />
<meta name="Copyright" content="Christina Chun" />
<meta name="Designed By" content="ChristinaChun.com" />
<meta name="Language" content="English" />
<title>B&amp;W Design</title>

<style type="text/css" title="layout" media="screen"> @import url("castle.css"); </style>

</head>

<body>
<div id="container">
	<div class="mainimage"></div>
		<div id="menu">
			<ul>
				<li><a href="#" title="Home">Home</a></li>
				<li><a href="#" title="News">News</a></li>
				<li><a href="#" title="About">About</a></li>
				<li><a href="#" title="Gallery">Gallery</a></li>
				<li><a href="#" title="Links">Links</a></li>				
				<li><a href="#" title="Contact">Contact</a></li>
			</ul>
		</div>			
<div id="bodytext">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec vitae mi. Cras sit amet risus sed massa sagittis feugiat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas justo. Vestibulum dolor lorem, sodales vitae, consequat quis, cursus a, sem. Vestibulum odio. Etiam adipiscing ultrices lorem. Nam in odio eget lectus sodales accumsan. Aliquam lacinia lacus sed erat. Nulla nonummy. 
<br /><br />
<img class="break" src="images/image.png" width="150" height="113" alt="sky" />
<img class="break2" src="images/image2.png" width="150" height="113" alt="blue" />
Vivamus tincidunt diam in sapien. Pellentesque egestas eros nec quam. Suspendisse potenti. Duis non eros nec neque euismod molestie. Maecenas elementum risus non nisl. Sed tempus. Aliquam sagittis euismod nunc. Aliquam sed mauris at augue suscipit dignissim. 
<br /><br />
Aenean adipiscing, erat nec sodales varius, magna urna nonummy nisl, a consectetuer erat odio ac velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque nunc. In pharetra accumsan diam. Suspendisse libero libero, mattis vel, condimentum vitae, dignissim eu, libero. Nam congue. Sed tristique dictum enim. Nunc sit amet velit et neque tempor mollis. In hac habitasse platea dictumst. Suspendisse tincidunt, mi sit amet aliquam lacinia, diam nisl eleifend sem, auctor tempus augue urna vel lectus. Integer porta. Fusce pulvinar, sapien id tempus ultrices, augue pede elementum augue, non vehicula dui ipsum vel velit.
</div>	
</div>	
	<div class="footer">
		<div class="right">Designed By <a href="http://www.christinachun.com" title="Christina Chun - Digital Artist &amp; Web Developer">Christina Chun</a> &copy; 2005-2006 | <a href="http://www.owsd.org" title="Open Source Web Design">Open Source Web Design</a> | <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a></div>
	</div>
</body>
</html>