<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>RayGerrard.com // Online Portfolio</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body>
	<div id="nav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">About Me</a></li>
			<li><a href="#">OSWD</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
		<div id="content">
			<h2>welcome</h2>
			<p>welcome to my online portfolio website, here you will find information relating to website designs i have created. welcome to my online portfolio website, here you will find information relating to website designs i have created.welcome to my online portfolio website, here you will find information relating to website designs i have created.welcome to my online portfolio website, here you will find information relating to website designs i have created.</p>
			<h2>welcome</h2>
			<p>welcome to my online portfolio website, here you will find information relating to website designs i have created. welcome to my online portfolio website, here you will find information relating to website designs i have created.welcome to my online portfolio website, here you will find information relating to website designs i have created.welcome to my online portfolio website, here you will find information relating to website designs i have created.</p>
			<h2>welcome</h2>
			<p>welcome to my online portfolio website, here you will find information relating to website designs i have created. welcome to my online portfolio website, here you will find information relating to website designs i have created.welcome to my online portfolio website, here you will find information relating to website designs i have created.welcome to my online portfolio website, here you will find information relating to website designs i have created.</p>
		</div>
	<div id="footer">
		<p>&copy; copyright 2006 <a href="http://www.raygerrard.com">raygerrard.com</a><br />Design By Ray Gerrard</p>
	</div>
</body>
</html>
