<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
<div id="header">
  <h3 class="headertext">Springtime! </h3>
</div>

<div id="navbar">
<a href="index.html">Home</a> 
<a href="index.html">About Us</a> 
<a href="index.html">Another Link</a> 
<a href="index.html">Another Link</a> 
<a href="index.html">Another Link</a> 
<a href="index.html">Another Link</a> 
</div>


<div id="leftcontent">
  <p>&nbsp;</p>
  <p>Picture Area</p>
  <p>Picture Area</p>
  <p>Picture Area</p>
  <p>Picture Area</p>
  <p>Picture Area</p>
  <p>Picture Area</p>
  <p>Picture Area</p>
  <p>Picture Area</p>
</div>
<div id="main">
<p>This is where the main content can go on your site. I have set the 'p' tag of this main area to start 190px in from the left hand side, past the left hand content.</p>
<p>Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here </p>
<p>Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here </p>
<p>Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here Content goes here </p>
<p>Content goes here Content goes here Content goes here Content goes here </p>
<p>Content goes here Content goes here Content goes here Content goes here Content goes here </p>
</div>
<div class="footertext" id="footer">
Design by <a href="mailto:info@simonmarlow.info">SDM</a></div>
</div>
</body>
</html>
