<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>CSS Gallery</title>
  
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Content Here" />
  <meta name="keywords" content="Place, keyeords, here" />
  <meta name="author" content="claryanWeb" />    
    
  <link rel="stylesheet" rev="stylesheet" href="style.css" type="text/css" media="screen" />

</head>
<body>
	
  <div id="wrapper">
    
  <div id="header">

  <ul id="off">
<li><a class="ggg" href="#"><em class="hz toph"></em><em class="bk bkbr"></em><em class="vtc"></em><em class="hz both">HOME</em><span></span></a></li>
<li><a class="aaa" href="#"><em class="hz toph"></em><em class="bk bktr"></em><em class="hz midh">GALLERY</em><em class="bk bkbl"></em><em class="bk bkbr"></em><em class="hz both"></em><span></span></a></li>
<li><a class="lll" href="#"><em class="vtl"></em><em class="hz both">PAGE 3</em><span></span></a></li>
<li><a class="lll" href="#"><em class="vtl"></em><em class="hz both">PAGE 4</em><span></span></a></li>
<li><a class="eee" href="#"><em class="hz toph"></em><em class="vtc"></em><em class="hz midh"></em><em class="hz both">PAGE 5</em><span></span></a></li>
<li><a class="rrr" href="#"><em class="hzq topq">PAGE 6</em><em class="vtq"></em><span></span></a></li>
<li><a class="yyy" href="#"><em class="vtp toph"></em><em class="vtp topr"></em><em class="hz midh">CONTACT</em><em class="bk bkbr"></em><em class="hz both"></em><span></span></a></li>
</ul>  <!-- end of navigation" -->

	</div> <!-- end of div id="header" --> 
	
  <div id="container">
  <ul>
    <li>
      <a class="gallery slidea" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p1.jpg" alt="The Rape of the Sabine Women" title="The Rape of the Sabine Women" />
          <br />
          The Rape of the Sabine Women
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slideb" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p1.jpg" alt="The Arno River" title="The Arno River" />
          <br />
          The Arno River
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slidec" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p1.jpg" alt="The Duomo" title="The Duomo" />
          <br />
          The Duomo
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slided" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p12.jpg" alt="The Uffizi Gallery" title="The Uffizi Gallery" />
          <br />
          The Uffizi Gallery
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slidee" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span><img src="images/p12.jpg" alt="The Pizzi Palace" title="The Pizzi Palace" />
          <br />
          The Pizzi Palace
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slidef" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p12.jpg" alt="The Ponte Vecchio" title="The Ponte Vecchio" />
          <br />
          The Ponte Vecchio
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slideg" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p12.jpg" alt="The Easter Festival" title="The Easter Festival" />
          <br />
          The Easter Festival
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slideh" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p1.jpg" alt="Statue of David" title="Statue of David" />
          <br />
          Statue of David
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slidei" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p1.jpg" alt="The Bell Tower" title="The Bell Tower" />
          <br />
          The Bell Tower
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slidej" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p1.jpg" alt="Park in Florence" title="Park in Florence" />
          <br />
          Park in Florence
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slidek" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p12.jpg" alt="Santa Maria di Novello" title="Santa Maria di Novello" />
          <br />
          Santa Maria di Novello
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
    <li>
      <a class="gallery slidel" href="http://www.cssplay.co.uk/articles/gallery/index.html">
        <span>
          <img src="images/p12.jpg" alt="Sunset Over The Arno" title="Sunset Over The Arno" />
          <br />
          Sunset Over The Arno
          <br />
          Photo courtesy of the <strong>stock.xchng</strong>
	    <br />
	    This photo gallery, and the lettered title / menu, were built completely in CSS - from an idea by Stu Nicholls at CSS Play.	
        </span>
      </a>
    </li>
  </ul>
</div>	  	 	
  <div id="container2">

<p>This is my second template submission to OWD, and is inspired by the CSS Photo Gallery created by Stu Nicholls at <a href="http://www.cssplay.co.uk">CSS Play</a>.
I had been looking for something which avoided the use of Javascript, or external Gallery software, and this gallery is contructed entirely in CSS.
(There are only two images - one portrait, and one landscape - due to image upload restrictions on OWD.)
I also took a liking to his lettered menu, which again is done completely in CSS - and very ingenious it is too ! <br />
Please feel free to use and abuse this template. I do not require any links back, but I would appreciate it if you left the link to CSS Play in the footer.
If the template is used in earnest, it would be nice if you could send a link <a href="mailto:enquiries@claryanweb.net">here</a>, so that I can see it in action.
&nbsp;&nbsp; Enjoy.</p>
</div>    
  <div id="footer">
  
    <p>Copyright &copy; 2006 <a href="#">Your Name</a> | <a href="http://validator.w3.org/check/referer" title="xhtml validation check"> Validate XHTML</a>
	  | <a href="http://jigsaw.w3.org/css-validator/" title="CSS validation check">Validate CSS</a> | <a href="http://www.cssplay.co.uk" title="CSS Play">CSS Play</a>
</p>
      
  </div> <!-- end of div id="footer" -->
  
 </div> <!-- end of div id="wrapper" -->
  
</body></html>
