<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--DESIGNED BY http://ll.outer-heaven.net/v1/-->
<!--Designer: Ganesh Iyer-->
<head>
<title>Dark Metal</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="cont">
<div id="header">
<h1>Header</h1>
</div>
<ul id="nav">
<li><a href="#" title="Home" class="on">Home</a></li>
<li><a href="http://ll.outer-heaven.net/v1/index.php" title="http://ll.outer-heaven.net/v1/index.php">Link</a></li>
<li><a href="http://ll.outer-heaven.net/v1/index.php" title="http://ll.outer-heaven.net/v1/index.php">Link</a></li>
<li><a href="http://ll.outer-heaven.net/v1/index.php" title="http://ll.outer-heaven.net/v1/index.php">Link</a></li>
<li><a href="http://ll.outer-heaven.net/v1/index.php" title="http://ll.outer-heaven.net/v1/index.php">Link</a></li>
<li><a href="http://ll.outer-heaven.net/v1/index.php" title="http://ll.outer-heaven.net/v1/index.php">Link</a></li>
</ul>
<br />
<div id="right">
<div>
<h3>Lipsum</h3>
</div>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque interdum velit non eros. Nunc at neque. Donec a sem vel erat fringilla varius.</p>
<div>
<h3>Sidebar</h3>
</div>
<p>Add some text here so that this doesnt look blank, you may add a shout box or random quote or anything here</p>
<div>
<h3>Design</h3>
</div>
<p>This template is designed by <a href="http://ll.outer-heaven.net/v1/index.php">Ganesh Iyer</a>. The design is made completely with css and XHTML. It contains no image or table tags! Feel free to
use this design as long as you dont remove the copyright. If you want to remove it then contact me using my site and pay me $10.</p>
</div>
<div id="content">
<div>
<h3>Lorem Ipsum</h3>
</div>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque interdum velit non eros. Nunc at neque. Donec a sem vel erat fringilla varius. Duis rutrum, enim ut porttitor feugiat, elit
diam ornare metus, eget consectetuer ante ipsum eu ipsum. Nulla et neque a mi tincidunt auctor. In lacinia. Nunc libero nulla, tincidunt et, eleifend sed, dapibus a, orci. Proin mollis velit a massa.
Suspendisse potenti. Nulla quam nibh, pharetra vel, ornare at, pharetra in, elit. Nulla porta est vitae odio. Maecenas porttitor gravida quam. In blandit aliquet felis. Integer ligula. Aliquam erat
volutpat. Integer aliquet volutpat urna. Integer neque. Aliquam erat volutpat. Nulla lorem justo, condimentum non, porttitor eu, suscipit non, mauris. Maecenas ultrices quam eget neque. Fusce sapien
urna, scelerisque at, fermentum quis, dapibus a, ipsum. Phasellus quis mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut velit. Donec vitae
ligula. Nam quis urna eget est elementum ultrices. Nullam congue ullamcorper dui. In blandit. Ut bibendum eros et ante. Pellentesque condimentum eleifend dui. Phasellus lacus sapien, pretium id,
luctus id, dignissim at, elit. In hac habitasse platea dictumst. Pellentesque ultricies massa a nisi. Cras dignissim laoreet metus. Quisque quam nisi, sollicitudin sed, fringilla eget, blandit eget,
mauris. Nunc porta ornare ipsum. Integer eros massa, varius non, ultrices vel, convallis et, purus. Integer bibendum. Vivamus porta hendrerit elit. Maecenas euismod, dolor sit amet pellentesque
semper, est lectus varius ligula, imperdiet fermentum diam ipsum in mauris. Duis lectus ipsum, porttitor id, consectetuer ac, pharetra eget, mauris. Curabitur vitae turpis. Nam sed eros et purus
egestas sagittis. Aliquam risus. Donec auctor, urna vel tempus imperdiet, nulla velit vestibulum elit, sit amet varius nisi est nec nulla. Curabitur varius ligula ut est. Pellentesque porta vulputate
mauris. Nullam sodales tellus quis pede. Donec magna. Nullam a pede fermentum mi gravida tincidunt.</p>
<div>
<h3>Phasellus vehicula</h3>
</div>
<p>Phasellus vehicula. Vivamus risus ante, adipiscing sit amet, cursus eu, vestibulum non, tellus. Praesent consectetuer, quam vel elementum aliquam, turpis purus porta neque, a facilisis justo
tellus ac metus. Aenean eros libero, commodo et, dictum vitae, tincidunt ut, mi. Praesent vitae neque. Etiam vitae mauris non lacus tincidunt dapibus. Nullam pulvinar, ipsum sit amet tincidunt
imperdiet, neque turpis posuere ipsum, et bibendum lacus orci ut felis. Nullam vehicula. Aenean sed risus. Sed consequat, dolor sit amet feugiat rhoncus, sem libero pretium tortor, id commodo ipsum
nisl ultricies dui. Praesent placerat elit vitae sem. Nullam condimentum dignissim orci. Pellentesque accumsan imperdiet diam. Curabitur viverra laoreet nibh. Aliquam arcu purus, varius ut, placerat
in, fermentum ut, massa. In hac habitasse platea dictumst. Vivamus nisl lectus, semper sed, ultricies ac, fermentum ac, urna. Aenean tortor ante, tristique ac, lacinia et, facilisis ut, nulla. Etiam
id orci ac lectus luctus blandit. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Sed molestie elit in turpis. Etiam ligula justo, euismod pretium, hendrerit a, varius vel, pede.
Donec sit amet odio. Duis feugiat, dolor eu convallis tempor, quam justo sagittis lectus, non mollis augue mauris ut odio. Phasellus lectus enim, molestie sed, accumsan at, mollis eu, tortor. Sed
eget nisl. Nulla at sapien. Nam imperdiet libero. In hac habitasse platea dictumst. Sed velit elit, dapibus fermentum, sagittis sed, tempor nec, sapien. Nunc sapien nulla, facilisis in, faucibus sit
amet, consequat quis, dui. Vestibulum gravida facilisis ipsum. Donec at nibh quis enim mattis laoreet. Morbi accumsan neque non felis. Phasellus est sem, porta a, ultrices ut, dignissim a, elit.
Praesent urna odio, pharetra in, tincidunt non, lacinia quis, ipsum. Sed elit quam, imperdiet in, varius sit amet, bibendum a, sapien.</p>
</div>
<div id="footer"><a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Validates as CSS">CSS</a> | <a href="http://validator.w3.org/check/referer" title=
"Validates as XHTML">XHTML</a> | <a href="contact.hmtl">Contact</a><br />
Copyright You 2006. All rights reserved<br />
<!--DONTOT REMOVE THIS LINE-->
Designed by <a href="http://ll.outer-heaven.net/v1/" title="Ganesh's site">Ganesh Iyer aka lastlegion</a> <!--END DONOT REMOVE THIS LINE--></div>
</div>
</body>
</html>
