<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
			<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
			<meta name="description" content="Studio 7 designs - Professional Photography and website development, Victoria BC Canada" />
			<meta name="keywords" content="Studio7designs, studio 7 designs, Professional,Photography,Graphic ,Victoria,BC,Canada,wedding,photographer,victoria,bc,wedding photographers victoria bc,weddings,photo,albums,aran down,website designers victoria bc, HTML, CSS, Open Source Web Designers, Free Templates" />
			<meta name="robots" content="All"/>
			<meta name="author" content="Aran Down studio 7 designs" />
		
<title>Nautica 04</title>

<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
<link rel="shortcut icon" href="img/favicon.ico" type="favicon" />

</head>

<body>

<div id="header">

 	 <div id="logo">
 	   <h4>NAUTICA 04</h4>
 	 </div>
  			<div id="topmenu">
			<a href="#">Home</a> | 
			<a href="#">Gallery </a>| 
			<a href="#">Subscribe</a> | 
			<a href="#">RSS</a> | 
			<a href="#">Fridge</a> | 
			<a href="#">Stove</a> | 
			<a href="#">Contact</a>
			</div>
</div>

	<div id="content">
	
	  <div id="maintext">
			
              <h2>Photography 101 </h2>
			 
        <p> The first thing that you want to do is check out the <a href="http://www.luminous-landscape.com/">Luminous Landscape</a> <br />
          From there you can learn any thing about photography... I recommend the Nikon D200 if you are serious about photography, you can 	vew <a href="http://www.studio7designs.deviantart.com">my work here</a> if you like. </p>
              <blockquote> <p>This is a OS template for your enjoyment.<br />
If you could  <a href="mailto:aran@studio7designs.com"> email me</a>, when you go online with your new site id love to see how it is being used, its always fun checking new ideas out! <br />
Please keep a link to me at the footer if you can, always appreciated </p> </blockquote> 
             <p> This is a design by<a href="http://www.studio7designs.com"> Studio7designs</a>, located in Victoria bc we offer a wide range of services... Drop us a visit and check out our portfolio.<br />
              <br />
        This is the first version of Nautica04. Look for updates to the footer, as currently the site is designed to hold content. Vestibulum lectus elit, vehicula et, imperdiet vel, fermentum  eget, urna. Sed consequat rhoncus diam. Praesent leo metus, elementum  lobortis, vehicula a, ullamcorper eu, ante. Ut porta sagittis erat. </p>
             
	          <p><img src="img/N4.jpg" alt="n4" width="460" height="460" /><br />
			    <br />
		      Duis ut justo eget neque pellentesque fringilla. Quisque aliquam  hendrerit nulla. In pretium turpis nec urna. Duis felis neque, aliquam  et, sollicitudin ut, dignissim in, lorem. Morbi diam metus, ultrices  ac, sodales vitae, dictum ac, nulla. Vestibulum dictum, diam non  fermentum consectetuer, erat nunc congue risus, vel lobortis erat  sapien a dolor. Maecenas et massa in risus molestie rutrum. Suspendisse  lectus nisi, vestibulum at, pellentesque in, ornare non, sem. Sed  lacinia tempor dolor. Donec porta, arcu ut blandit faucibus, purus  tortor vehicula risus, vitae volutpat magna mauris id lacus. Praesent  fermentum, urna non sagittis egestas, tellus tortor tristique massa,  vitae vehicula sem orci non ante. Vivamus ullamcorper tempor nibh. </p>
			  <blockquote> <p>Donec eleifend pede ut lacus. Sed nibh. Integer gravida velit sit  amet quam. Proin euismod massa non urna. Vivamus sagittis enim vitae  est. Duis ut ipsum. Mauris posuere erat consequat quam. Fusce tincidunt  leo eget ante. Quisque nonummy dignissim purus. Etiam dictum.  Pellentesque habitant morbi tristique senectus et netus et malesuada  fames ac turpis egestas. Proin et nulla a tellus laoreet ornare.  Maecenas nibh justo, iaculis ut, vehicula non, mattis non, mauris.  Curabitur eget lorem. Etiam tempor, sapien non nonummy rhoncus, odio  turpis feugiat sem, at aliquet dolor felis eget libero. Lorem ipsum  dolor sit amet, consectetuer adipiscing elit. </p> </blockquote>
      </div>
		
		<div id="rightcol"><br/>
		
		  <div id="introduction">
		  
				<h3>Page navigation</h3>
				<ul>
					<li><a href="#">Example Link 1</a></li>
					<li><a href="#">Example Link 2</a></li>
					<li><a href="#">Example Link 3</a></li>
					<li><a href="#">Example Link 4</a><br />
					  <br />
					</li>
				</ul>
				<h3>sub page menu </h3>
				<ul>
					<li><a href="#">Example Link 1</a></li>
					<li><a href="#">Example Link 2</a></li>
					<li><a href="#">Example Link 3</a></li>
					<li><a href="#">Example Link 4</a></li>
				</ul>
					<br />
				    <br />
				    <img src="img/Nautica04.jpg" alt="n4" width="132" height="152" /><br />
				    <br />
				    <br />
				    This is some text<br />
				    This is some text<br />
				    This is some text<br />
				    This is some text<br />
				    This is some text<br />
				    This is some text<br />
				    <br />
				    <br />
		  </div>
		</div>
		
	</div>
    <div id="footer">
      <p>&copy; 2006 Your Company Name &nbsp;|&nbsp; <a href="http://www.arbutusphotography.com">Design</a> <a href="http://www.weddingsvictoria.net/">By</a> <a href="http://www.studio7designs.com/">Studio7designs  </a></p>
      
</div>
</body>
</html>