<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<!-- change this to the title you want to appear in browser title bar -->

<title>Mahakali</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="dreamLogic" />
<meta name="description" content=" " />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>


<div id="wrap">

<div id="navcontainer">
<ul id="navlist">

<!-- put your navigation links and text here -->

<li><a href="#">Home &#9733; </a></li>
<li><a href="#">History &#9733; </a></li>
<li><a href="#">Gallery &#9733; </a></li>
<li><a href="#">Location &#9733; </a></li>
<li><a href="#">Contact &#9733; </a></li>
<li><a href="http://validator.w3.org/check?uri=referer">Xhtml &#9733; </a></li>

<!-- end navigation -->

</ul>
</div>

<div id="header">
<img src="headerl.gif" alt="Kalimas" class="headl" />

<span class="title"><strong>Mahakali</strong><br />
<em>Site Description</em>
</span>

<img src="headerr.gif" alt="Kalimas" class="headr" />
</div>

<div id="container">

<!-- here is your page content -->


<h3>About this Design</h3>
<p>
Kali makes her 'official' debut in the Devi-Mahatmya, where she is said to have emanated from the brow of Goddess Durga (slayer of demons) during one of the battles between the divine and anti-divine forces. Etymologically Durga's name means "Beyond Reach". She is thus an echo of the woman warrior's fierce virginal autonomy. In this context Kali is considered the 'forceful' form of the great goddess Durga.
</p>
<p>
Kali's four arms represent the complete circle of creation and destruction, which is contained within her. She represents the inherent creative and destructive rhythms of the cosmos. Her right hands, making the mudras of "fear not" and conferring boons, represent the creative aspect of Kali, while the left hands, holding a bloodied sword and a severed head represent her destructive aspect. The bloodied sword and severed head symbolize the destruction of ignorance and the dawning of knowledge. The sword is the sword of knowledge, that cuts the knots of ignorance and destroys false consciousness (the severed head). Kali opens the gates of freedom with this sword, having cut the eight bonds that bind human beings. Finally her three eyes represent the sun, moon, and fire, with which she is able to observe the three modes of time: past, present and future. This attribute is also the origin of the name Kali, which is the feminine form of 'Kala', the Sanskrit term for Time.
</p>
<p>
I have taken some artistic liberty with the rendering of Kali here, particularly with regards to her traditonal coloration. See also: <a href="www.exoticindiaart.com/kali.htm">Exotic Indian Art</a>
</p>



<h3>About the Designer</h3>
<p>
This template is released as an open source web design, which means that you are free to use it in 
any way you want, and edit it in any way you want to. We ask that you leave the 
"Web design by dreamLogic" link in the footer as a friendly gesture, 
we would appreciate it very much. But there are no obligations so go ahead if you really want to remove it. 
</p>
<p>
dreamLogic has been creating custom web designs and applications for over 9 years. 
For more templates, web applications, and our portfolio, visit <a href="http://www.dream-logic.com">dreamLogic Web Design</a>.
</p>


<!-- end page content -->

</div>

    <div id="footer"><br />
    
<!-- it'd be super if you left this link intact -->    
    
    <a href="http://www.dream-logic.com">Web Design by dreamLogic</a>
    
    </div>


<!-- end wrap -->
</div>





</body>
</html>