<?xml version="1.0" encoding="utf-8" xml:lang="en-US"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>streamline</title>
<link type="text/css" rel="stylesheet" href="print.css" media="print" />
<link type="text/css" rel="stylesheet" href="main_style.css" title="streamline Main Stylesheet" media="screen" />
</head><body>

<div id="pageContainer">
<!-- start page -->
 <!-- start header -->
<div id="header">
<h1 id="streamlineTextualLogo"><span>streamline</span></h1>
</div>
 <!-- end header -->
 <!-- start menu -->
<div id="menuContainer">
<ul id="menuAbove">
<li><a href="#">Main Page</a></li>
<li><a href="#">Section 1</a></li>
<li><a href="#">Section 2</a></li>
<li><a href="#">Section 3</a></li>
</ul>
</div>
 <!-- end menu -->

 <!-- start central portion of page -->
<div id="centerPage">
  <!-- start left navigation -->
<div id="menuLeft">
<span class="menuHead" id="firstMenuHead">This Page</span>
<ul class="menuBox">
<li><a href="#about">About streamline</a></li>
<li><a href="#specifics">Specifics Regarding the Template</a></li>
<li><a href="#access">Accessibility</a></li>
</ul>

<span class="menuHead">This Section</span>
<ul class="menuBox">
<li><b>Main Page</b></li>
<li><a href="#">Usage Agreement</a></li>
<li><a href="#">Your Privacy</a></li>
<li><a href="mailto:altendo@yahoo.com">Contact Generalissmo</a></li>
</ul>
</div>
  <!-- end left navigation -->
  <!-- start content -->
<div id="content">
<h1>streamline</h1>
<a name="about"></a><h2>About streamline</h2>
<p>streamline is intended to be just that - a streamlined template that utilizes a sleek look that focuses on the use of shades of gray (one of my favorite colors, by the way). This page is well suited to use alpha transparency, but since it is not supported by "certain" browsers (see below), I have removed it from this template. To see this template at its best, <a href="http://www.al-tendo.com/">visit my personal site</a>, which uses alpha transparency.</p>

<a name="specifics"></a><h2>Specifics Regarding the Template</h2>
  <h3>Eternal Spite Upon Internet Explorer!</h3>
    <p>streamline used to feature <code>.png</code> images (pronounced "ping") that allows it to use transparency features not available to any other standard image format (<code>.gif</code> and <code>.jpg</code>). Internet Explorer, however, has never implemented the format correctly. Therefore, to remain compliant with IE 5.5/6's shoddy standards, the images were removed. This template is also renderable in Firefox 1.0.7 / 1.5 and Opera 8.51</p>

   <h3>Usage Agreement</h3>
     <p>You may use this template for whatever purpose. Even the original streamline logo is available for your use.</p>

   <h3>About the Designer</h3>
     <p>This design was created by Generalissmo for Open Source Web Design. <a href="http://www.oswd.org/designs/search/designer/id/6986/">The designs can be viewed at Generalissmo's OSWD profile</a>.</p>

<a name="access"></a><h2>Accessibility</h2>
<p>This design is largely accessible. Markup provides easy use for non-visual browsers (braille readers, screen readers, text-only browsers) and low-bandwidth connections (handhelds, such as PDAs). Styling with CSS allows the site to appear streamlined for visual browsers. It should be noted that just because of this does not necessarily make it accessible - it has not been tested according to the <acronym title="World Wide Web Consortium">w3c</acronym>'s Web Content Accessibility Guidlines, nor the section 508 guidlines.</p>
</div>
  <!-- end content -->
</div>
 <!-- end central portion of page -->
 <!-- start notice -->
<div id="notice">
<span class="floatRight"><a href="http://validator.w3.org/check?referer">Valid XHTML Strict</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a><br />
Wakka Wakka Wakka. It works!</span>
URI: <a href="#">http://www.awesome.com/</a><br />
site copyright &copy; your name
</div>
 <!-- end notice -->
</div></body></html>