<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html lang="en">
 <head>
  <title>Fan Sports</title>
  <link href="style1.css" rel="stylesheet" type="text/css" />
  <link href="style2.css" rel="stylesheet" type="text/css" />
  <link href="starrater.css" rel="stylesheet" type="text/css" />
  <!--[if IE 6]>
   <link rel="stylesheet" href="ie6.css" type="text/css" />
  <![endif]-->
  <meta http-equiv="Content-Type" content="text/xhtml; CHARSET=ISO-8859-1" /> 
  <meta name="description" content="insert description" />
  <meta name="keywords" content="insert keywords" />
 </head>
 <body>
  <div id="menu">
   <div id="logo">
    mediaLAND
   </div>
   <div id="slogan">
    <img alt="" src="arrow.GIF"/> Live a little
   </div>
   <div id="searchsite">
    <center>
    <br/>
    <form action="" id="form1">
     <b class="rtop">
      <b class="r1"></b>
      <b class="r2"></b>
      <b class="r3"></b>
      <b class="r4"></b>
     </b>
     <div id="searchbox">
      Search:
      <input id="search" name="search-input" type="text" />
      <input id="submit" type="submit" value="" />
     </div>
     <b class="rbottom">
      <b class="r4"></b>
      <b class="r3"></b>
      <b class="r2"></b>
      <b class="r1"></b>
     </b>
    </form>
    </center>
   </div>
   <div class="nav">
    <a class="active" href="index.htm">&nbsp; Home</a>
    <a class="notactive" href="#">&nbsp; Links</a>
    <a class="notactive" href="#">&nbsp; Multimedia</a>
    <a class="subnotactive" href="#">&nbsp;&nbsp; <img alt="" border="0" src="arrow.GIF"/> Pictures</a>
    <a class="subnotactive" href="#">&nbsp;&nbsp; <img alt="" border="0" src="arrow.GIF"/> Videos</a>
    <a class="notactive" href="#">&nbsp; Contact</a>
   </div>
   <br/>
   <div id="loginsite">
    <center>
    <form action="#">
     <b class="rtop">
      <b class="r1"></b>
      <b class="r2"></b>
      <b class="r3"></b>
      <b class="r4"></b>
     </b>
     <div id="loginbox">
      <font class="logintitle">User Login</font>
      <br/><br/>
      <input id="username" onmouseover="this.id='usernameover'" onmouseout="this.id='username'" type="text" />
      <br/>
      <font class="logintext">Username</font>
      <br/><br/>
      <input id="password" onmouseover="this.id='passwordover'" onmouseout="this.id='password'" type="password" />
      <br/>
      <font class="logintext">Password</font>
      <br/><br/>
      <input id="login" type="submit" value="Login" />
     </div>
     <b class="rbottom">
      <b class="r4"></b>
      <b class="r3"></b>
      <b class="r2"></b>
      <b class="r1"></b>
     </b>
    </form>
    </center>
   </div>
  </div>
  <div id="content">
   <center>
   <div id="page">
    <a name="top"></a>
    <br/>
    <div class="textbox">
     <div class="text">
      <span class="texttitle">Examples</span>
      <hr/>
      This is an example of regular text. It is aligned to the left, but can be changed in the css using the tag div.text.
      <br/><br/>
      <span class="important">This is important text!</span>
      <br/>
      <strong>This is strong text.</strong>
      <br/>
      <a href="#">This is a link.</a>
      <br/>
      <span class="small">This is small text.</span>
      <br/>
      <tt>This is code</tt>
      <hr/>
      <a class="top" href="#top">Back To Top</a>
     </div>
    </div>
    <br/>
    <div class="textbox">
     <div class="text">
      <span class="texttitle">Designer</span>
      <hr/>
      This template was designed by <a href="http://www.oswd.org/designs/search/designer/id/6410/" target="_newwin">High Caliber</a> as a cool and unique design. It consists of 1 XHTML page, 3 CSS pages, and 6 images. All CSS and XHTML have been validated through <a href="http://www.w3.org" target="_newwin">www.w3.org</a>. The images take up 5.38 KB of the sites total 17.3KB. If you have any suggestions on how to improve this template please e-mail them to <a href="mailto:%20dahl.matthew@gmail.com">High Caliber</a>.
      <hr/>
      <a class="top" href="#top">Back To Top</a>
     </div>
    </div>
    <br/>
    <div class="textbox">
     <div class="text">
      <span class="texttitle">Other Designs</span>
      <hr/>
      <a class="images" href="http://www.oswd.org/design/preview/id/2370" target="_newwin"><img alt="" border="0" src="thumbnail.gif"/></a>
      <hr/>
      <a class="top" href="#top">Back To Top</a>
     </div>
    </div>
    <br/>
    <div class="textbox">
     <div class="text">
      <span class="texttitle">Useful Sites</span>
      <hr/>
      <a href="http://www.flamingtext.com" target="_newwin">Flaming Text - Online Logo Generator</a>
      <br/>
      <a href="http://www.netmechanic.com/GIFBot/optimize-graphic.htm" target="_newwin">GIFBot - Online Image Shrinker</a>
      <br/>
      <a href="http://www.w3.org" target="_newwin">W3C - Site Validation</a>
      <br/>
      <a href="http://www.w3schools.com" target="_newwin">W3 Schools - Language Tutorials</a>
      <br/>
      <a class="more" href="#">[More]</a>
      <hr/>
      <a class="top" href="#top">Back To Top</a>
     </div>
    </div>
   </div>
   <div id="footer">
    &copy; Copyright 2005-2006 Your Name | Design by <a href="http://www.oswd.org/designs/search/designer/id/6410/" target="_newwin">High Caliber</a>
   </div>
   </center>
  </div>
  <div id="bg">
  </div>
 </body>
</html>