<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Designer</title>
<link rel="stylesheet" type="text/css" href="styles.css" media="all" />
</head>

<body>
<div id="wrap">


<div id="lefter">

<div id="lefttop">
</div>

<div id="left">

<h1>Navigation</h1>
<p><a href="#">Home</a><br/><a href="#">Portfolio</a><br/><a href="#">About Us</a><br/><a href="#">Pricing</a><br/><a href="#">Contact Us</a><br/></p>


</div>

<div id="leftbottom">
</div>
</div>
<div id="righter">

<div id="righttop">
</div>

<div id="right">
<h1>News</h1>
<p>Have some news here, something interesting. Short but of interest. Maybe results of a poll or something. </p>
<h1>Contact</h1>
<p>To Contact Us: <br/> Please email us at sameo @ paradise.net.nz or give us a call on 0800 make a page<br/> </p>
<h1>Recent</h1>
<p>Our most recent work includes that of <b>The Richmond Road Film Festival</b> and <b>Tabber</b>. We believe that these sites have been designed to meet quality standards.</p>
</div>

<div id="rightbottom">
</div>
</div>
<div id="pic" >
</div>

<div id="main" >
<h1>What It's All About</h1>
<p>Here is where you would put a main header, maybe news or something that you want everyone visiting your site to know. I would put what my site is about here. Please, if you use this design, give me a bit of credit! </p>
<h1>The News</h1>
<p>Another heading now, this one dedicated to news. the reason that I have put this header below the first header is because I feel that when I enter a new site that 
I do not know, the last thing I want is to be bombarded with news rather than a small paragraph telling me what the site is about. </p>
<h1>Nearly There</h1>
<p>Heading number 3. I'm now just going to fill the rest of these headings with waffle, apple and other edible items.</p><p>Waffle and chips are great to eat, as well as fruit such as apples. My favourite would have to be nectarines and pears, although, I do like pizza. Waffle and chips are great to eat, as well as fruit such as apples. My favourite would have to be nectarines and pears, although, I do like pizza.
</p>
<h1>Final Heading</h1>
<p>Waffle and chips are great to eat, as well as fruit such as apples. My favourite would have to be nectarines and pears, although, I do like pizza.Waffle and chips are great to eat, as well as fruit such as apples. My favourite would have to be nectarines and pears, although, I do like pizza.</p>
</div>

<div id="bottom">
</div>
<div id="footer">
<p>Site Design By <a href="http://www.sameoproductions.co.nr">Sameo Productions</a></p>
</div>
</div>
</body>

</html>
