<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="blogmeAlternative.css" />

<title>BlogMe 2.0 - A Blog Design</title>
</head>

<body>
<a href="" name="top"></a>
<div id="container">

<div id="upper">

<!-- Top-of-page Links -->
<div id="upperLinks">
<p>Links: <a href="#">Link 1</a> | <a href="#">Link 2</a> | <a href="#">Link 3</a></p>
</div>
<!-- End Top-of-page Links -->

<!-- Search Box -->
<div id="search">
<form name="search" method="get" action="#">
	<input type="text" class="searchKeywords" value="" maxlength="255" tabindex="1" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="submit" value="Search" class="searchBtn" tabindex="2" />
</form>
</div>
<!-- End Search Box -->
<br clear="all" />
</div>
<!-- End Upper -->

<div id="header">
<h1>:. BlogMe 2.0 .:</h1>
<h2>&quot;The Alternative Style&quot;</h2>

<div id="nav">

<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="#" class="selected">Alternative Style</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Archives</a></li>
  <li><a href="#">Feed</a></li>
</ul>

</div>
</div>

<div id="content">

<div id="blog">

<div class="entry">
	<h2>13.02.06 - BlogMe 2.0</h2>
	<p>To be honest with you all, version 1.0 of BlogMe was flawed to an amazing degree. I had completely overlooked compatability with any browser other than my own, <a href="http://www.mozilla.com/firefox">firefox</a>. As a result of this, in IE, the design looked like... well I won't go there; and as such, about 75% of the IE using world got one ugly design. <span class="red"><a href="index.html">Please View The Original Style</a></span>.</p>
	<p>Needless to say, this version is tested in Internet Explorer, Mozilla Firefox, Mozilla Suite, Epiphany, and Konqueror with resolutions ranging from 800x600 to 1600x1200. I don't have any access to any other browsers so if the design is off in Opera or any Mac Browsers, please <a href="mailto:gvstaff@gmail.com">e-mail</a> me. I have also re-commented all of the XHTML and CSS. So, enjoy it this time around and watch out for Version 3.0!</p>
<div class="tools">
	<a href="#" class="toolsComments">5 Comments</a>
	<a href="#" class="permalink">Permalink</a>
</div>
</div>

<div class="entry">
	<h2>09.02.06 - Why BlogMe Rocks</h2>
	<p>BlogMe web design is one of the better blog designs of the better half of this century and I'll tell you why. First and foremost, the user notices the vibrant colors used and as <a href="#">studies show</a>, light, vibrant colors not only attract attention, but interest! BlogMe also includes lots of extra classes and ID's in the CSS for you to use whenever you feel the need to. Both the XHTML and the CSS are well commented for ease of use, making BlogMe the easiest template out there.</p>
<div class="tools">
	<a href="#" class="toolsComments">20 Comments</a>
	<a href="#" class="permalink">Permalink</a>
</div>
</div>

<div class="entry">
	<h2>01.02.06 - Lorem Ipsum</h2>
	<p>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis bibendum blandit tortor. Vestibulum sagittis, pede id rutrum feugiat, augue augue sagittis diam, in tempor turpis
	lorem eget erat. Vestibulum ante. Sed bibendum ipsum et mi. <a href="#">Vestibulum eleifend</a>, eros varius blandit tempus, lorem pede placerat justo, at vehicula lectus nibh non tellus. Cras nec
	velit quis orci dapibus pretium. Quisque ipsum. Pellentesque accumsan leo sit amet enim. Phasellus venenatis. Vestibulum id orci.
    </p>
<div class="tools">
	<a href="#" class="toolsComments">55 Comments</a>
	<a href="#" class="permalink">Permalink</a>
</div>
</div>

<div class="entry">
	<h2>05.01.06 - Included Styles</h2>
				<ul>
					<li> &nbsp;<span class="blue">Blue Text</span></li>
					<li> &nbsp;<span class="green">Green Text</span></li>
					<li> &nbsp;<span class="red">Red Text</span></li>
					<li> &nbsp;<span class="orange">Orange Text</span></li>
					<li> &nbsp;<span class="important">Important Text</span></li>
					<li> &nbsp;<a href="#">A Link</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" class="alternative">Alternative Link</a></li>
				</ul>
<div class="tools">
	<a href="#" class="toolsComments">12 Comments</a>
	<a href="#" class="permalink">Permalink</a>
</div>
</div>

<div id="blogNav">
<span class="left"><a href="#">&laquo; Previous</a></span>
<span class="right"><a href="#">Next &raquo;</a></span>
</div>
</div>

<!-- SubMenu -->
<div id="subMenu">

<!-- Start News Box -->
<div id="news">
<h3 style="margin:0 0 0 .5em; padding:0;">News</h3>
<p style="padding-top:0 !important;">
Here is where one might put some sitewide news. Just a short little shout about the happenings and changes that have been, or are being made.
</p>
</div>
<!-- End News Box -->

<!-- Start Archives -->
<h3>Archives</h3>
  <ul class="archives">
    <li><a href="#">Link 1</a></li>
	<li><a href="#">Link 2</a></li>
	<li><a href="#">Link 3</a></li>
  </ul>
<br />
<!-- End Archives -->

<!-- Extra Links -->
<h3>Links</h3>
<ul class="links">
	<li><a href="http://www.oswd.org" class="link">OSWD</a></li>
	<li><a href="http://www.w3schools.com" class="link">W3Schools</a></li>
	<li><a href="http://www.google.com" class="link">Google</a></li>
	<li><a href="http://www.w3c.org" class="link">W3C</a></li>
</ul>
<!-- End Extra Links -->
<br /><br />

<div id="opaque"><img src="rose.jpg" alt="Rose" class="noFloat" /></div>

<!-- RSS Button
<a class="rss" href="#"><img src="rss.gif" alt="RSS Feed" class="rssBtn" /></a>
-->

</div>
<!-- End SubMenu -->

<!-- Begin Utility Links -->
<div id="utility">
<a href="#">Sitemap</a> | <a href="">Directory Listings</a> | <a href="#top">Login</a>
</div>
<!-- End Utility Links -->

</div>
<!-- End Content -->

<!-- Footer Here -->
<br clear="all" />
<div id="footer">
<h3>&copy;2006 FirstName LastName - All Rights Reserved</h3>
<h4>
<a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | 
<a href="http://jigsaw.w3.org/css-validator/validator-uri.html">Valid CSS</a> &nbsp;&nbsp;&nbsp;&nbsp; Design By: <a href="http://www.greatvibrations.tk">Jacob Tallman</a></h4>
</div>
<!-- End Footer -->
</div>
<!-- End Container -->

</body>
</html>
