<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="uncommoncss.css" rel="stylesheet" type="text/css" />

<title>&lt;&lt; Uncommon Web Design &gt;&gt;</title>

</head>

<body>

<div id="container" align="center">
<div id="header">
<h1>YourSite.com</h1>
<h2>&brvbar; Your Slogan Goes Here &brvbar;</h2>
<div id="nav">
<a class="selected" href="#">Home</a> &nbsp; <a href="#">About</a> &nbsp; <a href="#">Next Page</a> &nbsp; <a href="#">This Page</a> &nbsp; <a href="#">That Page</a>
</div>
</div>

<div id="content">
<h3>Uncommon Web Design</h3>
<p>Web design these days is usually a disaster! With completely invalid html/xhtml and CSS that makes your head <em>explode</em>, it's tough to find a really good design out there. I have tried here to mix a little tech with some old school to find a sweet harmony that is truly Uncommon web design.</p>
<p>The design is written enitrely from scratch (though inspiration was take from other sites, not code) in XHTML 1.0 Transitional and CSS 2. Both the style sheet and the actual page have been validated using the W3 validation services and passed 100%</p>
<p><strong>Note</strong>: An alternative "Bread Crumb" style navigation bar can be found in the css source code and all on ehas to do is uncomment it. It may better suit your needs.</p><br />
<h3>Lorem Ipsum</h3>
<p>dolor sit amet, consectetuer adipiscing elit. Aliquam enim pede, hendrerit tempor, condimentum in, hendrerit ut, erat. Proin eget ante. Integer nec nisi. Fusce ac felis. Sed eleifend. Vestibulum aliquet justo vitae mi. Curabitur ornare molestie velit. Vestibulum sagittis imperdiet orci. Donec nec leo in orci adipiscing gravida. Cras dui. Aliquam sit amet felis. Suspendisse sagittis.</p>

  <div class="twoColumnLeft">
    <h3>Included Styles</h3>
	<span class="important">Important Text</span><br /><br />
	<span class="big">Big Text</span><br /><br />
	<span class="small">Small Text</span><br /><br />
	<span class="bold">Bold Text</span><br /><br />
	<a href="#">A Link</a><br />
	  <p class="center">Centered text</p>
	  <p class="right">Right-Aligned text</p>
  </div>
  <div class="twoColumnRight">
  	<h3>Boxage</h3>
    <div id="box">
	 <h4>Other Includes</h4>
	  <p>Use this box for news and other such things. You can truly put it anywhere you like, it's just here because I chose to put it
	  		here</p>
	  <br />
	  
	   <dl>
         <dt>Definition Term</dt>
           <dd>Definition of the term</dd>
       </dl>
	  
	  <br />
	  <ul>
	    <li>Unordered List Item 1</li>
		<li>Unordered List Item 2</li>
	  </ul>
	  <ol>
	    <li>Ordered List Item 1</li>
		<li>Ordered List Item 2</li>
	  </ol>
	</div>
  </div>
  
</div>

  <div id="sideMenu">
   <h3 align="right">Side Menu</h3>
   <a href="#" class="menuLink">Privacy</a><br />
   <a href="#" class="menuLink">Contact</a><br />
   <a href="#" class="menuLink">A Link</a><br />
   <a href="#" class="menuLink">And Another!</a>
   
   <br />
   
   <h3 align="right">Favorite Links</h3>
   <a href="http://www.google.com" class="menuLink">Google</a><br />
   <a href="http://www.yahoo.com" class="menuLink">Yahoo!</a><br />
   <a href="http://www.oswd.org" class="menuLink">OSWD</a><br />
   
   <br />
   
   <br /><br />
   <form name="search" method="post" action="#">
    <table>
	 <tr>
	  <td>
        <input type="text" id="searchBox" name="keywords" maxlength="255" value="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  </td>
	  <td>
	    <input type="submit" id="searchButton" value="Go!" />
	  </td>
	 </tr>
	 <tr>
	  <td class="center">
	   <label for="searchBox">&nbsp;&nbsp;Search</label>
	  </td>
	 </tr>
	</table>
   </form><br /><br />
   
    <a href="http://validator.w3.org/check?uri=referer">
	XHTML
	</a>
	&nbsp;&amp;&nbsp;
	<a href="http://jigsaw.w3.org/css-validator/check/referer">
	CSS
	</a><br />
  </div>

<br /><br />

<!-- <img src="lotus.JPG" alt="Lotus Flower - Examply JPEG" class="right" style="padding-top:40px !important; padding-right:30px !important;" height="106" width="160" /> -->
<img src="squares-grn.gif" alt="Example Image" class="right" style="padding-top:30px !important; padding-right:20px !important;" />
<p class="center">Example Image</p>

<br /><br />

<div id="footer">
<p>&copy; 2006 Your Name &laquo; &raquo; Design By <a href="http://24.15.71.248/">Jacob Tallman</a></p>
</div>
</div>

</body>
</html>
