<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Official Site Of Your Company</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="rap">
			<div id="header">
				<h1>[<a href="#">COMPANY</a>] NAME</h1>
				<h2>COMPANY DESCRIPTION</h2>
			</div>
			<!-- Navigation Start -->
			<ul id="nav">
				<li><a id="home" href="#">Home</a></li>
				<li><a id="about" href="#">About Us</a></li>
				<li><a id="services" href="#">Our Services</a></li>
				<li><a id="staff" href="#">The Staff</a></li>
				<li><a id="contact" href="http://oswd.org">OSWD</a></li>
			</ul>
			<!-- Navigation Stop -->
			<!-- sidebar start -->
			<p></p>
			<div id="sidebar">
				 <div id="search">
					<form method="get" action="http://www.google.com/custom" />
			 			<input name="q"  class="find" size="20" maxlength="255" value="" type="text" />
			  			  <input name="sa" value="search" class="tombol" type="submit" />
			   				<input name="cof" value="" type="hidden" />
					</div>
				<div>
				  	<h3>Lorem Ipsum</h3>
				  		<p><strong>&middot;</strong>&nbsp;<a target="_blank" href="#">Lorem Ipsum</a><br />
				   		<strong>&middot;</strong>&nbsp;<a target="_blank" href="#">Lorem Ipsum</a><br />
  				   		<strong>&middot;</strong>&nbsp;<a target="_blank" href="#">Lorem Ipsum</a>
						</p>
				</div>
				<div>
					<h3>Lorem Ipsum</h3>
						<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
						</p>
				</div>	
				<div>
					<h3>Lorem Ipsum</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
						</p>
				</div>	
			</div>
			<!-- sidebar Stop here -->
			
		<!-- content begin -->
		<div id="content">
			<div>
				<h3>Smooth K0d0K</h3>
				<p>This is a <a href="#">Smooth K0d0K template</a>. If you like this template, 
				you are free to do anything you want with it, use it on a commercial site if you want. 
				I apologize for the non-english variables I used. 
				</p>
			</div>				
			<div>
				<h3>Lorem Ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
				sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
				vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
				sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</div>
		</div>
		<!-- stop Content -->
		
			<!-- Middle Start -->
			<div id="middle_left">
				<h3>Lorem Ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			    </p>
			</div>
			<div id="middle_right">
				<h3>Lorem Ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
				</p>	
			</div>
			<!-- middle stop -->
			
		<!-- Footer start -->
		<div id="line"></div>
		<div id="footer">
			Copyright &copy; 2006 <a href="#">Company Name</a>. All Rights Reserved.
			<br />Made By <a href="http://kodokhunt.blogsome.com">Kodokhunt</a>
		</div>
		<!-- Footer Stop -->
	</div>
	<!-- Rap Stop -->
</body>
</html>
