<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
 <title>:icegem</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <link href='icegem.css' type='text/css' rel='stylesheet' />
 </head>
<body>
 <div class='outside'>
  <div class='strip'>
   <h1>
    :icegem
   </h1>

   <div id='nav'>
   <b>Home</b> |
   <a href='#'>Download</a> |
   <a href='#'>Plugins</a> |
   <a href='#'>Support</a>
   </div>

<!--
   <div class='search'>
    <form action='#' method='post'>
    <input name='q'>
    <input type='submit' value='Search' class='submit'>
    </form>
   </div>
-->
   <div class='border'>

    <h2><a name='3'>My First Submission</a></h2>
    <div class='subhead'>posted by <a href='#'>defproc</a> on 8th March 2006, <a href='#'>13 comments</a></div>
    <div class='box'>
This is my first CSS-based design and my first submission to <a href='http://www.oswd.org'>oswd</a>. I'm submitting
it as a sort of 'thank you' to the <a href='http://www.oswd.org'>oswd</a> community for opening my eyes to
the power of CSS. Sure I've used it before, for colouring this and that and applying style to my table cells, and I
knew it could do the things it does on this page, but I underestimated its power until I came across
<a href='http://www.oswd.org'>oswd</a>. Consider me enlightened.
    </div>
    <h2><a name='2'>Usage</a></h2>
    <div class='subhead'>posted by <a href='#'>defproc</a> on 7th March 2006, <a href='#'>34 comments</a></div>
    <div class='box'>
Like the malenky <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/">license</a> says, you're
free to use this design any way you please so long as credit is given to the <a href='http://www.defproc.co.uk'>
original author</a>. I do ask, though, that you drop me a line (defproc at defproc spot co spot uk) if you do so
I can experience that fuzzy feeling of seeing my work being put to use.
    </div>
    <h2><a name='1'>Some Filler</a></h2>
    <div class='subhead'>posted by <a href='#'>defproc</a> on 5th March 2006, <a href='#'>82 comments</a></div>
    <div class='box'>

<blockquote>Lorem ipsum dolor sit amet, consectetuer <em>adipiscing</em> elit. Sed sollicitudin. Integer eget erat ac
    tellus commodo auctor.</blockquote>

Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed sollicitudin. Integer eget erat ac
    tellus commodo auctor. Fusce auctor egestas velit. Cras a tortor. Quisque accumsan arcu et enim.
    Quisque et tortor. <em>Mauris tortor arcu</em>, sodales ut, ullamcorper sagittis, nonummy vitae, urna. Nam
    tempor, mi nec scelerisque scelerisque, diam est accumsan lectus, ut varius lorem mauris et ligula.
    Proin vitae nisi. Phasellus sit amet arcu. Etiam sapien nisi, aliquet quis, sollicitudin at,
    vulputate et, metus. Praesent vitae erat ullamcorper justo sodales semper.

    </div>

   </div>

   <p></p>

   <div class='footer'>
    <div class='footleft'>
    <a href='#'>HTML</a>/<a href='#'>CSS</a><br />
     &copy;2006, <a href='http://www.defproc.co.uk' target='_BLANK'>defproc.co.uk</a>
    </div>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/"><img alt="Creative Commons License" border="0" src="http://creativecommons.org/images/public/somerights20.png"/></a><br/>
    <!--Creative Commons License-->
    This work is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/">Creative Commons License</a>
    <!--/Creative Commons License--><!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"-->
   </div>
  </div>
</div>
</body>
</html>
