<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>A bigger idea!</title>
	<link rel="stylesheet" type="text/css" href="idea.css" /></head>

<body>
<div id="wrapper">
	
	<div id="header"> <!-- Your site's name/main header -->
		a bigger idea...
	</div>
	
	<div id="text"> <!-- The text area begins here, including the navigation. -->
		<div id="nav"> <!-- The navigation menu. Do remember to list the links in reverse order (because of the right alignment, the first item in the list will end up to the far right and so on) -->
		<ul> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		</ul>
		</div> <!-- Navigation menu ends here -->
		
		<!-- The running text begins here -->
		<p></p>
		<h1>About this design</h1>
	    <p>This is a modification of the <a href="http://www.oswd.org/design/preview/id/2699" title="A big idea">Big Idea</a> design&mdash;with the content area centred on the page with a border. I initially thought of modifying the original design, but then realized that they look different, and some people might prefer one over the other. The image of the bulb at the top is taken from <a href="http://sxc.hu/" title="Stock Exchange">sxc.hu</a> and there are no restrictions on its use.</p>
		<p>Of course, there are no restrictions on the use of this design either, though I'll be grateful if you keep the credit line. If possible, do drop me a mail if you use this. It's always interesting to see how my designs have been used and improved upon.</p>
				
		<h1>About me</h1>
	    <p>I'm a freelance editor, IT/sports writer and <a href="http://writeside.net/about/shadow.html" title="My book">author</a>, not to mention an amateur web designer. I'm a relatively new entrant to CSS-based design, but I shudder to think of life without CSS! My own websites are <a href="http://writeside.net/" title="WRITEside.net">WRITEside.net</a> and <a href="http://payaldhar.com" title="PayalDhar.com">PayalDhar.com</a>.</p>
		
		<h2>And an H2 heading</h2>
		<p>To demonstrate what an h2 heading looks like!</p>
	</div> <!-- Text area ends -->

	<div id="footer"> <!-- Footer begins -->
	  <a href="http://validator.w3.org/check?uri=referer" title="Valid XHTML">Valid XHTML</a> |
	  &copy; Your Name Here | 
	  Design by <a href="http://writeside.net/" title="Payal Dhar">Payal Dhar</a>
	</div> <!-- Footer ends -->
</div>
</body>
</html>