<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<title>Deep Impact</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
	<meta name="author" content="Scott Mokler" />
	<meta name="copyright" content="Copyright 2006 TD50.com" />	
	<meta name="keywords" content="" />
	<meta name="description" content="" />	
	<meta http-equiv="imagetoolbar" content="no" />
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="container">
	  <div id="header">
			<h1>Your<span>Site</span>.com</h1>
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">portfolio</a></li>
				<li><a href="#">site map</a></li>
				<li><a href="#">contacts</a></li>
			</ul>
	  </div>
		<div id="block">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ut enim. Mauris in enim. Nulla rutrum. Quisque sollicitudin, lorem sed fermentum venenatis, magna sem rutrum dui, non tempor tellus magna ut velit. Proin sit amet tortor sed massa tempus tincidunt. Suspendisse potenti. Suspendisse accumsan cursus ligula. Mauris commodo. Nulla facilisi. In dapibus. Praesent malesuada. Integer tristique mattis enim. Vestibulum id lectus luctus erat scelerisque bibendum. Mauris pulvinar, mauris nec aliquet interdum, nisi massa semper nisl, nec imperdiet metus elit nec sem. Nam ut turpis. Mauris laoreet accumsan pede. Fusce porttitor tempus leo.</p>
			<p>Proin sit amet tortor sed massa tempus tincidunt. Suspendisse potenti. Suspendisse accumsan cursus ligula. Mauris commodo. Nulla facilisi. In dapibus.</p>
		</div>
		<ul id="nav">
			<li><a href="#" class="active">home</a></li>
			<li><a href="#">services</a></li>
			<li><a href="#">portfolio</a></li>
			<li><a href="#">contacts</a></li>
		</ul>
		<div id="pathway">
		  Home > Services > Web Design
		</div>
		<div id="body">
					<div class="clear">&nbsp;</div>
			<div id="left">
			  <p>Some more text here or delete this for 1 solid block of text.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
			</div>
			<div id="right">
			  <p>Here is some more text.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>				
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Fusce condimentum varius metus. Mauris lacus. Vivamus egestas facilisis eros.</p>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
		<div id="footer">
		  Design by <a href="http://www.td50.com">TD50.com</a> | Copyright 2006 yoursite.com | XHTML | CSS
		</div>
	</div>
</body>
</html>
