<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>M75</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
         <div class="box">
			<div id="top">{ Logo }
            </div><!-- closing top -->
            
            <div id="nav"><h3><span></span></h3>
                 <div id="b1"><a href="index.html">Home</a></div>
                 <div id="b2"><a href="index.html">News</a></div>
                 <div id="b3"><a href="index.html">About</a></div>
                 <div id="b4"><a href="index.html">Contact</a></div>
                 <div id="b5"><a href="index.html">Feedback</a></div> 
            </div><!-- closing nav -->
            
			<div id="content"><h3><span></span></h3>
			 <h1>Hi</h1><p>
			 <br /><br />all, this is the 2nd and final version of my first CSS-Template.<br />
             Now it's testet with 
             <a href="http://www.mozilla.org">Mozilla</a>,
             <a href="http://www.mozilla.com/firefox">Firefox</a>,
             <a href="http://www.opera.com">Opera</a>,
             <a href="index.html">IE 6</a>
             and works fine.<br />
             If NOT, please let me know.<br /><br />
             Changes:<br />
             The Menue Effect works now Complette in CSS-Mode,<br />
             so you don't need to create new buttons.<br />
             The content and the rightbar expands now.<br />
             Bullet addet for li.<br /><br />
             Notice: Best viewed with FF and Mozilla.</p>
            </div><!-- closing conntent -->
            
			<div id="rb">
				<h3><span></span></h3>
                <h1>News</h1>
				<ul>
					<li>Feel free to modify and use it for your own ideas.</li>
					<li>CSS and XHTML valid.</li>
				</ul>
                <h1>Links</h1>
                <ul>
					<li><a href="http://www.oswd.org">OSWD</a></li>
					<li><a href="http://m75.dyndns.org">m75</a></li>
				</ul>                
			</div><!-- closing rb -->
                  
            <div id="footer"><a href="mailto:M75@sgies.com">..:::[Contact]:::..</a> 
                             <a href="http://m75.dyndns.org">..:::[Design By M75]:::..</a> 
                             <a href="http://www.oswd.org">..:::[OSWD]:::..</a>
            </div><!-- closing footer -->
        
        </div><!-- closing box -->
       </div><!-- closing container -->

	</body>
</html>