<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>A big idea!</title>
	<link rel="stylesheet" type="text/css" href="idea.css" /></head>

<body>
	
	<div id="header"> <!-- Your site's name/main header -->
		a big idea...
	</div>
	
	<div id="text"> <!-- The text area begins here, including the navigation. -->
		<div id="nav"> <!-- The navigation menu. Do remember to list the links in reverse order (because of the right alignment, the first item in the list will end up to the far right and so on) -->
		<ul> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		<li><a href="#">Link</a></li> 
		</ul>
		</div> <!-- Navigation menu ends here -->
		
		<!-- The running text begins here -->
		<p></p>
		<h1>About this design</h1>
	    <p>This a fixed-width single-column design&mdash;sorry, I know that's obvious, but I'm trying to fill in text to show what it'll look like! The image of the bulb at the top is taken from <a href="http://sxc.hu/" title="Stock Exchange">sxc.hu</a> and there are no restrictions on its use.</p>
		<p>The design was make primarily for a 1024x768 pixel resolution, thought it looks all right on 1280x1024 as well. For a higher or lower resolution, you may have to tinker with the positioning of the header text next to the bulb image.	(If anyone has an idea how to fix this problem across resolutions, do let me know.)</p>
		<p>Of course, feel free to use and modify the design as you deem fit. Do drop me a line if you can if you use or modify this template. It's always nice to see how my designs have been used and improved upon.</p>
		
		<h2>About me</h2>
	    <p>I'm a freelance editor, IT/sports writer and <a href="http://writeside.net/shadow/shadow.html" title="My book">author</a>, not to mention an amateur web designer. I'm a relatively new entrant to CSS-based design, and I shudder to think of life without CSS! My own websites are <a href="http://writeside.net/" title="WRITEside.net">WRITEside.net</a> and <a href="http://payaldhar.com" title="PayalDhar.com">PayalDhar.com</a>.</p>
	</div> <!-- Text area ends -->

	<div id="footer"> <!-- Footer begins -->
	  <a href="http://validator.w3.org/check?uri=referer" title="Valid XHTML">Valid XHTML</a> |
	  &copy; Your Name Here | 
	  Design by <a href="http://writeside.net/" title="Payal Dhar">Payal Dhar</a>
	</div> <!-- Footer ends -->

</body>
</html>