<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>

		<link rel="stylesheet" type="text/css" href="style.css" media="screen,projection" />

		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

		<title>PattyMcFatPat03</title>

	</head>

	<body>
	
		<div id="wrap">
	
			<div id="header">
			
				<h1>PattyMcFatPat 03</h1>
				
			</div>
			
			<div id="leftcol">
			
					<div id="menutop"></div>
				
				<div id="navcontainer">
				
					<ul id="navlist" title="menu">
					
						<li><a href="#">page 1</a></li>
						
						<li><a href="#">page 2</a></li>
						
						<li><a href="#">page 3</a></li>
						
						<li><a href="#">page 4</a></li>
						
					</ul>
					

					
				</div><!-- End of "navcontainer" div -->
				
				<div id="menubottom"></div>
				
		 	</div>
			
			<div id="container">
			
				<div id="topimg">
				
					<h2>Page 1 </h2>
				
				</div>
				
				<p>Checkout this page. This could be used for any sort of &quot;hip&quot; site...probably not a professional (corporate) site, but hey, it's up to you. Take this site and work with it. I'd also really like your comments, as this is my first open source site. Visit <a href="http://developdaly.com">Develop Daly</a> and check me out. </p>
				
				<div class="box2">
				
					<h3>Announcement</h3>
					
					<p>This is the accouncement box to make your announcements...duh.</p>
					
				</div>
				
				<p>This is my content and it could be your content if you download this! Wouldn't that be great?! This is my content and it could be your content if you download this! Wouldn't that be great?!</p>
				
				<div class="box2">
				
						<h3>Announcement</h3>					
					
					<p>This is the accouncement box to make your announcements...duh. This is the accouncement box to make your announcements...duh. This is the accouncement box to make your announcements...duh. This is the accouncement box to make your announcements...duh.</p>
					
				</div>
				
				<div id="bottomimg"></div>
				
			</div>	
		
		</div>
		
	</body>

</html>