<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>desert_rider - An OSWD template</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="stylesheet" type="text/css" href="default.css" />
</head>

<body>
<div id="container">
	<div id="header">
	<p><span class="title">Your Site Name</span><br /><span class="tagline">"desert_rider template"</span></p>
	</div>
	<div><ul class="navbar"><li><a href="#" class="nav">Home</a></li><li><a href="#" class="nav">News</a></li><li><a href="#" class="nav">Blog</a></li><li><a href="#" class="nav">Contact</a></li></ul></div>
	<div id="content">
	<h1>Desert_Rider</h1>
	<p>I have done this simple design for OSWD, in return for all the great designs other people hae spent time on.  You can use this template any way you like, I would just appreciate it if you would let me know if you do like it through my <a href="http://www.mattbee.com/contact.php">contact form.</a></p><br />
<p>Rather than use the same image as above (it is from www.sxc.hu) you could use any image with a sky top half, and alter the background image and colors accordingly.</p><br />
<p>The CSS might be a bit untidy as I'm constantly learning, but hopefully the more I do the better I get.  If you do notice a better way to do something, compared to what I have done, you could always <a href="http://www.mattbee.com/contact.php">contact me</a> to tell me!!  The design appears fine in both Internet Explorer 6 and Firefox 1.5+ and is.</p>
	</div>
	<div id="sidebar">
	<h3>sidebar content</h3>
<br />Here is a nice list:<br />
	<ul>
	<li><a href="http://www.join-me.co.uk">Join Me</a></li>
	<li><a href="http://www.mattbee.com">Matt Bee Web</a></li>
	<li><a href="http://www.mattbee.co.uk">Matt Bee</a></li>
	<li><a href="http://www.wearethemodes.com">The Modes Band</a></li>
	<li><a href="http://www.oswd.org">OSWD</a></li>
	</ul>
<br />
<p class="highlight"><b>A TITLE</b><br />And here is a highlighted area for whatever!</p>
	</div>
<div id="footer">
&copy; <a href="http://www.mattbee.com">Matt Bee</a> || <a href="http://www.oswd.org">OSWD</a><br /> 
</div>

</div>
</body>
</html>