<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>x-fleur&#64;legrow.net</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<link rel="stylesheet" type="text/css" media="screen" href="x-fleur.css" />

		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="icon" href="favicon.ico" />
	</head>
	<body>
		<div class="forAccessibilityOnly">
			<a href="#mContent">skip to content</a>
		</div>
		<div id="container">
			<div id="header">
				<div id="logo">
					<h1>x-fleur&#64;legrow.net</h1>
				</div>
			</div>
			<div id="main">
				<div id="mNavigation">
					<h2>navigation</h2>
					<ul id="navigation">
						<li class="selected"><a href="#">selected</a></li>
						<li><a href="#">normal</a></li>
						<li><a href="#">normal</a></li>
						<li><a href="#">normal</a></li>
					</ul>
					<h2>other links</h2>
					<ul id="otherlinks">
						<li><a href="http://www.oswd.org/">oswd</a></li>
						<li><a href="http://www.legrow.net/">my website</a></li>
						<li><a href="mailto:&#98;&#114;&#105;an&#64;&#108;e&#103;&#114;&#111;w&#46;&#110;&#101;&#116;">email me</a></li>
					</ul>
				</div>
				<div id="mContent">

					<h3 class="blog"><span class="date">1/Feb/2006</span> What are these flowers?</h3>
					<div class="blogEntry">
						<p>The icons (and the included favicon.ico file) are poinsettias ("Euphorbia pulcherrima"), which have beautiful, colored leaves beneath the flower itself.  Don't worry though &mdash; these icons aren't toxic.</p>
						<p>The flower in the background is a Christmas Rose ("Helleborus niger"), an ornamental garden plant native to mountainous regions in Southern and Central Europe.  Despite its beautiful, vibrant looks, the Christmas rose <strong>can cause death</strong> due to respiratory collapse if ingested.</p>
						<ul>
							<li class="first"><a href="#" title="Get a permanent link to this page.">permalink</a></li>
							<li><a href="http://www.ansci.cornell.edu/plants/christmasrose/christmasrose.html" title="Outi Salminen's page on Christmas roses.">flower info</a></li>
							<li><a href="#" title="View and contribute to the 5 comments.">5 comments</a></li>
						</ul>
					</div>

					<h3 class="blog"><span class="date">12/Jan/2005</span> What about the design?</h3>
					<div class="blogEntry">
						<p>You can quickly skim over the markup used to develop this page, and you will find that it is fairly intuitive.  Unordered lists are used at all appropriate locations, and the semantic meanings of tags has been preserved (i.e. &lt;p&gt; tags are used to denote paragraphs, not some other wacky thing).  I have tried to keep the source as clean as possible to allow you to mold this into whatever nefarious CMS or blog engine you want.</p>
						<p>You will also find that two or three of my future submissions to OSWD use the exact same markup structure.  This is because I plan on implementing each of them as skins to my own personal website at some point.</p>
						<p>Let me know if you use my design!  You may make modifications to my design, but I <strong>require</strong> that if you redistribute this piece, any derivitive works, or employ this piece for commercial use that you give all previous authors (including myself) visible and legible credit on your page(s).  Questions?  Just e-mail me.</p>
						<ul>
							<li class="first"><a href="#">permalink</a></li>
						</ul>
					</div>
				</div>
				<div id="mGallery">
					<ul id="gallery">
						<li>
							<a href="#"><img src="thumbs/thumb1.gif" height="66" width="100" alt="" /></a><br />
							photo: <a href="#">image name</a><br />
							gallery: <a href="#">image gallery</a>
						</li>
						<li>
							<a href="#"><img src="thumbs/thumb2.gif" height="66" width="100" alt="" /></a><br />
							photo: <a href="#">image name</a><br />
							gallery: <a href="#">image gallery</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<p>this design was done by <a href="http://www.legrow.net/">brian legrow</a> exclusively for <a href="http://www.oswd.org/">oswd</a>.</p>
				<p>any redistribution of this or any derivitive works without proper credit is illegal.</p>
			</div>
		</div>
	</body>
</html>