<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Pogo - Open Source Template</title>
<link href="images/main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id = "wrapper">

<div id = "banner">
<h1 class = "bannertext">Pogo</h1>
</div>
<div id = "nav">
<ul>
<li><a href = "#">home</a></li>
<li><a href = "#">me</a></li>
<li><a href = "#">pogo sticks</a></li>
<li><a href = "#">more</a></li>
</ul>
</div>
<div id = "content">

<h1>Welcome to Pogo</h1>

<p>Hello everybody, Welcome to Pogo!  That is all I have to say for now.</p> 

<h1>A Thought</h1>
<p>Squirrels are cool arent they</p>

<h1>About Me</h1>
<p>My name is Mike Cronin.  I live on a small island in the Irish Sea sandwiched in between the UK and Ireland called the Isle of Man.  There's fuck all to do here except admire the countryside and get drunk. Oh Well!!  Well there is that small factor of having to work as well ( i win my bread as a developer for a telecoms company here ).</p>  

<h1>About the design</h1>
<p>Pogo is a simple design.  It can be adapted for many things with a little imagination, I have listed some ideas below.</p>

<ul>
<li>Blog site</li>
<li>News Site</li>
<li>Charity Site</li>
<li>In fact, anything really</li>  
</ul>

<p>
Some more text. Lorem ipsum whetever the hell comes next.
</p>
<h1>And Finally...</h1>
<p>
A challenge for all you css heads out there.  The nav-strip renders how i want it to in firefox (although it actually looks better in IE).  not sure why but if anyone has any suggestions i would be grateful for them.  I can be contacted @ <a href="mailto:mike.j.cronin@gmail.com">mike.j.cronin@gmail.com</a>
</p>
</div>

</div>


</body>
</html>