<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>


  
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />


  
  <meta name="author" content="" />


  
  <meta name="Keywords" content="" />


  
  <meta name="Description" content="" />



  
  
  <title>Open Source Design</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>


<body>





<div id="contain">
<div id="header">
<h1 class="style7">Soccer</h1>





</div>





<div id="leftcol">
<h3>Links</h3>
<div id="navcontainer">
<ul id="navlist">



	<li><a href="index.html" >Your Link</a></li>



	<li><a href="index.html" >Your Link</a></li>



	<li><a href="index.html" >Your Link</a></li>



	<li><a href="index.html" >Your Link</a></li>



	<li><a href="index.html" >Your Link</a></li>

    
    
</ul>

   <h5>News</h5>
    <p>Parturienter fdeb montes, nascetur erridiculus
      mus. Dfdeerereuis odio mi, commodo ac, posuererr r e vel, sagittis. </p>
    <p>&nbsp;</p>
    </div>





</div>








<div id="content">
<h4> Soccer</h4>
<p>Soccer is my
sixth submission to this site. For our friends outside the US, we will call it football.  It is open source, so use it as you
please. Photo credit to stock.xchng. No restrictions were put on this
image for usage. Hope you enjoy the template. If you use it, please let me see how it came out. </p>
<p>&nbsp;</p>
<p>Auctor molestie. Donec rhoncus. Cum sociis
    natoque penatibus et magnis dis parturient montes, sit amet nunc.
    Integer risus ipsum, dignissim vitae, ullamcorper sed, semper eget,
    justo. Sed non enim. Integer venenatis erat sed velit. Etiamt. </p>
<br />

<p>&nbsp;</p>

<p><img src="soccerplayer.gif" alt="player" width="75" height="97" />This Page Is Valid XHTML 1.0 Strict&nbsp;</p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>





<p>&nbsp;</p>





<p>&nbsp;</p>





</div>





<div id="footer">
<!-- do not remove copyright -->
<p class="style5 style6">Copyright 2006</p>





</div>





</div>





</body>
</html>
