<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Usenet News (Basic Black and White)</title>
		<link href="style.css" type="text/css" rel="stylesheet" />
		<meta name="description" content="What your website is about." />
		<meta name="keywords" content="Keywords that describe your website." />
	</head>

	<body>
		<div class="usenet-news-container">
			<div id="bc3" class="usenet-news-title">
				<h1 class="usenet-news-tagline"><a title="Read Usenet newsgroups - Free!" href="http://www.usenet-news.org/">Read Usenet newsgroups - Free!</a></h1>
				<h1><a title="Usenet News" href="http://www.usenet-news.org/">Usenet News</a></h1>
			</div>
			<div class="usenet-news-navigation"><div id="inline-list">
					<ul>
						<li class="a">Home</li>
						<li class="bc1"><a class="menu" title="Search" href="#">Search</a></li>
						<li class="bc1"><a class="menu" title="Browse Usenet Newsgroups" href="http://www.usenet-news.org/browse-usenet-newsgroups/">Browse Newsgroups</a></li>
						<li class="bc1"><a class="menu" title="Search for Usenet Newsgroups" href="http://www.usenet-news.org/search-usenet-newsgroups/">Search Newsgroups</a></li>
						<li class="bc1"><a class="menu" title="About Usenet News" href="http://www.usenet-news.org/about-usenet-news.html">About</a></li>
					</ul>
				</div></div>
			<div>
				<div class="calendar">
					<div class="calendar-border" style="text-align: left;">
						<h1 class="usenet-group-calendar">Past Posts</h1>
						<table class="calendar">
							<caption class="calendar-month">March&nbsp;2006</caption>
							<tr>
								<th abbr="Sunday">Sun</th>
								<th abbr="Monday">Mon</th>
								<th abbr="Tuesday">Tue</th>
								<th abbr="Wednesday">Wed</th>
								<th abbr="Thursday">Thu</th>
								<th abbr="Friday">Fri</th>
								<th abbr="Saturday">Sat</th>
							</tr>
							<tr>
								<td colspan="3">&nbsp;</td>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
							<tr>
								<td>5</td>
								<td>6</td>
								<td>7</td>
								<td>8</td>
								<td>9</td>
								<td>10</td>
								<td>11</td>
							</tr>
							<tr>
								<td>12</td>
								<td>13</td>
								<td>14</td>
								<td>15</td>
								<td>16</td>
								<td>17</td>
								<td>18</td>
							</tr>
							<tr>
								<td>19</td>
								<td>20</td>
								<td>21</td>
								<td>22</td>
								<td>23</td>
								<td>24</td>
								<td>25</td>
							</tr>
							<tr>
								<td>26</td>
								<td>27</td>
								<td>28</td>
								<td>29</td>
								<td>30</td>
								<td>31</td>
								<td colspan="1">&nbsp;</td>
							</tr>
						</table>
					</div>
					<br />
					<div class="calendar-border" style="text-align: left; padding: 2px;">
						<small>Related Links:</small>
							<ul>
								<li><a href="http://www.usenet-news.org"><small>Usenet News</small></a></li>
								<li><a href="http://en.wikipedia.org/wiki/NNTP"><small>Wikipedia NNTP</small></a></li>
								<li><a href="http://en.wikipedia.org/wiki/Usenet"><small>Wikipedia Usenet</small></a></li>
							</ul>
							<small>Related Software:</small>
							<ul>
								<li><a href="http://www.php.net"><small>PHP</small></a></li>
								<li><a title="Odin Assemble" href="http://www.odinassemble.com"><small>Odin Assemble</small></a></li>
							</ul>
						</div>
				</div>
				<h2>My First Design</h2>
				<p>This is my first design submitted to <a href="http://www.oswd.org/">OSWD</a>. It's a black and white css template created for <a title="Free Usenet News from Usenet Newsgroups" href="http://www.usenet-news.org/">Usenet News</a> and designed to:</p>
				<ul>
					<li>Load fast</li>
					<li>Look <strong>presentable on my Verizon PocketPC</strong></li>
				</ul>
				<p>Why such a simple design? Because the website it was originally designed for needed to work on a broad number of displays. The webmasters expect traffic from web browsers, phone browsers and PDA browsers alike.</p>
				<p>So if you find yourself needing a fast loading, image free, cross platform design then consider &quot;Usenet News&quot; :). You can use this template for whatever, all I ask is if you want please keep a <a title="Free Usenet News from Usenet Newsgroups" href="http://www.usenet-news.org">link</a> to my website and <a href="http://www.oswd.org/user/contact/id/10101/">email me</a>, I really enjoy seeing my templates in action.</p>
				<h2>A Second Header</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Suspendisse non risus a diam convallis lobortis. Duis iaculis, nisi sed varius feugiat, dolor ipsum pharetra quam, ut malesuada nisl enim vel nunc. Quisque eget leo. Donec dignissim odio et purus. Nunc congue consequat libero. Aenean nec libero eget nulla euismod scelerisque.</p>
				<p>Aliquam erat volutpat. Etiam tellus magna, ultrices quis, porttitor non, bibendum quis, lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed felis. Phasellus enim. Aliquam malesuada mi eu erat. Suspendisse potenti. In diam ante, sagittis vel, rutrum at, fringilla pulvinar, nunc.</p>
				<h2>A Third Header</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Suspendisse non risus a diam convallis lobortis. Duis iaculis, nisi sed varius feugiat, dolor ipsum pharetra quam, ut malesuada nisl enim vel nunc. Quisque eget leo. Donec dignissim odio et purus. Nunc congue consequat libero. Aenean nec libero eget nulla euismod scelerisque.</p>
				<p>Aliquam erat volutpat. Etiam tellus magna, ultrices quis, porttitor non, bibendum quis, lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed felis. Phasellus enim. Aliquam malesuada mi eu erat. Suspendisse potenti. In diam ante, sagittis vel, rutrum at, fringilla pulvinar, nunc.</p>
				<br clear="all" />
			</div>
			<div class="footer">

				<a href="http://validator.w3.org/check?uri=referer"><img
					src="http://www.w3.org/Icons/valid-xhtml10"
					alt="Valid XHTML 1.0 Transitional" height="31" width="88" align="right" border="0" /></a>
				<br />
				&copy; Copyright 2006, Your Name. All Rights Reserved. | Design by <a title="Free Usenet News from Usenet Newsgroups" href="http://www.usenet-news.org">Usenet News</a></div>
		</div>
	</body>

</html>