<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-nz">
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
  <title>DarkMint</title>
</head>

<body>
<div id="wrapper">
<div id="header"><h1>Dark Mint</h1></div>
<div id="bar">
<ul class="clearfix">
  <li id="current"><a href="index.html">Home</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Art</a></li>
  <li><a href="#">Design</a></li>
</ul>
</div>

<div id="wrapper2">
<div id="left">
<ul>
  <li><p>Current Page</p></li>
  <li><a href="#intro">Intro</a></li>
  <li><a href="#exprmnt">Experiment</a></li>
  <li><a href="#info">Page info</a></li>
</ul>
<ul>
  <li><p>Info Box</p></li>
  <li><a href="#intro">Stuff</a></li>
  <li><a href="#exprmnt">Some Link</a></li>
  <li><a href="#info">Look...</a></li>
</ul>
</div>

<div id="main">
<h2 id="intro">Intro</h2>
<p>Welcome to Dark Mint. This site has a dark green colour scheme, two columns and tabbed navigation.</p>

<h2 id="exprmnt">Experiment</h2>
<p>You are free to use this however you like. Change the colours, try things out... whatever.</p>

<h2 id="info">Page info</h2>
<p>Dark Mint has Valid XHTML 1.0 Strict markup and valid CSS 2 formatting. It has been tested on Firefox 1.5, IE 6.0 and Opera 8.5.</p>
</div>

<div id="footer">DESIGN BY SOLIAC</div>
</div></div>
</body>
</html>