<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Author" content="Kelli Shaver - http://www.kellishaver.com" />
	<meta name="copyright" content="" />

	<title>Your Site</title>
	<style type="text/css">
		@import "style.css";
	</style>
</head>
<body>
	<div id="header">
		<div id="navlist">
			<ul>
				<li><a href="#">Exmaple Link</a></li>
				<li><a href="#">Another Link</a></li>
				<li><a href="#">Hello World</a></li>
				<li><a href="#">The End</a></li>
			</ul>
		</div>
	</div>
	<div id="container">
		<div id="content">
			<h1>Welcome to This Site</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed imperdiet odio sed purus. Sed ante. Suspendisse rhoncus. Nam blandit turpis eu ligula. Sed nunc lectus, dignissim ut, blandit ut, porta in, lacus. Phasellus non tellus ac nulla faucibus tristique. Ut vehicula tristique risus. Suspendisse volutpat fermentum velit. Fusce et turpis id nulla laoreet dignissim. Pellentesque ultricies massa vel nulla. Mauris vel nisl.
				<br /><br />
				Curabitur sagittis. Fusce et nunc ut diam pulvinar mollis. Donec volutpat. Cras blandit. Donec adipiscing. Nam faucibus urna at ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vestibulum, dolor eget facilisis tincidunt, dui turpis consectetuer lorem, quis vulputate magna pede sit amet nisi. Proin quam. Nam auctor urna scelerisque dui. Aliquam dolor ipsum, pharetra eget, sagittis vitae, malesuada vel, justo.
				<br /><br />
				Sed ligula sem, sollicitudin nec, pretium eget, mattis sit amet, nibh. In in lacus eget risus pulvinar placerat. Aenean sed nisl. Fusce augue lacus, feugiat lobortis, vehicula id, pellentesque id, mi. Morbi sollicitudin, pede quis fermentum mattis, elit elit sodales libero, volutpat commodo arcu tortor sit amet mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse a elit eu enim lacinia tempus. Duis dignissim erat non ante. Fusce sit amet ante. Sed molestie. Praesent urna. Sed venenatis placerat mauris. Fusce luctus. Etiam justo. Ut ultricies nibh id turpis commodo mattis. Mauris tempor, pede vitae dictum tincidunt, nunc eros egestas sem, non pellentesque lorem nisl eget pede.
			</p>
		</div>
		<div id="sidebar">
			<b>Sub Navigation:</b>
			<ul>
				<li><a href="#">Some Link</a></li>
				<li><a href="#">Some Link</a></li>
				<li><a href="#">Some Link</a></li>
				<li><a href="#">Some Link</a></li>
			</ul>
			<b>Fine Print:</b>
				<p>Curabitur sagittis. Fusce et nunc ut diam pulvinar mollis. Donec volutpat. Cras blandit. Donec adipiscing. Nam faucibus urna at ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vestibulum, dolor eget facilisis tincidunt, dui turpis consectetuer lorem, quis vulputate magna pede sit amet nisi. Proin quam. Nam auctor urna scelerisque dui. Aliquam dolor ipsum, pharetra eget, sagittis vitae, malesuada vel, justo.</p>
			</div>
	</div>
	<div id="footer">Copyright &copy; 2006 - Your Site - All Rights Reserved.</div>
</body>
</html>