<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta name="Description" content="A free open source web design by David Plutado Fugate.  Free for anyone to use." />
<meta name="Keywords" content="www.oswd.org, open source web design, plutado, plutado.com, www.socialcivic.com" />
<meta name="Copyleft" content="David Plutado Fugate" />
<meta name="Designed By" content="Plutado.com" />
<meta name="Language" content="English" />
<title>YEA, Inc.</title>
<style type="text/css" title="layout" media="screen"> @import url(style.css); </style>
</head>

<body>
<div id="wrapper">

<div id="header">

<ul id="nav">
<li id="current"><a href="#">home</a></li>
<li><a href="#">about us</a></li>
<li><a href="#">our products</a></li>
<li><a href="#">our services</a></li>
<li><a href="#">see our portfolio</a></li>
<li><a href="#">current newsletter</a></li>
<li><a href="#">links and resources</a></li>
<li><a href="#">contact us</a></li>
</ul>

</div>
<h1></h1><h2>PUT YOUR TITLE HERE</h2>

  <div id="sidebar"> <a href="#"><img src="images/image.gif" alt="place holder image" /></a> 
    <a href="#"><img src="images/image.gif" alt="place holder image" /></a> </div>

<div id="content">
<p>This is my second submission to Opensource Web Design.  The real designer of this template is Jack, who provided the "template for this template" when
he designed "Chic."  Please feel free to further ticker with this design.  
</p>

<p>
I welcome your thoughts and suggestions. Please feel free to contact me @ plutado [at] yeamerica [dot] org if you would like to ask a question, or if you just have a good joke you'd like to share. As for this template, please feel free to use and distort if as you wish. It is not necessary to to notify me or to maintain links back to me. If you find that you love my design(s) and you're feeling particularly generous, then I encourage you to make a donation to the nonprofit organization that I run. You can donate to us by going to http://www.y-e-a.org/donate.htm. Take care. I wish you the best of luck designing you next website!</p>

<p>
Donec luctus nunc quis dui. Morbi placerat. Sed ut nunc. Aliquam erat volutpat.Donec ante est, congue nec, suscipit sagittis, rutrum a, metus. Vivamus vestibulum leo. Maecenas vel sem id orci dictum ullamcorper. Curabitur interdum tempor nibh. Curabitur magna purus, malesuada in, adipiscing eget, facilisis sed, nibh. In a ipsum id neque condimentum rhoncus. Fusce leo nisl, suscipit a, porta sed, nonummy id, neque. Quisque sed leo molestie arcu varius hendrerit. Donec eget erat. Fusce mattis elementum lorem.</p>
</div>
			
  
<div id="footer"><a href="#">footer link</a> | <a href="http://plutado.com">Re-Designed by David Plutado Fugate</a></div>
</div>
<div class="curvy"> 
  <div id="ctl"> 
    <div id="quadtl"></div>
  </div>
  <div id="cbl"> 
    <div id="quadbl"></div>
  </div>
  <div id="ctr"> 
    <div id="quadtr"></div>
  </div>
  <div id="cbr"> 
    <div id="quadbr"></div>
  </div>
  <div id="txt"> 
    <p>
      <br/>
       <br/>
      <br></br>
      You can use this box as a "Contact Information" box <br/>
      Or provide an interest statistic, fact, or quote. Hey whatever makes your 
      day!</p>
  </div>
</div>

</body>
</html>
