<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Your description goes here" />
  <meta name="keywords" content="your,keywords,goes,here" />
  <meta name="author" content="Your Name or Company / Design Template: G. Wolfgang / April 14, 2006 / Email: gw@actamail.com / Favorite website: www.sda.org" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/style.css" />
  <title>GoFlexiblePro - Options - Color Schemes</title>
</head>

<body>
  <div id="page-container">

  	<!-- HEADER -->
    <!-- Global Navigation -->
		<h3 class="hide">Global Navigation</h3>
    <div class="nav-global-container">
      <div class="nav-global nav-global-font">
			  <ul>
    	    <li><a href="#">About Us</a></li>
    	    <li><a href="#">Contact</a></li>
         	<li><a href="#">Impressum</a></li>																		
          <li><a href="#"><img class="img-flag" src="./img/flag_uk.gif" title="Website in English" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_spain.gif" title="Website en Espanol" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_france.gif" title ="Website en Francais" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_germany.gif" title ="Website auf Deutsch" alt=""/></a></li>					
        </ul>
		  </div>
    </div>				

    <!-- Sitename and Banner -->
		<div class="site-name">
		  Your Sitename.
		  <div class="site-slogan">
			  Your slogan.
			</div>
		</div>		 						
		<div><img class="img-header" src="./img/header.jpg" alt=""/></div>
		
    <!-- Main Navigation -->										
		<h3 class="hide">Top Navigation</h3>		
    <div class="nav-main nav-main-font">			
			<ul>
        <li><a href="index.html">Front Page</a></li>
        <li><a href="content.html">Content Page</a></li>
        <li><a href="options.html" class="selected">Options</a></li>		
		  </ul>
		</div>
		
  	<!-- SUB NAVIGATION -->
		<h3 class="hide">Sub-Navigation</h3>
		<div class="nav-sub nav-sub-font nav-sub-align">
    <div class="buffer"></div>
      <ul>
        <li class="title">Options</li>
        <li class="group"><a href="options_left.html">Left Column</a></li>		
        <li class="group"><a href="options_middle.html">Middle Column</a></li>
        <li class="group"><a href="options_right.html">Right Column</a></li>
        <li class="group"><a href="options_fonts.html">Default fonts</a></li>
        <li class="group"><a href="options_color.html" class="selected">Color Schemes</a></li>
				<li><a href="#general">General info</a></li>
				<li><a href="#background">Background colors</a></li>
				<li><a href="#text">Text colors</a></li>
        <li class="group"><a href="options_print.html">Printer Stylesheet</a></li>				
      </ul>
    </div>

    <!-- WRAP CONTENT AND SIDEBAR -->
    <div class="container-content-sidebar">						
						
  	<!-- 	CONTENT -->
		<h3 class="hide">Content</h3>
		<div class="content content-font">

  	  <!-- Page title -->		
		  <div class="content-pagetitle"><p>COLOR SCHEMES</p></div>
			
			<div class="contentbox-container-full">
        <a id="general"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">0&nbsp;</div>
    		<div class="contentbox-title-shading bg-grey06 txt-white">GENERAL CONSIDERATIONS</div>
        <div class="contentbox-shading bg-grey02">
          <p>The GoFlexiblePro color scheme is divided into background colors and text colors. Each of these groups can be applied individually or simultaneously to HTML-tags by using generic CSS-classes ("generic" = classes that have only one property defined). When the generic CSS-classes are applied, the default settings are overruled. In this way we have a powerful global template with the combination of flexibility to adapt local sections of the webpage without any need to modify the CSS-code. This is convenient for beginners.</p>
					<p>GoFlexiblePro contains five color groups: grey, yellow, blue, green and red. For each of these groups there are ten shading levels offered. If you prefer other color schemes, just go to the CSS-code and define the generic classes according to your tastes or needs.</p>
        </div>
			</div>
			
      <div class="contentbox-container-full">
        <a id="background"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">1&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">BACKGROUND COLORS</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Basic color set:<br />
						    - <b>White</b><br />
						    - <b>Black</b><br />
						    - <b>Grey</b> (Increments of 5-10%)<br />
						    - <b>Yellow</b> (based on "Pantone Yellow C", increments of 10%)<br />								
						    - <b>Blue</b> (based on "Pantone 2726C", increments of 10%)<br />
						    - <b>Green</b> (based on "Pantone 369C", increments of 10%)<br />
						    - <b>Red</b> (based on "Pantone 179C", increments of 10%)</li>
				    <li>Generic CSS-classes:<br />
						    - White: <span class="showcode">.bg-white</span><br />
						    - Black: <span class="showcode">.bg-black</span><br />
						    - Grey: <span class="showcode">.bg-greyNN</span> (NN = number between 01 and 10)<br />
						    - Yellow: <span class="showcode">.bg-yellowNN</span> (NN = number between 01 and 10)<br />
						    - Blue: <span class="showcode">.bg-blueNN</span> (NN = number between 01 and 10)<br />																
						    - Green: <span class="showcode">.bg-greenNN</span> (NN = number between 01 and 10)<br />
						    - Red: <span class="showcode">.bg-redNN</span> (NN = number between 01 and 10)<br /></li>
						<li>Method: Apply generic CSS-classes to HTML-tags</li>
					</ul>						
        </div>
			</div>
			
		  <div class="contentbox-container-full">
	  		<div class="contentbox-noshading">				 
        <h4>The available colors</h4>
        <table class="tabledata bg-white">
		        <tr><th>Background color name</th><th>Appearance</th></tr>
		        <tr><td>Grey #01</td><td class="bg-grey01"></td></tr>
		        <tr><td>Grey #02</td><td class="bg-grey02"></td></tr>
		        <tr><td>Grey #03</td><td class="bg-grey03"></td></tr>
		        <tr><td>Grey #04</td><td class="bg-grey04"></td></tr>
		        <tr><td>Grey #05</td><td class="bg-grey05"></td></tr>
		        <tr><td>Grey #06</td><td class="bg-grey06"></td></tr>
		        <tr><td>Grey #07</td><td class="bg-grey07"></td></tr>
		        <tr><td>Grey #08</td><td class="bg-grey08"></td></tr>
		        <tr><td>Grey #09</td><td class="bg-grey09"></td></tr>
		        <tr><td>Grey #10</td><td class="bg-grey10"></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 1.</b> Grey background colors.</p>

					<table class="tabledata bg-white">
		        <tr><th>Background color name</th><th>Appearance</th></tr>
		        <tr><td>Yellow #01</td><td class="bg-yellow01"></td></tr>
		        <tr><td>Yellow #02</td><td class="bg-yellow02"></td></tr>
		        <tr><td>Yellow #03</td><td class="bg-yellow03"></td></tr>
		        <tr><td>Yellow #04</td><td class="bg-yellow04"></td></tr>
		        <tr><td>Yellow #05</td><td class="bg-yellow05"></td></tr>
		        <tr><td>Yellow #06</td><td class="bg-yellow06"></td></tr>
		        <tr><td>Yellow #07</td><td class="bg-yellow07"></td></tr>
		        <tr><td>Yellow #08</td><td class="bg-yellow08"></td></tr>
		        <tr><td>Yellow #09</td><td class="bg-yellow08"></td></tr>
		        <tr><td>Yellow #10</td><td class="bg-yellow10"></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 2.</b> Yellow background colors.</p>

					<table class="tabledata bg-white">
		        <tr><th>Background color name</th><th>Appearance</th></tr>
		        <tr><td>Blue #01</td><td class="bg-blue01"></td></tr>
		        <tr><td>Blue #02</td><td class="bg-blue02"></td></tr>
		        <tr><td>Blue #03</td><td class="bg-blue03"></td></tr>
		        <tr><td>Blue #04</td><td class="bg-blue04"></td></tr>
		        <tr><td>Blue #05</td><td class="bg-blue05"></td></tr>
		        <tr><td>Blue #06</td><td class="bg-blue06"></td></tr>
		        <tr><td>Blue #07</td><td class="bg-blue07"></td></tr>
		        <tr><td>Blue #08</td><td class="bg-blue08"></td></tr>
		        <tr><td>Blue #09</td><td class="bg-blue09"></td></tr>
		        <tr><td>Blue #10</td><td class="bg-blue10"></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 3.</b> Blue background colors.</p>

					<table class="tabledata bg-white">
		        <tr><th>Background color name</th><th>Appearance</th></tr>
		        <tr><td>Green #01</td><td class="bg-green01"></td></tr>
		        <tr><td>Green #02</td><td class="bg-green02"></td></tr>
		        <tr><td>Green #03</td><td class="bg-green03"></td></tr>
		        <tr><td>Green #04</td><td class="bg-green04"></td></tr>
		        <tr><td>Green #05</td><td class="bg-green05"></td></tr>
		        <tr><td>Green #06</td><td class="bg-green06"></td></tr>
		        <tr><td>Green #07</td><td class="bg-green07"></td></tr>
		        <tr><td>Green #08</td><td class="bg-green08"></td></tr>
		        <tr><td>Green #09</td><td class="bg-green09"></td></tr>
		        <tr><td>Green #10</td><td class="bg-green10"></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 4.</b> Green background colors.</p>

					<table class="tabledata bg-white">
		        <tr><th>Background color name</th><th>Appearance</th></tr>
		        <tr><td>Red #01</td><td class="bg-red01"></td></tr>
		        <tr><td>Red #02</td><td class="bg-red02"></td></tr>					
		        <tr><td>Red #03</td><td class="bg-red03"></td></tr>
		        <tr><td>Red #04</td><td class="bg-red04"></td></tr>
		        <tr><td>Red #05</td><td class="bg-red05"></td></tr>
		        <tr><td>Red #06</td><td class="bg-red06"></td></tr>
		        <tr><td>Red #07</td><td class="bg-red07"></td></tr>
		        <tr><td>Red #08</td><td class="bg-red08"></td></tr>
		        <tr><td>Red #09</td><td class="bg-red09"></td></tr>
		        <tr><td>Red #10</td><td class="bg-red10"></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 5.</b> Red background colors.</p>
        </div>
      </div>
			
      <div class="contentbox-container-full">
        <a id="text"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">2&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TEXT COLORS</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Generic CSS-classes:<br />
						    - White: <span class="showcode">.txt-white</span><br />
						    - Black: <span class="showcode">.txt-black</span><br />
						    - Grey: <span class="showcode">.txt-greyNN</span> (NN = number between 01 and 10)<br />
						    - Yellow: <span class="showcode">.txt-yellowNN</span> (NN = number between 01 and 10)<br />
						    - Blue: <span class="showcode">.txt-blueNN</span> (NN = number between 01 and 10)<br />																
						    - Green: <span class="showcode">.txt-greenNN</span> (NN = number between 01 and 10)<br />
						    - Red: <span class="showcode">.txt-redNN</span> (NN = number between 01 and 10)<br /></li>
						<li>Method: Apply generic CSS-classes to HTML-tags</li>
					</ul>						
        </div>
			</div>
			
		  <div class="contentbox-container-full">
	  		<div class="contentbox-noshading">				 
        <h4>The available colors</h4>
 		      <table class="tabledata bg-white">
		        <tr><th>Text color name</th><th>Appearance</th></tr>
		        <tr><td>Grey #01</td><td class="txt-grey01">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #02</td><td class="txt-grey02">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #03</td><td class="txt-grey03">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #04</td><td class="txt-grey04">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #05</td><td class="txt-grey05">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #06</td><td class="txt-grey06">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #07</td><td class="txt-grey07">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #08</td><td class="txt-grey08">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #09</td><td class="txt-grey09">Normal <b>Bold</b></td></tr>
		        <tr><td>Grey #10</td><td class="txt-grey10">Normal <b>Bold</b></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 1.</b> Grey text colors.</p>
			
 		      <table class="tabledata bg-white">
		        <tr><th>Text color name</th><th>Appearance</th></tr>
		        <tr><td>Yellow #01</td><td class="txt-yellow01">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #02</td><td class="txt-yellow02">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #03</td><td class="txt-yellow03">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #04</td><td class="txt-yellow04">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #05</td><td class="txt-yellow05">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #06</td><td class="txt-yellow06">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #07</td><td class="txt-yellow07">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #08</td><td class="txt-yellow08">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #09</td><td class="txt-yellow09">Normal <b>Bold</b></td></tr>
		        <tr><td>Yellow #10</td><td class="txt-yellow10">Normal <b>Bold</b></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 2.</b> Yellow text colors.</p>

 		      <table class="tabledata bg-white">
		        <tr><th>Text color name</th><th>Appearance</th></tr>
		        <tr><td>Blue #01</td><td class="txt-blue01">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #02</td><td class="txt-blue02">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #03</td><td class="txt-blue03">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #04</td><td class="txt-blue04">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #05</td><td class="txt-blue05">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #06</td><td class="txt-blue06">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #07</td><td class="txt-blue07">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #08</td><td class="txt-blue08">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #09</td><td class="txt-blue09">Normal <b>Bold</b></td></tr>
		        <tr><td>Blue #10</td><td class="txt-blue10">Normal <b>Bold</b></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 3.</b> Blue text colors.</p>

 		      <table class="tabledata bg-white">
		        <tr><th>Text color name</th><th>Appearance</th></tr>
		        <tr><td>Green #01</td><td class="txt-green01">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #02</td><td class="txt-green02">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #03</td><td class="txt-green03">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #04</td><td class="txt-green04">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #05</td><td class="txt-green05">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #06</td><td class="txt-green06">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #07</td><td class="txt-green07">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #08</td><td class="txt-green08">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #09</td><td class="txt-green09">Normal <b>Bold</b></td></tr>
		        <tr><td>Green #10</td><td class="txt-green10">Normal <b>Bold</b></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 4.</b> Green text colors.</p>


 		      <table class="tabledata bg-white">
		        <tr><th>Text color name</th><th>Appearance</th></tr>
		        <tr><td>Red #01</td><td class="txt-red01">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #02</td><td class="txt-red02">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #03</td><td class="txt-red03">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #04</td><td class="txt-red04">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #05</td><td class="txt-red05">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #06</td><td class="txt-red06">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #07</td><td class="txt-red07">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #08</td><td class="txt-red08">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #09</td><td class="txt-red09">Normal <b>Bold</b></td></tr>
		        <tr><td>Red #10</td><td class="txt-red10">Normal <b>Bold</b></td></tr>
			    </table>
	        <p class="tabledata-caption"><b>Table 5.</b> Red text colors.</p>
        </div>
      </div>			
    </div>

    <!-- SIDEBAR -->
		<h3 class="hide">Sidebar</h3>	  
		<div class="sidebar">
      <!--Empty right column -->
    </div>
		
    <!-- END WRAP CONTENT AND SIDEBAR -->		
		</div>		
		
    <!-- FOOTER -->
		<h3 class="hide">Footer</h3>
    <div class="footer footer-font">
       Copyright &copy; 2006 Your Company | All Rights Reserved<br />Design: Made in Austria | Author: <a href="mailto:gw@actamail.com">G. Wolfgang</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate code as W3C XHTML 1.1 Strict Compliant">W3C XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate Style Sheet as W3C CSS 2.0 Compliant">W3C CSS 2.0</a>
    </div>
  </div>
</body>
</html>
