<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Your description goes here" />
  <meta name="keywords" content="your,keywords,goes,here" />
  <meta name="author" content="Your Name or Company / Design Template: G. Wolfgang / April 14, 2006 / Email: gw@actamail.com / Favorite website: www.sda.org" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/style.css" />
  <title>GoFlexiblePro - Options - Middle Column</title>
</head>

<body>
  <div id="page-container">
   
  	<!-- HEADER -->
    <!-- Global Navigation -->
		<h3 class="hide">Global Navigation</h3>
    <div class="nav-global-container">
      <div class="nav-global nav-global-font">
			  <ul>
    	    <li><a href="#">About Us</a></li>
    	    <li><a href="#">Contact</a></li>
         	<li><a href="#">Impressum</a></li>																		
          <li><a href="#"><img class="img-flag" src="./img/flag_uk.gif" title="Website in English" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_spain.gif" title="Website en Espanol" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_france.gif" title ="Website en Francais" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_germany.gif" title ="Website auf Deutsch" alt=""/></a></li>					
        </ul>
		  </div>
    </div>				

    <!-- Sitename and Banner -->
		<div class="site-name">
		  Your Sitename.
		  <div class="site-slogan">
			  Your slogan.
			</div>
		</div>		 						
		<div><img class="img-header" src="./img/header.jpg" alt=""/></div>
		
    <!-- Main navigation -->										
		<h3 class="hide">Main Navigation</h3>		
    <div class="nav-main nav-main-font">			
			<ul>
        <li><a href="index.html">Front Page</a></li>
        <li><a href="content.html">Content Page</a></li>
        <li><a href="options.html" class="selected">Options</a></li>			
		  </ul>
		</div>
		
  	<!-- SUB NAVIGATION -->
		<h3 class="hide">Sub-Navigation</h3>
		<div class="nav-sub nav-sub-font nav-sub-align">
    <div class="buffer"></div>
      <ul>
        <li class="title">Options</li>
        <li class="group"><a href="options_left.html">Left Column</a></li>		
        <li class="group"><a href="#" class="selected">Middle Column</a></li>
				<li><a href="#reference-font">Reference font</a></li>
        <li><a href="#box-layout">Box layout</a></li>
        <li><a href="#box-background">Box Background</a></li>
        <li><a href="#box-text">Box text</a></li>
        <li><a href="#title-style">Title style</a></li>
        <li><a href="#title-background">Title background</a></li>
        <li><a href="#title-text">Title text</a></li>
        <li><a href="#title-decoration">Title decoration</a></li>
        <li><a href="#paragraph-text">Paragraph text</a></li>
        <li><a href="#paragraph-table">Paragraph table</a></li>
        <li><a href="#paragraph-picture">Paragraph picture</a></li>
        <li class="group"><a href="options_right.html">Right Column</a></li>
        <li class="group"><a href="options_fonts.html">Default fonts</a></li>
        <li class="group"><a href="options_color.html">Color Schemes</a></li>
        <li class="group"><a href="options_print.html">Printer Stylesheet</a></li>																
      </ul>
    </div>
					
    <!-- WRAP CONTENT AND SIDEBAR -->
    <div class="container-content-sidebar">						
						
  	<!-- 	CONTENT -->
		<h3 class="hide">Content</h3>
		<div class="content content-font">

  	  <!-- Page title -->		
		  <div class="content-pagetitle"><p>MIDDLE COLUMN</p></div>
			
      <div class="contentbox-container-full">
        <a id="reference-font"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">0&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">REFERENCE FONT SIZE AND COLOR</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: Defined in <span class="showcode">.content-font</span></li>
			 	    <li>Effects: Sets default font property for the middle column.</li>
						<li>Options: Modify text color locally.</li>
						<li>Method: Apply generic CSS-lass <span class="showcode">.txt-zz</span> (zz=colorcode) to text-related HTML-tags. See Sections 3, 6 and 8 for details.</li>
					</ul>						
        </div>
			</div>

			<div class="contentbox-container-full">
        <a id="box-layout"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">1&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">BOX LAYOUT</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: None</li>
			 	    <li>Options: <br />
					      - Full width (<span class="showcode">.contentbox-container-full</span>)<br />
					  		- Half width left (<span class="showcode">.contentbox-container-left</span>)<br />
							  - Half width left (<span class="showcode">.contentbox-container-right</span>)<br /></li>
				    <li>Method: Select one of the listed CSS-classes.</li>
          </ul>
        </div>
			</div>
			<hr />
			
			<div class="contentbox-container-full">
				<h4>Examples</h4>
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Full width</div>
        <div class="contentbox-noshading">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
			</div>

			<div class="contentbox-container-left">
			  <div class="contentbox-title-shading bg-grey10 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Half-width left</div>
        <div class="contentbox-noshading">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
			</div>
			
			<div class="contentbox-container-right">
			  <div class="contentbox-title-shading bg-grey10 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Half-width right</div>
        <div class="contentbox-noshading">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
			</div>
			<br />

      <div class="contentbox-container-full">
        <a id="box-background"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">2&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">BOX BACKGROUND</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: Transparent.<br />
						    - Defined in (<span class="showcode">.contentbox-shading</span>)</li>
				    <li>Options: Modify background colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.bg-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#background">background colors</a>.</li>
          </ul>
        </div>
			</div>			
			<hr />
			
			<div class="contentbox-container-full">
				<h4>Examples</h4>
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading">Lorem Ipsum</div>
        <div class="contentbox-noshading">
          <p>Default box background shading (transparent).</p>
        </div>
			</div>
			<br />

			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Lorem Ipsum</div>
        <div class="contentbox-shading bg-grey06">
          <p>Darker background shading.</p>
        </div>
			</div>
			<br />
						
      <div class="contentbox-container-full">
        <a id="box-text"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">3&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">BOX TEXT</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: As given by reference font (see Section 0).</li>
				    <li>Options: Modify text colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
          </ul>
        </div>
			</div>
	    <hr />
			
			<div class="contentbox-container-full">
				<h4>Examples</h4>
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Lorem Ipsum</div>
        <div class="contentbox-noshading">
          <p>Default text color.</p>
        </div>
			</div>

			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Lorem Ipsum</div>
        <div class="contentbox-noshading txt-grey04">
          <p>Lighter text color.</p>
        </div>
			</div>

			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Lorem Ipsum</div>
        <div class="contentbox-noshading txt-black">
          <p>Darker text color.</p>
        </div>
			</div>
			<br />

			<div class="contentbox-container-full">
        <a id="title-style"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">4&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TITLE STYLE</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: None.</li>
			 	    <li>Options: <br />
					      - Only text <br />(<span class="showcode">.contentbox-title-noshading-noline</span>)<br />
					  		- Text, with underline <br />(<span class="showcode">.contentbox-title-noshading-line</span>)<br />
							  - Text with shading <br />(<span class="showcode">.contentbox-title-shading</span>)</li>
				    <li>Method: Select one of the the listed CSS classes.</li>
          </ul>
        </div>
			</div>
			<hr />
						
			<div class="contentbox-container-full">
				<h4>Examples</h4>
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-noshading-noline txt-grey08">Only text</div>
			</div>
			
			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-noshading-line txt-grey08">Text with underline</div>
			</div>

			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey08">Text with shading</div>
			</div>
			<br />

			<div class="contentbox-container-full">
        <a id="title-background"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">5&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TITLE BACKGROUND</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: Light grey.<br />
						    - Defined in (<span class="showcode">.contentbox-title-shading</span>)</li>
				    <li>Options: Modify background colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.bg-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#background">background colors</a>.</li>
          </ul>
        </div>
			</div>
			<hr />
						
			<div class="contentbox-container-full">
				<h4>Examples</h4>
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading txt">Default title background</div>
			</div>
			
			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06">Darker background shading</div>
			</div>
			<br />

			<div class="contentbox-container-full">
        <a id="title-text"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">6&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TITLE TEXT</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: As given by reference font (see Section 0).</li>
				    <li>Options: Modify text colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
          </ul>
        </div>
			</div>
			<hr />
						
			<div class="contentbox-container-full">
				<h4>Examples</h4>
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading">Default title text</div>
			</div>
			<br />
			
			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading txt-white">Lighter text</div>
			</div>
			<br />
			
			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading txt-grey08">Darker text</div>
			</div>
			<br />
			
			<div class="contentbox-container-full">
        <a id="title-decoration"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">7&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TITLE DECORATION</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
            <li>Default: On.</li>
				    <li>Options: <br />
						    - Turn box on/off.<br />
				        - Modify shading.<br />								
				        - Modify text color.</li>
				    <li>Method: Apply generic CSS-classes.<br />
						    - Turn box on/off: Apply generic CSS-class (<span class="showcode">.box-on</span> or <span class="showcode">.box-off</span>)<br />
				        - Modify shading: Apply generic CSS-class <span class="showcode">.bg-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#background">background colors</a>.<br />								
				        - Modify text color: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
          </ul>
        </div>
			</div>
			<hr />

			<div class="contentbox-container-full">
				<h4>Examples</h4>
			  <div class="contentbox-title-shading box-on">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey04 txt-grey06">Decoration box - default</div>
			</div>
			
			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey04 box-off">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey02 txt-grey06">Decoration box - off</div>
			</div>
			<br />

			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey04 box-on">&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey02 txt-grey06">Decoration box - on (lighter)</div>
			</div>
			<br />
			
			<div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey08 txt-grey10 box-on">3&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey02 txt-grey08">Decoration box - on (darker, with text)</div>
			</div>
			<br />
			
			<div class="contentbox-container-full">
        <a id="paragraph-text"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">8&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">PARAGRAPH TEXT</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: As given by reference font (see Section 0).</li>
				    <li>Further formats: <br />
						    - Headings <br />
						    - Paragraph <br />
						    - Quote <br />
						    - Embedded emphasis <br />
						    - Unordered list <br />
						    - Ordered list</li>
				    <li>Method: Apply generic CSS-classes.<br />
				        - Modify shading: Apply generic CSS-class <span class="showcode">.bg-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#background">background colors</a>.<br />								
				        - Modify text color: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
          </ul>
        </div>
			</div>
			
      <h4>Examples</h4>
			<hr />

      <div class="contentbox-full-noshading">
        <p><b>Headings</b></p>
				<h1>Heading h1 (<span class="showcode">h1</span>)</h1>
				<h2>Heading h2 (<span class="showcode">h2</span>)</h2>
				<h3>Heading h3 (<span class="showcode">h3</span>)</h3>

		  	<hr />
        <p><b>Normal paragraph</b>  (<span class="showcode">p</span>)</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

		  	<hr />
        <p><b>Quote</b>  (<span class="showcode">.quote</span>)</p>
				<p class="quote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

		  	<hr />
        <p><b>Embedded emphasis</b>  (<span class="showcode">.embed .embed-caption</span>)</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer <span class="embed">"Amet elit door sit at amet sit at door Amet elit."<span class="embed-caption">Embedded Caption</span></span> adipiscing elit Lorem ipsum dolor sit.  orem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit elit. orem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet.</p>

		  	<hr />
        <p><b>Unordered list</b>  (<span class="showcode">ul</span>)</p>
				<ul>
          <li>Unordered List</li>
          <li>Uses a custom bullet to make items pop</li>
        </ul>

		  	<hr />
        <p><b>Ordered list</b>  (<span class="showcode">ol</span>)</p>
        <ol>
          <li>Ordered List</li>
          <li>Uses a tag to style the numbers</li>
        </ol>
      </div>
			<br />	 

			<div class="contentbox-container-full">
        <a id="paragraph-table"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">9&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">PARAGRAPH TABLE</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
            <li>Default: Shading: Light-Grey, Text: Dark-grey.</li>
				    <li>Options: Modifications can be cone for the entire table <span class="showcode">&lt;table&gt;</span>, entire rows <span class="showcode">&lt;tr&gt;</span>, or individual cells <span class="showcode">&lt;td&gt;</span>.<br />
				        - Modfify cell shading.<br />								
				        - Modify cell text color.</li>
				    <li>Method: Apply generic CSS-classes.<br />
				        - Modify cell shading: Use CSS-class <span class="showcode">.bg-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#background">background colors</a>.<br />								
				        - Modify cell text color: Use CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
          </ul>
        </div>
			</div>
			
			<hr />
      <h4>Examples</h4>
				
      <div class="contentbox-container-full">
	  		<div class="contentbox-noshading">
          <p><b>Two-columns</b> (default)</p>				 
 		      <table class="tabledata">
		        <tr><th>Column 1</th><th>Column 2</th></tr>
		        <tr><td>Row 1, Column 1</td><td>Row 1, Column 2</td></tr>
		        <tr><td>Row 2, Column 1</td><td>Row 2, Column 2</td></tr>
		        <tr><td>Row 3, Column 1</td><td>Row 3, Column 2</td></tr>
		      </table>
	        <p class="tabledata-caption"><b>Table x.x.</b> Caption</p>
				
 			  	<p><b>Three-columns</b> (default)</p>				 
 		      <table class="tabledata">
		        <tr><th>Column 1</th><th>Column 2</th><th>Column 2</th></tr>
		        <tr><td>Row 1, Column 1</td><td>Row 1, Column 2</td><td>Row 1, Column 3</td></tr>
		        <tr><td>Row 2, Column 1</td><td>Row 2, Column 2</td><td>Row 2, Column 3</td></tr>
		        <tr><td>Row 3, Column 1</td><td>Row 3, Column 2</td><td>Row 3, Column 3</td></tr>
		      </table>
	        <p class="tabledata-caption"><b>Table x.x.</b> Caption</p>	
        
				  <p><b>Four-columns</b> (default)</p>				 
 		      <table class="tabledata">
		        <tr><th>Column 1</th><th>Column 2</th><th>Column 2</th><th>Column 2</th></tr>
		        <tr><td>Row 1, Column 1</td><td>Row 1, Column 2</td><td>Row 1, Column 3</td><td>Row 1, Column 4</td></tr>
		        <tr><td>Row 2, Column 1</td><td>Row 2, Column 2</td><td>Row 2, Column 3</td><td>Row 2, Column 4</td></tr>
		        <tr><td>Row 3, Column 1</td><td>Row 3, Column 2</td><td>Row 3, Column 3</td><td>Row 3, Column 4</td></tr>
		      </table>
	        <p class="tabledata-caption"><b>Table x.x.</b> Caption</p>				

				  <p><b>Four-columns</b> (with generic CSS-classes applied)</p>				 
 		      <table class="tabledata bg-grey06">
		        <tr class="bg-grey08 txt-black"><th>darker header</th><th>darker header</th><th class="bg-grey02 txt-grey06">exception</th><th>darker header</th></tr>
		        <tr><td>Row 1, Column 1</td><td>Row 1, Column 2</td><td>Row 1, Column 3</td><td>Row 1, Column 4</td></tr>
		        <tr><td>Row 2, Column 1</td><td class="bg-grey04 txt-white">different</td><td>Row 2, Column 3</td><td>Row 2, Column 4</td></tr>
		        <tr><td>Row 3, Column 1</td><td>Row 3, Column 2</td><td>Row 3, Column 3</td><td>Row 3, Column 4</td></tr>
		      </table>
	        <p class="tabledata-caption"><b>Table x.x.</b> Caption</p>				
		    </div>		
		  </div>
			
			<div class="contentbox-container-full">
        <a id="paragraph-picture"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">10&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">PARAGRAPH PICTURE</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: None.</li>
				    <li>Options: <br />
						    - Left align, no border (<span class="showcode">.img-left-noborder</span>)<br />
                - Right align, no border (<span class="showcode">.img-right-noborder</span>)<br />
                - Left align, border (<span class="showcode">.img-left-border</span>)<br />
                - Right align, border (<span class="showcode">.img-right-border</span>)</li>
				    <li>Method: Select one the listed CSS-classes.</li>
          </ul>
        </div>
			</div>
			
			<hr />
      <h4>Examples</h4>

			<div class="contentbox-container-full">
				<div class="contentbox-title-shading bg-grey02 txt-grey08">Left aligned - No Border</div>
			  <div class="contentbox-noshading">
          <p><img src="./img/image.jpg" class="img-left-noborder" width="60" height="90" alt=""/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>				 
        </div>
		  </div>
		
			<div class="contentbox-container-full">
				<div class="contentbox-title-shading bg-grey02 txt-grey08">Right aligned - No Border</div>
			  <div class="contentbox-noshading">
          <p><img src="./img/image.jpg" class="img-right-noborder" width="60" height="90" alt=""/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>				 
        </div>
		  </div>
			
		  <div class="contentbox-container-full">
			  <div class="contentbox-title-shading bg-grey02 txt-grey08">Left aligned - Border</div>
			  <div class="contentbox-noshading">
          <p><img src="./img/image.jpg" class="img-left-border" width="60" height="90" alt=""/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>				 
        </div>
		  </div>
		
		  <div class="contentbox-container-full">
	  	  <div class="contentbox-title-shading bg-grey02 txt-grey08">Right aligned - Border</div>
			  <div class="contentbox-noshading">
          <p><img src="./img/image.jpg" class="img-right-border" width="60" height="90" alt=""/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam at libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>				 
        </div>
		  </div>
		</div>

    <!-- SIDEBAR -->
		<h3 class="hide">Sidebar</h3>
	  <div class="sidebar">
      <!-- Empty sidebar -->
	  </div>
		
    <!-- END WRAP CONTENT AND SIDEBAR -->		
		</div>		
				
    <!-- FOOTER -->
		<h3 class="hide">Footer</h3>
    <div class="footer footer-font">
       Copyright &copy; 2006 Your Company | All Rights Reserved<br />Design: Made in Austria | Author: <a href="mailto:gw@actamail.com">G. Wolfgang</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate code as W3C XHTML 1.1 Strict Compliant">W3C XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate Style Sheet as W3C CSS 2.0 Compliant">W3C CSS 2.0</a>
    </div>
  </div>
</body>
</html>