<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Your description goes here" />
  <meta name="keywords" content="your,keywords,goes,here" />
  <meta name="author" content="Your Name or Company / Design Template: G. Wolfgang / April 14, 2006 / Email: gw@actamail.com / Favorite website: www.sda.org" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/style.css" />
  <title>GoFlexiblePro - Options - Right Column</title>
</head>

<body>
  <div id="page-container">

  	<!-- HEADER -->
    <!-- Global Navigation -->
		<h3 class="hide">Global Navigation</h3>
    <div class="nav-global-container">
      <div class="nav-global nav-global-font">
			  <ul>
    	    <li><a href="#">About Us</a></li>
    	    <li><a href="#">Contact</a></li>
         	<li><a href="#">Impressum</a></li>																		
          <li><a href="#"><img class="img-flag" src="./img/flag_uk.gif" title="Website in English" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_spain.gif" title="Website en Espanol" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_france.gif" title ="Website en Francais" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_germany.gif" title ="Website auf Deutsch" alt=""/></a></li>					
        </ul>
		  </div>
    </div>				

    <!-- Sitename and Banner -->
		<div class="site-name">
		  Your Sitename.
		  <div class="site-slogan">
			  Your slogan.
			</div>
		</div>		 						
		<div><img class="img-header" src="./img/header.jpg" alt=""/></div>
		
    <!-- Main navigation -->										
		<h3 class="hide">Main Navigation</h3>		
    <div class="nav-main nav-main-font">			
			<ul>
        <li><a href="index.html">Front Page</a></li>
        <li><a href="content.html">Content Page</a></li>
        <li><a href="options.html" class="selected">Options</a></li>		
		  </ul>
		</div>
		
  	<!-- SUB-NAVIGATION -->
		<h3 class="hide">Sub-Navigation</h3>
		<div class="nav-sub nav-sub-font nav-sub-align">
    <div class="buffer"></div>
      <ul>
        <li class="title">Options</li>
        <li class="group"><a href="options_left.html">Left Column</a></li>		
        <li class="group"><a href="options_middle.html">Middle Column</a></li>
        <li class="group"><a href="options_right.html" class="selected">Right Column</a></li>
				<li><a href="#reference-font">Reference font</a></li>
        <li><a href="#box-border">Box border</a></li>
        <li><a href="#box-background">Box background</a></li>
        <li><a href="#box-text">Box text</a></li>
        <li><a href="#title-style">Title style</a></li>
        <li><a href="#title-background">Title background</a></li>
        <li><a href="#title-text">Title text</a></li>
        <li><a href="#paragraph-text">Paragraph text</a></li>																
        <li class="group"><a href="options_fonts.html">Default fonts</a></li>
        <li class="group"><a href="options_color.html">Color Schemes</a></li>
        <li class="group"><a href="options_print.html">Printer Stylesheet</a></li>											
      </ul>
    </div>

    <!-- WRAP CONTENT AND SIDEBAR -->
    <div class="container-content-sidebar">						
						
  	<!-- 	CONTENT -->
		<h3 class="hide">Content</h3>
		<div class="content content-font">

  	  <!-- Page title -->		
		  <div class="content-pagetitle"><p>RIGHT COLUMN</p></div>
			
      <div class="contentbox-container-full">
        <a id="reference-font"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">0&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">REFERENCE FONT SIZE AND COLOR</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: Defined in <span class="showcode">.sidebar-font</span></li>
			 	    <li>Effects: Sets default font property for the right column.</li>
						<li>Options: Modify text color locally.</li>
						<li>Method: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) to text-related HTML-tags. See Sections 3, 6 and 7 for details.</li>
					</ul>						
        </div>
			</div>

      <div class="contentbox-container-full">
        <a id="box-border"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">1&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">BOX BORDER</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: None.</li>
			 	    <li>Options: <br />
					      - No border (<span class="showcode">.sidebarbox-noborder</span>)<br />
					  		- With border (<span class="showcode">.sidebarbox-border</span>)</li>
            <li>Method: Select one of the listed CSS-classes.</li>
			      <li>Examples: See right column.</li>
					</ul>						
        </div>
			</div>

      <div class="contentbox-container-full">
        <a id="box-background"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">2&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">BOX BACKGROUND</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: Transparent.<br />
						    - Defined in (<span class="showcode">.sidebarbox-noborder</span>)<br />
						    - Defined in (<span class="showcode">.sidebarbox-border</span>)</li>
				    <li>Options: Modify background colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.bg-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#background">background colors</a>.</li>
				    <li>Examples: See right column.</li>
          </ul>
        </div>
			</div>			

      <div class="contentbox-container-full">
        <a id="box-text"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">3&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">BOX TEXT</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: As given by reference font (see Section 0).</li>
				    <li>Options: Modify text colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
            <li>Examples: See right column.</li>
          </ul>
        </div>
			</div>

			<div class="contentbox-container-full">
        <a id="title-style"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">4&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TITLE STYLE</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: None.</li>
			 	    <li>Options: <br />
					      - Only text <br />(<span class="showcode">.sidebarbox-title-noshading-noline</span>)<br />
					  		- Text, with underline <br />(<span class="showcode">.sidebarbox-title-noshading-line</span>)<br />
							  - Text with shading <br />(<span class="showcode">.sidebarbox-title-shading</span>)<br /></li>
				    <li>Method: Select one of the the listed CSS classes.</li>					
          </ul>
        </div>
			</div>

			<div class="contentbox-container-full">
        <a id="title-background"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">5&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TITLE BACKGROUND</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: Light grey.<br />
						    - Defined in (<span class="showcode">.sidebarbox-title-shading</span>)</li>
				    <li>Options: Modify background colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.bg-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#background">background colors</a>.</li>
				    <li>Examples: See right column.</li>
          </ul>
        </div>
			</div>

			<div class="contentbox-container-full">
        <a id="title-text"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">6&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">TITLE TEXT</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: As given by reference font (see Section 0).</li>
				    <li>Options: Modify text colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
            <li>Examples: See right column.</li>
          </ul>
        </div>
			</div>
			
			<div class="contentbox-container-full">
        <a id="paragraph-text"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">7&nbsp;</div>
			  <div class="contentbox-title-shading bg-grey06 txt-white">PARAGRAPH TEXT</div>
        <div class="contentbox-shading bg-grey02">
          <h4>How it works</h4>
          <ul>
				    <li>Default: As given by reference font (see Section 0).</li>
				    <li>Options: Modify text colors.</li>
				    <li>Method: Apply generic CSS-class <span class="showcode">.txt-zz</span> (zz=colorcode) and choose among the available <a href="options_color.html#text">text colors</a>.</li>
            <li>Examples: See right column.</li>
          </ul>
        </div>
			</div>			
    </div>

    <!-- SIDEBAR -->
		<h3 class="hide">Sidebar</h3>
	  <div class="sidebar sidebar-font">

			<div class="sidebarbox-border">
        <div class="sidebarbox-title-shading">Standard box</div>
        <p>Lorem ipsum dolor sit.</p>			
      </div>												
		
			<div class="sidebarbox-border">
        <div class="sidebarbox-title-shading">Standard title</div>
        <p>No background shading.</p>	
      </div>

			<div class="sidebarbox-border bg-grey04">
        <div class="sidebarbox-title-shading">Standard title</div>
        <p>With background shading.</p>	
      </div>			
			
			<div class="sidebarbox-border">
        <div class="sidebarbox-title-shading bg-grey02">Lighter title shading</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-border">
        <div class="sidebarbox-title-shading bg-grey06">Darker title shading</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-border">
        <div class="sidebarbox-title-shading bg-grey04 txt-white">Ligher title text</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-border">
        <div class="sidebarbox-title-shading bg-grey04 txt-grey10">Darker title text</div>
        <p>No background shading.</p>	
      </div>			
						
			<div class="sidebarbox-border">
        <div class="sidebarbox-title-noshading-line txt-grey10">Text style line</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-border">
        <div class="sidebarbox-title-noshading-noline txt-grey10">Text style no line</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-shading">Standard box</div>
        <p>Lorem ipsum dolor sit.</p>			
      </div>												
		
			<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-shading">Standard title</div>
        <p>No background shading.</p>	
      </div>

			<div class="sidebarbox-noborder bg-grey04">
        <div class="sidebarbox-title-shading">Standard title</div>
        <p>With background shading.</p>	
      </div>			
			
			<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-shading bg-grey02">Lighter title shading</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-shading bg-grey06">Darker title shading</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-shading bg-grey04 txt-white">Ligher title text</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-shading bg-grey04 txt-grey10">Darker title text</div>
        <p>No background shading.</p>	
      </div>
			
					<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-noshading-line txt-grey10">Text style line</div>
        <p>No background shading.</p>	
      </div>			

			<div class="sidebarbox-noborder">
        <div class="sidebarbox-title-noshading-noline txt-grey10">Text style no line</div>
        <p>No background shading.</p>	
      </div>			
    </div>

    <!-- END WRAP CONTENT AND SIDEBAR -->		
		</div>		
		
    <!-- FOOTER -->
		<h3 class="hide">Footer</h3>
    <div class="footer footer-font">
       Copyright &copy; 2006 Your Company | All Rights Reserved<br />Design: Made in Austria | Author: <a href="mailto:gw@actamail.com">G. Wolfgang</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate code as W3C XHTML 1.1 Strict Compliant">W3C XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate Style Sheet as W3C CSS 2.0 Compliant">W3C CSS 2.0</a>
    </div>
  </div>
</body>
</html>
