<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Your description goes here" />
  <meta name="keywords" content="your,keywords,goes,here" />
  <meta name="author" content="Your Name or Company / Design Template: G. Wolfgang / April 14, 2006 / Email: gw@actamail.com / Favorite website: www.sda.org" />
  <link rel="stylesheet" type="text/css" media="all" href="./css/style.css" />
  <title>GoFlexiblePro - Options - Default fonts</title>
</head>

<body>
  <div id="page-container">

  	<!-- HEADER -->
    <!-- Global Navigation -->
		<h3 class="hide">Global Navigation</h3>
    <div class="nav-global-container">
      <div class="nav-global nav-global-font">
			  <ul>
    	    <li><a href="#">About Us</a></li>
    	    <li><a href="#">Contact</a></li>
         	<li><a href="#">Impressum</a></li>																		
          <li><a href="#"><img class="img-flag" src="./img/flag_uk.gif" title="Website in English" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_spain.gif" title="Website en Espanol" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_france.gif" title ="Website en Francais" alt=""/></a></li>
          <li><a href="#"><img class="img-flag" src="./img/flag_germany.gif" title ="Website auf Deutsch" alt=""/></a></li>					
        </ul>
		  </div>
    </div>				

    <!-- Sitename and Banner -->
		<div class="site-name">
		  Your Sitename.
		  <div class="site-slogan">
			  Your slogan.
			</div>
		</div>		 						
		<div><img class="img-header" src="./img/header.jpg" alt=""/></div>
		
    <!-- Main Navigation -->										
		<h3 class="hide">Top Navigation</h3>		
    <div class="nav-main nav-main-font">			
			<ul>
        <li><a href="index.html">Front Page</a></li>
        <li><a href="content.html">Content Page</a></li>
        <li><a href="options.html" class="selected">Options</a></li>		
		  </ul>
		</div>
		
  	<!-- SUB NAVIGATION -->
		<h3 class="hide">Sub-Navigation</h3>
		<div class="nav-sub nav-sub-font nav-sub-align">
    <div class="buffer"></div>
      <ul>
        <li class="title">Options</li>
        <li class="group"><a href="options_left.html">Left Column</a></li>		
        <li><a href="#">Text alignment</a></li>
        <li class="group"><a href="options_middle.html">Middle Column</a></li>
        <li class="group"><a href="options_right.html">Right Column</a></li>
        <li class="group"><a href="options_fonts.html" class="selected">Default fonts</a></li>
        <li class="group"><a href="options_color.html">Color Schemes</a></li>
        <li class="group"><a href="options_print.html">Printer Stylesheet</a></li>				
      </ul>
    </div>
					
    <!-- WRAP CONTENT AND SIDEBAR -->
    <div class="container-content-sidebar">						
						
  	<!-- 	CONTENT -->
		<h3 class="hide">Content</h3>
		<div class="content content-font">

  	  <!-- Page title -->		
		  <div class="content-pagetitle"><p>DEFAULT FONTS</p></div>
			
			<div class="contentbox-container-full">
        <a id="general"></a>
			  <div class="contentbox-title-shading bg-red10 txt-white box-on">0&nbsp;</div>
    		<div class="contentbox-title-shading bg-grey06 txt-white">GENERAL CONSIDERATIONS</div>
        <div class="contentbox-shading bg-grey02">
          <p>Default fonts are defined for each of the major regions of the webpage, that is, header, left navigation bar, content, right sidebar and footer. To make the change of default font-sizes (and partially colors) more convenient like a one-button approach, the font definitions have been broken out into separate generic CSS-classes. The font-sizes for each of the regions are then defined in percentages of the default font-sizes specified in the generic CSS-classes. Default font-type is <b>Trebuchet MS</b> for best looks.</p>
          <h4>How it works</h4>
          <ul>
				    <li>Generic font CSS-classes:<br />
						    - Header top navigation: <span class="showcode">.nav-global-font</span><br />
						    - Header main navigation: <span class="showcode">.nav-main-font</span><br />
						    - Left side navigation: <span class="showcode">.nav-sub-font</span><br />
						    - Content area: <span class="showcode">.content-font</span><br />
						    - Sidebar: <span class="showcode">.sidebar-font</span><br />
								- Footer: <span class="showcode">.footer-font</span></li>
						<li>Method: Applied at the main HTML-tag for each region.</li>
          </ul>
        </div>
			</div>
    </div>

    <!-- SIDEBAR -->
		<h3 class="hide">Sidebar</h3>	  
		<div class="sidebar">
      <!--Empty right column -->
    </div>

    <!-- WRAP CONTENT AND SIDEBAR -->		
		</div>
		
    <!-- FOOTER -->
		<h3 class="hide">Footer</h3>
    <div class="footer footer-font">
       Copyright &copy; 2006 Your Company | All Rights Reserved<br />Design: Made in Austria | Author: <a href="mailto:gw@actamail.com">G. Wolfgang</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate code as W3C XHTML 1.1 Strict Compliant">W3C XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate Style Sheet as W3C CSS 2.0 Compliant">W3C CSS 2.0</a>
    </div>
  </div>
</body>
</html>
