<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Opaque Green :: By Ganesh</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta http-equiv="generator" content="Notepad" />
<meta name="author" content="Ganesh Iyer" />
</head>
<body>
<!--Designed by Ganesh Iyer
http://ll.outer-heaven.net
-->
<div id="container">
<div id="head">
<h1>Opaque Green</h1>
<h3>by Ganesh</h3>
</div>
<ul id="nav">
<li><a href="#">Home</a></li>
<li><a class="on" href="#">Yea</a></li>
<li><a href="#">Test</a></li>
<li><a href="#">About</a></li>
</ul>
<div id="content">
<div>
<h1><a href="#">About</a></h1>
<p>I started this template one or two months back for my site but I made another design for my site and decided to put it for free download. I hope you like this design and use it on your site. If
you have any problm editing me contact me through my <a href="http://ll.outer-heaven.net">site</a>. Features of this design are:</p>
<ul>
<li>Xhtml and CSS valid code</li>
<li>Accessebility</li>
<li>Cross-browser compatibility</li>
<li>Fast loading and SEO</li>
</ul>
</div>
<div>
<h1><a href="#">Lipsum</a></h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque aliquet laoreet mauris. Ut faucibus auctor ligula. Vestibulum tristique mattis pede. Nunc pede quam, faucibus volutpat,
venenatis eget, pharetra vitae, sapien. Duis molestie magna in augue. Quisque blandit nulla at turpis. Phasellus euismod, lorem et luctus feugiat, lacus dolor volutpat pede, vitae varius dolor magna
eget orci. Ut euismod blandit risus. Vestibulum sed enim sit amet libero venenatis consequat. Suspendisse vulputate, nisi pretium iaculis hendrerit, tellus lacus malesuada dolor, ut rhoncus nunc dui
eu erat. Integer feugiat blandit tortor. Curabitur sapien lacus, cursus non, ullamcorper quis, aliquet eget, orci. Vivamus orci nisi, scelerisque in, ullamcorper vitae, congue id, turpis. Class
aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis rutrum hendrerit eros. Aliquam sollicitudin consequat magna. Pellentesque ut nisi sed nibh malesuada dictum.
Vestibulum in quam ac orci molestie tempor. Nunc nonummy. Sed a augue. Nunc posuere felis et orci. Quisque commodo mauris a pede. Integer rhoncus, nisl nec iaculis accumsan, lacus turpis dictum
massa, quis imperdiet nibh augue a ante. Mauris in odio. Curabitur adipiscing sem vel nulla. Nulla non ante. Pellentesque pede. Sed lacus tortor, semper sed, gravida semper, cursus malesuada, eros.
Morbi sit amet nulla. Integer malesuada magna eleifend ante. Etiam pede. Nullam faucibus ligula non arcu sagittis mollis. Fusce tellus elit, scelerisque sed, posuere eu, consectetuer nec, nisi. Sed
dapibus. Vivamus molestie velit non est interdum feugiat. Donec quis felis sit amet augue vulputate hendrerit. Vestibulum dapibus. Fusce arcu. Integer tempus. Nullam ullamcorper dui non odio. Donec
nisl est, imperdiet et, condimentum in, nonummy at, tellus. Vivamus euismod condimentum lorem. Donec aliquam auctor eros. Donec in risus ac leo dapibus tempor. Donec dapibus diam at nibh. Fusce
ipsum. Phasellus elementum.</p>
<ul>
<li>Lorem Ipsum</li>
<li>commodo nunc</li>
<li>Test dsf sdf</li>
<li>This is a</li>
<li>List example</li>
</ul>
</div>
<div>
<h1>Lipsum Dwitiy</h1>
<p>Donec quis felis sit amet augue vulputate hendrerit. Vestibulum dapibus. Fusce arcu. Integer tempus. Nullam ullamcorper dui non odio. Donec nisl est, imperdiet et, condimentum in, nonummy at,
tellus. Vivamus euismod condimentum lorem. Donec aliquam auctor eros. Donec in risus ac leo dapibus tempor. Donec dapibus diam at nibh. Fusce ipsum. Phasellus elementum.</p>
<p>Quisque interdum commodo nunc. Proin a lacus non velit pellentesque vulputate. In fringilla ante sed dolor. Fusce adipiscing imperdiet libero. Ut est. Proin tempor nibh vel nunc. Sed erat nisl,
dapibus vitae, ornare viverra, tincidunt a, diam. Ut sed diam. Etiam convallis auctor pede. Aliquam erat volutpat. Vivamus vitae risus sed quam sagittis mattis. Fusce dapibus posuere sem. Mauris
vitae leo eu turpis condimentum varius. Mauris quis sem. Nam iaculis, pede eu luctus blandit, pede sem malesuada odio, eget gravida est justo vitae enim. Etiam dignissim est at lectus. Quisque
rhoncus metus sed sapien. In viverra tincidunt nunc. In hac habitasse platea dictumst. In pulvinar dignissim libero.</p>
</div>
</div>
<div id="right">
<div>
<h3>Sub-nav</h3>
<div id="list-menu">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Solutions</a></li>
<li><a href="#">Support</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div>
<h3>Yay!</h3>
<p>Mauris vitae leo eu turpis condimentum varius. Mauris quis sem. Nam iaculis, pede eu luctus blandit, pede sem malesuada odio, eget gravida est justo vitae enim. Etiam dignissim est at lectus.
Quisque rhoncus metus sed sapien. In viverra tincidunt nunc. In hac habitasse platea dictumst. In pulvinar dignissim libero.</p>
</div>
</div>
<div>
<h3>Lipsum</h3>
<p>Est justo vitae enim. Etiam dignissim est at lectus. Quisque rhoncus metus sed sapien. In viverra tincidunt nunc. In hac habitasse platea dictumst. In pulvinar dignissim libero.</p>
</div>
</div>
<div id="footer"><a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Validates as CSS">CSS</a> | <a href="http://validator.w3.org/check/referer" title=
"Validates as XHTML">XHTML</a> | <a href="contact.hmtl">Contact</a><br />
Copyright (c) Ganesh Iyer 2006-07<br />
Designed by <a href="http://ll.outer-heaven.net/v1/index.php">Ganesh Iyer aka lastlegion</a></div>
</div>
</body>
</html>
