<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>

<meta http-equiv="Content-Language" content="en-gb" />

<title>Life in the City</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />

<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="scroll.css" />

</head>

<body>
<!-- Outer Border -->
<div id="outer">
       <!-- Main Body -->
	<div id="inner">
	<!-- Header -->
<div id="header"><p>Life in the City ...</p></div>
      <!-- Left -->
		<div id="left">
		<!-- Left Top -->
             <div id="lefttop"><h1>Less Text</h1></div>
			 <!-- Left Nav ala ListOmatic -->
			<div id="leftnav">
				<div id="navcontainer">
					<ul id="navlist">
						<li><a title="link one" href="index.html">Home</a></li>
						<li><a title="link two" href="page4.html">Less Text</a></li>
						<li><a title="link three" href="page2.html">More Text</a></li>
						<li><a title="link four" href="page3.html">Way More</a></li>
						<li><a title="link five" href="index.html">A Link</a></li>
						<li><a title="link six" href="page4.html">Another</a></li>
                        <li><a title="link six" href="page2.html">More</a></li>
                        <li><a title="link six" href="index.html">Still More</a></li>
                        <li><a title="link six" href="page3.html">More Still</a></li>
					</ul>
				</div>
			</div>
			<!-- Left Bottom -->
			<div id="leftbottom"><p>Here are a few more links.
			<a href="page3.html">a link</a><a href="page2.html">a link</a></p></div>
			<!-- Left Pic -->
			<div id="pic"></div>
		</div>
		<!-- Right -->
		<div id="right">
		  <!-- Right faux IFrame -->
			<div id="autoscroll">
			  <!-- Right  Text-->
				<div id="text">
				
					<h2>Life in the City</h2>
				
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>							
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
<div id="footer">Life in the City &nbsp;&nbsp; I &nbsp;&nbsp; Bob Godwin &nbsp;&nbsp; I &nbsp;&nbsp; Detroit, Michigan</div>
</div>

</body>

</html>