@charset "iso-8859-1";
body
{
scrollbar-face-color: black; scrollbar-shadow-color: #c0c0c0; scrollbar-highlight-color: #ffffff; scrollbar-3dlight-color: #acd8d8; scrollbar-darkshadow-color: #000000; scrollbar-track-color: #ffffff; scrollbar-arrow-color: #ffffff;
}