@charset "iso-8859-1";
body {
          font-size : 100%;
          font-family : sans-serif,arial;
		  color : #ffffff;
          background : #000000;
          line-height : 120%;
          margin : 25px;
          height : 580px;
      }
img {
          border : 0;
      }
h1 {
          font-size : 80%;
          color : #000000;
          background : #ffffff;
          padding : 2px 5px;
          margin-top : 0;
          margin-bottom : 0;
      }
h2 {
          font-size : 135%;
          font-family : sans-serif,arial;
          color : #000000;
		  text-align:center;
          background : #ffffff;
          line-height : 120%;
      }
#header {
          height : 100px;
		  width : 750px;
		  background:url('images/city_header_blank.gif');
	  }
#header p
        {
		  font-family:cursive,ariel,sans-serif,monospace;
		  font-size:25px;
		  color:#ffffff;
          background : #000000;
		  font-weight:bold;
		  font-style:italic;
		  margin-top : 0px;
		  margin-left : 55px;
		  padding-top :8px;

		}
#header img
        {
          height : 100px;
		  width : 750px;
		  margin : 0px;

		}
a:active, a:visited, a:link {
          display : block;
          margin-top : 0;
          margin-left : 10px;
          margin-bottom : 0;
          color : #8c8c8c;
          background : #ffffff;
          text-decoration : underline;
          font-weight : bold;
      }
a:hover {
          color : #000000;
          background-color : #ffffff;
          text-decoration : none;
      }
#outer {
          width : 764px;
          border : 1px solid #ffffff;
		  color: #ffffff;
          background : #000000;
          height : 567px;
      }
#inner {
          width : 750px;
          border : 1px solid #ffffff;
          margin : 5px;
          height : 526px;
      }
* html #leftbottom {
          height : 99px;
      }
* html #autoscroll {
          float : right;
          overflow : auto;
          width : 604px;
          height : 426px;
          border-left : 0;
		  color: #000000;
          background : #ffffff;
          margin-bottom : 0;
          padding : 0;
      }
* html #leftnav {
          width : 95%;
          height : 180px;
          margin-top : 0;
      }
#left {
          float : left;
          width : 145px;
		  color: #000000;
          background : #ffffff;
      }
#lefttop {
          width : 135px;
          height : 44px;
          border-left : 10px solid #000000;
          margin-top : 0;
          margin-bottom : 0;
      }
#leftnav {
          width : 95%;
          height : 181px;
          margin-top : 0;
      }
#leftbottom {
          width : 135px;
          height : 99px;
          border-left : 10px solid #000000;
          margin-bottom : 0;
          margin-top : 0;
      }
#pic {
          width : 135px;
          height : 102px;
          border-left : 10px solid #000000;
          margin-bottom : 0;
		  background:url('images/city 2.gif');
      }
#leftbottom p {
          font-family : arial, sans-serif;
          color : #575757;
		  background: #ffffff;
          font-size : 90%;
          margin-left : 5px;
          margin-bottom : 0;
          margin-top : 0;
          padding-top : 5px;
      }
#right {
          float : right;
          width : 600px;
          border-left : 1px solid #000000;
      }
#right p {
          text-indent:25px;
      }
#autoscroll {
          float : right;
          overflow : auto;
          width : 604px;
          height : 426px;
          border-left : 1px solid #000000;
		  color : #000000;
          background : #ffffff;
          margin-bottom : 0;
          padding : 0;
      }
#text {
          font-family : monospace,serif,arial;
          font-size : 80%;
          color: #000000;
		  background: #ffffff;
		  line-height : 140%;
          padding : 10px;
      }
#footer {
          width : 750px;
          margin : 0;
          padding : 3px;
          text-align : center;
		  background : #000000;
          color : #ffffff;
          font-size : 75%;
      }
	  
#navcontainer {
          margin-top : 0;
		  color : #ffffff;
          background-color : #000000;
      }
ul#navlist {
          width : 115px;
          padding : 0;
          margin : 0;
      }
ul#navlist li {
          border : 0 none;
          list-style-type : none;
          margin-bottom : 0;
      }
ul#navlist li a {
          display : block;
          width : 95%;
          padding : 0 10px;
          border-left : 10px solid #000000;
          border-bottom : 1px solid #ffffff;
          margin-left : 0;
          text-decoration : none;
      }
ul#navlist li a:link {
          color : #ffffff;
          background-color : #000000;
      }
div#navcontainer li a:visited {
          color : #ffffff;
          background : #000000;
      }
ul#navlist li a:hover {
          border-color : #000000;
          color : #000000;
          background : #ffffff;
      }