<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>My Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=koi8-r" />
    <style type="text/css">
      @import url(./css2.css);
    </style>
  </head>
  
  <body>
        
        <div id="global">
          <div id="header">
            
            <ul>
              <li> <a class="current" href="#">Home</a> </li>
              <li> <a href="#">Blog</a> </li>
              <li> <a href="#">Download</a> </li>
              <li> <a href="#">About</a> </li>
            </ul>
        
        
            <div class="lefttext">
              <h1>The Rose of Love</h1>
              <em>prickle is everywhere...</em>
              <span id="bigtext">Home</span>
            </div>
        
          </div>
        
          <div id="content">
        
            <div class="leftone">
              <h3>Introduction</h3>
                <p class="uptext">Get started!</p>
                <p>Hello everyone! My name is George i'm newest in web-design. <strong>The Rose of Love</strong> is my fourth suggestion to <a href="http://www.oswd.org">oswd.org</a>. Avaliable three layouts: standart (this page), blue (<a href="./bindex.html">here</a>), green (<a href="./lgindex.html">here</a>). The background images gets from <a href="http://squidfingers.com">squidfingers.com</a>. I'm wanna say more about it :) but my english... so bad! I hope that in future time my english will be greater!! All feedback and other remarks can be send <a href="mailto:tetsucceed(at)gmail.com">there</a></p>

                <h3>Color layouts</h3>
                <ul>
                  <li> <a href="index.html">Standart scheme</a> </li>
                  <li> <a href="bindex.html">Blue scheme</a> </li>
                  <li> <a href="lgindex.html">Green scheme</a> </li>
                </ul>
                <h3>Links</h3>
                <ul>
                  <li> <a href="http://www.oswd.org">OSWD</a> </li>
                  <li> <a href="http://www.w3c.org">W3C</a> </li>
                  <li> <a href="http://www.google.org">Google</a> </li>
                </ul>

            </div>
        
            <div class="right">
                <h2>Header 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque felis. Curabitur elementum. Suspendisse ultricies, turpis et pulvinar molestie, felis risus semper odio, et luctus sapien lectus eget nibh. Nam gravida mattis lacus.Cras scelerisque odio eu tortor.</p>
            </div>

            
            
            <div class="right">
                <h2>Header 2</h2>
                <p>Nulla risus. Ut elit enim, sollicitudin eget, sagittis vitae, adipiscing in, justo. Nulla in odio. Morbi elementum rhoncus elit. Mauris a metus. Fusce nonummy turpis eget sapien. Mauris vitae urna. Ut eget nisi. Duis congue lorem ut urna. Proin vitae elit in ante aliquet tincidunt. Nulla facilisi. Maecenas volutpat ipsum sit amet pede.</p>
                <h3>Sub Header</h3>
            </div>
            
            <div id="bottom">
              <div class="bleft"><p>This is example of bottom text. Three column layouts is available at bottomside.</p></div>
              <div class="bleft"><p>This is example of bottom text. Three column layouts is available at bottomside.</p></div>
              <div class="bleft"><p>This is example of bottom text. Three column layouts is available at bottomside.</p></div>
            </div>
        
        <div class="divend1">&nbsp;</div>
        
          </div>

        </div>
        
        <div id="footer">
            <p>&copy; 2006 <strong>Your Name</strong> | Design by <a href="mailto:tetsucceed(at)gmail.com">tetsucceed</a>| background image by <a href="http://squidfingers.com">squidfingers.com</a></p>
        </div>
  
  </body>
</html>