<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
<meta name="description" content="description" />
<meta name="keywords" content="keywords" />
<meta name="author" content="your-name  / Original design - Martin Villiam Jensen - http://blackcave.dk/" />
<title></title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>



  <div id="headleft">
  </div>

  <div id="headright">
  </div>

  <div id="head">
<h1>My Little Blue Corner</h1>
  </div>

<div id="main">

  <div id="menu">
<a href="index.html" title="">Home</a>
<a href="index.html" title="">About Us</a>
<a href="index.html" title="">Blog</a>
<a href="index.html" title="">Forum</a>
<a href="index.html" title="">Links</a>
<a href="index.html" title="">Contact</a>
  </div>

  <div id="extra">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer id ipsum scelerisque nisl sagittis dignissim. Fusce dapibus urna ac tellus. Aliquam sodales. Sed interdum porttitor nunc.
  </div>

  <div id="content">
Thank you for downloading one of my web-designs... <br />
The templates is open source, but as long as you use the design please keep my name and link at the end of this site.<br />
This template is free for you, as long you dont use it for commercial use. if you want it for commercial use, please contact me at <a href="mailto:info@blackcave.dk">info@blackcave.dk</a>, then i'll make a price for you.<br />
<br />
<i>- Made by <a href="http://www.blackcave.dk" title="Martin Villiam Jensen">Martin Villiam Jensen</a></i>
  </div>



</div>

  <p class="foot">This site is designed by <a href="http://www.blackcave.dk" title="Martin Villiam Jensen">Martin Villiam Jensen</a> </p>

</body>
</html>
