<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title> Simplex 3 </title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta name="Author" content="Ganesh Gunasegaran"/>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
</head>

<body>
	<div id="container" >
		<div id="header">
			<h1>Simplex 3</h1>
		</div>
		<div id="topNavigation">
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Products</a></li>
				<li class="selected"><a href="#">Home</a></li>
			</ul>
		</div>

		<div id="content">
			<span class="contentBox">
				This template was intially designed for a commercial site. I scraped the design in favour a flexible width design. As usual the design is free for any use. For comments, be it a bouquet or a brickbat, shoot me a mail at <a href="mailto:gg@sprout.in">gg@sprout.in</a>. 
			</span>
			<h4>Introduction</h4>
			<p class="indent">
				Etiam ante nulla, dictum a, placerat ac, cursus ac, mauris. In nonummy lacus quis nulla. In suscipit ipsum. 	Donec id ante sed neque lobortis accumsan. Mauris aliquet. Vestibulum pharetra euismod mauris. Suspendisse posuere nulla sed purus. Morbi dignissim semper felis. Mauris nulla. Donec felis.                    
			</p>
			<h4>Site News</h4>
			<p>
				Mauris sagittis pretium sapien. Curabitur luctus elit et felis. Mauris convallis. Sed consectetuer dignissim dui. Nulla sit amet dui sed ligula pellentesque mattis. Aliquam congue. 
			</p>
			<p>
				Ut <a href="#">vel sem ac </a>erat dictum malesuada. Vivamus aliquet rhoncus erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus pretium ullamcorper turpis.
			</p>
			<p>
				Ut vel sem ac erat dictum malesuada. Vivamus aliquet rhoncus erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus pretium ullamcorper turpis.
			</p>

		</div>

		<div id="rightNavigation">
			<div class="navBox">
				<a href="#">Home</a>
				<a href="#">Products</a>
				<a href="#">Services</a>
				<a href="#">Support</a>
				<a href="#">About Us</a>
			</div>
		</div>
		<div id="footer">&nbsp;</div>
	</div>
</body>
</html>
