<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>-your title here-</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="-enter you keywords here-" />
<meta name="author" content="-your name here-" />
<meta name="Description" content="-your description here-" />
<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="default" />
</head>
<body> 
<div id="container"> 
  <h1 class="logo"> 
    <!-- Remove the link in case of homepage --> 
    <a href="#">ap<span class="apnerve">n&euml;rve</span>.com</a></h1> 
  <h2 class="indent">apt thinking... apt technology. </h2> 
  <div id="topnav"><a class="active">home</a><span class="hide"> | </span><a href="#intro">Introduction</a><span class="hide"> | </span><a href="#design">The Design</a><span class="hide"> | </span><a href="#apnerve"> The Author </a> <span class="hide"> | </span><a href="#contact">Contact</a></div> 
  <div id="header"> 
    <h2 class="white">Welcome to apnerve.com...</h2> 
    <p>...my first open source web template. This is a user centered design with emphasis on usability and accessibility rather than look n feel. No nasty tables have been used while designing and all the code is validated by <acronym title="world wide web consortium">W3C</acronym> validators. Moreover, the use of images has been kept to the minimum for small file size, hence less loading time. </p> 
    <p>Use the navigation tabs provided at the top.</p> 
  </div> 
  <div id="content"> 
    <div id="main"> 
      <h3 class="hide">Main contents</h3> 
      <!-- An example of bread crumbs generally used in other pages --> 
      <div id="breadcrumb"><a href="#">home</a> &raquo; <a href="#">page1</a> &raquo; <a href="#">page2</a></div> 
      <h3 id="intro">The introduction: </h3> 
      <p>Hello! nd welcome to apnerve.com- my first open source web template. The color scheme is pleasing to the eyes and overall design is aimed at providing good usability to the user. That is to say...its a case of user centered design.</p> 
      <h3 id="design">The Design :</h3> 
      <p>I've used <acronym title="hyper text mark-up language">HTML</acronym>4.01 for markup and <acronym title="cascading style sheets">CSS</acronym> for layout, thereby ensuring a higher content to code ratio. I haven't used any images as I prefer giving much importance to colours and typography. No use of flash files, tables, image maps and scripts has been made so as to confirm to the accessibility guidelines. To use this template, you may need a <acronym title="what you see is what you get">WSIWYG</acronym> editor.(though any text editor would be sufficient). I encourage you to play around with the CSS file and modify it as per requirement. But please don't forget to send me the link, after you have done, so that I may see it.</p> 
      <h3 id="apnerve">The Author:</h3> 
      <p>hey! Its the time to blow my trumpet. Well... I'm not much of a designer but I do love designing web pages. This all started just a couple of months ago, when I first had a look at <a href="http://www.csszengarden.com">csszengarden.com</a>. Eversince I visited that page, a strong desire to design web pages grew in me. Then I started learning basic <acronym title="hyper text mark-up language">HTML</acronym> from <a href="http://www.w3schools.org">w3schools.org</a>, <a href="http://www.htmlhelp.com">htmlhelp</a>, and other online resources followed by viewing the source of major <acronym title="cascading style sheets">CSS</acronym> based pages. Hence, though I don't have a formal training in web-designing, I can design web pages fairly well. I'm also planning to learn <acronym title="php hyper preprocessor">PHP</acronym>, <acronym title="eXtensible hyper text mark-up language">XHTML</acronym>, JavaScripts in due course of time. </p> 
      <h3 id="contact">Contact:</h3> 
      <p>If you decide to use this template please drop me a line to let me know! Feel free to get in touch if you are interested in this template or just if you are in need of assistance while setting it up. I look forward to hearing from you! My email:apnerve@gmail.com</p> 
      <h3>Lorem ipsum:</h3> 
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p> 
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p> 
    </div> 
    <div id="sidebar"> 
      <h3 class="hide">Sidebar</h3> 
      <h3>More information: </h3> 
      <p>Here is the sidebar, where you can add things like news, linkage, random quotes e.t.c.</p> 
      <p>For more information and help (like editing, coding e.t.c) on this template, please feel free to email me:<br /> 
      ~ apnerve@gmail.com</p> 
      <h3>Links:</h3> 
      <ul class="sidelinks"> 
        <li><a href="#" class="sidelinks"><span>&raquo; </span>OSWD</a></li> 
        <li><a href="#" class="sidelinks"><span>&raquo; </span>OpenWebDesign</a></li> 
        <li><a href="#" class="sidelinks"><span>&raquo; </span>My Blog </a></li> 
        <li><a href="#" class="sidelinks"><span>&raquo; </span>Sharon Church</a></li> 
        <li><a href="#" class="sidelinks"><span>&raquo; </span>Gurujee</a></li> 
      </ul> 
      <div> 
        <h3>Latest News:</h3> 
        <p>~Download <em>open source</em> web templates at oswd.org</p> 
        <p><strong>~apnerve</strong> is featured on oswd.org and openwebdesign.org</p> 
        <p>~It took only 4 hours to design this template from scratch. </p> 
      </div> 
    </div> 
    <div id="infobar"> 
      <p><img src="images/babu_01.jpg" alt="apnerve" align="left" />&larr; This is me.</p> 
      <p><strong>apnerve.com</strong> is built with valid <acronym title="hyper text mark-up language">HTML</acronym>4.01 and <acronym title="cascading style sheets">CSS</acronym>. It has full support for browser-based font resizing and is readable in all text browsers.<br /> 
      ~ <a href="http://www.apnerve.blogspot.com">apnerve</a>. </p> 
    </div> 
  </div> 
  <div id="footer"><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://validator.w3.org/check?uri=referer">HTML</a> | <a href="http://www.getfirefox.com">Get Firefox</a> | <a href="http://www.oswd.org">OSWD</a> <br /> 
    Copyright &copy; 2006 (your name). All rights reserved.<br />
    <!-- You may use this template and edit it as you want to it to be. But please leave the following code intact --> 
  Design by <a href="http://www.apnerve.blogspot.com">apn&euml;rve</a></div> 
</div> 
</body>
</html>
