 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
 <meta name="description" content="Your title"/>
  <meta name="keywords" content="put, all, kinds, of keywords, seperate, them, by, commas "/>
   <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
    <title>Your title here</title>
     <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>

<body>


<!-- The top navigation, make your own links -->
<div id="nav">
<a href="/">Home</a> | <a href="news.php">News</a> | <a href="about.php">About</a> | <a href="help.php">Help</a> | <a 
href="contact.php">Contact</a> | <a href="sponsers.php">Sponsers</a> | <a href="downloads.php">Downloads</a>
</div>

<!-- The left navigation -->
<div id="nav2">
<h1>IRC</h1>
<ul><li><a href="#">Servers</a></li><li><a href="irc://irc.darkcenter.net/#darkcenter">Chat now!</a></li><li><a 
href="#">Services</a></li></ul>
<h1>Community</h1>
<ul><li><a href="#">Forums</a></li><li><a href="#">Join us!</a></li><li><a href="#">Login in</a></li><li><a
href="#">Reviews</a></li><li><a href="#">Screenshots</a></li></ul>
</div>

<div id="content">

<!-- Banner, with some sample text -->
<div id="banner">
OSWD Template - Grey Silk
</div>

<!-- the content area -->
<h1>Welcome</h1>
<p>You probably haven't seen this before, a banner under the navigation, I guess that's what makes it unique. This layout was done for 
a website, however they changed it to a complete different one so I thought I'd put it here for those who would like to use it; and to 
pay the work it took me. Took hours trying to positioning CSS to work with I.E, but finally succeeded. </p>
<h1>Are you using Grey Silk?</h1>
<p>I'm always curious as to who is using this layout, so feel free to drop me a message at aven@darkcenter.net. Everyone is welcome to 
use this template but please do not remove the copyright. If you have any questions or comments, email me or for those familiar with 
IRC, drop  by irc.darkcenter.net #darkcenter to expect faster replies.</p>
<p>Hope you like this layout, enjoy!</p>
<!-- Copyright - DO NOT REMOVE -->
<div id="copyright">
Layout is &copy; 2006, <a href="http://oswd.org">OSWD</a> and <a href="http://darkcenter.net">DarkCenter</a>
</div>
</div>

</body>
</html>
