<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<link rel="stylesheet" type="text/css" href="style.css" />

    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <meta name="robots" content="noarchive" />

<title>DirtyHarry by noarch</title>    

</head>

<body>
  

	<div id="header">
	  <div id="logo"><h1>DIRTYHARRY</h1></div>
          <h2><a href="#">DIRTYHARRY.com</a> &gt; <a href="#">Home</a></h2>
	</div>

	<div id="structure">
	  
	  <div id="menu">
	     <ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About us</a></li>
		<li><a href="#">Forum</a></li>
		<li><a href="#">Site map</a></li>
		<li><a href="#">Design</a></li>
		<li><a href="#">Contact</a></li>
	     </ul>	
	  </div>

	  <div id="txt">
 		<h1>Open Source</h1>
		<p>
		This template is release as Open Source, so you can use, modify or whatever you want!. I appreciate very much if you leave the designer's name on the footer, but if you really wanna remove it, you can do it. If you are using this template, please <a href="mailto:noarch@gmail.com">Send me a screenshot</a> of your work!
</p>

<h1>Inspiration</h1>
<p>
The new hit/videoclip of <a href="http://www.gorillaz.com">Gorillaz</a>. I was listening that song and decided to do a desertic theme. The rest is pure imagination and code!
</p>


<h1>Simple Theme</h1>
<p>
I really don't like fancy stuff. For me it's better a simple but flexible theme, not trying to abuse the bandwidth. I tried to keep the code clear and ordered, and separate code from layout. DirtyHarry is valid XHTML 1.1 and CSS2.
</p>

	
	  </div>
	
	</div>
	
	  <div id="footer">
	&copy; 2006 Your Company | Design by <a href="mailto:noarch@gmail.com">Cristobal Castillo</a>
	  </div>
		
	
</body>
</html>