<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>

	<div id="container">
		<div id="header">
			<h1>Yoursite.Com</h1>
			<h3>Your Usual Moto</h3>
		</div>
		<div id="nav">
			<a href="#">Home</a>
			<a href="#">Products</a>
			<a href="#">Services</a>
			<a href="#">Support</a>
			<a href="mailto:ray.gerrard@ntlworld.com">Contact</a>
		</div>
		<div id="content">
		<h2>Welcome</h2>
			<p>Hi, thanks for checking out this design. This is my 8<sup>th</sup> for OSWD, as you can guess by the name "ray_08".</p>
			<p>I think that this is one of my best designs submitted to date, it displays correctly in IE6 and mozilla firefox 1.5, on Windows XP @ 1024 by 768. not sure on other browsers or resolutions, but i only have these to test. </p>
		<h2>Using this design</h2>
			<p>You may use any of my designs as you wish, it would be nice to have some credit for my work but it isnt compulsary. If you make any changes to my designs let me know so i can check them out.</p>
		<h2>My Designs</h2>
			<p>Please be sure to check out my OSWD portfolio, you can view it by clicking <a href="http://www.oswd.org/designs/search/designer/id/8562/">here</a>.</p>
		<h2>Dummy text</h2>
			<p>This is just some good old fashioned dummy text that i have entered to fill the page up. This is just some good old fashioned dummy text that i have entered to fill the page up. This is just some good old fashioned dummy text that i have entered to fill the page up. This is just some good old fashioned dummy text that i have entered to fill the page up. </p>
		<h2>Dummy text (AGAIN)</h2>
			<p>This is just some good old fashioned dummy text that i have entered to fill the page up. This is just some good old fashioned dummy text that i have entered to fill the page up. This is just some good old fashioned dummy text that i have entered to fill the page up. This is just some good old fashioned dummy text that i have entered to fill the page up. </p>
			
			</div>
		<div id="news">
			<p>here will be some news, nothing to see here now though :(</p>
			<p>here will be some news, nothing to see here now though :(</p>
			<p>here will be some news, nothing to see here now though :(</p>
			<a href="http://www.oswd.org/"><img src="images/oswd_button.gif" alt="OSWD" /></a>
		</div>
		<div id="footer">
			<p>Copyright 2006 | By <a href="mailto:ray.gerrard@ntlworld.com">Ray Gerrard</a></p>
		</div>
	</div>
</body>
</html>
