<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sudoku</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
	<body>
		<div id="container">
			<div id="topPanel">
				<img alt="" src="images/sudok_quart.jpg"/>
				<img alt="" src="images/sudoku_logo.jpg"/>
			    <img alt="" src="images/sudoku_gross.jpg"/>
			</div>
			<div id="leftPanel">
				<div id="leftList">
					<ul id="navlist">
						<li id="active"><a href="#" id="current">Sudoku</a></li>
						<li><a href="index.html">Sudoku 1</a></li>
						<li><a href="index.html">Sudoku 2</a></li>
						<li><a href="index.html">Sudoku 3</a></li>
						<li><a href="index.html">Sudoku 4</a></li>
						<li><a href="index.html">Sudoku 5</a></li>
						<li><a href="index.html">Sudoku 6</a></li>
					</ul>
				</div>
				<div id="leftImage">
					<img alt="" src="images/sudoku_gross_3.jpg"/>
				</div>
			
			
			</div>
			<div id="content">
			    <div id="mainText">
			    
			    <p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
				</p>
				<p>
				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
				</div>
			</div>
			<div id="rightPanel">
			    <div id="rightText">
				    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex.</p>
				</div>
				<div id="rightImage">
					<img alt="" src="images/sudoku_viel.jpg"/>
				</div>
			</div>
		</div>	
	</body>
</html>
