body
{
text-align: center;
font-family:  arial;
}

#container
{
width: 760px;
margin: 0 auto;
text-align: left;
position: relative;
}

#topPanel
{
width: 760px;
height: 200px;
position: absolute;
top: 0px;
left: 0px;
}
#content
{
width: 360px;
height: 400px;
position: absolute;
top: 200px;
left: 200px;
}
#mainText
{
margin-left: 20px;
margin-right: 20px;
margin-top: 10px;
text-align: justify;
}

#leftPanel
{
width: 200px;
height: 400px;
position: absolute;
top: 200px;
left: 0;
}


#leftList
{
width: 200px;
}

#leftList ul
{
list-style-type: none;
padding: 0;
margin-left: 0px;
margin-top: 10px;
}

#leftList li
{
background-image: url(images/sudoku_icon.jpg);
background-repeat: no-repeat;
background-position: 0em;
background-color: #bbd7f3;
padding-left: 1.2em;
}

#leftList a
{
display: block;
padding: 3px;
width: 175px;
background-color: #003366;
border-bottom: 1px solid #eee;
}

#leftList a:link, #navlist a:visited
{
color: #EEE;
text-decoration: none;
}

#leftList a:hover
{
background-color: #87b8ea;
color: #fff;
}

#leftImage
{
margin-top: 20px;
}

#rightPanel
{
width: 200px;
height: 400px;
position: absolute;
top: 200px;
left: 560px;
}

#rightImage
{
margin-top: 10px;
}
#rightText
{
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
text-align: justify;
}



