/* Made By Kodokhunt ak.a hendraw4n, http://kodokhunt.blogsome.com */

/*GLOBAL--------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size: 9pt;
	color: #808080;
}

a, a:visited {
	text-decoration: underline;
	color: #000;
}

a:hover {
	color: #509090;
}

h3 {
   font-size:11px;
}

/*KOTAK BESAR---------------------------------------------------*/

#container {
	width: 760px;
	background: #fff;
	margin: 0 auto;
}

/*HEADER-------------------------------------------------------*/

#header {
	width: 750px;
	height: 80px;
	background:#fff url(header.gif) no-repeat;
}

#header h1{
	padding-top: 15px;
	font-size:14pt;
	font-weight:bold;
	color: #fff;	
	padding-left: 18px;
}

#header h2{
	font-size: 9pt;
	padding-left: 18px;
	color: #fff;	
}

#header a, #header a:visited {
   color:#fff;
   text-decoration:none;
}

#header a:hover {
    color:#fff;
	border-bottom:1px solid #fff;
}

/*NAVIGASI BUTTON----------------------------------------*/

#navigasi {
	width: 750px;
	height: 30px;
	background:#fff url(navigasi.gif) no-repeat;
	font-weight: bold;
	font-size: 8pt;
	padding-top: 5px;
	text-align:center;
}

#navigasi a, #navigasi a:visited {
	color: #fff;
	text-decoration: none;
	margin-right: 15px;
}

#navigasi a:hover {
	color: #FFF;
	border-bottom:1px solid #fff;
}

/*LEFT SIDE---------------------------------------------*/

#left {
	color: #808080;
	width: 134px;
	float: left;
	margin-left: 10px;
	padding: 8px;
}

#left p {
	margin-bottom: 20px;
	background: #fff;
}

#left li {
	list-style-image: url(b.gif);
}

#left ul {
    margin: 0px 0px 0px 15px;
	padding: 0px 0px 10px 5px;
}

#left h3 {
    display:block;
    background:#ccc;
    color:#808080;
	padding-left:10px;
	margin-bottom: 5px;
}

/*RIGHT SIDE-------------------------------------------------*/

#right {
	color: #808080;
	width: 134px;
	float: right;
	padding: 8px;
	margin-right: 18px;
}

#right p {
	margin-bottom: 20px;
	background: #fff;
}

#right h3 {
    display:block;
    background:#ccc;
    color:#808080;
	padding-left:10px;
	margin-bottom: 5px;
}

#right li {
	list-style-image: url(b.gif);
}

#right ul {
    margin: 0px 0px 0px 15px;
	padding: 0px 0px 10px 0px;
}

/*CONTENT------------------------------------------------*/

#content {
	float: left;
	width: 400px;
	margin: 8px 0 0 4px;
}

#content h2{
	font-size: 12pt;
	font-weight: bold;
	color: #509090;
	margin-bottom: 5px;
	padding-left: 14px;
	background: #fff;
	border-bottom:1px solid #509090;
}

#content h2 a {
	color: #509090;
	text-decoration:none;
}

#content h2 a:hover {
	color: #000;
	font-weight:bold;
}

#content p {
	margin-bottom: 20px;
	padding-left: 14px;
	background: #fff;
}

#content a, #content a:visited {
   color:#000;
   text-decoration:underline;
}

#content a:hover {
    color:#509090;
	text-decoration:none;
}
 
/*SEARCH----------------------------------------------------------*/

input.text {
	width: 70px;	
	border: 1px solid #ccc;
}

input.button {
	color: #000;
	padding-left: 0px;
	font-size: 8pt;	
	border: none;
	background: none;
	}

#box {
	padding: 3px;
	background:#fff url(searchbox.gif) no-repeat;
	height: 20px;
	margin-bottom:10px;
}

/*FOOTER------------------------------------------------------*/

#footer {
	color: #fff;
	font-size: 7pt;
	background:#fff url(footer.gif) no-repeat;
	clear: both;
	width: 740px;
	padding: 4px;
	text-align:center;
}

#footer a, #footer a:visited{
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
	border-bottom:1px solid #fff;
}