<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title> Nautica03 By http://www.studio7designs.com </title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="Author" content="Aran @ Studio7designs.com" />
	<meta name="Robots" content="index,follow" />
	<meta name="Description" content="Put your description text here" />
	<meta name="Keywords" content="Open Source Web Design and Templates" />
	<link rel="stylesheet" href="stylesheet.css" type="text/css" />
</head>

<body>

     <div id="blogtitle"><div id="small">Your Blog news or current info and links etc |  <a href="#">Link</a>  |  <a href="#">Link</a>  |   <a href="#">Link</a></div></div>

<div id="border">

	<div id="container">

		<div id="content">
		
		  <div id="topmenu">
     <ul>
    <li><a href="#" title="Downloads"><span>Downloads</span></a></li>
    <li><a href="#" title="Gallery"><span>Gallery</span></a></li>
	<li><a href="#" title="Links"><span>Subscribe</span></a></li>
	<li><a href="#" title="Links"><span>Blog</span></a></li>
	<li><a href="#" title="Links"><span>Contact</span></a></li>
	<li><a href="#" title="Links"><span>RSS</span></a></li>
	</ul>
</div>
		  <div id="introduction">
				<h3>Page navigation</h3>
				<ul>
					<li><a href="#">Example Link 1</a></li>
					<li><a href="#">Example Link 2</a></li>
					<li><a href="#">Example Link 3</a></li>
					<li><a href="#">Example Link 4</a></li>
				</ul>
				<h3>sub page menu </h3>
				<ul>
					<li><a href="#">Example Link 1</a></li>
					<li><a href="#">Example Link 2</a></li>
					<li><a href="#">Example Link 3</a></li>
					<li><a href="#">Example Link 4</a></li>
				</ul>
<br />
<br />
<br />
 <img src="images/n3.jpg" alt="n3 logo" width="160" height="59" /><br />
	 </div>
	   <br />
		 <br />

               <h2><span>Nautica03</span></h2>

			  <div class="maintext">
			
			  <p>
			  Thank you to the multiple OS designers for the tips and tricks that made this template possibel and for all the              inspiration for this theme. <br />
			  This is a OS template for your enjoyment. Thanks OWD and others for support All I ask is that you <a href="mailto:aran@studio7designs.com">email me</a>, and if you can, please keep a <a href="http://www.studio7designs.com">link</a>              to me at the footer.</p>
			  <p>
			 This template is version 1.0 - I hope to make some updates to this template when I have more experience, namely             the ability to keep the footer at the bottom of the page no matter the content. right now there is a 150px margin             keeping it below the text... Obviously you would want to change that per page as your page gets longer. </p>
			 <p>
				I must thank &quot;<a href=                "http://openwebdesign.org/viewdesign.phtml?id=2586&amp;referer=%2Fbrowse.php%3Fpage%3D3">I see frogs</a>&quot; for the great            ideas with the mouse overs on the a hover, I think it looks sweet with this design. If you have any questions or            comments            please email me or visit my <a href="http://www.studio7designs.com">website</a> for more            templates.<br />
			Thanks for looking!<br />
			<br />
			<img src="images/mountain.jpg" alt="mountain" class="left" width="115" height="92" /> <br />
			This photo was taken on Van Island BC <br />
			This shows the .left class that can be applied to images in the &lt;img src=&quot;image.jpg&quot; alt=&quot;image            &quot; class=&quot;left&quot; </p>
			</div>
			 
			<div class="maintext3"><div class="splitleft">
		    <p>This is a split left box that you can use to split your text if you would like to do so. you can also set the
			<br />
		    backround color in the split left class.
			</p>
		    </div>
			
				<div class="splitright">
				
		  <p>This is a split right box that you can use to split your text if you would like to do so. Image example:            <br /> you can also set the backround color in the class.  <img src="images/greenright.jpg" alt="end of text leaf"       width="50" height="28" /></p></div>
      
	  </div>
	  </div>
	  </div>

		<div id="footer">Original Template  by <a href="http://www.iseeyou-designs.com">STUDIO7DESIGNS </a> | Copyright 2006         Your Company Name </div>

       </div>




    </body>

</html>