<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
	<head>
		<title>Penchant for Photos</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link href="lightbox.css" rel="stylesheet" type="text/css" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="lightbox.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="title">
				<h1>penchant<span>for</span>photos</h1>
				<h2>gallery-style template</h2>
			</div>
			<div id="nav">
				<ul>
				<li id="link1"><a href="index.html">home</a></li>
				<li id="link2"><a href="gallery.html" id="active">gallery</a></li>
				<li id="link3"><a href="#">location</a></li>
				<li id="link4"><a href="#">globalization</a></li>
				<li id="link5"><a href="#">save the earth</a></li>
				<li id="link6"><a href="#">info</a></li>
				<li id="link7"><a href="#">contact</a></li>
				</ul>
			</div>
			<div id="content">
				<h1>gallery</h1>
				<p>I would really have liked to implement a cool DHTML or JavaScript gallery demo here, but the "no script" rule at OSWD forces me to only give you a link to a tutorial on what I wanted to do. This gallery technique was mentioned on the designologue, that is Lokesh Dhakar's <a target="_blank" href="http://www.huddletogether.com/projects/lightbox/">Lightbox technique</a>.</p>
				<p>I have included some sample images, with the formatting done so that you can implement the Lightbox technique very easily. I have included the lightbox.css file and the two images needed for the technique, you just need to download the <a target="_blank" href="http://www.huddletogether.com/projects/lightbox/lightbox.js">lightbox.js</a> file to see the script in action.</p>

<div class="galleryimage"><a href="images/gallery/sunrise1.jpg" rel="lightbox" title="Lightbox Comment Goes Here"><img src="images/gallery/sunrise1-thumbnail.jpg" alt="Image #1" /><br />Sunrise 1</a></div>
<div class="galleryimage"><a href="images/gallery/sunrise2.jpg" rel="lightbox" title="Lightbox Comment Goes Here"><img src="images/gallery/sunrise2-thumbnail.jpg" alt="Image #2" /><br />Sunrise 2</a></div>
<div class="galleryimage"><a href="images/gallery/sunrise3.jpg" rel="lightbox" title="Lightbox Comment Goes Here"><img src="images/gallery/sunrise3-thumbnail.jpg" alt="Image #3" /><br />Sunrise 3</a></div>
			</div>
		</div>
	</body>
</html>
