<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
	<head>
		<title>Penchant for Photos</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div id="container">
			<div id="title">
				<h1>penchant<span>for</span>photos</h1>
				<h2>gallery-style template</h2>
			</div>
			<div id="nav">
				<ul>
				<li id="link1"><a href="index.html" id="active">home</a></li>
				<li id="link2"><a href="gallery.html">gallery</a></li>
				<li id="link3"><a href="#">location</a></li>
				<li id="link4"><a href="#">globalization</a></li>
				<li id="link5"><a href="#">save the earth</a></li>
				<li id="link6"><a href="#">info</a></li>
				<li id="link7"><a href="#">contact</a></li>
				</ul>
			</div>
			<div id="content">
				<h1>about the design</h1>
				<p>This design was created by <a href="http://oswd.org/user/profile/id/6498">acousticsam</a> for <a href="http://www.oswd.org">OSWD</a>. This layout is open source.</p>
				<p>My first attempt at an image-based layout, <strong>Penchant For Photos</strong> is ideal for a photo gallery or similar website. I have included a sample gallery; view it via the navigation menu. However, all the other links are not functional.</p>

				<h1>about the designer</h1>
				<p>I have been building web sites since 2001, starting out with basic HTML 4.01 and table-based layouts. I have progressed into the realm of CSS and XHTML1.1 in recent years, favouring DIVs rather than tables. I have yet to learn JavaScript, but that is the next big step in my web design career.</p>
				<p>I code for the fun of coding, building web pages on a whim and testing out various ideas. I try to focus beyond aesthetics and write clean, easy-to-read, standards-compliant code with lots of helpful comments.</p>

				<h1>design specifications</h1>
				<p><strong>Penchant For Photos</strong> was tested in FF1.0.7 and IE6. It validates as standards-compliant for XHTML 1.1 and CSS.</p>
				<p>All images are free to use without restriction. The background image was created with this <a href="http://lab.rails2u.com/bgmaker/">background image maker</a> powered by Ruby on Rails. The background image for the content box, as well as the images in the sample gallery, are taken from the <a href="http://www.sxc.hu">Stock.Xchng</a>. The navigation icons are also free to use.</p>
			</div>
		</div>
	</body>
</html>
