<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>.Clouds</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=koi8-r" />
    
    <style type="text/css">
    
      @import url(./css.css);
    
    </style>
    
  </head>
  <body>
  
  <div id="global"> <!-- GLOBAL --> 
    <div id="header"> <!-- HEADER -->
    
    <a name="top" />
    
      <a href="#">First</a>
      <a href="#">Second</a>
      
    </div>
    <!-- HEADER END -->
  
    <div id="himg"> <!-- HIMG -->
      
      <h1> .Clouds  </h1>
      <em> .The Sun Is Shining...  </em>

    </div>
      <!-- HIMG END -->
  
    <div id="menu"> <!-- MENU -->

      <a href="#"> Home</a>
      <a href="#"> Portfolio</a>
      <a href="#"> Projects </a>
      <a href="#"> Links</a>
      <a href="#"> About</a>
  
    </div>
        <!-- MENU END -->

    <div id="content"> <!-- CONTENT -->  
        <div class="rightcon"> <!-- RIGHT CONTENT -->

            <strong> .News </strong>

            <p> Added this column for attentions and some other most popular information :) So, now in this place i'm have put the news, but you can put here some links like <a href="#"> this </a>. Enjoy! </p>
  
        </div>   
        <!-- RIGHT CONTENT END -->
  
        <h1>.Introduction </h1>
        
        <p>This is my second work codename - Clouds. I'm tested this design on FireFox 1.0.7, Opera 7.95, Konqueror and some other browsers. Have fun!</p>

        <h3>It's Lorem!</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque felis. Curabitur elementum. Suspendisse ultricies, turpis et pulvinar molestie, felis risus semper odio, et luctus sapien lectus eget nibh. Nam gravida mattis lacus.Cras scelerisque odio eu tortor. Curabitur mattis lacus sit amet ante dictum rhoncus. Integer euismod velit id tortor. Sed dui. Sed nonummy, ante quis tincidunt vehicula, risus augue ultrices felis, sed sagittis ante ipsum vel odio. Aenean eros quam, vulputate nec, facilisis eget, viverra at, tortor. Phasellus sit amet ipsum. Integer massa orci, gravida nec, semper quis, congue at, mi. Ut sagittis.</p>
        
        <p> Some links: </p>

          <ul class="lst">
            <li> <a href="http://www.oswd.org"> OSWD </a> </li>
            <li> <a href="http://www.w3c.org"> W3C </a> </li>
            <li> <a href="http://www.google.com"> Google </a> </li>
          </ul>
        
        <div class="gright">
         [<a href="#">read it</a>]
        </div>
        
        <div class="gtop">
            <p>Add 13th [13:20] Dec 05 - (tetsucceed)
            <a href="#top">Go top</a> </p>
        </div>
    
        <h1>.End Notes </h1>
    
        <p>Nulla risus. Ut elit enim, sollicitudin eget, sagittis vitae, adipiscing in, justo. Nulla in odio. Morbi elementum rhoncus elit. Mauris a metus. Fusce nonummy turpis eget sapien. Mauris vitae urna. Ut eget nisi. Duis congue lorem ut urna. Proin vitae elit in ante aliquet tincidunt. Nulla facilisi. Maecenas volutpat ipsum sit amet pede.</p>
    
        <p>The blockqoute test:</p>
            
        <blockquote>
            <p>Nulla risus. Ut elit enim, sollicitudin eget, sagittis vitae, adipiscing in, justo. Nulla in odio. Morbi elementum rhoncus elit. Mauris a metus. Fusce nonummy turpis eget sapien. Mauris vitae urna. Ut eget nisi. Duis congue lorem ut urna. Proin vitae elit in ante aliquet tincidunt. Nulla facilisi. Maecenas volutpat ipsum sit amet pede. <a href="#"> &gt;&gt; read more...</a> </p>
        </blockquote>
        
        
        <div class="gright">
         [<a href="#">read it</a>]
        </div>
        <div class="gtop"> 
            <p>Add 13th [13:10] Dec 05 - (tetsucceed)
            <a href="#top">Go top</a> </p>
        </div>
    
      </div> 
      <!-- CONTENT END -->
    
      <div id="footer"> <!-- FOOTER -->
        
          Design by <a title="Email me" href="mailto:tetsucceed@gmail.com"> tetsucceed </a> <br /> 
          Copyright (C) Your copy 2005 <br />
          <a title="Valid XHTML 1.0 Strict" href="http://validator.w3.org/check?uri=referer"> Valid XHTML </a>|<a title="Valid CSS" href="http://jigsaw.w3.org/css-validator/validator-uri.html"> Valid CSS </a> 
            
      </div>
      <!-- FOOTER END -->    
    </div>
    <!-- GLOBAL END -->
  
  </body>
</html>