<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="styles.css" rel="stylesheet" type="text/css" />
<title>The Technology site</title>
</head>
<body>
		<div id="container">
		<div id="banner">
		<div id="lefttextheader">
  <h3>The Technology Site </h3>
</div>
		</div>
		<div id="navbar">
		
			<a href="#">Home</a>
			<a href="#">About Us </a>
			<a href="#">Services</a>
			<a href="#">Products</a>
			<a href="#">Links</a>
			<a href="#">Contact Us </a>
		
		</div>
	  <div id="sidebar-a">
		  <p>Side Links </p>
		  <p><a href="#">Side Link 1</a></p>
		  <p><a href="#">Side Link 1</a></p>
		  <p><a href="#">Side Link 1</a></p>
		  <p><a href="#">Side Link 1</a></p>
		  <p><a href="#">Side Link 1</a></p>
		  <p><img src="img1.jpg" alt="Chinook Engine" width="140" height="71" /> </p>
		  <p><img src="img2.jpg" alt="Chinook In Flight" width="140" height="71" /></p>
	  </div>

<div id="content">
  <h3>Welcome to our website</h3>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ligula lorem, consequat eget, tristique nec, auctor quis, purus. Vivamus ut sem. Fusce aliquam nunc vitae purus. Aenean viverra malesuada libero. Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis. Curabitur posuere, pede vitae lacinia accumsan, enim nibh elementum orci, ut volutpat eros sapien nec sapien. Suspendisse neque arcu, ultrices commodo, pellentesque sit amet, ultricies ut, ipsum. Mauris et eros eget erat dapibus mollis. Mauris laoreet posuere odio. Nam ipsum ligula, ullamcorper eu, fringilla at, lacinia ut, augue. Nullam nunc.</p>
  <p>Sed et lectus in massa imperdiet tincidunt. Praesent neque tortor, sollicitudin non, euismod a, adipiscing a, est. Mauris diam metus, varius nec, faucibus at, faucibus sollicitudin, lectus. Nam posuere felis ac urna. Vestibulum tempor vestibulum urna. Nullam metus. Vivamus ac purus. Nullam interdum ullamcorper libero. Morbi vehicula imperdiet justo. Etiam mollis fringilla ante. Donec et dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
  <p>hymenaeos. Etiam mi libero, luctus nec, blandit ac, rutrum ac, lectus.</p>
  <p>posuere felis ac urna. Vestibulum tempor vestibulum urna. Nullam metus. Vivamus ac purus. Nullam interdum ullamcorper libero. Morbi vehicula imperdiet justo. Etiam mollis fringilla ante. Donec et dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
</div>

		<div class="footertext" id="footer">&nbsp;Valid XHTML | Valid CSS | Design by <a href="http://www.simonmarlow.info">Simon Marlow</a> </div>
	</div>
</body>
</html>
