<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>title here</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Site Name</h1>
		</div>
		<div id="content">
			<h2>heading here</h2>
			<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
			<h2>heading here</h2>
			<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
			<h2>heading here</h2>
			<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
			<h2>heading here</h2>
			<p>dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text </p>
		</div>
		<div id="nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">About Me</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div id="news">
				<p>Include recent news here, also an image would look good.</p>
				<p>Include recent news here, also an image would look good.</p>

		</div>
		<div id="footer">
			<p>&copy; copyright 2006 By Ray Gerrard</p>
		</div>	
	</div>
</body>
</html>
