<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Official Site of yours</title>
<link href="master.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="atas"></a>

<div id="rap">
	  <div id="header"> 
	    <h1>COMPANY NAME</h1>
	    <h2>COMPANY DESCRIPTION</h2>
 	  </div>
	   <!-- navigasi begin -->
		<div id="nav">
			<a href="#">Home</a>
			<a href="#">About</a>
			<a href="#">Services</a>
			<a href="#">Contact</a>
			<a href="http://oswd.org">OSWD</a>
		</div>
	   <!-- stop Navigasi -->
		<!-- Search-->
		<div id="cari">
			<form method="get" action="http://www.google.com/custom" />
			 <input name="q"  class="cari_gaya" size="25" maxlength="255" value="" type="text" />
			  <input name="sa" value="search" class="button_oke" type="submit" />
			   <input name="cof" value="" type="hidden" />
		</div>
		<div id="wrap">
		<!-- Content Left -->
		<div id="content_kiri">
			<h4 class="left"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Smooth K0d0k</h4>
				<div>
				This is a <a href="#">Smooth K0d0K</a> template. If you like this template, 
				you are free to do anything you want with it, use it on a commercial site if you want. 
				I apologize for the non-english variables I used.<br />Feel Free to <a href="#">Contact</a> Me.
				</div>
			<h4 class="left"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Lorem Ipsum</h4>
				<div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</div>
			<h4 class="left"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Lorem Ipsum</h4>
				<div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</div>
			<h4 class="left"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Lorem Ipsum</h4>
				<div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</div>
		</div>
		<!-- End of Left Content -->
		
		<!-- Right Content Start -->
		<div id="content_kanan">
			<h4 class="right"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Lorem Ipsum</h4>
				<div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</div>
			<h4 class="right"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Lorem Ipsum</h4>
				<div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</div>
			<h4 class="right"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Lorem Ipsum</h4>
				<div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</div>
			<h4 class="right"><span class="h0v312">&raquo;</span>&nbsp;&nbsp;Lorem Ipsum</h4>
				<div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</div>
		</div>
		<!-- End Of Content Right -->

			<!-- Middle Bottom -->
			<div id="clear_middle">
				<h4 class="middle">The MIDDLE BOTTOM</h4>
					<div id="middle_detil">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</div>
			</div>
			<!-- end Middle Bottom -->
		</div>
		<!-- end wrap -->

			<!-- mulai Footer -->	
			<div id="clear">
				<div id="foot">
				<a href="#atas" class="top">&nbsp;&nbsp;<sup>.:.</sup></a>
				Copyright &copy; 2006 <a href="#" class="font_foot">COMPANY NAME</a>
				<br />Made By <a href="http://kodokhunt.blogsome.com">Kodokhunt</a>
				</div>
			</div> 
</div>
<!-- end rap -->
</body>
</html>
