<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<!-- change this to the title you want to appear in browser title bar -->

<title>Fashion Profiler</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="dreamLogic" />
<meta name="description" content=" " />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>

<div id="outer">

<div id="wrap">


<!-- the title that appear in the page header -->

<div id="title"><h1>R&nbsp;&nbsp;E&nbsp;&nbsp;E&nbsp;&nbsp;T</h1></div>

<div id="header"></div>

<div id="navcontainer">
<ul id="navlist">
<li><a href="#">Home</a></li>
<li><a href="#">Portfolio</a></li>
<li><a href="#">Collection</a></li>
<li><a href="#">links</a></li>
<li><a href="#">contact</a></li>
<li><a href="http://validator.w3.org/check?uri=referer">xhtml</a></li>
</ul>
</div>

<div class="content">

<!-- here is your page content -->

<div class="pullquote"> 
        <p>B O L D</p>
        <p> L I K E</p>
        <p>ME.</p>
</div>

<h3>Welcome!</h3>
      <p> this is my first try to make something as open source. First of all, 
        i want to give the credit to dream logic whose fashion page gave me an 
        inspiration. </p>



<h3>About the Designer</h3>
      <p>the designer is young graduate seeking knowledge in terms of self exploraions<br/>
        available at getmoeen@gmail.com <br/></p>
      <p>About this Design</p>
      <p>This template can be used by any one any where on the theory of open source.
</p>

<!-- end page content -->

</div>


    <div id="footer"><br />
      copyrights 
      <!-- it'd be super if you left this link intact -->
      <a href="http://www.decodeit.biz">BLACK ZERO</a> </div>



</div>

</div>



</body>
</html>