<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!-- Template Design by www.studio7designs.com. -->

<head>
<meta http-equiv="Content-Language" content="en-gb" />
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<meta name="description" content="Studio7designs - Professional Photography and Graphic Designs, Victoria BC Canada" />
<meta name="keywords" content="Studio7designs" />
<meta name="author" content="Aran / Original design: Aran Down - http://www.studio7designs.com" />
<title>Nautica2.2</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<!-- Begin Body -->

<body>

<div id="border"><div id="container"> 

<!-- menu -->

<div id="topmenu">
     <ul>
    <li><a href="#" title="Downloads"><span>Downloads</span></a></li>
    <li><a href="#" title="Gallery"><span>Gallery</span></a></li>
	<li><a href="#" title="Links"><span>Links</span></a></li>
	<li><a href="#" title="Links"><span>Links</span></a></li>
	<li><a href="#" title="Links"><span>Links</span></a></li>
	<li><a href="#" title="Links"><span>Links</span></a></li>
	</ul>
</div>


<!-- header backround image is in the style sheet-->
<div id="header"></div>


<!-- content -->
<div id="content">

<div class="splitleft">

     <p><span class="style4">Welcome to Nautica2.2</span><br />
       <br />
     Many many thanks for to <a href="http://openwebdesign.org/userinfo.phtml?user=mejobloggs">'mejobloggs' </a>for all the    coding help. This is a simple theme that I had fun making, If there is anything that I can do better, please email me. Also, I need some help with margins, how to use them properly. You can use this theme for whatever, all I ask is if you want please keep a <a href="http://www.studio7designs.com">link</a> to my website and <a href="mailto:aran@studio7designs.com">email me</a>, I love to see my themes in action <br />
      <br />
      imperdiet, sapien pharetra congue luctus, orci orci suscipit ipsum, vitae hendrerit ante dui ac purus. Curabitur tristique velit ut nulla. Etiam volutpat pellentesque orci.
         Nunc abt <br />
       Nunc diam. Cras tempor ligula at dui. Aenean ornare velit at nunc. In vitae tortor aliquet purus porttitor gravida. Nullam massa dui, venenatis lobortis, interdum in, scelerisque. abs </p>
     <p>dui ac purus. Curabitur tristique velit ut nulla. Etiam volutpat pellentesque orci. Nunc tet <br />
Nunc diam. Cras tempor ligula at dui. Aenean ornare velit at nunc. In vitae tortor aliquet purus porttitor gravida. Nullam massa dui, venenatis lobortis, interdum in, scelerisque. be </p>
     <p>dui ac purus. Curabitur tristique velit ut nulla. Etiam volutpat pellentesque orci. Nunc hre <br />
Nunc diam. Cras tempor ligula at dui. Aenean ornare velit at nunc. In vitae tortor aliquet purus porttitor gravida. Nullam massa dui, venenatis lobortis, interdum in, scelerisque.</p>
     <p>dui ac purus. Curabitur tristique velit ut nulla. Etiam volutpat pellentesque orci. Etiam rul <br />
       Nunc diam. Cras tempor ligula at dui. Aenean ornare velit at nunc. In vitae tortor aliquet purus porttitor gravida. Nullam massa dui, venenatis lobortis, interdum in, </p>
     </div>

<!-- Begin Page Menu  -->

   <div id="introduction"><br /><h3>
			    Page navigation</h3>
				<ul>
					<li><a href="#">Example Link 1</a></li>
					<li><a href="#">Example Link 2</a></li>
					<li><a href="#">Example Link 3</a></li>
					<li><a href="#">Example Link 4</a></li>
				</ul>
				<h3>sub page menu </h3>
				<ul>
					<li><a href="#">Example Link 1</a></li>
					<li><a href="#">Example Link 2</a></li>
					<li><a href="#">Example Link 3</a></li>
					<li><a href="#">Example Link 4</a></li>
				</ul>
<br />
<br />
   <img src="images/n3.jpg" alt="n2" width="165" height="59" /></div>

  
</div>


<!-- footer -->

</div>
<div id="footer">
<span class="style5">Design by <a href="http://www.studio7designs.com">studio7designs</a> | copyright 2006 your name</span><br />
<br />
</div>
</div>

</body>

</html>