<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Gray is beautiful</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen" href="basic.css" type="text/css" />
<link rel="stylesheet" media="screen" href="better.css" type="text/css" />
</head>
<body>
<div id="main"> 
  <div id="head"> 
    <div id="nav"> 
      <ul>
        <li class="home"><a href="#" accesskey="h"><span>Home</span></a></li>
        <li class="about"><a href="#" accesskey="a"><span>About us</span></a></li>
        <li class="services"><a href="#" accesskey="s"><span>Services</span></a></li>
        <li class="portfolio"><a href="#" accesskey="p"><span>Portfolio</span></a></li>
        <li class="contact"><a href="#" accesskey="c"><span>Contact</span></a></li>
      </ul>
    </div>
  </div>
  <div id="content"> 
    <div id="words"> 
      <h1><a name="top" id="top"></a>Hi there!</h1>
      <p>First of all, thank you very much for choosing my design. This design 
        has been made as a<a href="http://shauninman.com"> Shaun Inman</a> hommage. 
        Being a tribute - or a hommage -, this design tries to mimic Inman's distinctive 
        &quot;more-is-less&quot; style. Fine gradients, soft drop shadows, consistent 
        color use, fine typograhy and great CSS are typical for his style. </p>
      <p>My design features at least two of these characteristics: it has drop shadows, 
        and I tried to use colors consequently: I used white and different grays. 
        Oh yeah, I used stylesheets as well: I tried to write simple, annotated 
        and valid CSS.</p>
      
    <h2>About this design</h2>
      <p>This is one's intended to be a simple, accesible and lightweight yet 
        spectacular HTML page template. For simplicity, here's this low-budget 
        minimal look; for accesibility, you can use acces keys, and the whole 
        design is mainly a text-based design - text based designs usually &quot;display&quot; 
        better in screen readers. For the view - described as spectacular as a 
        text-based site could be - I used the soft drop shadows mentioned above. 
        I hope you like it. </p>
      <p>I used only a couple of images for to reasons: </p>
      <ul>
        <li>to make this template lightweight </li>
        <li> to make is harder to screw up </li>
      </ul>
      <h3>How much is this template?</h3>
      <p>It's completely free. If you like my design, use it anyway you want to. 
        You can reuse any part of this template: the images, the HTML source or 
        the stylesheet. But I would be very grateful if you'd <a href="mailto:agtalpai@gmail.com?subject=gray%20is%20beautiful">drop 
        me a line</a> if you use it. There's only one thing you can't do with 
        it: claim it's yours. I spent one day working and testing it - hey, at 
        least I had a good day! - so please don't spoil my happiness... </p>
      
      <p>If you really-really like this one, you can pay for this design in four 
        ways: </p>
    <ol>
      <li> link to <a href="http://notv.fw.hu">my site</a> </li>
      <li> <a href="mailto:agtalpai@gmail.com?subject=hey,%20i%20liked%20your%20design,%20so%20">let 
        me know</a>, if you came across a good sholarship in design or typography 
      </li>
      <li> find me with your job or professional practice offers </li>
      <li>give my design a good rate</li>
    </ol>
    <p>No other form of payments allowed. Sorry.</p>
      <h4>About me</h4>
    <p>I'm Attila Gabor Talpai (pronounced: Atea-lha Gha-bor Tall-paa-ee), I'm 
      23 and I'm a senior at the <a href="http://www.u-szeged.hu">University of 
      Szeged</a> Faculty of Communication and Media. I wrote my thesis on CSS 
      and typography. </p>
    <p>I like biking, playing football and - collecting  and reading - books. In the 
      near future (in only two weeks) I'm going to graduate, and then I want to 
      work in the print/new media as a designer. </p>
      <h5>Which of the browsers support this design?</h5>
      <p>I've built this design on a Wintel PC, and I tested this HTML page in 
        Opera 7 and 8, Firefox 0.8 and 1 and IE 6 for Windows; and Opera 6, 7; 
        Safari, IE for Mac. I also tested using Netscape 4.77 on Mac. Netscape 
        and Opera 6 doesn't made it, Opera screwed up the background, but everything 
        remained readble. Netscape Communicator totally spoiled everything. To 
        solve the Netscape problem, I developed a second stylesheet which seem 
        to work pretty well, but that one fixed the Opera 6 version really simply: 
        we have no images for Opera6/Netscape 4.</p>
      <p>I came across a weird Netsacpe 4.77/mac problem too: it refuses to render 
        as html (maybe the xml-declaration?), but it works in netscape 4.5/win. 
        Wtf?</p>
      <p>The package contains two photoshop images too: one for the menu, so you 
        can customize the letters in brackets (you have to customize the links 
        and acceskeys with text editor or dreamweaver), or the fonts; and one 
        for the icon with the arrow - you may want to change it.</p>
      <p>Sorry for the grammar mistakes. Wbw:</p>
      <p>Attila Gábor Talpai</p>
      </div>
<div id="sider"> 
  <h1>Links</h1>
  <ul>
    <li><a href="http://notv.fw.hu">My Page</a></li>
    <li><a href="http://www.shauninman.com">Shaun Inman</a></li>
    <li><a href="http://www.alistapart.com">A List Apart</a></li>
        <li><a href="http://www.w3.org">W3C</a></li>
    <li><a href="http://www.oswd.org">OSWD </a></li>
  </ul>
</div>
<div id="footer"> 
  <ul>
        <li class="first"><a href="http://validator.w3.org/check/referer">Valid 
          XHTML!</a> </li>
    <li>Valid CSS! </li>
    <li>Designed by attila &quot;<a href="http://notv.fw.hu">notv</a>&quot; talpai </li>
        <li><a href="#top">To the top</a>. </li>
  </ul>
</div>
</div>
</div>
</body>
</html>
