<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metaphor</title>
<link rel="stylesheet" href="./screen.css" media="screen" title="Metaphor" type="text/css" />
<link rel="stylesheet" href="./print.css" media="print" title="Metaphor" type="text/css" />
</head>
<body>
<div id="container">
<div id="navigation"><ul><li id="current"><a href="index.html">Home</a></li><li><a href="index.html">Products</a></li><li><a href="index.html">About</a></li></ul></div>
<h1 id="header"><a href="index.html">metaphor</a></h1>
<div id="content">
If you like, <a href="mailto:vahokif@gmail.com">drop me an email</a>. I'd like to know what sites use my design. =)
<h3>lorem ipsum</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum in risus. Quisque tincidunt commodo leo. Ut vulputate. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque vestibulum, erat eget ultricies euismod, ipsum risus commodo leo, sit amet venenatis dolor sapien id leo. Pellentesque orci nisl, venenatis sit amet, varius sit amet, volutpat a, orci. Morbi eu neque. Suspendisse eu tellus quis elit cursus aliquet. Maecenas non elit sit amet odio aliquet congue. Mauris dapibus eleifend diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec fermentum placerat sem. Donec nulla. Aliquam bibendum sollicitudin ligula. Aliquam erat volutpat. Nulla eget pede condimentum lorem eleifend dictum. Fusce eget magna et orci dignissim fermentum. Nullam vulputate molestie nibh. Sed vitae felis. Integer ornare massa non eros bibendum accumsan.</p>
<p>Donec lorem. Praesent orci. Curabitur tincidunt, enim vitae tincidunt iaculis, dolor est imperdiet ante, nec gravida purus orci et mi. Morbi dui. Phasellus luctus, nunc eu porttitor eleifend, eros velit tempus erat, eget scelerisque nulla elit sit amet lectus. Maecenas sodales odio dictum enim. Nunc cursus laoreet risus. Nulla consequat enim sed diam. Vivamus pulvinar, est ac mollis consectetuer, nunc odio egestas eros, in iaculis orci diam quis nunc. Phasellus ipsum neque, ullamcorper ac, interdum in, pulvinar et, urna. Sed non tortor id libero nonummy imperdiet. Ut libero purus, porttitor vitae, porta sed, placerat eu, velit. Nam iaculis risus. Proin nisi elit, pharetra vitae, tincidunt quis, porta sit amet, velit. Nunc pulvinar nisi vel felis. Aenean nulla enim, rhoncus varius, eleifend ac, venenatis vel, felis. Nam nisi tellus, porttitor id, pretium nec, ultricies nec, mi. Sed quis urna non erat congue consectetuer.</p>
</div>
</div>
<div id="footer">Design by <a href="http://sotek.stumbleupon.com/">Vahokif</a> - <a href="http://validator.w3.org/check?uri=referer">XHTML</a> - <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> - <a href="http://www.mozilla.com">Mozilla Firefox</a></div>
</body>
</html>