<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="styles/screen.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--Wrapper around all the content -->
<div id="wrapper">

<!--start of the header -->
	<div id="header">
		<div id="header_text">Coffee Stain</div>
		<div id="slogan_shadow">wake up and smell the coffee<div id="slogan">wake up and smell the coffee</div></div>
	</div>
<!--end of header -->

<!--this is the content background -->
	<div id="content_wrapper">
	
	<!--this wraps the content and fixes the width to 800px -->
		<div id="content_block">
		
		<!-- the content is the right content section that holds the main text -->
			<div id="content">
				<h1>Stain removal </h1>
	  				<p>This is Coffee Stain my third open source design, as you can see it is inspired by coffee.</p>			
					<blockquote><p>this is a blockqoute, it is very usefull for drawing attention to very important things other people have said.</p></blockquote> 				
					
					<div class="extra_content">
						<h1>floating box</h1>
						<p>this is an extra content div, used in the main section, as you can see it floats to the right and the extra_content boxes can be placed anywhere, </p>
					</div> 
					
					<div class="extra_content">
						<h1>links</h1>
						<p>you can use them for links: <br />
							<a href="http://www.oswd.org/">OSWD</a><br />
							<a href="http://openwebdesign.org/">Open Web Design</a><br />
							<a href="http://www.visual-aid.co.uk">Visual Aid</a></p>
					</div>
					
					<p>This template is free to use with no restrictions, I would however very much appreciate it if you could leave the design by <a href="http://www.visual-aid.co.uk">Visual Aid</a> in the footer. I would also like an email if you do use or change this template. Thanks.</p>
					
					
						
	  				<h2>Heading 2</h2>
					<p>The images used are designed by me or downloaded free from stock.xchng and have no usage restrictions. </p>
						
						
						
					<h3>Heading 3</h3>
					<p>Some more examples of styles</p>
					<ul>
			          	<li>Unordered</li>
	                  	<li>List</li>
	          		</ul>
		            <ol>
                      	<li>Ordered</li>
                      	<li>List</li>
              		</ol>
		 </div> 
		 
		 
		 
		  
<!-- this is the side bar, it floats to the left and is used for the navigation and extra content -->
			<div id="side_bar">
				<ul class="sidemenu"> 
					<li><a href="#" class="active_sidemenu">home</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">services</a></li>
					<li><a href="#">portfolio</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">blog</a></li>
				</ul>
				<div class="extra_content">
					<h1>extra heading</h1>
					<p>this is an extra content div, you could take this out if you had no need for it</p>
				</div>
				<div class="extra_content">
					<h1>news</h1>
					<p>or you can add as many of these extra content <a href="#">boxes</a> as you need</p>
				</div>
			</div> 



		</div>		
	</div> 

<!-- footer -->
	<div id="bottom_image">	
	<p id="footer">&copy; Your Name | Design by <a href="http://www.visual-aid.co.uk" title="Open Source Template Designed by Visual Aid">Visual-Aid</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate this page's XHTML">XHTML 1.0 Strict</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate this page's CSS">CSS</a> valid </p>	
	</div> 


</div> 

</body>
</html>
