<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Your Title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<style type="text/css" media="screen">@import "img/style.css";</style>
<link href="img/print.css" rel="stylesheet" type="text/css" media="print" />
</head>
<body>
<a id="top" name="top"></a>
<div id="container"> 
	<div id="header">
		<h1>Your-name-here.com</h1>
		<h2>Your slogan here</h2>
	</div>
	<div id="text"> 
		<h1>Title of the page</h1>
		<h2>Sub-title 1</h2>
		<p>
		Lorem ipsum latine epicuri sed ex, eu <a href="#">pro labores</a> deserunt qualisque. 
		Erat ocurreret assueverit at eum, pro <strong>ne malis temporibus</strong>, solum viris menandri est at. 
		Et menandri voluptaria eum, ut <em>feugiat</em> deleniti vel. His harum mediocrem conclusionemque et, 
		sint consectetuer et eos. Ex tollit labitur veritus has, viris quodsi melius usu et. 
		Iusto splendide definiebas an quo, nec ea quod persius inimicus. 
		</p>
		<p>Erant essent eleifend eu eos:</p>
		<ul>
			 <li>an eum suas feugiat facilisi</li>
			 <li>ei sea placerat oportere</li>
			 <li>cu delenit indoctum nec</li>
			 <li>ex pri everti alienum</li>
			 <li>mel nemore delectus an</li>
		</ul>
		<h2>Sub-title 2</h2>
		<p>
		Eum no dicunt neglegentur, modo eligendi recteque duo at. 
		Dolor laudem et vel, per <strong>vidit</strong> placerat euripidis ea, ne homero veritus recusabo cum. 
		Qui ex exerci deleniti aliquando. In mea option vituperatoribus congue, 
		vocibus nominavi nam no. Alienum <strong>appareat</strong> ei mei, quo no munere praesent.
		</p>
		<h2>Sub-title 3</h2>
		<p>
		Duo ea wisi <strong>partem</strong> iuvaret, id sed partiendo posidonium theophrastus, mel congue perpetua at. 
		Vel vidit sapientem ne, id his kasd accusam ponderum. 
		Ad menandri mandamus <strong>molestiae</strong> sit, sed te primis aeterno alterum. 
		At ius principes intellegam dissentiunt, ei aperiam quaerendum mediocritatem vim. 
		Eos latine lucilius id. Ne <strong>homero</strong> patrioque efficiantur nam, usu ad rebum animal quaeque.
		</p>
		<p id="begin"><a href="#top">back to the top</a></p>
	</div>
	<div id="right"> 
		<div id="menu"> 
			<ul>
				<li><span class="pag">Home page</span></li>
				<li><a href="#" title="put a short description here">Link 1</a></li>
				<li><a href="#" title="put a short description here">Link 2</a></li>
				<li><a href="#" title="put a short description here">Link 3</a></li>
				<li><a href="#" title="put a short description here">Link 4</a></li>
				<li><a href="#" title="put a short description here">Link 5</a></li>
			</ul>
		</div>
		<div id="info">
			<h1>Your Contacts here</h1>
			<address>
				<strong>John Doe </strong><br />
				99 Qwerty Boulevard, Nowhere (NO) <br />
				STATE <br />
				<strong>phone: </strong> 12346579890<br />
				<strong>cell. phone: </strong> 12346579890<br />
				<strong>fax: </strong> 12346579890<br />
				<strong>e-mail: </strong> <a href="mailto:info@foooo.mail">info@foooo.mail</a><br />			
			</address>
		</div>
		<div id="copy">
			<p>&copy; your copyright or copyleft here</p>
		</div>
	</div>
</div>
</body>
</html>
