body {background-image: url(picks/1.jpg);
background-repeat:no-repeat;
line-height: 100%;
margin-top: 0px;
background-color:#fff;
color: #;}


a:hover {
color: #000;
text-decoration: underline;
background-color: #;
}
a {
color: #505050;
text-decoration: underline;
}
#container {
width: 75%;
border: 0px inset #43729E;
padding: 20px;
background-color: #;

}

img.left {
float:left;
padding:1px;
margin-right:6px;
border:0px solid #B5B5B5;
}

img.right {
float:right;
padding:0px;
margin-right:6px;
border:0px solid #;
}

#box {
float:left;
padding:0px;
margin-right:5px;
margin-bottom: 5px;
text-align: center;
background-color: #;
width:132px;
height:370px;
border-bottom: 1px solid #ccc;	
}

#banner {
padding: 0px;
margin-bottom: 0px;
margin-left:5px;
border:0px solid #4D7AA4;
height: 70px;
}

div#text {
color: #505050;  
position: relative;
height: auto;
width: auto;
left: 10px;
top: 0px;
}

#content {
width: 95%;
padding: 5px;
background-color: #;
font-family:"times", verdana, arial, sans-serif, times;
font-size:14px;
font-weight:bold;
color: #505050;
border:0px solid #;
}

