body {
	background-color: #ffffee;
	color: #000000;
	font-size: .95em;
	margin: 0;
}
a {
	color: #000000;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
#container {
	width: 600px;
	margin: 0 auto 0 auto;
}
#title {
	font-size: 2.5em;
	height: 150px;
}
#title .stripe {
	float: right;
	position: relative;
	top: 60px;
	width: 200px;
	color: #ff8000;
	font-size: .5em;
	padding-right: 3px;
	text-align: right;
	border-bottom: 3px solid #ff8000;
}
#menu {
	background-color: #000000;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#menu a {
	font-size: .75em;
}
#menu a:hover {
	font-size: .75em;
}
#menu .nav {
	margin: 0 0 0 5px;
	padding: 0 0 0 0;
}
#menu .nav .tab {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 5px 3px 5px;
}
#menu .nav a.tab:hover {
  color: #000000;
  background-color: #adadad;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 5px 3px 5px;
}
#menu .nav .current {
  color: #ffffff;
  background-color: #ff8000;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 5px 3px 5px;
}
#menu .nav li {
	margin: 0;
	padding: 0;
	display: inline;
}
#main{
	background-color: #ff8000;
	padding: 1em 1em 1em 1em;
	color: #ffffff;
	border: 1px solid #000000;
	border-top: 0px;
	overflow: auto;
	height: 200px;
}
#main .title {
	border-bottom: 1px dashed #000000;
	margin-bottom: .5em;
	text-transform: lowercase;
	letter-spacing: 3pt;
	font-size: .75em;
	font-weight: bold;
	color: #000000;
}
#main .section {
	margin-bottom: .5em;
}
#footer {
	background-color: #000000;
	font-size: .75em;
	color: #ededed;
	text-align: right;
	padding: 2px 5px 2px 5px;
}
#footer .left {
	float: left;
}
#footer a {
	color: #ff8000;
	text-decoration: none;
}
#footer a:hover {
	color: #ff8000;
	text-decoration: none;
}
