<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>elgunvis @ :: YOUR SLOGAN HERE...</title>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<style type="text/css">
@import "layout.css";
</style>
</head>
<body>
<div id="page">
<div id="header">
<h1>elgunvis @</h1>
<p>YOUR SLOGAN HERE...</p>
</div>
<div id="menu">
<ul><li><a href="#">Home Page</a></li><li><a href="#">Services</a></li><li><a href="#">Support</a></li><li><a href="#">About Us</a></li></ul>
</div>
<div id="contentarea">
<div id="content">
<h2>elgunvis @</h2>
<p align="justify">This is a business design and features a gaphical menu as well as a whole host of ofther useful extra's below are new features that you wont have seen in another of my free templates!</p>
<h2>Open Source</h2>
<p align="justify">Although this template is open source and can be used for any purpose I would like it if you would leave the link to my site in the footer. The more people downloading my designs the better they will be!</p>
<h2>Features</h2>
<div class="info">PostBox : Here you can give information on say a blogs publish date/time, DIV Tag 'info'</div>
<blockquote>This is an example of a blockquote! and the style could be used for anything!</blockquote>
<img class="left" src="images/island.gif" alt="Random Image" />
<h2>Img.left</h2>
<p align="justify">This is an example of an image that floats to the left enabling text to flow beside it! This is done by placing 'class="left"' into the image tag!</p>
<img class="right" src="images/island.gif" alt="Random Image" />
<h2 align="right">Img.right</h2>
<p align="justify">This is an example of an image that floats to the right enabling text to flow beside it! This is done by placing 'class="right"' into the image tag!</p><br /><br />
<h2 align="center">center image</h2>
<center><img src="images/island.gif" alt="Random Image" /></center>
<p align="justify">You can achieve this by either putting the image in &lt;center&gt;&lt;/center&gt; tags or in a paragraph tag aligned center!</p>
<h2>Validation</h2>
<p align="justify">Valid XHTML 1.0 Transitional and Valid CSS</p>
<h2>Browser Compatibility!</h2>
<p align="justify">This template works successfully on;</p>
<ul class="nomargin">
<li class="arrowlink">Konqueror</li>
<li class="arrowlink">FireFox</li>
<li class="arrowlink">Internet Explorer</li>
<li class="arrowlink">Modzilla</li>
</ul>
<p align="justify">NOTE: bullet images are in PNG FORMAT and may be displayed slightly diffrent on internet explorer! I would recommend any other tested browser to see best view!</p>
</div>
<div id="inner">
<h3>Inner Box!</h3>
<p align="justify">Welcome, this is a div called 'inner' and can be used for a variety of diffrent reasons!</p>
<h3>Links</h3>
<ul>
<li><a href="http://www.oswd.org">OSWD</a></li>
<li><a href="http://www.kricit.co.uk/elgunvis">elgunvis</a></li>
<li><a href="http://www.soundzhosting.net">Soundzhosting</a></li>
</ul>
<h3>Links2</h3>
<ul class="nomargin">
<li class="arrowlink"><a href="#">Home</a></li>
<li class="squarelink"><a href="#">Contact Us</a></li>
<li class="circlelink"><a href="#">Help or About</a></li>
</ul>
<h3>Links Info</h3>
<p align="justify">There are 4 ways to display links in this template, one is a normal link which and example can be found inside the footer. two, they can be displayed in a list shown at the top of this box! 3, is the menu links which are the main navigation and finally 4th which is just above. these links are diffrent because you specify the graphic you want! there are also alternate colors if you dont like green in a seperate folder. just replace the exsisting ones whith the color you want and refresh!</p>
</div>
</div>
<div id="footer">Copyright &copy; YOUR COMPANY<br />Developed by <a href="http://www.kricit.co.uk/elgunvis">Ashley Johnson</a></div>
</div>
</body>
</html>
