<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta name="Description" content="A free open source web design by Christina Chun.  Free for anyone to use as long as credits are intact. " />
<meta name="Keywords" content="www.oswd.org, open source web design, oswd.org, christina chun, christinachun.com, www.christinachun.com" />
<meta name="Copyright" content="Christina Chun" />
<meta name="Designed By" content="ChristinaChun.com" />
<meta name="Language" content="English" />
<title>SimpleDesign Design</title>

<style type="text/css" title="layout" media="screen"> @import url("sd.css"); </style>

</head>

<body>
<div id="container">
	<div id="header"><div class="headerText">SimpleDesign, Inc <br /><b class="black">Work.Live.Play.Enjoy</b></div></div>
		<div id="content">
			<div id="columnR">
				<div class="scroll">
				<h2 class="headline">News</h2>
				Phasellus sagittis massa. Nulla consectetuer augue ac orci. Nulla eu ante et nisi porttitor fringilla. In tincidunt blandit leo. Fusce gravida dictum eros. Vivamus sollicitudin nulla id tortor vehicula gravida. Ut nec quam. Cras sit amet orci. Nulla eu ante vel mi tristique consectetuer. Etiam consectetuer velit sed felis. Cras adipiscing, metus ut pulvinar dapibus, justo turpis mollis tellus, eget dictum orci diam sed arcu. Curabitur tempus, nisl ut congue dignissim, justo ipsum rutrum enim, sit amet rutrum lectus metus in elit. Integer rutrum.
				<h2 class="headline">More News</h2>
				Nunc molestie nisi quis felis. Curabitur sed lacus. Sed vel sapien nec orci ultrices mattis. Aliquam erat tellus, consequat ut, bibendum ac, blandit eget, nulla. Phasellus lacus tortor, iaculis non, laoreet hendrerit, aliquet ut, erat. Nam cursus varius diam. Quisque hendrerit mauris ac elit. Phasellus vehicula est a nunc. Donec tellus. Pellentesque tincidunt pede. Quisque a nisl. Nulla tempus lorem sed libero. Curabitur tempor, tellus laoreet porta aliquet, pede eros tempor arcu, at sodales metus dolor id felis. Ut lorem ante, tincidunt id, tristique et, euismod quis, dolor. Duis imperdiet, justo et mattis pretium, arcu purus feugiat enim, non porta turpis libero ac eros. Donec bibendum congue nisi. Vestibulum molestie lobortis felis. Mauris quis lacus quis libero suscipit egestas. Sed ac lorem. Maecenas tortor ante, porta faucibus, pellentesque et, varius vitae, leo.
				<h2 class="headline">And More News?</h2>
				Donec lectus sapien, ullamcorper ut, porttitor vel, vehicula eu, pede. Sed sed quam id arcu varius pellentesque. Curabitur nunc arcu, nonummy in, viverra et, iaculis in, ante. Aliquam erat volutpat. Ut vitae quam et risus placerat semper. Proin nec tortor. Proin metus. Etiam semper congue augue. Duis ullamcorper, quam porttitor venenatis tincidunt, nunc ligula dignissim nunc, et egestas ligula massa ac tortor. Ut sodales ipsum eu lectus.
				</div>
				
<br />
				
				<div class="scroll2">
				<h2 class="headline">Links</h2>
				Phasellus sagittis massa. Nulla consectetuer augue ac orci. Nulla eu ante et nisi porttitor fringilla. In tincidunt blandit leo. Fusce gravida dictum eros. Vivamus sollicitudin nulla id tortor vehicula gravida. Ut nec quam. Cras sit amet orci. Nulla eu ante vel mi tristique consectetuer. Etiam consectetuer velit sed felis. Cras adipiscing, metus ut pulvinar dapibus, justo turpis mollis tellus, eget dictum orci diam sed arcu. Curabitur tempus, nisl ut congue dignissim, justo ipsum rutrum enim, sit amet rutrum lectus metus in elit. Integer rutrum.
				</div>
								
			</div>

		<div id="bodytext">
		<h1 class="title">Welcome Text</h1>
		
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus nunc risus, sollicitudin id, dignissim vel, condimentum sit amet, ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum blandit tincidunt libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit erat, condimentum ac, laoreet vel, venenatis in, nisi. Fusce auctor aliquam magna. Ut ultrices congue turpis. Morbi ullamcorper posuere diam. Aenean vel tortor. Curabitur vehicula nibh adipiscing augue. Ut luctus. 

<hr></hr>

<div class="imghere2"></div>	

Sed in libero et dui tincidunt facilisis. Ut neque lectus, bibendum et, ultrices congue, condimentum ac, augue. Nam quis eros. Vivamus facilisis orci eget massa. Morbi lorem metus, adipiscing in, scelerisque vel, dapibus nec, arcu. Nullam a est. Proin nisi. Nulla in justo. Cras sagittis. Ut gravida, lorem vel blandit sodales, velit nibh sollicitudin nibh, sed mattis enim tortor ac nulla. In lacus tortor, vehicula nonummy, vestibulum a, dignissim vitae, nisl. Vivamus tincidunt sem ut dolor. Etiam erat. Pellentesque nulla. Fusce massa libero, lacinia sit amet, tempor sit amet, porta ut, sapien. Pellentesque nec est a metus malesuada accumsan. Praesent a est sed ipsum semper rutrum. 
Aenean ipsum nisi, suscipit nec, dictum ac, vehicula vel, pede. Morbi sodales adipiscing tellus. Maecenas id leo id felis euismod tempus. Quisque eleifend tempus lorem. Donec egestas, ipsum quis rhoncus pulvinar, nulla enim tristique eros, at sodales mauris risus sed lectus. Praesent varius urna sit amet dolor.
Ut libero augue, nonummy id, luctus eu, ultricies ac, sem. Nulla dui nisi, euismod vel, semper quis, ultricies in, diam. Proin scelerisque orci a sem elementum aliquet. Quisque tristique euismod mi.

<hr></hr>

<div class="imghere4"></div><div class="imghere"></div>

Nunc molestie nisi quis felis. Curabitur sed lacus. Sed vel sapien nec orci ultrices mattis. Aliquam erat tellus, consequat ut, bibendum ac, blandit eget, nulla. Phasellus lacus tortor, iaculis non, laoreet hendrerit, aliquet ut, erat. Nam cursus varius diam. Quisque hendrerit mauris ac elit. Phasellus vehicula est a nunc. Donec tellus. Pellentesque tincidunt pede. Quisque a nisl. Nulla tempus lorem sed libero. Curabitur tempor, tellus laoreet porta aliquet, pede eros tempor arcu, at sodales metus dolor id felis. Ut lorem ante, tincidunt id, tristique et, euismod quis, dolor. Duis imperdiet, justo et mattis pretium, arcu purus feugiat enim, non porta turpis libero ac eros. Donec bibendum congue nisi. Vestibulum molestie lobortis felis. Mauris quis lacus quis libero suscipit egestas. Sed ac lorem. Maecenas tortor ante, porta faucibus, pellentesque et, varius vitae, leo. 
Donec lectus sapien, ullamcorper ut, porttitor vel, vehicula eu, pede. Sed sed quam id arcu varius pellentesque. Curabitur nunc arcu, nonummy in, viverra et, iaculis in, ante. Aliquam erat volutpat. 

<hr></hr>

<div class="imghere3"></div>

Vestibulum rutrum congue nibh. In blandit dictum elit. Sed a libero tempus tellus mollis consequat. Proin rhoncus lacus quis ipsum. Fusce tincidunt urna vitae lacus. Integer tellus tortor, porta ultricies, pulvinar sed, tincidunt et, nisl. Maecenas magna nisi, vulputate sed, accumsan at, congue nec, sapien. Nunc dapibus, eros sit amet mattis suscipit, neque massa facilisis est, sit amet porta nisi pede sit amet ipsum. Cras condimentum blandit quam. Cras sit amet lectus at sapien pulvinar facilisis. Sed rhoncus libero non lectus. Nullam euismod erat tempor neque. Ut ac enim quis lacus fermentum cursus. Duis convallis elit in enim. 
Maecenas condimentum, ante at sollicitudin molestie, odio libero tempor elit, ac gravida lectus nulla et purus. Fusce sem. Praesent sed dui. Nulla ullamcorper pharetra enim. Maecenas dui tellus, auctor vitae, fermentum ut, viverra in, leo. Morbi posuere commodo elit. Donec ac sapien. Proin pede ante, ultricies nec, sodales a, tempor vitae, dolor. Cras erat. Praesent suscipit. Sed turpis. Curabitur id turpis. Aliquam molestie. Pellentesque erat. Nunc eu tortor eget nisi malesuada consequat. Nulla facilisi. In vel velit. Sed dignissim. Maecenas dapibus feugiat nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec consectetuer malesuada dui. Aenean aliquam ullamcorper massa. Sed tincidunt.

</div>	
						
	<div class="footer">
		<div>Designed By <a href="http://www.christinachun.com" title="Christina Chun - Digital Artist &amp; Web Developer">Christina Chun</a> &copy; 2006 | <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a></div>
	</div>
	
</div>
</div>	
</body>
</html>