 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
 <meta name="description" content="Insert your website's description"/>
  <meta name="keywords" content="put all of your site, keywords here make sure to seperate each word with a comma"/>
   <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
    <title>Your website title.</title>
     <link rel="stylesheet" type="text/css" href="style.css" media="screen" title="darkcenter"/>
</head>

<body>
<!-- The banner -->
<div id="banner">
</div>

<!-- The navigation -->
<div id="nav">
<h1>Navigation</h1>
<ul>
<li><a href="#">Home</a></li><li><a href="http://darkcenter.net/news.php">News</a></li><li><a 
href="#">News</a></li><li><a 
href="#">Services</a></li><li><a 
href="#">Links</a></li></ul>

<h1>About</h1>
<ul>
<li><a href="#">Staff</a></li><li><a 
href="#">History</a></li><li><a 
href="#">Credits</a></li>
</ul>

<h1>Help</h1>
<ul><li><a href="#">Documentations</a></li><li><a 
href="#">Contact</a></li></ul>
</div>


<!-- The main content -->
<div id="middle">
<h1>The DarkCenter template</h1>
<p>This is the <em>DarkCenter</em> template. You may distribute and modify it but please make sure you keep the copyright.</p>
<h1>Viewing</h1>
<p>This site is best viewed on a 1024x768 resolution. This template has been tested on FireFox 1.0 and greater, Oper 7.0 and greater and I.E 6 (has not been tested with I.E 5 or less).</p>
<p>Like the layout? I'm always curious to know what websites are using this template so feel free to email me at <a 
href="mailto:aven@darkcenter.net">aven@darkcenter.net</a> with your comments and url of your website or for 
those who are familiar with IRC, try irc.darkcenter.net #darkcenter.</p>
</div>

<!-- The copyright, please be generous and do NOT REMOVE THIS!-->
<div id="copyright">
Layout and design is © 2005, <a href="http://darkcenter.net">DarkCenter.Net</a> and <a href="http://oswd.org">Oswd.org</a>. All rights reserved. 
</div>

</body>
</html>
