<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
<title>SquAre - Birzzum CSS Template</title>
<meta name="author" content="Davide Orsi" />
<meta http-equiv="reply-to" content="davide.orsi@libero.it" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>

<!-- begin MAIN-->
<div id="main">
<div id="corner_tl"></div>
<!-- LEFT COLUMN -->
<div id="left">
<ul class="menu">
	<li><a class="menu" href="">Home</a></li>
	<li><a class="menu" href="">News</a></li>
	<li><a class="menu" href="">Porfolio</a></li>
	<li><a class="menu" href="">Forum</a></li>
	<li><a class="menu" href="">Guestbook</a></li>

</ul>
</div><!-- END of left column-->

<div id="corner_tr"></div>

<!-- RIGHT COLUMN -->
<div id="right"><br/>
<div id="design"><p class="design">Copyrigth *yourname*<br/>Design by Davide Orsi</p></div>
</div><!-- END of right column-->

<div id="corner_bl"></div>
<div id="corner_br"></div>

<div id="center">
<!-- TITLE -->
<div id="title">
<h1>SquAre</h1>
</div>

<!-- Insert your content here-->
<div id="content">
	 <h2>Lorem ipsum</h2>
	 <img class="right" src="images/image.png" alt="Image"></img>
	 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis convallis, neque at semper venenatis, lectus massa viverra ante, nec dignissim dui ligula id elit. Pellentesque sed nibh auctor ligula ultrices consequat. Suspendisse posuere accumsan tellus. Duis ultrices dui ut felis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis convallis, neque at semper venenatis, lectus massa viverra ante, nec dignissim dui ligula id elit.</p>
	 <h3>Maecenas eros</h3>
	 <p>Maecenas eros enim, hendrerit luctus, tincidunt interdum, accumsan non, nisi. <a href="">Aliquam commodo</a>. Pellentesque sed nibh auctor ligula ultrices consequat. Nulla dignissim. Duis bibendum, tortor luctus semper pellentesque, ligula ligula euismod arcu, et lacinia nisi nunc non leo. Duis ut lorem. Maecenas dolor. Ut tempor, neque iaculis pharetra tempus, leo odio iaculis arcu, sed blandit velit enim et diam. Cras eget purus. Pellentesque ultricies lacinia felis.</p>
</div>

<div id="bottom"></div>
</div>
<!-- end MAIN-->
</div>

</body>

</html>
<!-- -->